<div translate-namespace="productsCreatePage.personalize" class="ibox float-e-margins no-margins">


    <div class="ibox-title">
      <!--TODO: paste condition header value -->
      <h5 translate=".heading">
        Personalize Set-up
      </h5>
      <span ng-click="modal.close()" class="pull-right fa fa-times"></span>

    </div>

    <div class="ibox-content">

      <div class="canvas-setup">
        <h3 translate=".subheading">Canvas set-up</h3>
        <div class="row" translate-namespace=".canvas">
          <div class="col-xs-4">
            <h4 translate=".label">Canvas layers</h4>
            <div class="form-group">
              <div>
                <label>
                  <span translate=".background">Background</span> (600x600; .png,.jpeg)
                </label>
              </div>
              <button class="btn btn-primary"
                      ng-model="file" name="file" ngf-pattern="'image/*'"
                      ngf-accept="'image/*'" ngf-max-size="20MB"
                      ng-disabled="modal.background.uploading"
                      ngf-select="modal.uploadAssets($file, modal.background, 'background')">
                <span ng-hide="modal.background.uploading" translate="buttons.upload">Upload</span>
                <span ng-show="modal.background.uploading">{{modal.background.progress}}%</span>
              </button>
              <!--TODO: add file to be uploaded label-->
            </div>
            <div class="form-group">
              <div>
                <label>
                  <span translate=".mask">Mask</span> (600x600, .svg)
                </label>
              </div>
              <button class="btn btn-primary"
                      ng-model="file" name="file" ngf-pattern="'.svg'"
                      ngf-accept="'image/*'" ngf-max-size="20MB"
                      ng-disabled="modal.mask.uploading"
                      ngf-select="modal.uploadAssets($file, modal.mask, 'mask')">
                <span ng-hide="modal.mask.uploading" translate="buttons.upload">Upload</span>
                <span ng-show="modal.mask.uploading">{{modal.mask.progress}}%</span>
              </button>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="canvas-parent-container has-bg">
              <div>
                <img ng-show="modal.personalize.bg_image" ng-src="{{modal.assetURL + modal.personalize.bg_image}}" width="300px" height="300px" id="background" alt="background">
                <canvas id="svgPreviewCanvas" height="300px" width="300px"></canvas>
              </div>
              <div class="canvas" translate=".canvas" ng-hide="modal.personalize.bg_image || modal.personalize.mask_image">
                CANVAS
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="scene-btn">
              <button translate=".setup" class="btn btn-primary" disabled>
                Set-up Scene
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="mg-bt-30"></div>

      <div translate-namespace=".sceneOptions" class="scene-options">
        <h3 translate=".label">Scene options</h3>

        <div translate-namespace=".general" class="row">
          <!-- General options -->
          <div class="col-sm-3 option-list" ng-include="'app/modules/product/create/customization_description/set_up_personalize/templates/general-options.html'"></div>
          <!-- Transform and adjustments options -->
          <div class="col-sm-3 option-list no-pd-lt" ng-include="'app/modules/product/create/customization_description/set_up_personalize/templates/transform-options.html'"></div>
          <!-- Text and drawing options -->
          <div class="col-sm-3 option-list" ng-include="'app/modules/product/create/customization_description/set_up_personalize/templates/text-drawing-options.html'"></div>
          <!-- Effects options -->
          <div class="col-sm-3 option-list" ng-include="'app/modules/product/create/customization_description/set_up_personalize/templates/effects-options.html'"></div>
        </div>

      </div>


    </div>

    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()">
        <span translate="buttons.cancel">Cancel</span>
      </button>
      <button type="submit" ng-click="modal.submit()" ng-disabled="modal.enableButton() || modal.processing" class="btn btn-primary">
        <span ng-hide="modal.processing" translate="buttons.save">Save</span>
        <i ng-show="modal.processing" class="fa fa-cog fa-spin"></i>
      </button>
    </div>

</div>



