<!-- Bread Crumb -->

<div translate-namespace="brandsListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">
    <h2 translate=".heading">Merchants</h2>
    <div class="row">
      <div class="col-sm-6">
        <ol class="breadcrumb mg-tp-5">
          <li class="active" >
            <strong translate=".heading">Merchant</strong>
          </li>
        </ol>
      </div>
      <div class="col-lg-6 text-right">
        <button class="btn btn-outline text-primary p-none m-r" ng-click="vm.addBrand()">
          <small>
            <i class="fa fa-plus m-r-sm"></i>
            <span translate=".button.add"> Add New Merchant</span>
          </small>
        </button>
        <button disabled class="btn btn-outline text-primary p-none">
          <small>
            <i class="fa fa-trash-o m-r-sm"></i>
            <span translate=".button.delete">Delete Merchant</span>
          </small>
        </button>
      </div>
    </div>

  </div>

</div>

<!-- Brands Table -->

<div translate-namespace="brandsListPage" class="row animated fadeInRight">
  <div class="col-md-12">
    <div class="ibox ibox-default mg-bt-60 float-e-margins">
      <div class="ibox-title">
        <h5 translate=".heading">Merchants</h5>
      </div>
      <div class="ibox-content">

        <!--Don't delete this: TODO-->

        <!--<div class="row">-->
          <!--<div class="col-sm-4 ">-->
            <!--<div class="input-group date">-->
              <!--<input type="datetime" class="form-control custom-input" date-time view="date" min-view="date" format="DD/MM/YYYY" ng-model="sampleDate" auto-close="true">-->
              <!--<span class="input-group-addon date-addon">to</span>-->
              <!--<input type="datetime" class="form-control" date-time view="date" min-view="date" format="DD/MM/YYYY" ng-model="sampleDate" auto-close="true">-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<select class="form-control custom-input">-->
              <!--<option>Status</option>-->
            <!--</select>-->
          <!--</div>-->
          <!--<div class="col-sm-5">-->
            <!--<div class="input-group">-->
              <!--<input type="text" id="ordersFilter" placeholder="Search" class="input-medium custom-input form-control">-->
              <!--<div class="input-group-btn">-->
                <!--<button type="button" class="btn btn-md btn-custom-primary"> Go!</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div class="row mg-bt-20">
          <div class="col-sm-12">
            <div ng-show="vm.loading">
              <div class="text-center loading">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
            </div>
            <div class="col-sm-12 mg-tp-10" ng-hide="vm.loading" ng-if="vm.brands.length < 1">
              <p translate="errors.noMerchants">No Merchants to show.</p>
            </div>
            <table translate-namespace="table" ng-hide="vm.loading || vm.brands.length < 1" class="table table-striped table-bordered table-hover">
              <thead translate-namespace=".head">
                <tr>
                  <th translate=".trademark">Trademark</th>
                  <th translate=".merchantID">Brand ID</th>
                  <th translate=".name">Name</th>
                  <th>Type</th>
                  <th translate=".commodity">Commodity</th>
                  <th translate=".sales">Sales</th>
                  <th>
                    <span translate=".sales">Sales</span>
                    (<span translate="words.month">Month</span>)
                  </th>
                  <th translate=".status" class="text-center">Status</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="brand in vm.brands">
                <td class="text-center">
                  <img class="grayscale grayscale-light list-logo-height" ng-src="{{vm.base_url + brand.logo}}" width="100px" alt="{{brand.name}}">
                </td>
                <td>
                  <a ui-sref="admin-panel.ecommerce.brands.details({brandID: brand._id})" ng-click="vm.navigateToDetails(brand)">
                    {{brand.brand_id}}
                  </a>
                </td>
                <td>{{brand.name}}</td>
                <td>{{brand.merchant_type}}</td>
                <td>
                  <div>
                    Total
                  </div>
                  <div>
                    Effective
                  </div>
                </td>
                <td></td>
                <td></td>
                <td class="text-center">
                  <span translate="constants.status.active" ng-if="brand.status.toLowerCase() == 'active'" class="label status-fix title-case label-white label-production"
                        ng-click="vm.changeStatus(brand._id, brand.status)">
                    Active
                  </span>
                  <small translate="constants.status.in_active" ng-if="brand.status.toLowerCase() == 'in_active'" class="label status-fix title-case label-white label-error"
                         ng-click="vm.changeStatus(brand._id, brand.status)">
                    Inactive
                  </small>
                </td>
              </tr>
              </tbody>
            </table>
            <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.listBrands" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
