<div translate-namespace="couponsListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12 no-padding">
    <div class="col-sm-10">
      <h2 translate=".heading">Coupons</h2>

      <ol class="breadcrumb mg-tp-5">
        <li class="active">
          <strong translate=".heading">Coupons</strong>
        </li>
      </ol>
    </div>
    <div class="col-sm-2 mg-tp-30">
      <a class="btn btn-primary" ui-sref="admin-panel.marketing.coupons.create">
        <small>
          <span translate=".add">Add New Coupon</span>
          <i class="fa mg-lt-5 fa-plus"></i>
        </small>
      </a>
    </div>
  </div>
</div>

<!--<div class="row users-widget">-->
  <!--<div class="col-lg-3">-->
    <!--<div class="ibox float-e-margins">-->
      <!--<div class="ibox-title">-->
        <!--<span class="label label-total pull-left">Today</span>-->
      <!--</div>-->
      <!--<div class="ibox-content">-->
        <!--<h1 class="no-margins count">88</h1>-->
        <!--<small>Total Coupons Used</small>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; col-lg-3 end &ndash;&gt;-->
  <!--<div class="col-lg-3">-->
    <!--<div class="ibox float-e-margins">-->
      <!--<div class="ibox-title">-->
        <!--<span class="label label-warning pull-left">Last Week</span>-->
      <!--</div>-->
      <!--<div class="ibox-content">-->
        <!--<h1 class="no-margins count">140</h1>-->
        <!--<small>Total Coupons Used</small>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; col-lg-3 end &ndash;&gt;-->
  <!--<div class="col-lg-3">-->
    <!--<div class="ibox float-e-margins">-->
      <!--<div class="ibox-title">-->
        <!--<span class="label label-success pull-left">Last Month</span>-->
      <!--</div>-->
      <!--<div class="ibox-content">-->
        <!--<h1 class="no-margins count">190</h1>-->
        <!--<small>Total Coupons Used</small>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;col-lg-3 end&ndash;&gt;-->
  <!--<div class="col-lg-3">-->
    <!--<div class="ibox float-e-margins">-->
      <!--<div class="ibox-title">-->
        <!--<h5>Total Coupons</h5>-->
      <!--</div>-->
      <!--<div class="ibox-content">-->
        <!--<h1 class="no-margins count">300</h1>-->
        <!--<small>Total Coupons Used</small>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;col-lg-3 end&ndash;&gt;-->
<!--</div>-->




<div translate-namespace="couponsListPage" class="row coupons-list users-widget">
  <div class="col-lg-12 mg-bt-30">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate=".heading">Coupons</h5>
      </div>
      <div class="ibox-content orders-widget">
        <!--<div class="row mg-bt-20 mg-tp-10">-->
          <!--<div class="col-sm-4">-->
            <!--<div class="input-group date">-->
              <!--<input type="datetime" class="form-control custom-input" date-time ng-model="sampleDate" view="date" auto-close="true">-->
              <!--<span class="input-group-addon ">to</span>-->
              <!--<input type="datetime" class="form-control" date-time ng-model="sampleDate" view="date" auto-close="false">-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-sm-2">-->
            <!--<select name="status" id="status" class="form-control custom-input">-->
              <!--<option disabled selected>Status</option>-->
              <!--<option value="1" >Completed</option>-->
              <!--<option value="0">Pending</option>-->
            <!--</select>-->
          <!--</div>-->

          <!--<div class="col-sm-2">-->
            <!--<select name="brand" id="brand" class="form-control custom-input">-->
              <!--<option disabled selected>Brand</option>-->
            <!--</select>-->
          <!--</div>-->

          <!--<div class="col-sm-4">-->
            <!--<div class="input-group">-->
              <!--<input type="text" id="ordersFilter" placeholder="Search" class="input-medium custom-input form-control">-->
              <!--<div class="input-group-btn">-->
                <!--<button type="button" class="btn btn-md btn-custom-primary"> Go!</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div ng-show="vm.loadingCoupons">
          <div class="text-center loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <table ng-hide="vm.loadingCoupons" class="table orders-table list-box-container table-bordered table-hover">
          <thead>
          <tr>
            <th>
              <div list-selector actions="vm.bulkActions" list-options="vm.listSelectorOptions" name="coupon" items="vm.coupons"></div>
            </th>
            <th class="adjust-column" translate=".head.details">Details</th>
            <th class="adjust-column" translate=".head.used">Used</th>
            <th class="adjust-column" translate=".head.limit">Usage Limit</th>
            <th class="adjust-column" translate=".head.start">Starts</th>
            <th class="adjust-column" translate=".head.end">Ends</th>
            <th class="adjust-column" translate=".head.discount">Discount</th>
            <th class="adjust-column" translate=".head.creator">Coupons creator</th>
            <th class="adjust-column" translate="table.head.status">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-class="{'selected': coupon.checked}" ng-repeat="coupon in vm.coupons">
            <td>
              <input icheck type="checkbox" ng-change="vm.listSelectorOptions.markCheckBox(coupon.checked)" ng-model="coupon.checked">
            </td>
            <td>
              <p class="no-margins">{{coupon.code}}</p>
              <p class="font-bold">{{coupon.name}}</p>
            </td>
            <td>
              {{coupon.used_times}}/{{coupon.validity_times == 0 ? '&infin;' : coupon.validity_times}}
            </td>
            <td>
              <span ng-if="coupon.user_usage_limit.active">
                <span translate="words.yes"></span>({{coupon.user_usage_limit.use_times}})
              </span>
              <span ng-if="!coupon.user_usage_limit.active" translate="words.no"></span>
            </td>
            <td>
              {{
                coupon.expires.never ? (coupon.created_at | date : 'dd/MM/yyyy') : (coupon.expires.start | date : 'dd/MM/yyyy')
              }}
            </td>
            <td>
              {{
              coupon.expires.never ? 'Never' : (coupon.expires.end | date : 'dd/MM/yyyy')
              }}
            </td>

            <td class="chart-fix">
              <div>
                <pie-chart  data="coupon.chartData" options="{'fill': ['#06D8DB', '#D9D9D9']}"></pie-chart>
                <span>{{coupon.discount.type == 'PERCENTAGE'? coupon.discount.value + ' %' : coupon.discount.value + ' Rmb'}}</span>
                <span translate=".items" ng-if="coupon.discount.apply_on == 'ALL_PRODUCTS'">
                  on all items
                </span>
                <span ng-if="coupon.discount.apply_on == 'SPECIFIC_PRODUCT'">
                  <span translate="words.on">on</span> {{coupon.discount.specific_product.miid_id}}
                </span>
                <span ng-if="coupon.discount.apply_on == 'PRODUCTS_OVER_PRICE'">
                  <span translate=".productOver">on products over </span>{{coupon.discount.min_amount}} Rmb
                </span>
                <span ng-if="coupon.discount.apply_on == 'ORDER_OVER'">
                  <span translate=".orderOver">on order over</span> {{coupon.discount.min_amount}} Rmb
                </span>
                <span translate=".itemsOf" ng-if="coupon.discount.apply_on == 'ALL_BRAND_PRODUCTS'">
                  on all items of
                </span>
              </div>
              <div ng-if="coupon.discount.apply_on === 'ALL_BRAND_PRODUCTS'">
                <p class="mg-lt-20" ng-repeat="brand in coupon.discount.brands">{{brand.name}}</p>
              </div>
            </td>
            <td>
              <a popover-placement="top" uib-popover="Creator ID: {{coupon.created_by}}">
                {{coupon.created_by.substr(0, 5)}}...
              </a>
            </td>
            <td>
              <div class="btn-group action-btn" uib-dropdown>
                <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                  <span translate="constants.status.active" ng-if="coupon.status.toLowerCase() == 'active'" class="label status-fix title-case label-white label-production">
                    Active
                  </span>
                  <span translate="constants.status.in_active" ng-if="coupon.status.toLowerCase() == 'disabled'" class="label status-fix title-case label-white label-error">
                    Inactive
                  </span>
                  <span translate="constants.status.deleted" ng-if="coupon.status.toLowerCase() == 'deleted'" class="label status-fix title-case label-white label-finalized">
                    Deleted
                  </span>
                  <span ng-show="coupon.performingOperation" class="fa mg-lt-10 fa-cog fa-spin"></span>
                </button>
                <ul class="pd-10" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem">
                    <a href="javascript:;" translate="constants.status.active" ng-click="vm.changeSingleStatus(coupon, 'ACTIVE')">Active</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="javascript:;" translate="constants.status.in_active" ng-click="vm.changeSingleStatus(coupon, 'INACTIVE')">Inactive</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="javascript:;" translate="constants.status.deleted" ng-click="vm.changeSingleStatus(coupon, 'DELETED')">Deleted</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.listCoupons" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>

      </div>
    </div>
  </div>
</div>
