<div translate-namespace="modals.subCollection" class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate=".label">Create New Sub-Collection</h5>
    <span ng-click="sub.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="subCollection">
    <div class="ibox-content sub-collections orders-modal">


      <div class="mg-tp-20">
        <div class="panel panel-success" ng-show="sub.collectionCreated">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-exclamation-triangle"></i>
              <span translate="words.alert">Alert</span>
            </h3>
          </div>
          <div class="panel-body" translate=".msg">
            Congratulations! You have created a new collection
          </div>
        </div>

        <div class="panel panel-danger" ng-show="sub.collectionExist">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-exclamation-triangle"></i>
              <span translate="words.alert">Alert</span>
            </h3>
          </div>
          <div class="panel-body" translate=".error">
            Ooops! This collection name is already taken.
          </div>
        </div>

        <div ng-hide="sub.collectionCreated">
          <p translate=".label2" ng-hide="sub.collectionExist">Please enter a name for this collection</p>
          <p translate=".label3" ng-show="sub.collectionExist">You may try another name for this collection</p>
          <div ng-class="{'has-error': subCollection.subCollectionName.$invalid && subCollection.subCollectionName.$touched}">
            <input type="text" required name="subCollectionName" ng-model="sub.name" class="form-control">
          </div>
        </div>

        <div ng-show="sub.collectionCreated">

          <p translate=".success">Name of your new collection</p>
          <label>{{sub.name}}</label>
        </div>



      </div>

    </div>
    <div class="ibox-footer text-right">
      <div>
        <button ng-hide="sub.collectionCreated" class="btn btn-primary" type="button" ng-disabled="subCollection.$invalid" ng-click="sub.submit()" >
          <span ng-hide="sub.loading" translate="buttons.save">Save</span>
          <span ng-show="sub.loading" class="fa fa-cog fa-spin"></span>
        </button>

        <button ng-show="sub.collectionCreated" class="btn btn-outline btn-discard" type="button" ng-click="sub.close()" translate="buttons.close">Close</button>
      </div>
    </div>
  </form>
</div>

