<!--Edit Tracking View-->
<div translate-namespace="modals.tracking" class="ibox float-e-margins no-margins tracking-modal" ng-if="!modal.isDesignView">
  <div class="ibox-title">
    <h5 translate=".heading">Shipment details</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="trackingOrderForm">
    <div class="ibox-content orders-modal">
      <div>
        <p translate=".description1">Enter tracking number and shipment details for the selected orders</p>
        <div class="row mg-tp-30 input-header">
          <div class="col-sm-2" translate="ordersDetailsPage.orderID">
            Order#
          </div>
          <div class="col-sm-2" translate=".sendDesign">
            Designs to send
          </div>
          <div class="col-sm-2" translate=".company">
            Company
          </div>
          <div class="col-sm-2" translate=".trackingID">
            Tracking ID
          </div>
          <div class="col-sm-2" translate=".estimated">
            Est.time(Days)
          </div>
          <div class="col-sm-2" translate=".cost">
            Cost(Rmb)
          </div>
        </div>
        <div class="row mg-tp-10 input-body">
          <div class="col-sm-2">
            {{modal.order.order_id}}
          </div>
          <div class="col-sm-2">
            {{modal.tracking.designs.length}}/{{modal.remainingDesigns.length}}
            <a ng-click="modal.showDesignView()" translate="buttons.edit">Edit</a>
          </div>
          <div class="col-sm-2" ng-class="{'has-error': trackingOrderForm.delivery_id.$error.required}">
            <select class="form-control" name="delivery_id" required
                    ng-model="modal.tracking.delivery_id"
                    ng-disabled="modal.disabled"
                    ng-change="modal.setTrackingCompany()">
              <option ng-if="option.is_active === true" ng-repeat="option in modal.shippingOptions" value="{{option._id}}">{{option.company}}</option>
            </select>
          </div>
          <div class="col-sm-2" ng-class="{'has-error': trackingOrderForm.tracking_number.$error.required}">
            <input type="text" class="form-control" name="tracking_number" required
                   ng-model="modal.tracking.tracking_number"
                   ng-disabled="modal.disabled">
          </div>
          <div class="col-sm-2" ng-class="{'has-error': trackingOrderForm.est_days.$error.required}">
            <input type="number" class="form-control" name="est_days" required
                   ng-model="modal.tracking.est_days"
                   ng-disabled="modal.disabled">
          </div>
          <div class="col-sm-2" ng-class="{'has-error': trackingOrderForm.charges.$error.required}">
            <input type="number" class="form-control" name="charges" required
                   ng-model="modal.tracking.charges"
                   ng-disabled="modal.disabled">
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button ng-disabled="trackingOrderForm.$invalid" class="btn btn-primary" type="button" ng-click="modal.submit()">
        <span ng-hide="modal.disabled" translate="buttons.save">Save</span>
        <i ng-show="modal.disabled" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </form>
</div>


<!--Choose Designs View-->
<div translate-namespace="modals.tracking" class="ibox float-e-margins no-margins tracking-modal" ng-if="modal.isDesignView">
  <div class="ibox-title">
    <h5>
      <span translate=".heading">Shipment details</span> /
      <span translate="ordersDetailsPage.orderID">Order#</span> {{modal.order.order_id}}
      <span translate=".designsShip">Designs shipping</span>
    </h5>
    <span ng-click="modal.cancelCheckedDesigns()" class="pull-right fa fa-times"></span>
  </div>
  <form name="chooseDesignsForm">
    <div class="ibox-content orders-modal">

      <p translate=".choose">Choose the designs to send on this shipment</p>
      <div class="row mg-tp-10">
        <div class="col-sm-3" ng-repeat="design in modal.choosingDesigns">
          <div class="mg-rt-15 mg-rt-15">
            <div class="send-design" ng-class="{'active':design.isChosen}">
              <img class="img-responsive" ng-src="{{ design && design.thumb ? modal.designURL + design.thumb :  '/img/icons/img-placeholder.png'}}" alt="">
              <p class="design-id"><span translate=".design">Design</span>#{{design.design_id}}</p>
              <p class="design-sku">SKU {{design &&
                design.product &&
                design.product.sku ? design.product.sku: 'N/A' }}</p>
              <label class="design-check">
                <input type="checkbox" icheck ng-model="design.isChosen">
                <p translate=".send">Send</p>
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.cancelCheckedDesigns()" translate="buttons.cancel">Cancel</button>
      <button ng-disabled="!modal.hasChangedDesignView()" class="btn btn-primary" type="button" translate="buttons.save" ng-click="modal.saveCheckedDesigns()">Save</button>
    </div>
  </form>
</div>
