<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="modals.status.heading">Change Status</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content orders-modal">
    <div>
      <p>
        <label>
          <input name="status" type="radio" value="ENABLE" icheck ng-model="modal.selectedStatus">
          <span translate="constants.status.available" class="label status-fix title-case label-production label-white">
              Available
            </span>
        </label>
      </p>
      <p>
        <label>
          <input name="status" type="radio" value="DISABLE" icheck ng-model="modal.selectedStatus">
          <span translate="constants.status.offline" class="label status-fix title-case label-error label-white">
              Offline
            </span>
        </label>
      </p>
    </div>

  </div>
  <div class="ibox-footer text-right">
    <div>
      <button ng-disabled="modal.processing" class="btn btn-cancel btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button ng-disabled="modal.processing" class="btn btn-primary" type="button" ng-click="modal.submit()" >
        <span ng-hide="modal.processing" translate="buttons.save">Save</span>
        <span ng-show="modal.processing" class="fa fa-spin fa-cog"></span>
      </button>
    </div>
  </div>
</div>

