<h4 translate=".label4">Effect options</h4>
<ul class="list-group">
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.effects.sub.grayscale.enable">
      <span translate=".grayscale">Grayscale</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.effects.sub.sepia.enable">
      <span translate=".sepia">Sepia</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.effects.sub.sepia2.enable">
      <span>Sepia 2</span>
    </label>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="blurAccordionOpen = modal.personalize.options.effects.sub.blur.enable"
           ng-model="modal.personalize.options.effects.sub.blur.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="blurAccordionOpen = modal.personalize.options.effects.sub.blur.enable">
          <div uib-accordion-group is-open="blurAccordionOpen">
            <uib-accordion-heading>
              <span translate=".blur">Blur</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': blurAccordionOpen, 'fa-chevron-right': !blurAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <div>
                <p class="font-bold" translate=".default">Default Value</p>
                <rzslider rz-slider-model="modal.personalize.options.effects.sub.blur.def_value"
                          rz-slider-options="{ceil: 100, translate: modal.getPercentageValue, showSelectionBar: true }">
                </rzslider>
            </div>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="sharpenAccordionOpen = modal.personalize.options.effects.sub.sharpen.enable"
           ng-model="modal.personalize.options.effects.sub.sharpen.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="sharpenAccordionOpen = modal.personalize.options.effects.sub.sharpen.enable">
          <div uib-accordion-group is-open="sharpenAccordionOpen">
            <uib-accordion-heading>
              <span translate=".sharpen">Sharpen</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': sharpenAccordionOpen, 'fa-chevron-right': !sharpenAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>
              <rzslider rz-slider-model="modal.personalize.options.effects.sub.sharpen.def_value"
                        rz-slider-options="{ceil: 100, translate: modal.getPercentageValue, showSelectionBar: true }">
              </rzslider>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="embossAccordionOpen = modal.personalize.options.effects.sub.emboss.enable"
           ng-model="modal.personalize.options.effects.sub.emboss.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="embossAccordionOpen = modal.personalize.options.effects.sub.emboss.enable">
          <div uib-accordion-group is-open="embossAccordionOpen">
            <uib-accordion-heading>
              <span translate=".emboss">Emboss</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': embossAccordionOpen, 'fa-chevron-right': !embossAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>
              <rzslider rz-slider-model="modal.personalize.options.effects.sub.emboss.def_value"
                        rz-slider-options="{ ceil: 100, translate: modal.getPercentageValue, showSelectionBar: true }">
              </rzslider>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.effects.sub.noise.enable">
      <span translate=".noise">Noise</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.effects.sub.pixelate.enable">
      <span translate=".pixelate">Pixelate</span>
    </label>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="blendValAccordionOpen = modal.personalize.options.effects.sub.blend.enable"
           ng-model="modal.personalize.options.effects.sub.blend.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="blendValAccordionOpen = modal.personalize.options.effects.sub.blend.enable">
        <div uib-accordion-group is-open="blendValAccordionOpen">
          <uib-accordion-heading>
            <span translate=".blend">Blend</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': blendValAccordionOpen, 'fa-chevron-right': !blendValAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <p class="font-bold" translate=".default">Default Value</p>
            <rzslider rz-slider-model="modal.personalize.options.effects.sub.blend.def_value"
                      rz-slider-options="{ceil: 100, translate: modal.getPercentageValue, showSelectionBar: true}">
            </rzslider>
            <a href="" ng-click="modal.setColor('options.effects.sub.blend.sub.choose_color')">
              <span translate=".setColor">Set color</span>
            </a>
            <div class="nested-item mg-lt-10" ng-init="!modal.personalize.options.effects.sub.blend.sub.choose_color.def_value.value?modal.personalize.options.effects.sub.blend.sub.choose_color.def_value.value='#FFFFFF':''">
              <span translate=".color">Color</span>
              <input
                type="color"
                ng-disabled="true"
                ng-model="modal.personalize.options.effects.sub.blend.sub.choose_color.def_value.value"
                class="form-control">
            </div>
            <p class="font-bold" translate=".options">Available options</p>
            <label class="mg-lt-10">
              <input type="checkbox"
                     icheck
                     class="icheckbox_small mg-tp-11"
                     ng-disabled="!modal.personalize.options.effects.sub.blend.enable"
                     ng-model="modal.personalize.options.effects.sub.blend.sub.choose_color.enable">
              <span class="mg-lt-10" translate=".color">Color</span>
            </label>
            <label class="mg-lt-10" ng-repeat="(key, val) in modal.personalize.options.effects.sub.blend.sub.choose_type.sub">
              <input type="checkbox"
                     icheck
                     class="icheckbox_small mg-tp-11"
                     ng-disabled="!modal.personalize.options.effects.sub.blend.enable"
                     ng-model="modal.personalize.options.effects.sub.blend.sub.choose_type.sub[key].enable">
              <span class="mg-lt-10 title-case" translate=".{{key}}">{{key}}</span>
            </label>
          </div>
        </div>
      </uib-accordion>
    </span>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="blendValAccordionOpen = modal.personalize.options.effects.sub.blend.sub.choose_type.enable"
           ng-model="modal.personalize.options.effects.sub.blend.sub.choose_type.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="blendTypeAccordionOpen = modal.personalize.options.effects.sub.blend.sub.choose_type.enable">
        <div uib-accordion-group is-open="blendTypeAccordionOpen">
          <uib-accordion-heading>
            <span translate=".blendType">Blend Type</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': blendTypeAccordionOpen, 'fa-chevron-right': !blendTypeAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <label class="no-margins" ng-repeat="(key, val) in modal.personalize.options.effects.sub.blend.sub.choose_type.sub">
                <input type="radio"
                       icheck
                       ng-value="key.toUpperCase()"
                       name="blendOptionsButton"
                       ng-model="modal.personalize.options.effects.sub.blend.sub.choose_type.def_value">
                &nbsp;<span class="normal" translate=".{{key}}"></span>
              </label>
          </div>
        </div>
      </uib-accordion>
    </span>
  </li>
</ul>
