<h4 translate=".label">General options</h4>
<ul class="list-group">
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.add_elements.enable">
      <span translate=".add">Add elements</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.erase_elements.enable">
      <span translate=".erase">Erase elements</span>
    </label>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="uploadImageAccordionOpen = modal.personalize.options.generals.sub.add_elements.sub.upload_image.enable"
           ng-model="modal.personalize.options.generals.sub.add_elements.sub.upload_image.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="uploadImageAccordionOpen = modal.personalize.options.generals.sub.add_elements.sub.upload_image.enable">
          <div uib-accordion-group is-open="uploadImageAccordionOpen">
            <uib-accordion-heading>
              <span translate=".upload">Upload Image</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': uploadImageAccordionOpen, 'fa-chevron-right': !uploadImageAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <label ng-repeat="(key, value) in modal.personalize.options.generals.sub.add_elements.sub.upload_image.properties">
                <span translate=".{{key}}"></span>
                <input
                  type="number"
                  ng-blur="!modal.personalize.options.generals.sub.add_elements.sub.upload_image.properties[key]?modal.personalize.options.generals.sub.add_elements.sub.upload_image.properties[key]=0:''"
                  ng-model="modal.personalize.options.generals.sub.add_elements.sub.upload_image.properties[key]"
                  class="form-control">
                <b ng-if="key !== 'max_file_size'">px</b>
                <b ng-if="key === 'max_file_size'">kb</b>
              </label>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="uploadImageAccordionOpen = modal.personalize.options.generals.sub.add_elements.sub.choose_image.enable"
           ng-model="modal.personalize.options.generals.sub.add_elements.sub.choose_image.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="uploadImageAccordionOpen = modal.personalize.options.generals.sub.add_elements.sub.choose_image.enable">
        <div uib-accordion-group is-open="uploadImageAccordionOpen">
          <uib-accordion-heading>
            <span translate=".choose">Choose Image</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': uploadImageAccordionOpen, 'fa-chevron-right': !uploadImageAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <a href="" ng-click="modal.setGalleries()">
              <span translate=".galleries">Set Galleries</span>
            </a>
          </div>
        </div>
      </uib-accordion>
    </span>

  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.add_elements.sub.take_picture.enable">
      <span translate=".take">Take picture</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.add_elements.sub.create_text.enable">
      <span translate=".create">Create text</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.add_elements.sub.free_drawing.enable">
      <span translate=".drawing">Free drawing</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.reset_design.enable">
      <span translate=".reset">Reset design</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.undo.enable">
      <span translate=".undo">Undo</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.generals.sub.redo.enable">
      <span translate=".redo">Redo</span>
    </label>
  </li>
</ul>
