<h4 translate=".label3">Text & Drawing options</h4>
<ul class="list-group">
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           class="icheckbox_small hidden"
           icheck ng-model="sadfsdakf">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="charLimitAccordionOpen = true">
          <div uib-accordion-group is-open="charLimitAccordionOpen">
            <uib-accordion-heading>
              <span translate=".limit">Character limit</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': charLimitAccordionOpen, 'fa-chevron-right': !charLimitAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>
              <p>
                <span translate="words.from">From</span>
                <strong>{{modal.personalize.options.texts.properties.min_chars}}</strong>
                <span translate="words.to">to</span>
                <strong>{{modal.personalize.options.texts.properties.max_chars}}</strong> chars
              </p>
              <rzslider rz-slider-model="modal.personalize.options.texts.properties.min_chars"
                        rz-slider-high="modal.personalize.options.texts.properties.max_chars"
                        rz-slider-options="{ceil: 100, minRange: 15, pushRange: true, showSelectionBar: true}">
              </rzslider>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item">
    <label class="block mg-bt-10">
      <span translate=".languages">Languages</span>
      <a href="" ng-click="modal.setLanguages()" class="pull-right font-noraml">
        <span translate=".setup">Set up</span>
      </a>
    </label>
    <div class="mg-lt-20">
      <p class="mg-bt-5" translate=".noLanguages" ng-if="!modal.personalize['available_languages']['ch'] && !modal.personalize['available_languages']['en']">No languages selected</p>
      <p class="mg-bt-5" ng-if="modal.personalize['available_languages'][key]" ng-repeat="(key, val) in modal.personalize['available_languages']">{{key.toUpperCase()}}</p>
    </div>
  </li>
  <!--<li class="list-group-item">-->
    <!--<label>-->
      <!--<input type="checkbox" icheck class="icheckbox_small hidden"-->
             <!--ng-model="modal.personalize.options.generals.sub.erase_elements.enable">-->
      <!--<span>Symbols</span>-->
    <!--</label>-->
  <!--</li>-->
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           ng-change="textAlignmentAccordionOpen = modal.personalize.options.texts.sub.text_alignment.enable"
           class="icheckbox_small"
           ng-model="modal.personalize.options.texts.sub.text_alignment.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="textAlignmentAccordionOpen = modal.personalize.options.texts.sub.text_alignment.enable">
          <div uib-accordion-group is-open="textAlignmentAccordionOpen">
            <uib-accordion-heading>
              <span translate=".textAlignment">Text alignment</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': textAlignmentAccordionOpen, 'fa-chevron-right': !textAlignmentAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>
              <label class="no-margins">
                <input type="radio"
                       icheck
                       ng-value="'LEFT'"
                       name="textAlignmentButton"
                       ng-model="modal.personalize.options.texts.sub.text_alignment.def_value">
                &nbsp;<span class="normal" translate=".left">Left Align</span>
              </label>
              <label class="no-margins">
                <input type="radio"
                       ng-value="'CENTER'"
                       name="textAlignmentButton"
                       icheck
                       ng-model="modal.personalize.options.texts.sub.text_alignment.def_value">
                &nbsp;<span class="normal" translate=".center">Center Align</span>
              </label>
              <label class="no-margins">
                <input type="radio"
                       ng-value="'RIGHT'"
                       name="textAlignmentButton"
                       icheck
                       ng-model="modal.personalize.options.texts.sub.text_alignment.def_value">
                &nbsp;<span class="normal" translate=".right">Right Align</span>
              </label>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="textColorAccordionOpen = modal.personalize.options.texts.sub.text_color.enable"
           ng-model="modal.personalize.options.texts.sub.text_color.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="textColorAccordionOpen = modal.personalize.options.texts.sub.text_color.enable">
        <div uib-accordion-group is-open="textColorAccordionOpen">
          <uib-accordion-heading>
            <span translate=".textColor">Text color</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': textColorAccordionOpen, 'fa-chevron-right': !textColorAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <p class="font-bold" translate=".default">Default Value</p>
            <label ng-init="!modal.personalize.options.texts.sub.text_color.def_value? modal.personalize.options.texts.sub.text_color.def_value = '#FFFFFF' : ''">
              <span translate=".color">Color</span>
              <input type="color"
                     class="form-control"
                     ng-model="modal.personalize.options.texts.sub.text_color.def_value">
            </label>
          </div>
        </div>
      </uib-accordion>
    </span>

  </li>

  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="textFontsAccordionOpen = modal.personalize.options.texts.sub.text_font.enable"
           ng-model="modal.personalize.options.texts.sub.text_font.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="textFontsAccordionOpen = modal.personalize.options.texts.sub.text_font.enable">
        <div uib-accordion-group is-open="textFontsAccordionOpen">
          <uib-accordion-heading>
            <span translate=".textFonts">Text fonts</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': textFontsAccordionOpen, 'fa-chevron-right': !textFontsAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <a href="" ng-click="modal.setFonts()">
              <span translate=".setFonts">Set fonts</span>
            </a>
            <p class="font-bold mg-tp-10" translate=".default">Default Value</p>
            <label ng-repeat="font in modal.personalize.options.texts.sub.text_font.available_fonts" class="mg-lt-10 no-margins font-noraml">
              <input type="radio"
                     ng-value="font"
                     name="fontDefaultValue"
                     icheck
                     ng-model="modal.personalize.options.texts.sub.text_font.def_value">
                &nbsp;{{font}}
            </label>
            <p class="font-bold" translate=".options">Available Options</p>
            <label
              ng-show="!modal.personalize.options.texts.sub.text_font.available_fonts || modal.personalize.options.texts.sub.text_font.available_fonts.length < 1"
              class="font-noraml no-margins mg-lt-10" translate=".noFonts">No fonts set.</label>
            <label ng-repeat="font in modal.personalize.options.texts.sub.text_font.available_fonts" class="font-noraml no-margins mg-lt-10">{{font}}</label>
          </div>
        </div>
      </uib-accordion>
    </span>
  </li>

  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="textWeightAccordionOpen = modal.personalize.options.texts.sub.text_weight.enable"
           ng-model="modal.personalize.options.texts.sub.text_weight.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="textWeightAccordionOpen = modal.personalize.options.texts.sub.text_weight.enable">
        <div uib-accordion-group is-open="textWeightAccordionOpen">
          <uib-accordion-heading>
            <span translate=".textWeight">Text weight</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': textWeightAccordionOpen, 'fa-chevron-right': !textWeightAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <p class="font-bold">Default Value</p>
            <label class="no-margins mg-lt-10" ng-repeat="(key, val) in modal.personalize.options.texts.sub.text_weight.sub">
              <input type="radio"
                     icheck
                     ng-value="key.toUpperCase()"
                     name="defaultTextWeight"
                     ng-model="modal.personalize.options.texts.sub.text_weight.def_value">
              &nbsp;<span class="normal" translate=".{{key}}"></span>
            </label>
            <p class="font-bold" translate=".options">Available Options</p>

            <label class="no-margins mg-lt-15" ng-repeat="(key, val) in modal.personalize.options.texts.sub.text_weight.sub">
              <input type="checkbox"
                     icheck
                     class="icheckbox_small mg-tp-11"
                     ng-disabled="!modal.personalize.options.texts.sub.text_weight.enable"
                     ng-model="modal.personalize.options.texts.sub.text_weight.sub[key].enable">
              <span class="title-case mg-lt-10" translate=".{{key}}">{{key}}</span>
            </label>


          </div>
        </div>
      </uib-accordion>
    </span>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="textDecorationAccordionOpen = modal.personalize.options.texts.sub.text_line.enable"
           ng-model="modal.personalize.options.texts.sub.text_line.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="textDecorationAccordionOpen = modal.personalize.options.texts.sub.text_line.enable">
        <div uib-accordion-group is-open="textDecorationAccordionOpen">
          <uib-accordion-heading>
            <span translate=".textDecoration">Text decoration</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': textDecorationAccordionOpen, 'fa-chevron-right': !textDecorationAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <p class="font-bold" translate=".defaultStyle">Default Style</p>
            <label class="no-margins mg-lt-10" ng-repeat="(key, val) in modal.personalize.options.texts.sub.text_line.sub">
              <input type="radio"
                     icheck
                     ng-value="key.toUpperCase()"
                     name="defaultTextDecoration"
                     ng-model="modal.personalize.options.texts.sub.text_line.def_value">
              &nbsp;<span class="normal" translate=".{{key}}"></span>
            </label>
            <label class="no-margins mg-lt-10">
              <input type="radio"
                     icheck
                     ng-value="''"
                     name="defaultTextDecoration"
                     ng-model="modal.personalize.options.texts.sub.text_line.def_value">
              &nbsp;<span class="normal" translate=".none">None</span>
            </label>
            <p class="font-bold" translate=".options">Available Options</p>

            <label class="no-margins mg-lt-15" ng-repeat="(key, val) in modal.personalize.options.texts.sub.text_line.sub">
              <input type="checkbox"
                     icheck
                     class="icheckbox_small mg-tp-11"
                     ng-disabled="!modal.personalize.options.texts.sub.text_line.enable"
                     ng-model="modal.personalize.options.texts.sub.text_line.sub[key].enable">
              <span class="title-case mg-lt-10" translate=".{{key}}">{{key}}</span>
            </label>


          </div>
        </div>
      </uib-accordion>
    </span>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="brushTypeAccordionOpen = modal.personalize.options.free_drawings.sub.drawing_mode.enable"
           ng-model="modal.personalize.options.free_drawings.sub.drawing_mode.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="brushTypeAccordionOpen = modal.personalize.options.free_drawings.sub.drawing_mode.enable">
        <div uib-accordion-group is-open="brushTypeAccordionOpen">
          <uib-accordion-heading>
            <span translate=".brushType">Brush Type</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': brushTypeAccordionOpen, 'fa-chevron-right': !brushTypeAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <p class="font-bold" translate=".defaultStyle">Default Style</p>
            <label class="no-margins mg-lt-10" ng-repeat="(key, val) in modal.personalize.options.free_drawings.sub.drawing_mode.sub">
              <input type="radio"
                     icheck
                     ng-value="key.toUpperCase()"
                     name="defaultBrushType"
                     ng-model="modal.personalize.options.free_drawings.sub.drawing_mode.def_value">
              &nbsp;<span class="normal" translate=".{{key}}"></span>
            </label>
            <p class="font-bold" translate=".options">Available Options</p>

            <label class="no-margins mg-lt-15" ng-repeat="(key, val) in modal.personalize.options.free_drawings.sub.drawing_mode.sub">
              <input type="checkbox"
                     icheck
                     class="icheckbox_small mg-tp-11"
                     ng-disabled="!modal.personalize.options.free_drawings.sub.drawing_mode.enable"
                     ng-model="modal.personalize.options.free_drawings.sub.drawing_mode.sub[key].enable">
              <span translate=".{{key}}" class="title-case mg-lt-10">{{key}}</span>
            </label>


          </div>
        </div>
      </uib-accordion>
    </span>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="brushSizeAccordionOpen = modal.personalize.options.free_drawings.sub.line_width.enable"
           ng-model="modal.personalize.options.free_drawings.sub.line_width.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="brushSizeAccordionOpen = modal.personalize.options.free_drawings.sub.line_width.enable">
        <div uib-accordion-group is-open="brushSizeAccordionOpen">
          <uib-accordion-heading>
            <span translate=".brushSize">Brush Size</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': brushSizeAccordionOpen, 'fa-chevron-right': !brushSizeAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <p class="font-bold" translate=".default">Default Value</p>
            <rzslider rz-slider-model="modal.personalize.options.free_drawings.sub.line_width.def_value"
                rz-slider-options="{ceil: 50, showSelectionBar: true, translate: modal.getPixelValue}">
            </rzslider>
          </div>
        </div>
      </uib-accordion>
    </span>
  </li>
  <li class="list-group-item no-pd-rt clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="brushColorAccordionOpen = modal.personalize.options.free_drawings.sub.line_color.enable"
           ng-model="modal.personalize.options.free_drawings.sub.line_color.enable">
    <span>
      <uib-accordion close-others="oneAtATime" ng-init="brushColorAccordionOpen = modal.personalize.options.free_drawings.sub.line_color.enable">
        <div uib-accordion-group is-open="brushColorAccordionOpen">
          <uib-accordion-heading>
            <span translate=".brushColor">Brush Color</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': brushColorAccordionOpen, 'fa-chevron-right': !brushColorAccordionOpen}"></i>
          </uib-accordion-heading>
          <div>
            <p class="font-bold" translate=".default">Default Value</p>
            <label class="no-margins" ng-init="!modal.personalize.options.free_drawings.sub.line_color.def_value?modal.personalize.options.free_drawings.sub.line_color.def_value='#FFFFFF':''">
              <span translate=".color">Color</span>
              <input type="color"
                     class="form-control"
                     ng-model="modal.personalize.options.free_drawings.sub.line_color.def_value">
            </label>


          </div>
        </div>
      </uib-accordion>
    </span>
  </li>
</ul>
