<h4 translate=".label2">Transform & adjustment options</h4>
<ul class="list-group">
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.transforms.sub.move.enable">
      <span translate=".move">Move</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.transforms.sub.rotate.enable">
      <span translate=".rotate">Rotate</span>
    </label>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="transformAccordionOpen = modal.personalize.options.transforms.sub.transform_mode.enable"
           ng-model="modal.personalize.options.transforms.sub.transform_mode.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="transformAccordionOpen = modal.personalize.options.transforms.sub.transform_mode.enable">
          <div uib-accordion-group is-open="transformAccordionOpen">
            <uib-accordion-heading>
              <span translate=".transform">Transform</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': transformAccordionOpen, 'fa-chevron-right': !transformAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>
              <label class="no-margins">
                <input type="radio"
                       icheck
                       value="FREE"
                       name="transformButton"
                       ng-model="modal.personalize.options.transforms.sub.transform_mode.def_value">
                &nbsp;<span class="normal" translate=".freeTransform">Free Transform</span>
              </label>
              <label class="no-margins">
                <input type="radio"
                       value="CONSTRAINT"
                       name="transformButton"
                       icheck
                       ng-model="modal.personalize.options.transforms.sub.transform_mode.def_value">
                &nbsp;<span class="normal" translate=".fixedTransform">Fixed Transform</span>
              </label>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.transforms.sub.crop.enable">
      <span translate=".crop">Crop</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.transforms.sub.flip_horizontal.enable">
      <span translate=".flipH">Flip horizontal</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.transforms.sub.flip_vertical.enable">
      <span translate=".flipV">Flip vertical</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.transforms.sub.move_forward.enable">
      <span translate=".layerUp">Layer up</span>
    </label>
  </li>
  <li class="list-group-item">
    <label>
      <input type="checkbox" icheck class="icheckbox_small"
             ng-model="modal.personalize.options.transforms.sub.move_back.enable">
      <span translate=".layerDown">Layer down</span>
    </label>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="brightnessAccordionOpen = modal.personalize.options.adjustments.sub.brightness.enable"
           ng-model="modal.personalize.options.adjustments.sub.brightness.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="brightnessAccordionOpen = modal.personalize.options.adjustments.sub.brightness.enable">
          <div uib-accordion-group is-open="brightnessAccordionOpen">
            <uib-accordion-heading>
              <span translate=".brightness">Brightness</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': brightnessAccordionOpen, 'fa-chevron-right': !brightnessAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>
              <div>
                <rzslider rz-slider-model="modal.personalize.options.adjustments.sub.brightness.def_value"
                          rz-slider-options="{ceil: 100, showSelectionBar: true, translate: modal.getPercentageValue }">
                </rzslider>
              </div>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="transparencyAccordionOpen = modal.personalize.options.adjustments.sub.transparency.enable"
           ng-model="modal.personalize.options.adjustments.sub.transparency.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="transparencyAccordionOpen = modal.personalize.options.adjustments.sub.transparency.enable">
          <div uib-accordion-group is-open="transparencyAccordionOpen">
            <uib-accordion-heading>
              <span translate=".transparency">Transparency</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': transparencyAccordionOpen, 'fa-chevron-right': !transparencyAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>
              <div>
                <rzslider rz-slider-model="modal.personalize.options.adjustments.sub.transparency.def_value"
                          rz-slider-options="{ceil: 1, step: 0.1, precision: 1, showSelectionBar: true }">
                </rzslider>
              </div>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="strokeAccordionOpen = modal.personalize.options.adjustments.sub.add_stroke.enable"
           ng-model="modal.personalize.options.adjustments.sub.add_stroke.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="strokeAccordionOpen = modal.personalize.options.adjustments.sub.add_stroke.enable">
          <div uib-accordion-group is-open="strokeAccordionOpen">
            <uib-accordion-heading>
              <span translate=".stroke">Stroke</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': strokeAccordionOpen, 'fa-chevron-right': !strokeAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>

              <div class="nested-item mg-lt-10">
                <span translate=".width">Width</span>
                <input
                  type="number"
                  ng-blur="!modal.personalize.options.adjustments.sub.add_stroke.sub.choose_width.def_value?modal.personalize.options.adjustments.sub.add_stroke.sub.choose_width.def_value=0:''"
                  ng-model="modal.personalize.options.adjustments.sub.add_stroke.sub.choose_width.def_value"
                  class="form-control">
                <b>px</b>
              </div>

              <a href="" ng-click="modal.setColor('options.adjustments.sub.add_stroke.sub.choose_color')">
                <span translate=".setColor">Set color</span>
              </a>
              <div class="nested-item mg-lt-10" ng-init="!modal.personalize.options.adjustments.sub.add_stroke.sub.choose_color.def_value.value?modal.personalize.options.adjustments.sub.add_stroke.sub.choose_color.def_value.value='#FFFFFF':''">
                <span translate=".color">Color</span>
                <input
                  type="color"
                  ng-disabled="true"
                  ng-model="modal.personalize.options.adjustments.sub.add_stroke.sub.choose_color.def_value.value"
                  class="form-control">
              </div>

              <p class="font-bold" translate=".options">Available options</p>

              <label class="mg-lt-10 no-margins">
                <input type="checkbox"
                       icheck
                       ng-disabled="!modal.personalize.options.adjustments.sub.add_stroke.enable"
                       ng-model="modal.personalize.options.adjustments.sub.add_stroke.sub.choose_width.enable"
                       class="icheckbox_small mg-tp-10">
                <span class="mg-lt-10" translate=".width">Width</span>
              </label>

              <label class="mg-lt-10 no-margins">
                <input type="checkbox"
                       icheck
                       ng-disabled="!modal.personalize.options.adjustments.sub.add_stroke.enable"
                       ng-model="modal.personalize.options.adjustments.sub.add_stroke.sub.choose_color.enable"
                       class="icheckbox_small mg-tp-10">
                <span class="mg-lt-10" translate=".color">Color</span>
              </label>

            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
  <li class="list-group-item clear-item">
    <input type="checkbox"
           icheck
           class="icheckbox_small"
           ng-change="shadowsAccordionOpen = modal.personalize.options.adjustments.sub.add_shadows.enable"
           ng-model="modal.personalize.options.adjustments.sub.add_shadows.enable">
    <span>
        <uib-accordion close-others="oneAtATime" ng-init="shadowsAccordionOpen = modal.personalize.options.adjustments.sub.add_shadows.enable">
          <div uib-accordion-group is-open="shadowsAccordionOpen">
            <uib-accordion-heading>
              <span translate=".shadows">Shadows</span> <i class="pull-right fa" ng-class="{'fa-chevron-down': shadowsAccordionOpen, 'fa-chevron-right': !shadowsAccordionOpen}"></i>
            </uib-accordion-heading>
            <div>
              <p class="font-bold" translate=".default">Default Value</p>

              <p class="font-noraml no-margins" translate=".opacity">Opacity</p>
              <rzslider rz-slider-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_opacity.def_value"
                        rz-slider-options="{ceil: 1, step: 0.1, precision: 1, showSelectionBar: true }">
              </rzslider>

              <p class="font-noraml mg-tp-5 no-margins" translate=".blur">Blur</p>
              <rzslider rz-slider-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_blur.def_value"
                        rz-slider-options="{ceil: 100, translate: modal.getPercentageValue, showSelectionBar: true }">
              </rzslider>

              <a href="" ng-click="modal.setColor('options.adjustments.sub.add_shadows.sub.choose_color')">
                <span translate=".setColor">Set color</span>
              </a>
              <label ng-init="!modal.personalize.options.adjustments.sub.add_shadows.sub.choose_color.def_value.value?modal.personalize.options.adjustments.sub.add_shadows.sub.choose_color.def_value.value='#FFFFFF':''">
                <span translate=".color">Color</span>
                <input
                  type="color"
                  ng-disabled="true"
                  ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_color.def_value.value"
                  class="form-control">
              </label>

              <label>
                <span>X-axis</span>

                <input
                  type="number"
                  ng-blur="!modal.personalize.options.adjustments.sub.add_shadows.sub.choose_xy.def_value.x?modal.personalize.options.adjustments.sub.add_shadows.sub.choose_blur.def_value.x=0:''"
                  ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_xy.def_value.x"
                  class="form-control">
              </label>

              <label>
                <span>Y-axis</span>

                <input
                  type="number"
                  ng-blur="!modal.personalize.options.adjustments.sub.add_shadows.sub.choose_xy.def_value.y?modal.personalize.options.adjustments.sub.add_shadows.sub.choose_xy.def_value.y=0:''"
                  ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_xy.def_value.y"
                  class="form-control">
              </label>

              <p class="font-bold" translate=".options">Available options</p>

              <div class="nested-item no-margins">
                <input type="checkbox"
                       icheck
                       ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_opacity.enable"
                       ng-disabled="!modal.personalize.options.adjustments.sub.add_shadows.enable"
                       class="icheckbox_small mg-tp-10">

                <span class="mg-lt-10" translate=".opacity">Opacity</span>
              </div>

              <div class="nested-item no-margins">
                <input type="checkbox"
                       icheck
                       ng-disabled="!modal.personalize.options.adjustments.sub.add_shadows.enable"
                       ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_blur.enable"
                       class="icheckbox_small mg-tp-10">

                <span class="mg-lt-10" translate=".blur">Blur</span>
              </div>


              <div class="nested-item mg-tp-5">
                <input type="checkbox"
                       icheck
                       ng-disabled="!modal.personalize.options.adjustments.sub.add_shadows.enable"
                       ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_color.enable"
                       class="icheckbox_small mg-tp-10">

                <span class="mg-lt-10" translate=".color">Color</span>
              </div>
              <div class="nested-item">
                <input type="checkbox"
                       icheck
                       ng-disabled="!modal.personalize.options.adjustments.sub.add_shadows.enable"
                       ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_xy.enable"
                       class="icheckbox_small mg-tp-10">

                <span class="mg-lt-10">X-axis</span>
              </div>
              <div class="nested-item">
                <input type="checkbox"
                       icheck
                       ng-disabled="!modal.personalize.options.adjustments.sub.add_shadows.enable"
                       ng-model="modal.personalize.options.adjustments.sub.add_shadows.sub.choose_xy.enable"
                       class="icheckbox_small mg-tp-10">

                <span class="mg-lt-10">Y-axis</span>
              </div>
            </div>
          </div>
        </uib-accordion>
    </span>
  </li>
</ul>
