<div class="row">

  <div class="col-lg-12">

    <div class="col-xs-8">
      <div class="visual-assets-header">
        <h4 class="pull-left" translate=".heading">Visual Assets</h4>
        <div class="pull-right search-bar">
          <span class="fa fa-search"></span>
          <input type="text" placeholder="{{'filters.search.placeholder'| translate}}" name="searchString" ng-model="vm.searchString"
                 ng-disabled="treeModel.length == 0" ng-keyup="vm.searchTree()"/>
        </div>
      </div>

      <div class="assets-tree-container">
        <div id="uploading-file" ng-show="vm.uploader.processing" class="loading-overlay">
          <div class="loading-wheel">
            <div class="progress">
              <div class="progress-bar" role="progressbar" ng-style="{width: vm.uploader.progress + '%'}"></div>
            </div>
            <div class="progress-text text-center" ng-show="vm.uploader.progress"><span translate=".vaUpload.uploading">Uploading</span>... {{vm.uploader.progress}}%</div>
            <div class="progress-text" ng-show="vm.uploader.state.removing"><span translate=".vaUpload.deleting">Deleting files</span>....</div>
            <div class="progress-text" ng-show="vm.uploader.state.step1"><span translate=".vaUpload.step1">Step 1/3: Uploading files</span>... ({{vm.uploader.progress}}%)</div>
            <div class="progress-text" ng-show="vm.uploader.state.step2"><span translate=".vaUpload.step2">Step 2/3: Storing information in database</span>...</div>
            <div class="progress-text" ng-show="vm.uploader.state.step3"><span translate=".vaUpload.step3">Step 3/3: Resizing components</span>...</div>
          </div>
        </div>

        <div id="upload-zip" ng-show="vm.uploader.showUpload && !vm.uploader.processing" class="upload-zip-overlay" ng-show="treeModel.length == 0">

          <button class="btn btn-primary"
                  ng-model="file" name="file"
                  ngf-select="uploadZip($file)">
            <span translate="buttons.uploadZip">Upload Product ZIP</span>
          </button>

        </div>

        <div js-tree="treeConfig" ng-model="treeModel" tree="vm.treeInstance"
             tree-events="select_node:nodeSelected;open_node:nodeOpened;close_node:nodeClosed"></div>
      </div>

      <div class="assets-actions">
        <button class="btn btn-primary pull-right" ng-click="vm.resizeComponents()" ng-disabled="vm.treeStructure.length < 1 || vm.loading">
          <span ng-hide="vm.loading" translate="buttons.resize">Resize</span>
          <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
        </button>
        <button class="btn btn-primary pull-right" ng-click="vm.createComponents()" ng-disabled="vm.treeStructure.length < 1 || vm.loading">
          <span ng-hide="vm.loading" translate="buttons.createComponents">Create Components</span>
          <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
        </button>
        <div uib-dropdown class="pull-right" on-toggle="toggled(open)">
          <button href id="simple-dropdown" ng-disabled="vm.loading" class="btn btn-primary" uib-dropdown-toggle>
            <span ng-hide="vm.loading">
              <span translate="buttons.upload">Upload</span> <i class="fa fa-upload"></i>
            </span>
            <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li>
              <a
                ng-model="file" name="file"
                ngf-select="uploadFiles($file)" translate=".vaUpload.uploadFiles">Upload Files
              </a>
            </li>
            <li>
              <a ng-model="file" name="file"
                 translate=".vaUpload.uploadFolders"
                 ngf-select="vm.uploadZipSubFolders($file)">Upload Zip Folders</a>
            </li>
          </ul>
        </div>
        <a class="btn btn-w-m btn-white pull-right"
           target="_self" id="download-btn"
           ng-href="vm.previewButtons.downloadLink"
           ng-disabled="treeModel.length == 0 || !vm.enableDownload">
          <span translate="buttons.download">Download</span>
        </a>
        <a class="btn btn-white pull-right" ng-click="vm.removeNode()" ng-disabled="treeModel.length == 0">
          <span translate="buttons.remove">Remove</span>
        </a>
      </div>
    </div>
    <div class="col-xs-4 assets-preview">
      <h4 class="text-center" translate=".vaUpload.preview">Assets Preview</h4>
      <div id="preview-container">
        <div class="prev-cont">
          <span class="fa fa-chevron-left" ng-disabled="vm.previewButtons.disable.prev" ng-click="vm.visualizePrevious()"></span>
        </div>
        <div id="preview" ng-class="vm.loadingImage? 'loading-image': ''">
          <div ng-show="vm.loadingImage">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
          <img class="img-responsive" ng-on-load="vm.imageLoader()" ng-src="{{vm.previewButtons.previewLink}}"/>
        </div>
        <div class="next-cont">
          <span class="fa fa-chevron-right" ng-disabled="vm.previewButtons.disable.next" ng-click="vm.visualizeNext()"></span>
        </div>
      </div>
    </div>
  </div>
</div>
