
/* ----------------------- Home Page ------------------------- */

.main-banner-link {
  width: 400px;
  display: inline;
}
.no-collection-display {
  border-left: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}
.display-preview-grid-two {
  height: 70px !important;
}
.display-preview-grid-three {
  height: 50px !important;
}
.grid-by-two {
  margin: 0px;
  border-left: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
}

.banner-save-link {
  margin-top: 5px !important;
  margin-left: 50px !important;
}

.page-grid-image {
  .media-upload-simple-panel{
    .hidden {
      display: block !important;
      margin-left: 20px;
      margin-top: 5px;
    }

    .dropper{
      padding: 0px !important;
      background-color: #FAFAFA;
      border: 1px solid #E5E6E7;
      margin-bottom: 20px;
    }
    .dropzone {
      display: block;
      background: white;
      border: 1px dashed #D7D7D7;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
      &.sm.dragover {
        padding: 0;
        .drag-msg{
          padding: 25px;
          font-size: 20px;
        }
      }
      &.sm {
        .upload-icon {
          font-size: 35px;
        }
        .drop-size-msg,.drop-mesg{
          font-size: 11px;
        }
        .drop-head{
          font-size: 13px;
        }
      }
      .upload-icon {
        font-size: 45px;
        color: #EFEFEF;
      }
      .drop-head{
        margin: 10px 0;
        font-size: 16px;
        font-weight: bold;
      }
      .drop-size-msg,.drop-mesg{
        font-size: 14px;
        margin-bottom: 5px;
      }
      .drag-msg {
        display: none;
      }
    }
    .dropzone.dragover {
      border: 2px dashed #D7D7D7;
      .thumb-preview {
        display: none;
      }
      .drag-none{
        display: none;
      }
      .drag-msg {
        display: block;
        padding: 50px;
        font-size: 25px;
        font-weight: lighter;
        letter-spacing: 5px;
      }
    }

    .img-box {
      text-align: center;
      background: white;
      border: 1px solid #D7D7D7;

      .image-preview {
        min-height: 100px;
        img {
          margin: 0 auto;
        }
        .delete-overlay {
          position: absolute;
          background-color: rgba(255, 255, 255, 0.9);
          display: none;
          left: 0;
          right: 0;
          height: 100%;
          .overlay-inner {
            position: relative;
            top: calc(50% - 37px);
            display: inline-block;
            &.no-move {
              top: calc(50% - 15px);
              a {
                font-size: 22px;
              }
            }
          }
          a{
            display: block;
            color: #676a6c;
            font-size: 18px;
          }
        }
      }
      .image-preview:hover{
        .delete-overlay {
          display: block;
        }
      }
    }

    .upload-progress {
      .progress{
        margin-bottom: 10px;
      }
      .uploading-msg {
        margin: 10px 0;
      }
      .progress-label {
        text-align: center;
      }
    }
  }
}

.page-main-banner {
  .media-upload-simple-panel {
    .media-type {
      height: 48px !important;
    }
    .type-label {
      font-size: 14px !important;
    }
  }

}

