<div class="support-screen text-center">
  <div class="body inline-block text-left">
    <h3>We will get to you in no time</h3>
    <p>
      Contact our support team. <br>
      Email: <a href="mailto:support@miid.com.cn?Subject=Reset%20Password%20Brand%20Name">support@miid.com.cn</a>
      WeChat: <a href="">Miid0606</a> <br>
      <button ui-sref="{{previousState}}" ng-if="previousState" class="btn mg-tp-20 btn-primary">Back</button>
    </p>
  </div>
</div>
