<th class="list-box" permission permission-only="'canSee.UserReviews.ChangeStatus'" ng-class="options.listBox ? 'selected': ''">
  <div class="border">
    <div>
      <input icheck type="checkbox" ng-change="options.toggleCheckbox(options.listBox)" ng-model="options.listBox">
    </div>
    <div ng-show="options.listBox" class="text">
      <small>{{options.count}} reviews selected</small>
    </div>
    <div class="btn-group action-btn" ng-show="options.listBox" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-xs btn-outline"
              uib-dropdown-toggle>
        Bulk actions
        <span class="fa fa-sort-down"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
          <a href="javascript:;" ng-click="options.changeStatus()">Change Status</a>
        </li>
      </ul>
    </div>
  </div>
</th>
<th class="adjust-column" translate="table.head.product">Product</th>
<th class="adjust-column" translate="table.head.user">User</th>
<th class="adjust-column" translate="table.head.review">Review</th>
<th class="adjust-column" translate="table.head.attachment">Attachment</th>
<th ng-click="handleClick(column.query)"  ng-repeat="column in columns">
  <span class="adjust-column">{{'table.head.'+column.query | translate}}</span>
  <span class="sort">
    <i class="fa fa-sort"
       ng-class="sorting? ((options.category == column.query)? ( count == 0 ? 'fa-sort-up' : 'fa-sort-down'):''): ''"></i>
  </span>
</th>
