<div translate-namespace="productsCreatePage" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-3 no-pd-rt">
    <h2>
      <span>
        <span translate=".breadcrumbs" ng-if="!vm.productID">Create</span>
        <span ng-init="showFullCrumbs = false" ng-if="vm.productID">
          <span ng-show="!showFullCrumbs && vm.productName.length > 15">
            {{vm.productName.substr(0, 10)}}<a href="javascript:;" ng-click="showFullCrumbs = true">...</a>
          </span>
          <span ng-show="!showFullCrumbs && vm.productName.length <= 15">
            {{vm.productName}}
          </span>
          <span ng-show="showFullCrumbs">
            {{vm.productName}}&nbsp;<a href="javascript:;" style="position: relative;z-index:10;" ng-click="showFullCrumbs = false">x</a>
          </span>
        </span>
      </span>

      &nbsp;
      <a href="" class="text-inherit" ng-click="parent.navigate('left')">
        <span class="fa orders-nav fa-angle-left"></span>
      </a>
      &nbsp;
      <a href="" class="text-inherit"  ng-click="parent.navigate('right')">
        <span class="fa orders-nav fa-angle-right"></span>
      </a>
    </h2>
    <ol class="breadcrumb">
      <li>
        <strong>
          <a ui-sref="admin-panel.product.list">
            <span translate=".heading">Products</span>
          </a>
        </strong>
      </li>
      <li>
        <span>
          <strong ng-init="showFullName = false">
            <span ng-show="!showFullName && vm.productName.length > 15">
                {{vm.productName.substr(0, 14)}}<a href="javascript:;" ng-click="showFullName = true">...</a>
              </span>
              <span ng-show="!showFullName && vm.productName.length < 15">
                {{vm.productName}}
              </span>
              <span ng-show="showFullName">
                {{vm.productName}}<a href="javascript:;" style="position: relative;z-index:10;" ng-click="showFullName = false">&nbsp;x</a>
              </span>
          </strong>
        </span>
      </li>
    </ol>
  </div>
  <div class="col-lg-9 text-center">
    <div class="product-wizard">
      <div class="product-steps clearfix">
        <ul>
          <li data-step="1" ui-sref-active="current">
            <a ui-sref="admin-panel.product.create.basic_info({productID: parent.productID})">
              <span translate=".basicInformation.heading">Basic Information</span>
            </a>
          </li>
          <li data-step="2" ui-sref-active="current">
            <a ui-sref="admin-panel.product.create.customization_desc({productID: parent.productID})"
               ng-class="parent.next?'disabled': ''"
               ng-disabled="parent.next"
               stop-click-if="parent.next">
              <span translate=".customisationDescription.heading">Customisation Menu</span>
            </a>
          </li>
          <li data-step="3" permission permission-only="'canSee.Products.VisualAssets'" ui-sref-active="current">
            <a ui-sref="admin-panel.product.create.va.va_upload({productID: parent.productID})"
               stop-click-if="parent.next"
               ng-class="parent.next?'disabled': ''"
               ng-disabled="parent.next">
                <span translate=".visualAssets.heading">Visual Assets</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="pull-right mg-tp-30">-->
    <!--<button class="btn-discard btn mg-rt-10 btn-outline">Cancel</button>-->
    <!--<button class="btn btn-primary">Save all</button>-->
    <!--</div>-->
  </div>
</div>
<div translate-namespace="productsCreatePage"  class="wrapper product wrapper-content animated fadeInRight">

  <div class="row mg-bt-20">
    <div class="col-xs-4 col-xs-offset-8">
      <div class="text-right">
        <a ng-click="parent.deleteCacheImages()" ng-show="!parent.next">
          <span translate=".cacheMsg">Delete cached images</span>
          &nbsp;<i class="fa fa-refresh"></i></a>
      </div>
    </div>
  </div>

  <div translate-namespace=".customisationDescription" class="row customization_steps mg-bt-60">
    <div class="col-xs-10">

      <div class="row mg-bt-20">

        <div class="col-xs-5 mg-tp-5">
          <h3 translate=".heading">Customization menu</h3>
        </div>

        <!--<div class="col-xs-3">-->
        <!--<a href="" class="btn btn-default">Add Measurement</a>-->
        <!--</div>-->

        <div class="col-xs-offset-3 mg-tp-15 col-xs-4 no-pd-rt">
          <a ng-disabled="vm.loading" ng-click="vm.createStep()" class="pull-right">
            <span ng-hide="vm.loading" translate=".buttons.add">Edit/add customization steps</span>
            <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
          </a>
        </div>

      </div>

      <div class="row" ng-hide="vm.loading">
        <div class="col-xs-12">
          <form novalidate name="stepsForm">
            <table class="steps-container table"> <!-- Steps table ....-->
              <tbody>
              <tr class="sm-box" id="step{{$index}}" ng-init="stepIndex = $index"
                  ng-repeat="step in vm.steps_info.steps track by $index">
                <!-- Actual step here... -->
                <td ng-include="'app/modules/product/create/customization_description/templates/step.html'"></td>

                <td class="groups-container">
                  <table class="table">
                    <tbody>
                    <tr class="sm-box" ng-init="groupIndex = $index" ng-repeat="group in step.groups track by $index">
                      <!-- This table row is per group ng-repeat groups in group -->
                      <!-- this is actual group -->
                      <td ng-include="'app/modules/product/create/customization_description/templates/group.html'"></td>

                      <td class="materials-container"> <!-- This is materials container -->
                        <table class="table">
                          <tbody>
                          <tr ng-init="materialIndex = $index" ng-repeat="material in group.materials track by $index">
                            <!-- HERE GOES SHAPES AND MATERIALS -->

                            <td
                              ng-include="'app/modules/product/create/customization_description/templates/shapes-and-materials.html'"
                              ng-if="group.type == 'SHAPES' || group.type == 'MATERIALS'"></td>

                            <!-- HERE GOES CUSTOM INPUTS -->

                            <td
                              ng-include="'app/modules/product/create/customization_description/templates/inputs.html'"
                              ng-if="group.type == 'INPUT'"></td>

                            <!-- Here goes Selectable material  -->

                            <td
                              ng-include="'app/modules/product/create/customization_description/templates/selectables.html'"
                              ng-if="group.type == 'SELECTABLE'"></td>

                            <!-- HERE GOES CUSTOM IMAGES -->

                            <td
                              ng-include="'app/modules/product/create/customization_description/templates/custom-images.html'"
                              ng-if="group.type == 'CUSTOM_IMG'"></td>

                            <!-- HERE GOES PERSONALIZE -->

                            <td
                              ng-include="'app/modules/product/create/customization_description/templates/personalize.html'"
                              ng-if="group.type == 'PERSONALIZE'"></td>

                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>


    </div> <!-- end of canvas for steps (col)-->
    <div class="col-xs-2 no-pd-rt">

      <!--conditions-->
      <div class="row mg-bt-20">

        <div class="col-xs-12">
          <h3>
          <span class="visible-lg-inline-block mg-tp-5">
            Conditions
          </span>
            <button ng-disabled="vm.loadingConditions" ng-click="vm.addOrEditCondition()"
                    class="btn btn-sm btn-primary pull-right">
              <span ng-hide="vm.loadingConditions">
                <span translate="words.add">Add</span> +
              </span>
              <span ng-show="vm.loadingConditions">
              <i class="fa fa-cog fa-spin"></i>
            </span>
            </button>
          </h3>
        </div>

      </div>
      <div class="col-xs-12 conditions">
        <div ng-show="vm.loadingConditions">
          <div class="loader text-center">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <uib-accordion ng-hide="vm.loadingConditions">
          <uib-accordion-group ng-repeat="condition in vm.conditions">
            <uib-accordion-heading>
              <i class="fa fa-caret-right text-black"></i>
              <i class="fa fa-caret-down text-black"></i>
              <span translate="words.condition">Condition</span> {{$index+1}}
            </uib-accordion-heading>
            <div class="pull-right">

              <a href="" ng-click="vm.addOrEditCondition(condition)">
                <small translate="buttons.edit">Edit</small>
              </a>
              <a href="" ng-click="vm.duplicateCondition(condition)">
                <small translate="buttons.copy">Copy</small>
              </a>
              <a href="" ng-click="vm.deleteConditionConfirm(condition)">
                <small translate="buttons.delete">Delete</small>
              </a>
            </div>
            <div class="clear clearfix"></div>
            <div class="row">
              <div class="col-xs-2 no-pd-rt" translate="words.if">
                If
              </div>
              <div class="col-xs-10 mg-tp-10 no-pd-lt">
                <p class="no-margins" style="color: green" ng-repeat="if in condition._if.elements track by $index">
                  {{if.title}}
                  <span ng-if="condition._if.elements.length > 0 && (condition._if.elements.length-1) !== $index"
                        style="color: red">{{condition._if.elements_condition}}</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 no-pd-lt col-xs-offset-2">
                <span>{{condition._if.elements.length > 1 ? 'are' : 'is' }}</span>
                <span style="color: red">{{vm.conditionRef[condition._if.property]}}</span>
              </div>
            </div>
          <div class="row">
            <div class="col-xs-2" translate="words.then">then</div>
            <div class="col-xs-10 mg-tp-10">
              <p class="no-margins" style="color: green" style="color: red" ng-repeat="then in condition._then.elements">{{then.title}}</p>
            </div>
            <div class="row">
              <div class="col-xs-12 col-xs-offset-2">
                <span>{{condition._then.elements.length > 1 ? 'are' : 'is' }}</span>
                <span style="color:red">{{vm.conditionRef[condition._then.property]}}</span>
              </div>
            </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>

      <!--/conditions-->
    </div>
  </div> <!-- end of main row -->

  <div class="product-creation-actions wizard-actions">
    <button type="submit" ui-sref="admin-panel.product.create.va.va_upload({ productID: vm.productID })"
            class="btn btn-w-m btn-primary pull-right">
      <span translate="buttons.next">Next</span>
    </button>
    <button type="submit" ui-sref="admin-panel.product.create.basic_info({ productID: vm.productID })"
            class="btn btn-w-m btn-white mg-rt-10 pull-right">
      <span translate="buttons.back">Back</span>
    </button>
  </div>
