<div>
  <ng-form name="materialForm">
  <div class="modal-body">

    <div class="tabs-container">
      <ul class="nav nav-tabs">
        <!--<li ng-class="modal.activeTab === 'library'? 'active': ''" ><a ng-click="modal.setTabActive('library')" data-toggle="tab" href="javscript:;" aria-expanded="true">From Material Library</a></li>-->
        <li ng-class="modal.activeTab === 'custom'? 'active': ''">
          <a ng-click="modal.setTabActive('custom')" data-toggle="tab" href="javascript:;" aria-expanded="false">
            <span translate="words.custom">Custom</span>
          </a>
        </li>
      </ul>
      <!--<div class="tab-content">-->
        <!--<div id="material-library" ng-class="modal.activeTab === 'library'? 'active': ''" class="tab-pane">-->
          <!--<div class="panel-body">-->
            <!--<h2>Material Library</h2>-->
          <!--</div>-->
        <!--</div>-->
        <div id="custom-material" ng-class="modal.activeTab === 'custom'? 'active': ''" class="tab-pane custom-material">
          <div class="panel-body">

            <div class="row">
              <div class="col-xs-3">

                <div class="form-group">
                  <label for="material-type" translate="words.type">Type</label>
                  <select id="material-type" ng-model="modal.material.type" class="form-control">
                    <option value="CLR" translate="words.color">Color</option>
                    <option value="TXT" translate="words.text">Text</option>
                    <option value="IMG" translate="words.thumbnail">Thumbnail</option>
                  </select>
                </div>

                <div class="form-group" ng-class="{'has-error': materialForm.nameEN.$invalid && !materialForm.nameEN.$pristine}">
                  <label for="nameEN"><span translate="words.name">Name</span> EN</label>
                  <input id="nameEN" type="text" name="nameEN" ng-model="modal.material.nameEN" placeholder="Name EN" class="form-control" required>
                </div>

                <div class="form-group" ng-class="{'has-error': materialForm.nameCH.$invalid && !materialForm.nameCH.$pristine}">
                  <label for="nameCH"><span translate="words.name">Name</span> CH</label>
                  <input id="nameCH" type="text" name="nameCH" ng-model="modal.material.nameCH" placeholder="Name CH" class="form-control" required>
                </div>

                <div class="form-group" ng-class="{'has-error': materialForm.tech.$invalid && !materialForm.tech.$pristine}">
                  <label for="tech" translate="words.techNumber">Tech Number</label>
                  <input id="tech" name="tech" type="text" ng-model="modal.material.tech" placeholder="0" class="form-control" required>
                </div>

                <div class="form-group" ng-class="{'has-error': materialForm.price.$invalid && !materialForm.price.$pristine}">
                  <label for="price" translate="words.price">Price</label>
                  <input id="price" type="number" min="0" name="price" ng-model="modal.material.price" class="form-control" required>
                </div>

                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_small" icheck ng-model="modal.material.visible">
                    <span translate="productsCreatePage.customisationDescription.buttons.visible">Visible</span>
                  </label>
                  <label>
                    <input type="checkbox" class="icheckbox_small" icheck ng-model="modal.material.enable">
                    <span translate="productsCreatePage.customisationDescription.buttons.enable">Enabled</span>
                  </label>
                </div>

                <!--<div class="form-group">-->
                  <!--<label for="">Stock</label>-->
                  <!--<input type="text" ng-model="modal.material.stock" class="form-control">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                  <!--<label for="">Status</label>-->
                  <!--<select ng-model="modal.material.status" class="form-control">-->
                    <!--<option value="ACTIVE">Active</option>-->
                    <!--<option value="INACTIVE">In active</option>-->
                  <!--</select>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                  <!--<div class="row">-->
                    <!--<div class="col-xs-6">-->
                      <!--<label>-->
                        <!--<input checkbox ng-model="modal.material.hasOverlay" type="checkbox">-->
                        <!--Color Overlay-->
                      <!--</label>-->
                      <!--<input type="color" ng-disabled="!modal.material.hasOverlay" ng-model="modal.color" class="form-control">-->
                    <!--</div>-->
                    <!--<div class="col-xs-6">-->
                      <!--<div class="form-group">-->
                        <!--<label>Opacity</label>-->
                        <!--<div class="input-group">-->
                          <!--<input  type="number" ng-model="modal.material.opacity" class="form-control">-->
                          <!--<span class="input-group-addon">%</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

              </div>
              <div class="col-xs-3">
                <div class="form-group" ng-class="{'has-error': materialForm.descriptionEN.$invalid && !materialForm.descriptionEN.$pristine}">
                  <label><span translate="words.description">Description</span> EN</label>
                  <textarea name="descriptionEN" placeholder="Description EN" ng-model="modal.material.descEN" class="form-control" rows="9" required></textarea>
                </div>
                <div class="form-group" ng-class="{'has-error': materialForm.descriptionCH.$invalid && !materialForm.descriptionCH.$pristine}">
                  <label><span translate="words.description">Description</span> CH</label>
                  <textarea name="descriptionCH" placeholder="Description CH" ng-model="modal.material.descCH" class="form-control" rows="9" required></textarea>
                </div>
              </div>
              <div class="col-xs-6">

                <div class="row mg-bt-20">
                  <div class="col-xs-12" ng-if="modal.material.type == 'TXT'">
                    <label translate="words.text">Text</label>
                    <div class="button-preview">
                      <span class="text" >{{modal.material.nameEN}}</span>
                    </div>
                  </div>

                  <div class="col-xs-12"  ng-if="modal.material.type == 'CLR'" >
                    <label class="m-l-xxl">Hex</label>
                    <div>
                      <div class="button-preview color" ng-style="{'background' : modal.material.colorHex}"></div>
                      <div class="col-md-8 color-preview">
                        <input type="text" ng-model="modal.material.colorHex" placeholder="#ffffff" class="form-control" required/>
                      </div>
                    </div>
                    <div class="colorpicker">
                      <spectrum-colorpicker format="'hex'" ng-model="modal.material.colorHex" options="modal.colorPicker.options">
                      </spectrum-colorpicker>
                    </div>
                  </div>

                  <div class="col-xs-12" ng-if="modal.material.type == 'IMG'">
                    <label translate="words.thumbnail">Thumbnail</label>


                    <file-uploader type="simple" main-class="media-upload-panel">

                      <file-pane type="simple">

                        <div ng-show="!modal.material.imgSrc">
                          <file-drop-zone
                            drop-head="{{'uploader.dragMsg'|translate}}"
                            size-message="{{'uploader.recSizeMsg'|translate: '{width:200,height:200}'}}"
                            drop-message="{{'uploader.recFormats'|translate}} JPEG"
                            upload-image="modal.uploadImage"
                            loading="modal.uploading"
                            upload-progress="modal.uploadProgress"
                            loading-message="{{'uploader.uploadingMsg'|translate}}"></file-drop-zone>
                        </div>

                        <div ng-show="modal.material.imgSrc">
                          <file-preview
                            image-array="modal.imgArr"
                            remove-image="modal.removeImage"
                          >

                          </file-preview>
                        </div>

                      </file-pane>

                      <div class="media-actions">
                        <div class="action-btns pull-right mg-bt-30">
                          <button class="btn btn-discard btn-outline"
                                  ng-model="file" name="file" ngf-pattern="'image/*'"
                                  ngf-accept="'image/*'" ngf-max-size="2MB"
                                  multiple="false"
                                  ngf-select="modal.uploadImage($file)"
                                  ng-disabled="modal.uploading">Upload</button>
                        </div>
                      </div>
                  </div>
                  </file-uploader>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer ng-scope">
    <button class="btn btn-discard btn-outline" type="button" ng-click="modal.close()">
      <span translate="buttons.cancel">Cancel</span>
    </button>
    <button class="btn btn-primary" type="button" ng-disabled="materialForm.$invalid" ng-click="modal.submit()">
      &nbsp;&nbsp;<span translate="buttons.save">Save</span>&nbsp;&nbsp;
    </button>
  </div>
  </ng-form>
</div>
