<div class="list-box" ng-class="listBox ? 'selected': ''">
  <div class="border">
    <div>
      <input icheck type="checkbox" ng-disabled="items.length < 1" ng-change="listOptions.toggleCheckbox(listBox)" ng-model="listBox">
    </div>
    <div ng-show="listBox" class="text">
      <small>{{selectedItemsCount}} {{ selectedItemsCount === 1 ? name : name.substr(name.length-1) == 'y'? name.substr(0,name.length-1) + 'ies' : name + 's'}} selected</small>
    </div>
    <div class="btn-group action-btn" ng-show="listBox" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-xs btn-outline"
              uib-dropdown-toggle>
        Bulk actions
        <span class="fa fa-sort-down"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li ng-repeat="item in actions" role="menuitem">
          <a href="javascript:;" ng-click="item.action()">{{item.title}}</a>
          <div class="divider" ng-if="item.divider"></div>
        </li>
      </ul>
    </div>
  </div>

</div>
