<div translate-namespace="galleriesListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12 no-padding">
    <div class="col-sm-10">
      <h2 translate="words.galleries">Galleries</h2>

      <ol class="breadcrumb mg-tp-5">
        <li>
          <a ui-sref="admin-panel.personalize.list({for: 'galleries'})" translate="words.brandList">Brand List</a>
        </li>
        <li class="active">
          <strong>
            <span ng-show="vm.brand"><span translate="table.head.brand">Brand</span> {{vm.brandID}} </span>
            <span ng-show="vm.public">MIID Public </span>
            <span translate="words.galleries">Galleries</span>
          </strong>
        </li>
      </ol>
    </div>
    <div class="col-sm-2 mg-tp-30">
      <button class="btn btn-primary" ng-click="vm.createGallery()">
        <small>
          <span translate=".button">Create New Gallery</span>
          <i class="fa mg-lt-5 fa-plus"></i>
        </small>
      </button>
    </div>
  </div>
</div>

<div translate-namespace="galleriesListPage" class="row coupons-list users-widget">
  <div class="col-lg-12 mg-bt-30">
    <div class="ibox">
      <div class="ibox-title">
        <h5 translate=".heading">
          Galleries List
        </h5>
        <span ng-show="vm.brand" class="pull-right">
          <small translate=".msg">You are seeing galleries from </small> <strong>{{vm.brandID}}</strong>
        </span>
      </div>
      <div class="ibox-content orders-widget">
        <div class="row mg-bt-20 mg-tp-10">
          <div class="col-sm-4">
            <div class="input-group date">
              <input type="datetime" class="form-control custom-input" date-time min-view="date" format="DD/MM/YYYY" ng-model="vm.filters.from" view="date" auto-close="true" date-change="dateChanged">
              <span class="input-group-addon date-addon" translate="words.to">to</span>
              <input type="datetime" class="form-control" date-time ng-model="vm.filters.to" min-view="date" format="DD/MM/YYYY" view="date" auto-close="true" date-change="dateChanged">
            </div>
          </div>

          <div class="col-sm-2">
            <select name="status" id="status" ng-change="vm.loadList()" ng-model="vm.filters.status" class="form-control custom-input">
              <option value="0" selected translate="constants.status.status">Status</option>
              <option value="ENABLE" translate="constants.status.available">Available</option>
              <option value="DISABLE" translate="constants.status.offline">Offline</option>
            </select>
          </div>

          <div class="col-sm-4 col-sm-offset-2">
            <div class="input-group">
              <input type="text" id="ordersFilter" enter-keypress="vm.loadList()" ng-model="vm.filters.search" placeholder="{{'filters.search.placeholder'| translate}}" class="input-medium custom-input form-control">
              <div class="input-group-btn">
                <button type="button" ng-click="vm.loadList()" translate="filters.search.button.go" class="btn btn-md btn-custom-primary">Go!</button>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="vm.loading">
          <div class="text-center loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <table ng-hide="vm.loading" class="table orders-table list-box-container table-bordered table-hover">
          <thead>
          <tr>
            <th>
              <div list-selector actions="vm.bulkActions" list-options="vm.listSelectorOptions" name="gallery" items="vm.galleries"></div>
            </th>
            <th class="adjust-column" translate="words.thumbnail">Thumbnail</th>
            <th class="adjust-column" translate="words.name">Name</th>
            <th class="adjust-column">
              <span translate="words.artworks">Artworks</span> #
            </th>
            <th class="adjust-column" translate="words.tags">Tags</th>
            <th class="adjust-column" translate="table.head.date">Date</th>
            <th class="adjust-column" translate="constants.status.status">Status</th>
            <th class="adjust-column"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a translate=".all" ui-sref="admin-panel.personalize.artworks.list({public: !vm.brand,brand: vm.brand, id: vm.brandID})">All Artworks</a>
            </td>
            <td>{{vm.artworksCount}}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="auto-height" ng-class="{'selected': item.checked}" ng-repeat="item in vm.galleries">
            <td>
              <input icheck type="checkbox" ng-change="vm.listSelectorOptions.markCheckBox(item.checked)"
                     ng-model="item.checked">
            </td>
            <td width="130px" style="width: 130px;" class="text-center no-height-fix attach-images">
              <div ng-repeat="image in item.images track by $index">
                <a href="" ui-sref="admin-panel.personalize.artworks.list({'gallery': item._id, 'name': item.en.name, brand: vm.brand, id: vm.brandID, public: vm.public, total: (vm.public ? item['artworks_count']: null)})">
                  <img class="list-logo-height" ng-src="{{image}}" width="40" height="40" alt="img">
                </a>
              </div>
            </td>
            <td>
              <span ng-if="!item.editing">
                <a class="pers-edit" ng-click="item.editing = true; item.newName = item.en.name">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                <a href="" ui-sref="admin-panel.personalize.artworks.list({gallery: item._id, name: item.en.name, brand: vm.brand, id: vm.brandID, public: vm.public, total: (vm.public ? item['artworks_count']: null)})">{{item.en.name}}</a>
              </span>
              <div class="row" ng-if="item.editing">
                <div class="col-xs-12">
                  <input type="text" ng-model="item.newName" class="form-control">
                </div>
                <div class="col-xs-12 mg-tp-5">
                  <div class="pull-right">
                    <button class="btn btn-primary" ng-click="vm.editGalleryName(item)" ng-disabled="item.newName == item.en.name">Save</button>
                    <button class="btn btn-discard btn-outline" ng-click="item.editing = false;">Cancel</button>
                  </div>
                </div>
              </div>
            </td>
            <td>
              {{item.artworks_count}}
            </td>
            <td width="200px" style="width:200px;">
              <a class="pers-edit" ng-click="vm.addTags(item, 'single')">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <span ng-if="item.en.tags && item.en.tags.length > 0">
                <span ng-repeat="tag in item.en.tags">
                  {{tag}} <i ng-hide="$last">,</i>
                </span>
              </span>
              <span ng-if="!item.en.tags || item.en.tags.length < 1" translate="errors.noTags">No Tags</span>
            </td>
            <td>{{item.created_at | date: 'M / d / yyyy'}}</td>
            <td>
              <div class="btn-group action-btn" uib-dropdown>
                <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                  <span ng-if="item.status.toLowerCase() == 'enable'"
                        translate="constants.status.available"
                        class="label status-fix title-case label-white label-production">
                    Available
                  </span>
                  <span ng-if="item.status.toLowerCase() == 'disable'"
                        translate="constants.status.offline"
                        class="label status-fix title-case label-white label-error">
                    Offline
                  </span>
                </button>
                <ul class="pd-10" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem">
                    <a href="javascript:;" ng-click="vm.changeStatus(item, 'ENABLE')" translate="constants.status.available">
                      Available
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="javascript:;" ng-click="vm.changeStatus(item, 'DISABLE')" translate="constants.status.offline">Offline</a>
                  </li>
                </ul>
              </div>
            </td>
            <td class="no-height-fix" style="width:100px">
              <button class="btn mg-tp-20 btn-outline" ng-click="vm.confirmDelete('single', item)">
                <i class="fa fa-trash-o fa-2x"></i>
              </button>
              <div class="mg-tp-30 pull-right">
                <span ng-show="item.processing" class="fa mg-rt-10 fa-cog fa-spin"></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row" ng-hide="">
          <div class="col-sm-4">
            <div class="pagination-info" ng-hide="vm.loading || vm.galleries.length < 1">Showing {{vm.previousPage*vm.itemsLimit + 1}} to
              {{(vm.previousPage*vm.itemsLimit) + vm.itemsGot}} of {{vm.totalItems}}
            </div>
          </div>
          <div class="col-sm-8">
            <uib-pagination ng-disabled="vm.loading" ng-if="vm.totalItems > 10" total-items="vm.totalItems"
                            items-per-page="vm.itemsLimit" ng-model="vm.currentPage" ng-change="vm.changePage()"
                            max-size="vm.itemsLimit" class="pull-right pagination-sm" boundary-link-numbers="true"
                            rotate="false"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
