<div translate-namespace="ordersExport.template" class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate=".heading">Order Template Creation</h5>
    <span ng-click="template.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="trackingOrdersForm">
    <div class="ibox-content orders-modal">

      <h4 translate=".name">Template name</h4>
      <div class="row mg-lt-5">
        <div class="col-xs-5">
          <div class="form-group">
            <input type="text" ng-model="template.name" class="form-control" placeholder="{{'ordersExport.template.placeholder'| translate}}">
          </div>
        </div>
      </div>

      <h4 translate=".label">Select the fields to add to this template</h4>


      <div class="row mg-lt-5">
        <div class="col-xs-3">
          <div class="form-group"  ng-repeat="(key, value) in template.column1">
            <label ng-style="{opacity: value.checked||0.7}" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="{{value['tip'][template.lang]}}" ng-class="{'font-noraml': !value.checked}">
              <input type="checkbox" class="icheckbox_small"
                     name="{{key}}"
                     icheck ng-model="template.column1[key].checked">
              {{template.column1[key]['title'][template.lang]}}
            </label>
          </div>
        </div>
        <div class="col-xs-3 no-pd-rt">
          <div class="form-group" ng-repeat="(key, value) in template.column2">
            <label ng-style="{opacity: value.checked||0.7}" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="{{value['tip'][template.lang]}}" ng-class="{'font-noraml': !value.checked}">
              <input type="checkbox" class="icheckbox_small"
                     name="{{key}}"
                     icheck ng-model="template.column2[key].checked">
              {{template.column2[key]['title'][template.lang]}}
            </label>
          </div>
        </div>
        <div class="col-xs-3 no-pd-rt">
          <div class="form-group" ng-repeat="(key, value) in template.column3">
            <label ng-style="{opacity: value.checked||0.7}" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="{{value['tip'][template.lang]}}" ng-class="{'font-noraml': !value.checked}">
              <input type="checkbox" class="icheckbox_small"
                     name="{{key}}"
                     icheck ng-model="template.column3[key].checked">
              {{template.column3[key]['title'][template.lang]}}
            </label>
          </div>
        </div>
        <div class="col-xs-3 no-pd-rt">
          <div class="form-group" ng-repeat="(key, value) in template.column4">
            <label ng-style="{opacity: value.checked||0.7}" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="{{value['tip'][template.lang]}}" ng-class="{'font-noraml': !value.checked}">
              <input type="checkbox" class="icheckbox_small"
                     name="{{key}}"
                     icheck ng-model="template.column4[key].checked">
              {{template.column4[key]['title'][template.lang]}}
            </label>
          </div>
        </div>
      </div>

    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-disabled="template.processing" ng-click="template.close()" translate="buttons.cancel">Cancel</button>
      <button ng-disabled="template.processing || !template.name" class="btn btn-primary" type="button" ng-click="template.submit()">
        <span ng-hide="template.processing" translate=".button">&nbsp;&nbsp;Save Template&nbsp;&nbsp;</span>
        <i ng-show="template.processing" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </form>
</div>

