<!-- Bread Crumb -->
<form name="brandDetails" translate-namespace="settingsAccountPage"><!--need state form here so that are inputs remain under form to validate easily-->
  <div class="row brand-details mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-7 col-lg-7">
          <h2 translate="settingsAccountPage.heading">Brands</h2>
          <ol class="breadcrumb mg-tp-5">
            <li translate="settingsLanguagePage.heading">
              Settings
            </li>
            <li class="active">
              <strong translate="settingsAccountPage.breadcrumbs">Account</strong>
            </li>
          </ol>
        </div>
        <div class="col-sm-5 col-lg-5 m-t-lg align-right">
          <button class="btn btn-discard btn-outline m-r-xs" ui-sref="admin-panel.cust_mgmt.orders.list" translate="buttons.cancel">Cancel</button>
          <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="brandDetails.$invalid || vm.enableButton()">
            <span ng-show="vm.loadingBrand" class="fa fa-cog fa-spin"></span>
            <span ng-hide="vm.loadingBrand" translate="buttons.save">Save</span>
          </button>
        </div>
      </div>

    </div>

  </div>

  <div class="row brand-details">
    <div class="col-xs-12 mg-bt-30">

      <!-- Account setting start-->

      <div translate-namespace=".accountSettings" class="row">
        <div class="col-sm-3">
          <h4 translate=".head">Account Settings</h4>
          <p translate=".label">Setup the brands basic settings</p>
        </div>
        <div class="col-sm-6 no-padding">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate=".head">Account Settings</h5>
            </div>
            <div class="ibox-content">
              <!-- Account settings form start -->
              <div class="row mg-tp-20 mg-bt-10">
                <div class="form-group col-lg-5" ng-class="{'has-error': brandDetails.miidID.$invalid && brandDetails.miidID.$touched}">
                  <label for="miidID">MIID ID *</label>
                  <input id="miidID"
                         name="miidID"
                         type="text"
                         ng-model="vm.newBrand.basic.brand_id"
                         ng-disabled="vm.loadingBrand"
                         placeholder="ABC12345"
                         required
                         class="form-control">
                </div>
                <div class="form-group col-lg-5" ng-class="{'has-error': brandDetails.brandNameEN.$invalid && brandDetails.brandNameEN.$touched}">
                  <label for="brandNameEN"><span translate=".brand">Brand Name</span> (EN) *</label>
                  <input
                    id="brandNameEN"
                    type="text"
                    ng-model="vm.newBrand.basic.name"
                    ng-disabled="vm.loadingBrand"
                    placeholder="Opalis"
                    required
                    class="form-control"
                    name="brandNameEN">
                </div>
              </div>
              <div class="row mg-bt-10">
                <div class="form-group col-lg-10">
                  <label for="brandURL"><span translate=".url">Brand URL</span> *</label>
                  <div class="input-group"  ng-class="{'has-error': brandDetails.brandURL.$invalid && brandDetails.brandURL.$touched}">
              <span class="input-group-btn">
                <button class="btn btn-outline btn-default">http://miid.com/brands/</button>
              </span>
                    <input
                      id="brandURL"
                      type="text" ng-change="vm.slugify()"
                      ng-model="vm.newBrand.basic.slug"
                      ng-disabled="vm.loadingBrand"
                      placeholder="opalis"
                      class="form-control"
                      required
                      name="brandURL">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="brandSuperAdmin" translate=".email">Brand Super Admin Email</label>
                  <input id="brandSuperAdmin" disabled value="{{vm.brandRegisteredEmail}}" type="text" readonly placeholder="superuser@opalis.com" class="form-control"
                         name="email">
                </div>
                <div class="form-group col-lg-6">
                  <label for="brandAdminPassword" translate=".pass">Brand Super Admin Password</label>
                  <input id="brandAdminPassword" disabled readonly type="password" placeholder="* * * * * * * *" class="form-control"
                         name="password">
                </div>
              </div>
              <div class="row mg-bt-10">
                <div class="col-md-offset-9 col-lg-3 m-t-md">
                  <div class="form-group">
                    <div class="pull-right">
                      <button type="button" ui-sref="admin-panel.support" translate="buttons.reset" class="btn-link">Reset</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div translate-namespace=".quickAccess" class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate=".label">Quick Access</h5>
            </div>
            <div class="ibox-content">
              <ul class="list-unstyled quick-access">
                <li>
                  <a translate=".orders" ui-sref="admin-panel.cust_mgmt.orders.list">Brand's orders</a>
                </li>
                <li>
                  <a translate=".products" ui-sref="admin-panel.product.list">Brand's products</a>
                </li>
                <li>
                  <a translate=".collections" ui-sref="admin-panel.cms.collections.list">Brand's collections</a>
                </li>
                <li>
                  <a translate=".promotion" ui-sref="admin-panel.marketing.coupons.list">Brand's promotions</a>
                </li>
                <li>
                  <a translate=".settings" ui-sref="admin-panel.settings.brand.shipments">Brand's settings / Shipments</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>



      <!-- Account setting end-->

      <!-- Brand logo version start-->

      <div translate-namespace=".logo" class="row">
        <div class="col-sm-3">
          <h4 translate=".head">Brand Logo</h4>
          <p translate=".label">Upload and manage the brands logo versions</p>
        </div>
        <div class="col-sm-6 no-padding">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate="brandsDetailsPage.logo">Brand Logo Versions</h5>
            </div>
            <div class="ibox-content no-padding">
              <file-uploader type="library" selected-pane="vm.selected">

                <file-pane title="{{'settingsAccountPage.logo.version1'|translate}}">
                  <div ng-hide="vm.logo">
                    <file-drop-zone
                      size-message="{{'uploader.recSizeMsg'|translate: '{height:400, width:400}'}}"
                      drop-head="{{'uploader.dragMsg'|translate}}"
                      drop-message="{{'settingsAccountPage.logo.version1'|translate}} {{'uploader.recFormats'|translate}} PNG, JPEG"
                      loading="vm.uploader.uploading"
                      upload-image="vm.uploadLogo"
                      upload-progress="vm.uploader.progress"
                      loading-message="{{'uploader.uploadingMsg'|translate}}"></file-drop-zone>
                  </div>
                  <div ng-show="vm.logo">
                    <file-preview
                      image-array="vm.imageArray[0]"
                      remove-image="vm.removeImage"
                    ></file-preview>
                  </div>
                </file-pane>

                <!--&lt;!&ndash;TODO: when we are doing different logo versions&ndash;&gt;-->
                <!--<file-pane title="Logo Version 2" >-->
                <!--<file-drop-zone-->
                <!--size-message="Recommended Size 400px by 400px"-->
                <!--drop-head="Drop image files here"-->
                <!--drop-message="Version 2 Recommended format: PNG, JPEG"></file-drop-zone>-->
                <!--</file-pane>-->

                <!--<file-pane title="Logo Version 3" >-->
                <!--<file-drop-zone-->
                <!--size-message="Recommended Size 400px by 400px"-->
                <!--drop-head="Drop image files here"-->
                <!--drop-message="Version 3 Recommended format: PNG, JPEG"></file-drop-zone>-->
                <!--</file-pane>-->

                <!--<file-pane title="Logo Version 4" >-->
                <!--<file-drop-zone-->
                <!--size-message="Recommended Size 400px by 400px"-->
                <!--drop-head="Drop image files here"-->
                <!--drop-message="Version 4 Recommended format: PNG, JPEG"></file-drop-zone>-->
                <!--</file-pane>-->


                <div class="media-actions">
                  <div class="action-btns">
                    <button class="btn btn-primary"
                            ng-model="file" name="file" ngf-pattern="'image/*'"
                            ngf-accept="'image/*'" ngf-max-size="10MB"
                            ngf-select="vm.uploadLogo($file)"
                            ng-disabled="vm.uploader.uploading || vm.loadingBrand">
                      <span translate="buttons.upload">Upload</span>
                    </button>
                  </div>
                </div>
              </file-uploader>
            </div>

          </div>
        </div>
      </div>


      <!-- Brand logo version end-->
      <!-- Customer service start-->

      <div class="row">
        <div class="col-sm-3">
          <h4 translate="brandsDetailsPage.service">Customer Service</h4>
          <p translate=".service.label">Setup the brands customer services information</p>
        </div>
        <div class="col-sm-6 no-padding">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate="brandsDetailsPage.service">Customer Service</h5>
            </div>
            <div class="ibox-content">
              <!-- Customer service form start -->
              <!--<div class="row">-->
                <!--<div class="form-group col-sm-10">-->
                  <!--<label for="brandCustomerPerson">Customer Service Person Name</label>-->
                  <!--<input-->
                    <!--id="brandCustomerPerson"-->
                    <!--name="brandCustomerPerson"-->
                    <!--ng-model="vm.newBrand.contact.person"-->
                    <!--placeholder="Name"-->
                    <!--type="text"-->
                    <!--ng-disabled="vm.loadingBrand"-->
                    <!--class="form-control">-->
                <!--</div>-->
              <!--</div>-->
              <div class="row">
                <div class="form-group col-sm-5">
                  <label for="brandCustomerPhone" translate="brandsDetailsPage.phone">Customer Service Phone</label>
                  <input id="brandCustomerPhone" ng-model="vm.newBrand.contact.phone" placeholder="123456800" type="text"
                         ng-disabled="vm.loadingBrand" class="form-control" name="csPhone">
                </div>
                <div class="form-group col-sm-5" ng-class="{'has-error': brandDetails.brandCustomerEmail.$invalid && brandDetails.brandCustomerEmail.$touched}">
                  <label for="brandCustomerEmail" translate="brandsDetailsPage.email">Customer Service Email</label>
                  <input
                    id="brandCustomerEmail"
                    ng-model="vm.newBrand.contact.email"
                    placeholder="useremail@miid.com"
                    type="email"
                    ng-disabled="vm.loadingBrand"
                    class="form-control"
                    name="brandCustomerEmail">
                </div>
                <div class="form-group col-sm-5">
                  <label for="brandCustomerQQ1" translate="brandsDetailsPage.qq">Customer Service QQ</label>
                  <input id="brandCustomerQQ1" ng-model="vm.newBrand.contact.qq" placeholder="123458745" type="text"
                         ng-disabled="vm.loadingBrand" ng-change="vm.enableButton()" class="form-control" name="qq1">
                </div>
                <div class="form-group col-sm-5">
                  <label for="brandCustomerWechat" translate="brandsDetailsPage.wechat">Customer Service Wechat</label>
                  <input id="brandCustomerWechat" ng-model="vm.newBrand.contact.wechat" type="text"
                         placeholder="peterparker" ng-disabled="vm.loadingBrand" class="form-control" name="wechat">
                </div>
                <div class="form-group col-sm-5">
                  <label for="brandCustomerQRCode" translate=".service.qr">Wechat QR Code</label>
                  <div>
                    <button class="btn btn-primary"
                            ng-model="file" name="file" ngf-pattern="'image/*'"
                            ngf-accept="'image/*'" ngf-max-size="10MB"
                            ngf-select="vm.uploadQRCode($file)"
                            ng-disabled="vm.QRCode.uploading || vm.loadingBrand">
                      <span ng-hide="vm.QRCode.uploading" translate="buttons.upload">Upload</span>
                      <span ng-show="vm.QRCode.uploading">{{vm.QRCode.progress}}%</span>
                    </button>
                  </div>
                </div>
                <div class="col-sm-5">
                  <img height="60px" width="60px" ng-src="{{vm.QRCode.fileSrc || vm.QRCode.logo || '/img/icons/img-placeholder.png'}}" alt="">
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <!-- Customer service form end -->

      <!-- Notifications service start-->

      <div translate-namespace=".notifications" class="row">
        <div class="col-sm-3">
          <h4 translate=".head">Notifications</h4>
          <p translate=".label">Setup the system events notifications</p>
        </div>
        <div class="col-sm-6 no-padding">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate=".head">Notifications</h5>
            </div>
            <div class="ibox-content">
              <!-- Customer service form start -->
              <div class="row">
                <div class="form-group col-lg-6">
                  <label ng-class="{'mg-bt-30': vm.newBrand.notifications.email_addresses.length < 1}" translate=".email">Emails Receiving Notifications</label>
                  <div ng-repeat="item in vm.newBrand.notifications.email_addresses track by $index" ng-form="emailForm" ng-class="{'has-error': emailForm.email.$invalid}">
                    <div class="input-group mg-bt-10">
                      <input
                        ng-model="vm.newBrand.notifications.email_addresses[$index]"
                        placeholder="john@miid.com"
                        type="email"
                        name="email"
                        required
                        ng-disabled="vm.loadingBrand"
                        class="form-control">
                      <span class="input-group-addon">
                        <a href="" ng-click="vm.newBrand.notifications.email_addresses.splice($index, 1)">-</a>
                      </span>
                    </div>

                  </div>
                  <div class="text-right">
                    <button class="btn btn-primary" ng-click="vm.newBrand.notifications.email_addresses.push('')">
                      <span translate="buttons.add">Add</span>
                      <span translate=".more" ng-hide="vm.newBrand.notifications.email_addresses.length < 1">more</span>
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-8">
                  <label for="brandNotificationsRadio1" class="font-noraml">
                    <input id="brandNotificationsRadio1" ng-disabled="vm.loadingBrand" ng-value="false" type="radio" icheck ng-model="vm.newBrand.notifications.notify">
                    <span translate=".optionNo">Don't send me notifications</span>
                  </label>
                  <label for="brandNotificationsRadio2" class="font-noraml">
                    <input id="brandNotificationsRadio2" ng-disabled="vm.loadingBrand" ng-value="true" type="radio" icheck ng-model="vm.newBrand.notifications.notify">
                    <span translate=".optionYes">Send me notifications</span>
                  </label>
                  <div class="row">
                    <div class="col-xs-offset-1 col-xs-11">
                      <label class="font-noraml">
                        <input type="checkbox" ng-disabled="!vm.newBrand.notifications.notify" icheck class="icheckbox_small" ng-model="vm.newBrand.notifications.notify_on.NEW_PAID_ORDER">
                        &nbsp;<span translate=".order">When I get new paid order</span>
                      </label>

                      <label class="font-noraml">
                        <input type="checkbox" ng-disabled="!vm.newBrand.notifications.notify" icheck class="icheckbox_small" ng-model="vm.newBrand.notifications.notify_on.BRAND_STATUS_CHANGE">
                        &nbsp;<span translate=".brand">When my brand change status</span>
                      </label>

                      <label class="font-noraml">
                        <input type="checkbox" ng-disabled="!vm.newBrand.notifications.notify" icheck class="icheckbox_small" ng-model="vm.newBrand.notifications.notify_on.PRODUCT_STATUS_CHANGE">
                        &nbsp;<span translate=".product">When one product change status</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <!-- Notification service form end -->


      <!-- Contact information start-->

      <div translate-namespace=".contact" class="row">
        <div class="col-sm-3">
          <h4 translate=".head">Contact Information</h4>
          <p translate=".label">The contact information that the MIID administrator can use to contact your brand</p>
        </div>
        <div class="col-sm-6 no-padding">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5 translate=".head">Contact Information</h5>
            </div>
            <div class="ibox-content">
              <!-- Customer service form start -->
              <div class="row">
                <div class="form-group col-xs-offset-1 col-xs-10">
                  <div class="row mg-bt-10">
                    <div class="col-xs-4 mg-tp-5 text-right">
                      <label for="brandInformationName" translate=".name">Company name</label>
                    </div>
                    <div class="col-xs-8">
                      <input id="brandInformationName" ng-disabled="vm.loadingBrand" type="text" ng-model="vm.newBrand.officeContact.name" class="form-control" placeholder="email@brands.com">
                    </div>
                  </div>

                  <div class="row mg-bt-10">
                    <div class="col-xs-4 mg-tp-5 text-right">
                      <label for="brandInformationPerson" translate=".person">Contact Person</label>
                    </div>
                    <div class="col-xs-8">
                      <input id="brandInformationPerson" ng-disabled="vm.loadingBrand" type="text" ng-model="vm.newBrand.officeContact.person_name" class="form-control" placeholder="steven">
                    </div>
                  </div>

                  <div class="row mg-bt-10">
                    <div class="col-xs-4 mg-tp-5 text-right">
                      <label for="brandInformationPhone" translate=".phone">Company phone</label>
                    </div>
                    <div class="col-xs-8">
                      <input id="brandInformationPhone" ng-disabled="vm.loadingBrand" type="text" ng-model="vm.newBrand.officeContact.phone" class="form-control" placeholder="9082345668">
                    </div>
                  </div>

                  <div class="row mg-bt-10">
                    <div class="col-xs-4 mg-tp-5 text-right">
                      <label for="brandInformationEmail" translate=".email">Company email</label>
                    </div>
                    <div class="col-xs-8" ng-class="{'has-error': brandDetails.brandInformationEmail.$invalid}">
                      <input id="brandInformationEmail" name="brandInformationEmail" ng-disabled="vm.loadingBrand" type="email" ng-model="vm.newBrand.officeContact.email" class="form-control" placeholder="email@brands.com">
                    </div>
                  </div>

                  <div class="row mg-bt-10">
                    <div class="col-xs-4 mg-tp-5 text-right">
                      <label for="brandInformationOther" translate=".other">Other contact</label>
                    </div>
                    <div class="col-xs-8">
                      <input id="brandInformationOther" ng-disabled="vm.loadingBrand" type="text" ng-model="vm.newBrand.officeContact.other" class="form-control" placeholder="wechat:petergriffin">
                    </div>
                  </div>

                  <div class="row mg-bt-20">
                    <div class="col-xs-4 no-pd-lt mg-tp-5 text-right">
                      <label for="brandInformationAddress" translate=".address">Company address</label>
                    </div>
                    <div class="col-xs-8">
                      <textarea id="brandInformationAddress" ng-disabled="vm.loadingBrand" type="text" ng-model="vm.newBrand.officeContact.address" class="form-control" rows="3" placeholder="Xiamen some road, #234"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- Contact information end-->

    </div>

  </div>

  </div>
</form>
