<div class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12 no-padding">
    <div class="col-sm-10">
      <h2 class="title-case" translate="words.{{vm.for}}">{{vm.for}}</h2>

      <ol class="breadcrumb mg-tp-5">
        <li>
          <a ui-sref="admin-panel.personalize.list" translate="words.brandList">Brand List</a>
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="row coupons-list users-widget">
  <div class="col-lg-12 mg-bt-30">
    <div class="ibox float-e-margins">
      <div class="ibox-content orders-widget">
        <div class="row mg-bt-20 mg-tp-10">

          <div class="col-sm-2  col-sm-offset-6">
            <select name="status" ng-change="vm.loadList()" ng-model="vm.status" id="status" class="form-control custom-input">
              <option value="0" translate="constants.status.status">Status</option>
              <option value="ACTIVE" translate="constants.status.active">Active</option>
              <option value="IN_ACTIVE" translate="constants.status.in_active">Inactive</option>
            </select>
          </div>

          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" enter-keypress="vm.loadList()" ng-model="vm.search" placeholder="{{'filters.search.placeholder'| translate}}" class="input-medium custom-input form-control">
              <div class="input-group-btn">
                <button type="button" ng-click="vm.loadList()" class="btn btn-md btn-primary" translate="filters.search.button.go"> Go!</button>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="vm.loading">
          <div class="text-center loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>

        <div class="row mg-tp-40 mg-bt-60" ng-hide="vm.loading">
          <div ng-repeat="brand in vm.brands track by $index">
            <div class="clearfix" ng-if="$index % 6 == 0"></div>
            <div class="col-sm-2 mg-bt-40">
              <a href="" ui-sref="{{'admin-panel.personalize.' + vm.for + '.list('+(brand.public? '{public:true}': '{brand: brand._id, id: brand.brand_id}')+')'}}">
                <div class="pers-brand-box">
                  <div class="pers-img">
                    <img ng-src="{{brand.public? brand.logo: (brand.logo ? vm.baseURL + brand.logo: '/img/icons/img-placeholder.png')}}" class="img-responsive" alt="{{brand.name}} logo">
                  </div>
                  <h5 class="pers-head" ng-class="{'active': brand.status.toLowerCase()=='active'}">
                    <i title="Brand is {{brand.status.toLowerCase().replace('_','')}}" class="fa fa-circle"></i> {{brand.brand_id}}
                  </h5>
                  <h4 class="pers-name title-case">{{brand.name}}</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
