<div class="row va-tuning">

  <div class="col-lg-12" >

    <div class="col-xs-8"  translate-namespace=".vaTuning">
      <div class="visual-assets-header">
        <h4 class="pull-left" translate=".label">Assets Tuning</h4>
        <h4 class="pull-right">
          <input icheck type="checkbox" ng-model="vm.showColorEnabled">
          <span translate=".msg">Show only materials for color mixing</span>
        </h4>
      </div>

      <div class="loading-overlay col-lg-11" ng-class="{'hidden': !vm.loading}">
        <div class="loading-wheel">
          <i class="fa fa-spin fa-refresh"></i>
        </div>
      </div>
      <div class="comp-container">
        <div class="comp-list">
          <div js-tree="vm.treeConfig" ng-model="vm.treeModel" tree="treeInstance"
               tree-events="select_node:vm.nodeSelected;open_node:nodeOpened;close_node:nodeClosed"></div>
        </div>
      </div>
      <div class="status-panel">
        <div class="status-msg" ng-show="vm.showStatusMsg">
          <span class="mg-rt-10" ng-class="vm.statusIcon"></span>&nbsp;{{vm.statusMsg}}
        </div>
      </div>

      <div class="layer-actions" translate-namespace=".buttons">
        <a class="btn btn-primary pull-right" ng-disabled="!vm.copiedMix"
           ng-click="vm.pasteColorMix()">
          <i class="fa fa-paste"></i>&nbsp;
          <span translate=".paste">Paste Style</span>
        </a>
        <a class="btn btn-white pull-right m-r" ng-disabled="!vm.currentlyEditing"
           ng-click="vm.copyColorMix()">
          <i class="fa fa-copy"></i>&nbsp;
          <span translate=".copy">Copy Style</span>
        </a>
        <a class="btn btn-w-m btn-white pull-left m-r " ng-disabled="!vm.enableCreate"
           ng-click="vm.createDefaultColorMix()">
          <i class="fa fa-plus"></i>
          <span translate=".create">&nbsp; Create Material</span>
        </a>
        <a class="btn btn-w-m btn-white pull-left m-r " ng-disabled="!vm.currentlyEditing"
           ng-click="vm.removeColorMix()">
          <i class="fa fa-times"></i>
          <span translate=".delete">&nbsp; Delete Material</span>
        </a>
        <a class="btn btn-w-m btn-white pull-left m-r " ng-disabled="!vm.currentlyEditing"
           ng-click="vm.duplicateColorMix()">
          <i class="fa fa-copy"></i>&nbsp;
          <span translate=".duplicate">Duplicate Material</span>
        </a>
      </div>
    </div>
    <div class="col-xs-4 product-preview">
      <h4 class="text-center" translate=".vaLayering.preview">Product Preview</h4>
      <div class="preview-container">
        <div class="preview no-preview" ng-class="{hidden: vm.isPreview}" translate="errors.noPreview">
          No preview available
        </div>
        <div class="preview" ng-class="{hidden: !vm.isPreview}">
          <div class="prev-cont">
            <span class="fa fa-chevron-left" ng-click="vm.previous()"></span>
          </div>
          <canvas id="previewCanvas" class="preview-img">
            <img ng-src="{{vm.currentImgSrc}}" />
          </canvas>
          <div class="next-cont">
            <span class="fa fa-chevron-right" ng-click="vm.next()"></span>
          </div>
        </div>
      </div>
      <h4 class="text-center">{{ vm.selectedMaterial }}</h4>

      <div class="col-xs-12">
        <div class="row mg-tp-20">
          <div class="col-xs-6">
            <div class="dropdown pull-right" uib-dropdown="" ng-class="{disabled: !vm.controlsEnabled}">
              <button type="button" class="btn btn-w-m dropdown-toggle btn-dropdown" uib-dropdown-toggle="" href=""
                      aria-haspopup="true" aria-expanded="false" ng-class="{disabled: !vm.controlsEnabled}">
                <span>
                  <span translate="words.{{vm.mixType.toLowerCase().replace('x2','')}}">{{vm.mixType}}</span>
                  &nbsp;<b class="fa fa-caret-down"></b></span>
              </button>
              <ul uib-dropdown-menu="" class="dropdown-menu m-t-xs">
                <li>
                  <a ng-click="vm.selectMixType('overlay')">
                    <span translate="words.overlay">Overlay</span>
                  </a>
                </li>
                <li>
                  <a ng-click="vm.selectMixType('multiply')">
                    <span translate="words.multiply">Multiply</span>
                  </a>
                </li>
                <li>
                  <a ng-click="vm.selectMixType('multiplyx2')">
                    <span translate="words.multiply">Multiply</span>x2
                  </a>
                </li>
                <li>
                  <a ng-click="vm.selectMixType('fill')">
                    <span translate="words.fill">Fill</span>
                  </a>
                </li>
                <li>
                  <a ng-click="vm.selectMixType('none')">
                    <span translate="words.none">None</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6">
            <label for="opacity" translate="words.opacity">Opacity</label>
            <input id="opacity" class="opacity-input" type="number" min="0" max="100" step="1" ng-model="vm.opacity"
              ng-disabled="!vm.controlsEnabled">
          </div>
        </div>
        <div class="colorpicker">
          <div class="disabled-overlay" ng-show="!vm.controlsEnabled"></div>
          <spectrum-colorpicker format="'hex'" ng-model="vm.selectedColor" options="{flat: true, disabled: true}"
                                on-change="vm.colorChanged(color)"></spectrum-colorpicker>
        </div>
        <div class="hexa-input">
          <input type="text" ng-model="vm.selectedColor" ng-disabled="!vm.controlsEnabled"/>
        </div>
      </div>
    </div>
  </div>
</div>
