<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="modals.status.heading">{{modal.title}}</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="changeStatusForm">
    <div class="ibox-content orders-modal">
      <p ng-repeat="status in modal.statuses">
        <label for="{{status.value}}">
          <input name="{{status.value}}" type="radio" ng-value="status.value" icheck ng-model="modal.selectedStatus">
            <span class="label status-fix title-case label-white" ng-class="status.class">
              {{'constants.status.' + status.value.toLowerCase() | translate}}
            </span>
        </label>
      </p>
    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button
          ng-disabled="modal.changingStatus"
          class="btn btn-primary" type="button" ng-click="modal.submit()">
        <span ng-hide="modal.changingStatus" translate="buttons.save">Save</span>
        <i ng-show="modal.changingStatus" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </form>
</div>

