<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5>{{modal.title}}</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
    <div class="ibox-content orders-modal">
      <div>
        <p  ng-if="!status.disabled" ng-repeat="status in modal.statuses">
          <label for="{{status.value}}">
            <input name="{{status.value}}" type="radio" ng-value="status.value" icheck ng-model="modal.selectedStatus">
            <span class="label status-fix title-case label-white" ng-class="'label-'+modal.statusClass[status.value]">
              {{status.name}}
            </span>
          </label>
        </p>
      </div>
    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()">Cancel</button>
      <button class="btn btn-primary" type="button" ng-click="modal.submit()">
        <span ng-hide="modal.changingStatus">Save</span>
        <i ng-show="modal.changingStatus" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
</div>

