<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="navigationCreatePage.section.create">Create New Section</h5>
    <span ng-click="sec.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="section">
    <div class="ibox-content sub-collections orders-modal">

      <div class="mg-tp-20">
        <div class="panel panel-success" ng-show="sec.sectionCreated">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-exclamation-triangle"></i>
              <span translate="words.alert">Alert</span>
            </h3>
          </div>
          <div class="panel-body" translate="navigationCreatePage.section.success">
            Congratulations! You have created a new section
          </div>
        </div>

        <div class="panel panel-danger" ng-show="sub.sectionExist">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-exclamation-triangle"></i>
              <span translate="words.alert">Alert</span>
            </h3>
          </div>
          <div class="panel-body" translate="navigationCreatePage.section.error">
            Ooops! This section name is already taken.
          </div>
        </div>

        <div ng-hide="sec.sectionCreated">
          <p ng-hide="sec.sectionExist" translate="navigationCreatePage.section.validationMsg">Please enter a name for this section</p>
          <p ng-show="sec.sectionExist" translate="navigationCreatePage.section.validationMsg2">You may try another name for this section</p>
          <div ng-class="{'has-error': section.sectionName.$invalid && section.sectionName.$touched}">
            <input type="text" required name="sectionName" ng-model="sec.name" class="form-control">
          </div>
        </div>

        <div ng-show="sec.sectionCreated">

          <p translate="navigationCreatePage.section.name">Name of your new section</p>
          <label>{{sec.name}}</label>
        </div>

      </div>

    </div>
    <div class="ibox-footer text-right">
      <div>
        <button ng-hide="sec.sectionCreated" class="btn btn-primary" type="button" ng-disabled="section.$invalid" ng-click="sec.submit()" >
          <span ng-hide="sec.loading" translate="buttons.save">Save</span>
          <span ng-show="sec.loading" class="fa fa-cog fa-spin"></span>
        </button>

        <button ng-show="sec.sectionCreated" class="btn btn-outline btn-discard" type="button" ng-click="sec.close()"><span translate="buttons.close">Close</span></button>
      </div>
    </div>
  </form>
</div>

