<!-- Bread Crumb -->

<div translate-namespace="collectionsListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <h2 translate=".heading">Collections</h2>

        <ol class="breadcrumb mg-tp-5">
          <li>CMS</li>
          <li class="active">
            <strong translate=".heading">Collections</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-3 text-right mg-tp-30" permission permission-only="'canEdit.CMS.Collections.Listing.CreateCollection'">
        <a class="btn btn-primary" ui-sref="admin-panel.cms.collections.create">
          <small>
            <span translate=".add">Create New Collection</span>
            <i class="fa mg-lt-5 fa-plus"></i>
          </small>
        </a>
      </div>
    </div>

  </div>

</div>

<!-- Collections list -->

<div translate-namespace="collectionsListPage" permission permission-only="'canSee.leftMenu.Home'" class="row animated collections-list fadeInRight">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate=".label">Collections List</h5>
      </div>
      <div class="ibox-content mg-bt-60">

        <div class="tabs-container">
          <ul class="nav nav-tabs" >
            <li  ng-class="{'active': vm.currentTab === 'ALL'}">
              <a href="" ng-disabled="vm.loading" stop-click-if="vm.currentTab === 'ALL'" ng-click="vm.changeTab('ALL')" aria-expanded="true" translate=".all">All Collections</a>
            </li>
            <li permission permission-only="'canSee.CMS.Collections.Listing.MIID'" ng-class="{'active': vm.currentTab === 'MIID_SITES'}">
              <a href="" ng-disabled="vm.loading"  stop-click-if="vm.currentTab === 'MIID_SITES'" ng-click="vm.changeTab('MIID_SITES')" aria-expanded="false">MIID</a>
            </li>
            <li permission permission-only="'canSee.CMS.Collections.Listing.Brands'"  ng-class="{'active': vm.currentTab === 'BRANDS'}">
              <a href="" ng-disabled="vm.loading" stop-click-if="vm.currentTab === 'BRANDS'" ng-click="vm.changeTab('BRANDS')" aria-expanded="false" translate=".brands">Brands</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <div class="panel-body">

                <div class="row mg-bt-20">
                  <div class="col-sm-12">
                    <div ng-show="vm.loading">
                      <div class="text-center loading">
                        <i class="fa fa-refresh fa-spin"></i>
                      </div>
                    </div>
                    <table ng-hide="vm.loading" class="table no-margins table-bordered table-hover">
                      <thead>
                      <tr ng-hide="vm.currentTab === 'BRANDS'" class="list-box-container">
                        <th>
                          <div list-selector actions="vm.bulkActions" list-options="vm.listSelectorOptions" name="collection" items="vm.collections"></div>
                        </th>
                        <th class="adjust-column" translate="words.logo">Logo</th>
                        <th class="adjust-column" translate="words.title">Title</th>
                        <th class="adjust-column" translate="words.type">Type</th>
                        <th class="adjust-column" translate="table.head.status">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="collection in vm.collections" ng-class="{'selected': collection.checked}">
                        <td ng-hide="vm.currentTab === 'BRANDS'">
                          <input icheck type="checkbox" ng-disabled="collection.type == 'BRANDS'" ng-change="vm.listSelectorOptions.markCheckBox(collection.checked)" ng-model="collection.checked">
                        </td>
                        <td class="collection-logo">
                          <img ng-src="{{ collection.images && collection.images.logo && collection.images.logo !== '' ? vm.baseURL + collection.images.logo : '/img/icons/img-placeholder.png'}}" width="40" height="40" alt="{{collection.title}}">
                        </td>
                        <td>
                          <a ui-sref="admin-panel.cms.collections.create({ collectionID: collection._id })">
                            {{collection.title}}
                          </a>
                        </td>
                        <td>
                          {{'collectionsListPage.'+collection.type.toLowerCase()|translate}}
                        </td>
                        <td>
                          <div class="btn-group action-btn" uib-dropdown>
                            <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                              <span translate="constants.status.active" ng-if="collection.status.toLowerCase() == 'active'" class="label status-fix title-case label-white label-production">
                              Active
                              </span>
                              <span translate="constants.status.in_active" ng-if="collection.status.toLowerCase() == 'inactive'" class="label status-fix title-case label-white label-error">
                                Inactive
                              </span>
                              <span ng-show="collection.performingOperation" class="fa mg-lt-10 fa-cog fa-spin"></span>
                            </button>
                            <ul class="pd-10" ng-hide="vm.currentTab == 'BRANDS' || collection.type == 'BRANDS'" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                              <li role="menuitem">
                                <a href="javascript:;" ng-click="vm.changeSingleStatus(collection, 'ACTIVE')" translate="constants.status.active">Active</a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="javascript:;" ng-click="vm.changeSingleStatus(collection, 'INACTIVE')" translate="constants.status.in_active">Inactive</a>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.listCollections" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>

                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <p class="mg-tp-20">
          <small translate=".msg">
            Collections can be used to group your products together. eg. Tshirts, Fall 2016, etc.
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
