<div translate-namespace="productsCreatePage.personalize" class="ibox float-e-margins no-margins">


    <div translate-namespace=".languages" class="ibox-title">
      <h5 translate=".heading">
        Choose available languages
      </h5>
      <span ng-click="language.close()" class="pull-right fa fa-times"></span>

    </div>

    <div class="ibox-content">
      <div class="clearfix">
        <ul class="list-group personalize-galleries">
          <li class="list-group-item" ng-repeat="(key, val) in language.list">
            <label class="no-margins">
              <input type="checkbox" ng-model="language.list[key]" icheck class="icheckbox_small">
              <span class="mg-lt-10" ng-if="key == 'en'">English</span>
              <span class="mg-lt-10" ng-if="key == 'ch'">Chinese</span>
            </label>
          </li>
        </ul>
      </div>
    </div>

    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="language.close()">
        <span translate="buttons.cancel">Cancel</span>
      </button>
      <button type="submit" ng-click="language.submit()" class="btn btn-primary">
        <span translate="buttons.save">Save</span>
      </button>
    </div>

</div>



