<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="collectionsCreatePage.add">Add Products</h5>
    <span ng-click="vm.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content products-listing-modal">

    <div class="row mg-tp-10">
      <div class="list-container">
        <div class="list-body">
          <div class="text-center loading" ng-show="vm.loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
          <p ng-if="vm.products.length < 1" ng-hide="vm.loading" translate="errors.noProducts">No Products to show</p>
          <table ng-if="vm.products.length > 0" ng-hide="vm.loading" class="table table-condensed no-margins list-box-container table-bordered table-hover">
            <thead>
            <tr>
              <th>
                <div list-selector actions="vm.leftListBulk" items="vm.products" list-options="vm.selectorForProducts" name="products"></div>
              </th>
              <th>Banner</th>
              <th>MIID ID</th>
              <th translate="ordersDetailsPage.productionDetails.product.name">Product name</th>
              <th translate="filters.brand.label">Brand</th>
              <th translate="filters.status.label">Status</th>
            </tr>
            </thead>
            <tbody class="white-bg">
            <tr ng-repeat="product in vm.products" ng-class="{selected: product.checked, changed: product.changed}">
              <td>
                <input type="checkbox" ng-change="vm.selectorForProducts.markCheckBox(product.checked)" icheck ng-model="product.checked">
              </td>
              <td class="collection-logo">
                <img ng-src="{{ product.prod.images && product.prod.images.thumb ? vm.baseURL + product.prod.images.thumb : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive" alt="{{product.prod.miid_id}} thumb">
              </td>
              <td>{{product.prod.miid_id}}</td>
              <td>
                {{product.prod.en.name}}
              </td>
              <td>
                {{product.prod.brand.length>0 ? product.prod.brand[0].name : product.prod.brand.name }}
              </td>
              <td>
                <span>
                <span ng-show="product.prod.status === 'ACTIVE'" translate="constants.status.active" class="label prod-status label-white label-production">
                  Active
                </span>
                <span ng-show="product.prod.status === 'IN_ACTIVE'" translate="constants.status.in_active" class="label prod-status label-white label-error">
                  Inactive
                </span>
              </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-footer text-right">
    <div>
      <button class="btn btn-primary"  type="button" ng-click="vm.submit()">
        <span ng-hide="vm.loading">
          <span translate="collectionsCreatePage.add">
            Add products
          </span>
        </span>
        <span class="fa fa-spin fa-cog" ng-show="vm.loading"></span>
      </button>
    </div>
  </div>
</div>
