<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 translate="settingsLanguagePage.heading">Settings</h2>
    <ol class="breadcrumb">
      <li translate="settingsLanguagePage.heading">
        Settings
      </li>
      <li translate="table.head.brand">
        Brand
      </li>
      <li>
        <strong translate="settingsShippingPage.heading">Shipping</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2 mg-tp-30">
  </div>
</div>
<div translate-namespace="settingsShippingPage" class="wrapper product wrapper-content animated fadeInRight">

  <div class="row" translate-namespace=".address">
    <div class="col-md-3">
      <h4 translate=".head">Shipping address</h4>
      <h5 translate=".label">The address from where you send the goods</h5>
    </div>
    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate=".form">Shipping Form</h5>
          <div class="pull-right">
            <a translate=".edit" href="javascript:void(0)">Edit address</a>
          </div>
        </div>
        <div class="ibox-content pd-lt-rt-50 pd-tp-bt-30">
          <div ng-show="vm.loading">
            <div class="text-center loading mg-tp-20 mg-bt-20">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
          <div ng-show="!vm.loading">
            <div class="row mg-bt-5">
              <div class="col-md-4">
                <span translate="settingsAccountPage.contact.name">Company name</span>
              </div>
              <div class="col-md-8">
                <span class="font-bold text-black">Opalls</span>
              </div>
            </div>
            <div class="row mg-bt-5">
              <div class="col-md-4">
                <span translate="settingsAccountPage.contact.person">Contact person</span>
              </div>
              <div class="col-md-8">
                <span class="font-bold text-black">Mr.Kim</span>
              </div>
            </div>
            <div class="row mg-bt-5">
              <div class="col-md-4">
                <span translate="settingsAccountPage.contact.phone">Contact phone</span>
              </div>
              <div class="col-md-8">
                <span class="font-bold text-black">1234567890</span>
              </div>
            </div>
            <div class="row mg-bt-5">
              <div class="col-md-4">
                <span translate="settingsAccountPage.contact.address">Address</span>
              </div>
              <div class="col-md-8">
                <span class="font-bold text-black">Blabal load 365, 2nd floor 3A</span>
              </div>
            </div>
            <div class="row mg-bt-5">
              <div class="col-md-4">
                <span translate=".country">Country</span>
              </div>
              <div class="col-md-8">
                <span class="font-bold text-black">China</span>
              </div>
            </div>
            <div class="row mg-bt-5">
              <div class="col-md-4">
                <span translate=".region">Region</span>
              </div>
              <div class="col-md-8">
                <span class="font-bold text-black">广东, 广州, 佛山</span>
              </div>
            </div>
            <div class="row mg-bt-5">
              <div class="col-md-4">
                <span translate=".zip">Zip code</span>
              </div>
              <div class="col-md-8">
                <span class="font-bold text-black">361000</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mg-tp-10 mg-bt-30">
  <div translate-namespace=".options" class="row">
    <div class="col-md-3">
      <h4 translate=".head">Shipping services</h4>
      <h5 translate=".label">The shipping services options you offer to your customers</h5>
    </div>
    <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate=".label2">Shipping Options</h5>
          <div class="pull-right">
            <a translate=".edit" ng-click="vm.showModal()">Edit options</a>
          </div>
        </div>
        <div class="ibox-content pd-lt-rt-50 pd-tp-bt-30">
          <div ng-show="vm.loading">
            <div class="text-center loading mg-tp-20 mg-bt-20">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
          <div ng-show="!vm.loading">
            <div class="row mg-bt-5" ng-if="!vm.shipping_options.length">
              <div class="col-md-12">
                <span translate="errors.noShipping">No shipping options</span>
              </div>
            </div>
            <div class="row mg-bt-5" ng-if="vm.shipping_options.length">
              <div class="col-md-6">
                <span translate=".option">Shipping option</span>
              </div>
              <div class="col-md-6">
                <span translate="words.price">Price</span>
              </div>
            </div>
            <div class="row mg-bt-5" ng-repeat="shipping_option in vm.shipping_options">
              <div class="col-md-6">
                <span class="text-break-word">{{shipping_option.company}}</span>
              </div>
              <div class="col-md-6">
                <span class="font-bold text-black">{{(shipping_option.charges == 0)?'Free':shipping_option.charges+' Rmb'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
