<div translate-namespace="productsCreatePage.personalize.galleries" class="ibox float-e-margins no-margins">


    <div class="ibox-title">
      <h5 translate=".heading">
        Setup Galleries
      </h5>
      <span ng-click="galleriesModal.close()" class="pull-right fa fa-times"></span>

    </div>

    <div class="ibox-content">

      <ul class="list-group personalize-galleries">
        <li class="list-group-item text-center" ng-show="galleriesModal.loading">
          <i class="fa fa-spin fa-refresh"></i>
        </li>
        <li class="list-group-item" ng-repeat="gallery in galleriesModal.galleries">
          <label class="no-margins font-noraml">
            <input type="checkbox" class="icheckbox_small" ng-model="gallery.checked" icheck>
            <span class="mg-lt-10">{{gallery.en.name}}</span>
          </label>
        </li>
      </ul>

    </div>

    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="galleriesModal.close()">
        <span translate="buttons.cancel">Cancel</span>
      </button>
      <button type="submit" ng-click="galleriesModal.submit()" ng-disabled="galleriesModal.loading" class="btn btn-primary">
        <span ng-hide="galleriesModal.loading" translate="buttons.save">Save</span>
        <i ng-show="galleriesModal.loading" class="fa fa-cog fa-spin"></i>
      </button>
    </div>

</div>



