<div translate-namespace="modals.duplicate" class="ibox float-e-margins no-margins">
  <form name="productDuplicate" id="product-duplicate" ng-submit="modal.submit(productDuplicate.$valid)" role="form">
    <div class="ibox-title">
      <h5 translate=".heading">
        Duplicate this product
      </h5>
      <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
    </div>
    <div class="ibox-content">
      <div class="panel" ng-class="{' panel-primary':modal.success, ' panel-danger':modal.error}" ng-if="modal.error || modal.success">
        <div class="panel-heading">
          <i class="fa fa-warning fa-white"></i>
          <span class="m-l-xs" translate="words.alert">Alert</span>
        </div>
        <div class="panel-body">
          {{modal.message}}
        </div>
      </div>
      <div class="p-md">
        <div ng-if="!modal.error" translate=".msg1">Please enter a miid id number for this product.</div>
        <div ng-if="modal.error" translate=".msg3">Please try entering another id.</div>
        <div translate=".msg2">This is how a miid number looks like: EVEE33M1501B</div>
        <div class="form-group col-md-3 m-t-md no-padding" ng-class="{ 'has-error' : (productDuplicate.miidId.$error.required && submitted) || modal.error }">
          <input type="text" class="form-control input-sm"
                 ng-model="modal.miidId" name="miidId" required>
        </div>
        <div class="col-md-4 mg-tp-20">
          <input class="icheckbox_small" type="checkbox" ng-model="modal.duplicateAsset" icheck>
          <span translate=".duplicateAsset">
            Duplicate 3D assets
          </span>
        </div>
      </div>
    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" translate="buttons.cancel" ng-click="modal.close()">Cancel</button>
      <button type="submit" ng-click="submitted=true;" ng-disabled="modal.duplicatingProduct" class="btn btn-primary">
        <span ng-hide="modal.duplicatingProduct" translate="buttons.save">Save</span>
        <i ng-show="modal.duplicatingProduct" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </form>
</div>

