<div translate-namespace="modals.shipping" class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate=".heading">Edit Shipping Services</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <ng-form name="shippingForm">
    <div class="ibox-content orders-modal">
      <div>
        <p class="mg-bt-20" translate=".label">Create the shipping options available for your customers.</p>
        <p class="mg-bt-60" translate="errors.noShipping" ng-show="!modal.shippingOptions.length">No shipping options</p>
        <div class="row" ng-repeat="shippingOption in modal.shippingOptions">
          <div class="col-sm-6 col-xs-6">
            <div class="form-group" ng-class="{'has-error': shippingForm['company'+$index].$invalid && !shippingForm['company'+$index].$pristine}">
              <input required
                     id="company{{$index}}"
                     name="company{{$index}}"
                     type="text"
                     class="form-control"
                     ng-model="shippingOption.company"
                     placeholder="{{'words.name'| translate}}">
            </div>
          </div>
          <div class="col-sm-5 col-xs-5">
            <div class="form-group" ng-class="{'has-error': shippingForm['charges'+$index].$invalid && !shippingForm['charges'+$index].$pristine}">
              <input required
                     id="charges{{$index}}"
                     name="charges{{$index}}"
                     type="number"
                     class="form-control"
                     ng-model="shippingOption.charges"
                     placeholder="Rmb 0.0">
            </div>
          </div>
          <div class="col-sm-1 col-xs-1">
            <button class="btn btn-default btn-outline border-radius-0" ng-click="modal.remove(shippingOption)"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>

        <div class="row mg-bt-20">
          <div class="col-md-12">
            <button class="btn btn-primary" type="button" ng-click="modal.add()">
              <span>
                <span translate=".add">Add more</span>
                <i class="fa fa-plus"></i>
              </span>
            </button>
          </div>
        </div>

      </div>
    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()" ng-disabled="modal.isSaving" translate="buttons.discard">Discard</button>
      <button class="btn btn-primary" type="button" ng-disabled="!modal.hasChanges() || shippingForm.$invalid || modal.isSaving" ng-click="modal.submit()">
        <span ng-hide="modal.isSaving" translate="buttons.save">Save</span>
        <i ng-show="modal.isSaving" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </ng-form>
</div>

