<div translate-namespace="pagination" class="row" ng-hide="loading || total == 0">
  <div class="col-sm-5">
    <div class="pagination-info" >
      <span
        translate-values="{start: {{previousPage*itemsLimit + 1}}, end: {{(previousPage*itemsLimit) + items}}, total: {{total}}}"
        translate=".info.label2">
      </span>
      <i class="mg-lt-10">
        <a href="" ng-click="changeOptions()" translate=".button">Change results pagination</a>
      </i>
    </div>
  </div>
  <div class="col-sm-7">
    <uib-pagination
      ng-hide="itemsLimit > total"
      ng-disabled="loading"
      total-items="total"
      ng-model="pagination.currentPage"
      items-per-page="itemsLimit"
      ng-change="changePage()"
      max-size="itemsLimit"
      class="pull-right pagination-sm"
      boundary-link-numbers="true"
      rotate="false">
    </uib-pagination>
  </div>
</div>
