<div translate-namespace="pagination.modal" class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate=".heading">Change pagination</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content orders-modal">
    <h5 class="mg-bt-30">
      <span translate=".msg">Choose the amount of results to show per page.</span>
      <br><br>
      (<i><span translate="words.default">default</span>: {{modal.default || ('pagination.modal.set'|translate)}}</i>)
    </h5>
    <div class="mg-lt-10">
      <div>
        <label ng-class="{'font-noraml': modal.itemsLimit!=10}">
          <input type="radio" value="10" ng-model="modal.itemsLimit" icheck>
          <span>10 <span translate=".word">results/page</span></span>
        </label>
      </div>
      <div>
        <label ng-class="{'font-noraml': modal.itemsLimit!=20}">
          <input type="radio" value="20" ng-model="modal.itemsLimit" icheck>
          <span>20 <span translate=".word">results/page</span></span>
        </label>
      </div>
      <div>
        <label ng-class="{'font-noraml': modal.itemsLimit!=40}">
          <input type="radio" value="40" ng-model="modal.itemsLimit" icheck>
          <span>40 <span translate=".word">results/page</span></span>
        </label>
      </div>
      <div>
        <label ng-class="{'font-noraml': modal.itemsLimit!=60}">
          <input type="radio" value="60" ng-model="modal.itemsLimit" icheck>
          <span>60 <span translate=".word">results/page</span></span>
        </label>
      </div>
      <div>
        <label ng-class="{'font-noraml': modal.itemsLimit!=100}">
          <input type="radio" value="100" ng-model="modal.itemsLimit" icheck>
          <span>100 <span translate=".word">results/page</span></span>
        </label>
      </div>
    </div>

  </div>
  <div class="ibox-footer clearfix">
    <div class="pull-left mg-tp-15">
      <label class="font-noraml">
        <input type="checkbox" icheck class="icheckbox_small" ng-model="modal.setDefault">
        <span class="mg-lt-5" translate=".default">Save as default</span>
      </label>
    </div>
    <div class="pull-right">
      <button translate="buttons.cancel" class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()">Cancel</button>
      <button class="btn btn-primary"  type="button" ng-click="modal.submit()" >
        <span translate="buttons.save">Save</span>
      </button>
    </div>
  </div>
</div>

