<div translate-namespace="navigationListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-10">
        <h2 translate=".heading">Navigation</h2>

        <ol class="breadcrumb mg-tp-5">
          <li>CMS</li>
          <li class="active">
            <strong translate=".heading">Navigation</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-2 mg-tp-30">
        <a ng-show="vm.currentTab === 'HomePage'" class="btn btn-primary" ui-sref="admin-panel.cms.pages.create">
          <small>
            <span translate="homePageListPage.add">Create New Page</span>
            <i class="fa mg-lt-5 fa-plus"></i>
          </small>
        </a>
        <a ng-show="vm.currentTab === 'NAV'" class="btn btn-primary" ui-sref="admin-panel.cms.navigation.create">
          <small>
            <span translate=".add">Create New Navigation</span>
            <i class="fa mg-lt-5 fa-plus"></i>
          </small>
        </a>
      </div>
    </div>

  </div>

</div>

<div translate-namespace="navigationListPage" class="row animated collections-list fadeInRight">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5></h5>
      </div>
      <div class="ibox-content mg-bt-60">
        <div class="tabs-container">
          <ul class="nav nav-tabs" >
            <li  ng-class="{'active': vm.currentTab === 'HomePage'}">
              <a href="" ng-disabled="vm.loading" stop-click-if="vm.currentTab === 'HomePage' || vm.loading" ng-click="vm.changeTab('HomePage')" translate="homePageListPage.heading"  aria-expanded="false">Home pages</a>
            </li>
            <li  ng-class="{'active': vm.currentTab === 'NAV'}">
              <a href="" ng-disabled="vm.loading" stop-click-if="vm.currentTab === 'NAV' || vm.loading" ng-click="vm.changeTab('NAV')" translate=".headingGreen"  aria-expanded="true">Navigation</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active">
              <div class="panel-body">
                <div class="row mg-bt-20">
                  <div class="col-sm-12">
                    <div ng-show="vm.loading">
                      <div class="text-center loading">
                        <i class="fa fa-refresh fa-spin"></i>
                      </div>
                    </div>
                    <div ng-hide="vm.loading || vm.currentTab != 'HomePage'">
                      <table class="table no-margins table-bordered table-hover">
                        <thead>
                        <tr class="list-box-container">
                          <th>
                            <div list-selector actions = "vm.bulkActionHomePage" list-options="vm.listSelectorOptionsHomePage" name="page" items="vm.pages"></div>
                          </th>
                          <th class="adjust-column">Name</th>
                          <th class="adjust-column">Link</th>
                          <th class="adjust-column">Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="page in vm.pages" ng-class="{ 'selected': page.checked }">
                          <td>
                            <input icheck type="checkbox" ng-change="vm.listSelectorOptionsHomePage.markCheckBox(page.checked)" ng-model="page.checked">
                          </td>
                          <td>
                            <a ui-sref="admin-panel.cms.pages.create({ pageID: page._id })">
                              {{page.title.en}}
                            </a>
                          </td>
                          <td>
                            <a>
                              www.miid.com/home/{{page.slug}}
                            </a>
                          </td>
                          <td>
                            <span ng-show="page.type.toUpperCase() === 'HOME_PAGE'" translate="homePageListPage.pageTypeHome">
                              Home Page
                            </span>
                            <span ng-show="page.type.toUpperCase() === 'LANDING_PAGE'" translate="homePageListPage.pageTypeLanding">
                              Landing Page
                            </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <paginator current-page="vm.currentPageHome" loading="vm.loading" on-page-change="vm.listPages" items-limit="vm.itemsLimitHomePage" items="vm.itemsGotHomePage" total="vm.totalItemsHomePage"></paginator>
                    </div>
                    <div ng-hide="vm.loading || vm.currentTab != 'NAV'">

                      <table class="table no-margins table-bordered table-hover">
                        <thead>
                        <tr class="list-box-container">
                          <th>
                            <div list-selector actions="vm.bulkActions" list-options="vm.listSelectorOptions" name="navigation" items="vm.navigations"></div>
                          </th>
                          <th class="adjust-column" translate="table.head.name">Name</th>
                          <th class="adjust-column" translate="table.head.link">Link</th>
                          <th class="adjust-column" translate="table.head.type">Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="navigation in vm.navigations" ng-class="{'selected': navigation.checked}">
                          <td>
                            <input icheck type="checkbox" ng-change="vm.listSelectorOptions.markCheckBox(navigation.checked)" ng-model="navigation.checked">
                          </td>
                          <td>
                            <a ui-sref="admin-panel.cms.navigation.create({ navigationID: navigation._id })">
                              {{navigation.title.en}}
                            </a>
                          </td>
                          <td>
                            <a>
                              www.miid.com/navigation/{{navigation.slug}}
                            </a>
                          </td>
                          <td translate=".heading">
                            Navigation
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.listNavigations" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


