<div class="text-center mg-tp-20 preview-txt">Preview</div>

<div ng-show="!media.uploading && media.description_large.length > 0">
  <div class="desc-preview row" ng-repeat="imageSrc in media.description_large">
    <!--<div class="col-xs-5 col-xs-offset-1 image-desc"></div>-->
    <div class="col-xs-6 col-xs-offset-3 image-preview">
      <div class="delete-overlay" ng-class="{'deleting': (media.loadingDelete || media.loadingReorder) && imageSrc == media.loadingImageSrc }">

        <a ng-show="!media.loadingDelete && !media.loadingReorder">
          <span class="fa fa-chevron-up"
                ng-click="media.moveUp('desktop', $index)"></span>
        </a>

        <a ng-show="!media.loadingDelete && !media.loadingReorder">
          <span class="fa fa-chevron-down"
              ng-click="media.moveDown('desktop', $index)"></span>
        </a>

        <a class="delete-btn" ng-show="!media.loadingDelete && !media.loadingReorder">
          <span class="fa fa-trash-o"
                ng-click="media.removeImage('pr_web', imageSrc)"></span>
        </a>

        <span class="fa fa-refresh fa-spin" ng-show="media.loadingDelete || media.loadingReorder"></span>
      </div>
      <img ng-src='{{ imageSrc }}'>
    </div>
  </div>
</div>

<div class="dropzone" ng-model="file" name="file" ngf-pattern="'image/*'"
     ngf-accept="'image/*'" ngf-max-size="2MB"
     ngf-drag-over-class="'dragover'"
     ngf-drop="media.uploadImage($file)"
     ng-class="{'dropzone-sm':media.description_large.length > 0}">

  <div ng-show="!media.uploading">
    <span class="fa fa-upload upload-icon"></span>
    <div class="drop-msg">Drop image files here for product description large</div>
    <div class="drop-size-msg">Recommended size is 1330px by 679px</div>
  </div>

</div>

<div class="upload-progress" id="loading-progress" ng-show="media.uploading">
  <div class="text-center uploading-msg">Your image is now uploading. This may take some time.</div>
  <div class="progress progress-bar-default">
    <div style="width: {{media.uploadProgress}}%" role="progressbar" class="progress-bar">
      <span class="sr-only">{{media.uploadProgress}} %</span>
    </div>
  </div>
  <div class="progress-label">{{media.uploadProgress}} %</div>
</div>
