<div translate-namespace="userReviewsListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-10">
        <h2 translate=".heading">User Reviews</h2>
        <ol class="breadcrumb mg-tp-5">
          <li>CMS</li>
          <li class="active">
            <strong translate=".heading">User Reviews</strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Reviews list -->

<div translate-namespace="userReviewsListPage" class="row animated collections-list fadeInRight">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate=".heading">User Reviews</h5>

        <div class="review-prompt-prod" ng-show="vm.isForProduct">
          <i><span translate=".seeing">You are seeing reviews for </span><b>{{vm.productMIID}}</b></i>
          <a href="" ui-sref="admin-panel.cms.user_reviews({productID: '',productMIID:''})" class="pull-right">
            <i class="fa fa-times"></i>
          </a>
        </div>

      </div>
      <div translate-namespace="filters" class="ibox-content orders-widget mg-bt-60">

        <div class="row mg-bt-20">

          <div class="col-sm-4">
            <div class="input-group date">
              <input class="form-control custom-input" date-time min-view="date" max-date="maxDate" format="DD/MM/YYYY" ng-model="vm.filters.from" view="date" auto-close="true" date-change="dateChanged">
              <span class="input-group-addon" translate=".date.label">to</span>
              <input class="form-control" date-time min-date="minDate" ng-model="vm.filters.to" min-view="date" format="DD/MM/YYYY" view="date" auto-close="true" date-change="dateChanged">
            </div>
          </div>

          <div class="col-sm-2" permission permission-only="'canSee.UserReviews.FilteringOptions'">
            <select class="form-control custom-input"
                    ng-model="vm.filters.brand"
                    ng-options="option.name for option in vm.brands track by option.id" ng-change="vm.listReviews()">
            </select>
          </div>

          <div class="col-sm-2">
            <select class="form-control custadmom-input"
                    ng-model="vm.filters.status"
                    ng-options="option.value as ('constants.status.' + option.value.toLowerCase() | translate) for option in vm.status" ng-change="vm.listReviews()">
            </select>
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" id="ordersFilter" ng-model="vm.filters.text" enter-keypress="vm.listReviews(); keyword = vm.filters.text;" placeholder="{{'filters.search.placeholder'|translate}}" class="input-medium custom-input form-control">
              <div class="input-group-btn">
                <button type="button" class="btn btn-md btn-custom-primary" ng-click="vm.listReviews(); keyword = vm.filters.text;" translate=".search.button.go"> Go!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div ng-show="vm.loading">
              <div class="text-center loading">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
            </div>
            <table ng-hide="vm.loading" class="table orders-table table-bordered table-hover dataTables-example">
              <thead>
              <tr class="list-box-container" sort options="vm.sortOptions" loading="vm.loading" columns="vm.head"></tr>
              </thead>
              <tbody>
              <tr ng-class="{'active': item.checked, 'hidden': !item.display}" ng-repeat="item in vm.reviews">
                <td permission permission-only="'canSee.UserReviews.ChangeStatus'">
                  <input icheck type="checkbox" ng-change="vm.markCheckBox(item.checked)" ng-model="item.checked">
                </td>
                <td>
                  <div highlight="keyword">{{item.product && item.product ? item.product.miid_id : 'N/A' }}</div>
                  <div highlight="keyword">{{item.product && item.product.en ? item.product.en.name : 'N/A' }}</div>
                </td>
                <td>
                  <div highlight="keyword">{{item.customer ? item.customer.username : 'N/A' }}</div>
                  <div highlight="keyword">{{item.customer ? item.customer.phone : 'N/A' }}</div>
                </td>
                <td style="width:150px">
                  <div highlight="keyword">{{item.title ? item.title : ''}}</div>
                  <div highlight="keyword">{{item.description ? item.description : 'N/A'}}</div>
                </td>
                <td style="width: 130px" class="text-center attach-images">
                  <div style="width: auto" ng-repeat="image in item.pictures track by $index">
                    <a ng-href="{{vm.assetURL + image}}" target="_blank">
                      <img style="width:inherit" class="list-logo-height" ng-src="{{ (image) ? vm.assetURL + image : '/img/icons/img-placeholder.png' }}" width="40" height="40" alt="img">
                    </a>
                  </div>
                </td>
                <td width="150px" class="no-pd-lt" style="width: 150px">
                  <div class="acidjs-rating-stars acidjs-rating-disabled">
                    <input disabled="disabled" type="radio" ng-checked="item.rating > 4" name="group-3-{{$index}}" id="group-3-0-{{$index}}" value="5" /><label for="group-3-0-{{$index}}"></label>
                    <input disabled="disabled" type="radio" ng-checked="item.rating > 3 && item.rating <=4" name="group-3-{{$index}}" id="group-3-1-{{$index}}" value="4" /><label for="group-3-1-{{$index}}"></label>
                    <input disabled="disabled" type="radio" ng-checked="item.rating > 2 && item.rating <=3" name="group-3-{{$index}}" id="group-3-2-{{$index}}" value="3" /><label for="group-3-2-{{$index}}"></label>
                    <input disabled="disabled" type="radio" ng-checked="item.rating > 1 && item.rating <=2" name="group-3-{{$index}}" id="group-3-3-{{$index}}" value="2" /><label for="group-3-3-{{$index}}"></label>
                    <input disabled="disabled" type="radio" ng-checked="item.rating <=1 && item.rating>0" name="group-3-{{$index}}" id="group-3-4-{{$index}}"  value="1" /><label for="group-3-4-{{$index}}"></label>
                  </div>
                </td>
                <td class="reviews-data">
                  {{ item.created_at | date : 'dd-MM-yyyy' }}
                </td>
                <td>
                  <div class="btn-group action-btn" uib-dropdown>
                    <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                      <div class="label status-fix title-case label-white" ng-class="'label-'+vm.statusClass[item.status]">{{'constants.status.'+item.status.toLowerCase() | translate}}</div>
                      <span ng-show="item.changingStatus" class="fa mg-lt-10 fa-cog fa-spin"></span>
                    </button>
                    <ul class="pd-10" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                      <li role="menuitem" ng-if="!status.disabled" ng-repeat="status in vm.status">
                        <a href="javascript:;" ng-click="vm.changeSingleStatus(item, status.value)">{{'constants.status.' + status.value.toLowerCase() | translate}}</a>
                        <div ng-if="($index+1) < vm.status.length" class="divider"></div>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.listReviews" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>

      </div>
    </div>
  </div>
</div>
