<!-- Bread Crumb -->
<form translate-namespace="brandsDetailsPage" name="brandDetails"><!--need stat form here so that are inputs remain under form to validate easily-->
  <div class="row brand-details mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-7 col-lg-7">
          <h2 translate="brandsListPage.heading">Merchants</h2>
          <ol class="breadcrumb mg-tp-5">
            <li>
              <strong>
                <a ui-sref="admin-panel.ecommerce.brands.list" href="#/">
                  <span translate="brandsListPage.heading">Merchants</span>
                </a>
              </strong>
            </li>
            <li class="active">
              <strong>{{vm.newBrand.basic.name}} <span translate="brandsDetailsPage.heading">Merchant Details</span></strong>
            </li>
          </ol>
        </div>
        <div class="col-sm-5 col-lg-5 m-t-lg align-right">
          <button class="btn btn-discard btn-outline m-r-xs" translate="buttons.cancel" ui-sref="admin-panel.ecommerce.brands.list">Cancel</button>
          <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="brandDetails.$invalid || vm.dataInValid">
            <span ng-show="vm.loadingBrand" class="fa fa-cog fa-spin"></span>
            <span ng-hide="vm.loadingBrand" translate="buttons.save">Save</span>
          </button>
        </div>
      </div>

    </div>

  </div>

  <div class="row brand-details">
    <div class="col-lg-8 col-lg-offset-2 col-sm-offset-2 mg-bt-30 col-sm-8">

      <!-- Account setting start-->

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate=".settings">Account Settings</h5>
        </div>
        <div class="ibox-content">
          <!-- Account settings form start -->
          <div class="row mg-tp-20 mg-bt-10">
            <div class="form-group col-lg-5" ng-class="{'has-error': brandDetails.miidID.$invalid && brandDetails.miidID.$touched}">
              <label for="miidID">Merchant ID *</label>
              <input id="miidID"
                     name="miidID"
                     type="text"
                     ng-change="vm.enableButton()"
                     ng-model="vm.newBrand.basic.brand_id"
                     ng-disabled="vm.loadingBrand"
                     placeholder="ABC12345"
                     required
                     class="form-control">
            </div>
            <div class="form-group col-lg-5" ng-class="{'has-error': brandDetails.brandNameEN.$invalid && brandDetails.brandNameEN.$touched}">
              <label for="brandNameEN"><span translate="words.name">Name</span> (EN) *</label>
              <input
                id="brandNameEN"
                type="text"
                ng-model="vm.newBrand.basic.name"
                ng-disabled="vm.loadingBrand"
                ng-change="vm.enableButton()"
                placeholder="Opalis"
                required
                class="form-control"
                name="brandNameEN">
            </div>
            <!--<div class="form-group col-lg-5">-->
              <!--<label for="brandNameCH">Brand Name (CH)</label>-->
              <!--<input id="brandNameCH" type="text" placeholder="Opalis" ng-disabled="vm.loadingBrand"-->
                     <!--class="form-control" name="nameCH">-->
            <!--</div>-->
          </div>
          <div class="row mg-bt-10">
            <div class="form-group col-lg-10">
              <label for="brandURL" translate="modals.brand.url">Merchant URL *</label>
              <div class="input-group"  ng-class="{'has-error': brandDetails.brandURL.$invalid && brandDetails.brandURL.$touched}">
              <span class="input-group-btn">
                <button class="btn btn-outline btn-default">http://miid.com/brands/</button>
              </span>
                <input
                  id="brandURL"
                  type="text" ng-change="vm.slugify()"
                  ng-model="vm.newBrand.basic.slug"
                  ng-disabled="vm.loadingBrand"
                  placeholder="opalis"
                  class="form-control"
                  required
                  name="brandURL">
              </div>
            </div>
          </div>
          <div class="row mg-bt-10">
            <div class="form-group col-lg-5" ng-class="{'has-error': brandDetails.merchant_type.$invalid && brandDetails.merchant_type.$touched}">
              <label for="merchant_type">Merchant Type *</label>
              <select class="form-control"
                      id="merchant_type"
                      name="merchant_type"
                      ng-change="vm.enableButton()"
                      ng-model="vm.newBrand.basic.merchant_type"
                      ng-disabled="vm.loadingBrand"
                      required
                      ng-options="type as type for type in vm.merchantTypeList">
              </select>
            </div>
            <div class="form-group col-lg-5" ng-class="{'has-error': brandDetails.commission.$invalid && brandDetails.commission.$touched}">
              <label for="commission">MIID commission fee</label>
              <div class="input-group">
                <input class="form-control"
                       type="number"
                       id="commission"
                       name="commission"
                       ng-change="vm.enableButton()"
                       ng-model="vm.newBrand.basic.commission"
                       ng-disabled="vm.loadingBrand"
                       min="0"
                       max="100">
                <span class="input-group-addon">%</span>
              </div>
            </div>
          </div>
          <!--TODO: When roles are setup-->
          <!--<div class="row mg-bt-10">-->
          <!--<div class="form-group col-lg-6">-->
          <!--<label for="brandSuperAdmin">Brand Super Admin Email</label>-->
          <!--<input id="brandSuperAdmin" type="email" placeholder="superuser@opalis.com" class="form-control" name="email">-->
          <!--</div>-->
          <!--<div class="form-group col-lg-6">-->
          <!--<label for="brandAdminPassword">Brand Super Admin Password</label>-->
          <!--<input id="brandAdminPassword" type="password" placeholder="* * * * *" class="form-control" name="password">-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="row mg-bt-10">-->
          <!--<div class="col-md-offset-9 col-lg-3 m-t-md">-->
          <!--<div class="form-group">-->
          <!--<div class="pull-right">-->
          <!--<button type="button" class="btn btn-w-m btn-link">Reset</button>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!-- Account settings form end -->
        </div>

      </div>

      <!-- Account setting end-->

      <!-- Brand logo version start-->

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate=".logo">Merchant Logo Versions</h5>
        </div>
        <div class="ibox-content no-padding">
          <file-uploader type="library" selected-pane="sdf">

            <file-pane title="{{'brandsDetailsPage.version1'|translate}}">
              <div ng-hide="vm.logo">
                <file-drop-zone
                  size-message="Recommended Size 400px by 400px"
                  drop-head="Drop image files here"
                  drop-message="Version 1 Recommended format: PNG, JPEG"
                  loading="vm.uploading"
                  upload-image="vm.uploadImage"
                  upload-progress="vm.uploadProgress"
                  loading-message="{{'uploader.uploadingMsg'| translate}}"></file-drop-zone>
              </div>
              <div ng-show="vm.logo">
                <file-preview
                  image-array="vm.imageArray[0]"
                  remove-image="vm.removeImage"
                ></file-preview>
              </div>
            </file-pane>

            <!--&lt;!&ndash;TODO: when we are doing different logo versions&ndash;&gt;-->
            <!--<file-pane title="Logo Version 2" >-->
            <!--<file-drop-zone-->
            <!--size-message="Recommended Size 400px by 400px"-->
            <!--drop-head="Drop image files here"-->
            <!--drop-message="Version 2 Recommended format: PNG, JPEG"></file-drop-zone>-->
            <!--</file-pane>-->

            <!--<file-pane title="Logo Version 3" >-->
            <!--<file-drop-zone-->
            <!--size-message="Recommended Size 400px by 400px"-->
            <!--drop-head="Drop image files here"-->
            <!--drop-message="Version 3 Recommended format: PNG, JPEG"></file-drop-zone>-->
            <!--</file-pane>-->

            <!--<file-pane title="Logo Version 4" >-->
            <!--<file-drop-zone-->
            <!--size-message="Recommended Size 400px by 400px"-->
            <!--drop-head="Drop image files here"-->
            <!--drop-message="Version 4 Recommended format: PNG, JPEG"></file-drop-zone>-->
            <!--</file-pane>-->


            <div class="media-actions">
              <div class="action-btns">
                <button class="btn btn-primary"
                        ng-model="file" name="file" ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" ngf-max-size="2MB"
                        ngf-select="vm.uploadImage($file)"
                        ng-disabled="vm.uploading || vm.loadingBrand">
                  <span translate="buttons.upload">Upload</span>
                </button>
              </div>
            </div>
          </file-uploader>
        </div>

      </div>
      <!-- Brand logo version end-->
      <!-- Customer service start-->

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate=".service">Customer Service</h5>
        </div>
        <div class="ibox-content">
          <!-- Customer service form start -->
          <div class="row">
            <div class="form-group col-lg-10">
              <label for="brandCustomerPerson" translate=".name">Customer Service Person Name</label>
              <input
                id="brandCustomerPerson"
                name="brandCustomerPerson"
                ng-model="vm.newBrand.contact.person"
                placeholder="Name"
                type="text"
                ng-disabled="vm.loadingBrand"
                ng-change="vm.enableButton()"
                class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-5">
              <label for="brandCustomerPhone" translate=".phone">Customer Service Phone</label>
              <input id="brandCustomerPhone" ng-model="vm.newBrand.contact.phone" placeholder="123456800" type="text"
                     ng-disabled="vm.loadingBrand" ng-change="vm.enableButton()" class="form-control" name="csPhone">
            </div>
            <div class="form-group col-lg-5" ng-class="{'has-error': brandDetails.brandCustomerEmail.$invalid && brandDetails.brandCustomerEmail.$touched}">
              <label for="brandCustomerEmail" translate=".email">Customer Service Email</label>
              <input
                id="brandCustomerEmail"
                ng-model="vm.newBrand.contact.email"
                placeholder="useremail@miid.com"
                type="email"
                ng-disabled="vm.loadingBrand"
                ng-change="vm.enableButton()"
                class="form-control"
                name="brandCustomerEmail">
            </div>
            <div class="form-group col-lg-5">
              <label for="brandCustomerQQ1" translate=".qq">Customer Service QQ</label>
              <input id="brandCustomerQQ1" ng-model="vm.newBrand.contact.qq" placeholder="123458745" type="text"
                     ng-disabled="vm.loadingBrand" ng-change="vm.enableButton()" class="form-control" name="qq1">
            </div>
            <!--<div class="form-group col-lg-5">-->
            <!--<label for="brandCustomerQQ2">Customer Service QQ2</label>-->
            <!--<input id="brandCustomerQQ2" placeholder="789456321" type="text" ng-disabled="vm.loadingBrand" class="form-control" name="qq2">-->
            <!--</div>-->
            <div class="form-group col-lg-5">
              <label for="brandCustomerWechat" translate=".wechat">Customer Service Wechat</label>
              <input id="brandCustomerWechat" ng-model="vm.newBrand.contact.wechat" type="text"
                     placeholder="peterparker" ng-change="vm.enableButton()" ng-disabled="vm.loadingBrand" class="form-control" name="wechat">
            </div>
          </div>
          <!-- Customer service form end -->

        </div>
      </div>
    </div>
  </div>
</form>
