<div translate-namespace="productsCreatePage.productMedia" class="product-media" ng-controller="ProductMediaController as media">
  <div class="overlay-disabled" ng-if="!media.productID"></div>

  <div class="form-content" ng-init="url = 'app/modules/product/create/product_media/'">

    <div class="media-upload-panel clearfix no-margins" ng-class="{loading: vm.loading}">
        <div ng-init="tempModule = 'thumbnail/thumbnail.html'">
          <ul class="media-types no-padding no-margins">
            <li class="media-type" ng-class="tempModule == 'thumbnail/thumbnail.html'? 'active': ''" ng-click="media.updateType('pr_thumb')">
              <a ng-click="tempModule = 'thumbnail/thumbnail.html'" class="type-label">
                <span translate=".prThumb">Thumbnail</span>
              </a>
            </li>
            <li class="media-type" ng-class="tempModule == 'description-lg/desc_lg.html'? 'active': ''" ng-click="media.updateType('pr_web')">
              <a ng-click="tempModule = 'description-lg/desc_lg.html'" class="type-label">
                <span translate=".prWeb">Description Desktop</span>
              </a>
            </li>
            <li class="media-type" ng-class="tempModule == 'description-mob/desc_mob.html'? 'active': ''" ng-click="media.updateType('pr_mob')">
              <a ng-click="tempModule = 'description-mob/desc_mob.html'" class="type-label">
                <span translate=".prMob">Description Mobile</span>
              </a>
            </li>
            <li class="media-type" ng-class="tempModule == 'banner-lg/banner_lg.html'? 'active': ''" ng-click="media.updateType('pr_bnr_web')">
              <a ng-click="tempModule = 'banner-lg/banner_lg.html'" class="type-label">
                <span translate=".prBannerWeb">Main Banner Desktop</span>
              </a>
            </li>
            <li class="media-type" ng-class="tempModule == 'banner-mob/banner_mob.html'? 'active': ''" ng-click="media.updateType('pr_bnr_mob')">
              <a ng-click="tempModule = 'banner-mob/banner_mob.html'" class="type-label">
                <span translate=".prBannerMob">Main Banner Mobile</span>
              </a>
            </li>
            <li class="media-type" ng-class="tempModule == 'pr-banner-lg/banner_lg.html'? 'active': ''" ng-click="media.updateType('pr_promo_web')">
              <a ng-click="tempModule = 'pr-banner-lg/banner_lg.html'" class="type-label" >
                <span translate=".promotionBannerWeb">Promotion Banner Desktop</span>
              </a>
            </li>
            <li class="media-type" ng-class="tempModule == 'pr-banner-mob/banner_mob.html'? 'active': ''" ng-click="media.updateType('pr_promo_mob')">
              <a ng-click="tempModule = 'pr-banner-mob/banner_mob.html'" class="type-label" >
                <span translate=".promotionBannerMob">Promotion Banner Mobile</span>
              </a>
            </li>
            <li class="media-type" ng-class="tempModule == 'size_ref/size_ref.html'? 'active': ''" ng-click="media.updateType('pr_size_ref')">
              <a ng-click="tempModule = 'size-ref/size_ref.html'" class="type-label">
                <span translate=".prSizeRef">Size Reference</span>
              </a>
            </li>

          </ul>
          <div class="media-content">
            <div ng-include="url+tempModule"></div>
          </div>
          <div class="media-actions">
            <div class="action-btns mg-bt-30">
              <div href="#" class="btn btn-primary"
                      ng-model="file" name="file" ngf-pattern="'image/*'"
                      ngf-accept="'image/*'" ngf-max-size="2MB"
                      ngf-select="media.uploadImage(file)"
                      ng-disabled="media.uploading">
                <span translate="buttons.upload">Upload</span>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>

</div>
