<div class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-7">
        <h2>[<span translate="homePageListPage.heading">HomePage</span>] {{vm.page.title.en}}</h2>
        <ol class="breadcrumb">
          <li>
            CMS
          </li>
          <li class="active">
            <a ui-sref="admin-panel.cms.navigation.list" translate="navigationListPage.heading">Navigation</a>
          </li>
          <li class="active">
            <strong>{{vm.page.title.en}}</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-5 coupons-create">
        <div class="mg-tp-30">
          <div class="pull-right">
            <button class="btn btn-outline mg-rt-10 btn-discard" ui-sref="admin-panel.cms.navigation.list" >
              <span translate="buttons.discard">
                Discard
              </span>
            </button>
            <button  class="btn btn-primary save mg-rt-15" ng-click="vm.saveChangings()" ng-disabled="(vm.enableButton()) || (( vm.isEdit() ) ?  pageForm.$invalid : false )">
              <small ng-hide="vm.loading" >
                <span translate="buttons.saveAll">
                  Save all
                </span>
              </small>
              <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
            </button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mg-bt-10 mg-tp-10">
  <div class="col-sm-12">
    <h3 translate="homePageCreatePage.pageSetup">Homepage set-up
      <span>
      </span>
    </h3>
  </div>
</div>
<form name="pageForm" novalidate>
  <ng-form name="pageFormValidation">
    <div class="row animated collections-create fadeInRight">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5 translate="navigationCreatePage.pageTitle">Page title</h5>
              </div>
              <div class="ibox-content">
                <div class="row">
                  <div class="col-sm-3 ">
                    <label class="mg-tp-5" translate="homePageCreatePage.pageName">Homepage name</label>
                  </div>
                  <div class="col-sm-6" ng-class="{ 'has-error': vm.page.title.en == ''}">
                    <input type="text" ng-blur="vm.fillSlugTitle()"  ng-model="vm.page.title.en" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Upload widget -->

        <div ng-show="vm.isEdit()">
          <div class="row">
            <div class="col-sm-12">
              <div class="ibox">
                <div class="ibox-title">
                  <h5>Main Banner</h5>
                </div>
                <div class="ibox-content no-padding">
                  <div class="page-main-banner">
                    <file-uploader type="library" selected-pane="vm.selectedPane">
                      <div ng-repeat="mainBanner in vm.pageMainBanner">
                        <div>
                          <file-pane title="{{mainBanner.name | translate}}">
                            <div ng-hide="mainBanner.path">
                              <file-drop-zone
                                size-message="Recommended Size 400px by 400px"
                                drop-head="Drop image files here for Logo"
                                drop-message="Recommended format: PNG, JPEG"
                                upload-image="vm.uploadMainBanner"
                                upload-image-param="$index"
                                loading="vm.mainBannerVariable[$index].uploading"
                                upload-progress="vm.mainBannerVariable[$index].uploadProgress"
                                loading-message="Your image is now uploading. This may take a while."></file-drop-zone>
                              <div class="mg-tp-40">
                                <label>Link</label>
                                <input type="text" ng-model="vm.page.main_banner[$index].link" class="form-control mg-lt-20 main-banner-link">
                                <button class="btn btn-primary banner-save-link" ng-click="vm.saveLink($index)" ng-disabled="vm.enableSaveLink()">
                                  <small ng-hide="vm.loading" translate="buttons.saveLink" >Save link</small>
                                  <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
                                </button>
                              </div>
                            </div>

                            <div ng-show="mainBanner.path">
                              <file-preview
                                image-array="mainBanner.images"
                                remove-image="vm.removeMainBanner"
                                remove-image-param="$index"
                              ></file-preview>
                              <div class="mg-tp-40">
                                <label>Link</label>
                                <input type="text" ng-model="vm.page.main_banner[$index].link" class="form-control mg-lt-20 main-banner-link">
                                <button class="btn btn-primary banner-save-link" ng-click="vm.saveLink($index)" ng-disabled="vm.enableSaveLink()">
                                  <small ng-hide="vm.loading" translate="buttons.saveLink" >Save link</small>
                                  <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
                                </button>
                              </div>
                            </div>
                            <div class="media-actions">
                              <div class="action-btns">
                                <button class="btn btn-primary"
                                        ng-model="file" name="file" ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'" ngf-max-size="2MB"
                                        ngf-select="vm.uploadMainBanner($file, $index)"
                                        ng-disabled="vm.loading || mainBanner.path">
                                  <small ng-hide="vm.loading" translate="buttons.uploadBannerImage" >Upload Banner Image</small>
                                  <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
                                </button>
                              </div>
                            </div>
                          </file-pane>

                        </div>
                      </div>
                    </file-uploader>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Image grid (2*2) widget -->

          <div class="row">
            <div ng-include="'app/modules/cms/pages/create/templates/gridByTwoSection.html'"></div>
          </div>

          <!-- Image grid (3*3) widget -->

          <div class="row">
            <div ng-include="'app/modules/cms/pages/create/templates/gridByThreeSection.html'"></div>
          </div>

          <!-- Categories listing widget -->

          <div class="row">
            <div class="col-sm-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5 translate="homePageCreatePage.section.categoriesListing">
                    Categories listing
                  </h5>
                  <h5 class="pull-right">
                    <input class="icheckbox_small" type="checkbox" ng-model="vm.secThree" icheck>
                    <span class="mg-bt-5" translate="words.visible">
                      Visible
                    </span>
                  </h5>
                </div>
                <div class="ibox-content  pd-tp-0" ng-show="vm.secThree">
                  <div class="row">
                    <div class="col-sm-12">
                      <div ng-show="vm.loading">
                        <div class="text-center loading">
                          <i class="fa fa-refresh fa-spin"></i>
                        </div>
                      </div>
                      <div class="col-sm-3 mg-tp-10" ng-hide="vm.loading">
                        <h4 translate="navigationCreatePage.section.title">Section title</h4>
                        <div class="form-group mg-lt-10 mg-bt-5">
                          <label class="font-noraml" translate="homePageCreatePage.section.name">Section name</label>
                          <div ng-class="{ 'has-error': pageFormValidation.collectionSectionTitle.$invalid }">
                            <input type="text" name="collectionSectionTitle" ng-model="vm.page.sections[2].title.en" class="form-control" required>
                          </div>
                        </div>
                        <div class="form-group mg-lt-10 mg-bt-5">
                          <label>
                            <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[2].has_link" icheck>
                            <span class="font-noraml" translate="homePageCreatePage.section.navigationLink">
                            Navigation link
                          </span>
                          </label>
                        </div>
                        <div class="form-group mg-lt-10">
                          <input type="text" ng-model="vm.page.sections[2].link" ng-disabled="!vm.page.sections[2].has_link" class="form-control">
                        </div>
                        <div class="form-group mg-lt-10">
                          <button class="btn btn-primary full-width" ng-click="vm.addCollections()">
                            <small>
                              <span translate="navigationCreatePage.section.addCollection">Add collections</span>
                              <i class="fa fa-plus mg-lt-5"></i>
                            </small>
                          </button>
                        </div>
                        <div class="form-group">
                          <label translate="navigationCreatePage.section.displayOption">
                            Display options
                          </label>
                          <label class="mg-lt-15">
                            <label>
                              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[2].display_options.title" icheck>
                              <span class="font-noraml" translate="navigationCreatePage.section.showSectionTitle">
                                Show section title
                              </span>
                            </label>
                            <label>
                              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[2].display_options.image" icheck>
                              <span class="font-noraml" translate="navigationCreatePage.section.showImageTitle">
                                Show image title
                              </span>
                            </label>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-9 no-padding" ng-class="{ 'no-collection-display': vm.page.sections[2].collections.length <= 0 }" ng-hide="vm.loading">
                        <div>
                          <div class="products" dnd-list="vm.page.sections[2].collections">
                            <div dnd-draggable="collection"
                                 class="product"
                                 dnd-moved="vm.page.sections[2].collections.splice($index, 1)"
                                 dnd-effect-allowed="move"
                                 ng-repeat="collection in vm.page.sections[2].collections">
                              <dnd-nodrag class="drag">
                                <div class="has-pad pd-tp-0-imp">
                                  <div class="row no-margins" style="border-bottom: 1px solid #e7eaec; border-right: 1px solid #e7eaec; border-left: 1px solid #e7eaec; padding: 5px;">
                                    <div class="col-sm-1 mg-tp-20">
                                      <span dnd-handle class="handle">
                                        <i class="grip-icon"></i>
                                      </span>
                                    </div>
                                    <div class="col-sm-2">
                                      <img ng-src="{{ collection.images && collection.images.logo && collection.images.logo !== '' ? vm.baseUrl + collection.images.logo : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive mg-tp-10" alt="{{collection.title}} thumb">
                                    </div>
                                    <div class="col-sm-2">
                                      <p class="mg-tp-20 collection-title">
                                        {{ collection.title }}
                                      </p>
                                    </div>
                                    <div class="col-sm-2">
                                      <a class="navigation-collection-link">
                                        www.miid.com/collection/{{collection.slug}}
                                      </a>
                                    </div>
                                    <div class="col-sm-2">
                                      <p class="mg-tp-20 navigation-product-count">
                                        {{ collection | productCount }} <span translate="productsCreatePage.heading"> products</span>
                                      </p>
                                    </div>
                                    <div class="col-sm-2 mg-tp-20">
                                      <span>
                                      <span ng-show="collection.status == 'ACTIVE'" translate="constants.status.active" class="label status-fix label-white navigation-collection-active label-production">
                                        Active
                                      </span>
                                      <span ng-show="collection.status == 'INACTIVE'" translate="constants.status.in_active" class="label status-fix label-white navigation-collection-active label-error">
                                        Inactive
                                      </span>
                                    </span>
                                    </div>
                                    <div class="col-sm-1 mg-tp-20">
                                      <a class="navigation-collection-cross" style="margin-right: 5px;" href="" ng-click="vm.confirmDeleteCollection(collection._id)">
                                        <i class="fa fa-times"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </dnd-nodrag>
                            </div>
                            <div class="dndPlaceholder">
                              <span translate="words.drop">Drop Here</span>
                            </div>
                          </div>
                          <p class="pd-10 navigation-no-collection" ng-show="vm.page.sections[2].collections.length <= 0" translate="navigationCreatePage.noCollection">No Collections to display</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Product listing widget -->

          <div class="row mg-bt-30">
            <div class="col-sm-12">
              <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <h5 translate="homePageCreatePage.section.productListing">
                    Product listing
                  </h5>
                  <h5 class="pull-right">
                    <input class="icheckbox_small" type="checkbox" ng-model="vm.secFour" icheck>
                    <span class="mg-bt-5" translate="words.visible">
                      Visible
                    </span>
                  </h5>
                </div>
                <div class="ibox-content  pd-tp-0" ng-show="vm.secFour">
                  <div class="row">
                    <div class="col-sm-12">
                      <div ng-show="vm.loading">
                        <div class="text-center loading">
                          <i class="fa fa-refresh fa-spin"></i>
                        </div>
                      </div>
                      <div class="col-sm-3 mg-tp-10" ng-hide="vm.loading">
                        <h4 translate="navigationCreatePage.section.title">Section title</h4>
                        <div class="form-group mg-lt-10 mg-bt-5">
                          <label class="font-noraml" translate="homePageCreatePage.section.name">Section name</label>
                          <div ng-class="{ 'has-error': pageFormValidation.productSectionTitle.$invalid }">
                            <input type="text" name="productSectionTitle" class="form-control" ng-model="vm.page.sections[3].title.en" required>
                          </div>
                        </div>
                        <div class="form-group mg-lt-10 mg-bt-5">
                          <label>
                            <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[3].has_link" icheck>
                            <span class="font-noraml" translate="homePageCreatePage.section.navigationLink">
                              Navigation link
                            </span>
                          </label>
                        </div>
                        <div class="form-group mg-lt-10">
                          <input type="text" ng-disabled="vm.page.sections[3].has_link === false" ng-model="vm.page.sections[3].link" class="form-control">
                        </div>
                        <div class="form-group mg-lt-10">
                          <button class="btn btn-primary full-width" ng-click="vm.addProducts()">
                            <small>
                              <span translate="collectionsCreatePage.add">Add products</span>
                              <i class="fa fa-plus mg-lt-5"></i>
                            </small>
                          </button>
                        </div>
                        <div class="form-group">
                          <label translate="navigationCreatePage.section.displayOption">
                            Display options
                          </label>
                          <label class="mg-lt-15">
                            <label>
                              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[3].display_options.title" icheck>
                              <span class="font-noraml" translate="navigationCreatePage.section.showSectionTitle">
                                Show section title
                              </span>
                            </label>
                            <label>
                              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[3].display_options.image" icheck>
                              <span class="font-noraml" translate="navigationCreatePage.section.showImageTitle">
                               Show image title
                              </span>
                            </label>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-9 no-padding" ng-class="{ 'no-collection-display': vm.page.sections[3].products.length <= 0 }" ng-hide="vm.loading">

                        <div>
                          <div class="products" dnd-list="vm.page.sections[3].products">

                            <div dnd-draggable="product"
                                 class="product"
                                 dnd-moved="vm.page.sections[3].products.splice($index, 1)"
                                 dnd-effect-allowed="move"
                                 ng-repeat="product in vm.page.sections[3].products">
                              <dnd-nodrag class="drag">
                                <div class="has-pad pd-tp-0-imp">
                                  <div class="row no-margins" style="border-bottom: 1px solid #e7eaec; border-right: 1px solid #e7eaec; border-left: 1px solid #e7eaec; padding: 5px;">
                                    <div class="col-sm-1 mg-tp-20">
                                    <span dnd-handle class="handle">
                                      <i class="grip-icon"></i>
                                    </span>
                                    </div>
                                    <div class="col-sm-2 mg-tp-10">
                                      <img ng-src="{{ product.images && product.images.thumb ? vm.baseUrl + product.images.thumb : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive" alt="{{product.miid_id}} thumb">
                                    </div>
                                    <div class="col-sm-2 mg-tp-20">
                                      <p class="mg-tp-20 collection-title">
                                        {{ product.miid_id }}
                                      </p>
                                    </div>
                                    <div class="col-sm-2 mg-tp-20">
                                      {{ product.en.name }}
                                    </div>
                                    <div class="col-sm-2 mg-tp-20">
                                      {{product.brand.length>0 ? product.prod.brand[0].name : product.brand.name }}
                                    </div>
                                    <div class="col-sm-2 mg-tp-20">
                                      <span>
                                      <span ng-show="product.status == 'ACTIVE'" translate="constants.status.active" class="label status-fix label-white navigation-collection-active label-production">
                                        Active
                                      </span>
                                      <span ng-show="product.status == 'IN_ACTIVE'" translate="constants.status.in_active" class="label status-fix label-white navigation-collection-active label-error">
                                        Inactive
                                      </span>
                                    </span>
                                    </div>
                                    <div class="col-sm-1 mg-tp-20">
                                      <a style="margin-right: 5px;" class="navigation-collection-cross" href="" ng-click="vm.confirmDeleteProduct(product._id)">
                                        <i class="fa fa-times"></i>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </dnd-nodrag>
                            </div>
                            <div class="dndPlaceholder">
                              <span translate="words.drop">Drop Here</span>
                            </div>
                          </div>
                          <p class="pd-10 navigation-no-collection" ng-show="vm.page.sections[3].products.length <= 0" translate="errors.noProducts">No Products to display</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  <!-- SEO Widget -->

  <div class="col-sm-3" translate-namespace="collectionsCreatePage">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate=".seo.label">SEO</h5>
      </div>
      <div class="ibox-content mg-bt-60">
        <p translate=".seo.msg">Search engine preview</p>
        <div class="google-seo">
          <span class="google-seo-title">
            <span translate=".seo.title" ng-hide="vm.page.seo.title != '' || vm.page.seo.description != '' || vm.page.slug != ''">Flights to Singapore - QatarAirways.com</span>
            <span ng-show="vm.page.seo.title || vm.page.seo.description || vm.page.slug">{{vm.page.seo.title}}</span>
          </span>
          <div class="google-seo-url">
            <span  ng-hide="vm.page.seo.title != '' || vm.page.seo.description != '' || vm.page.slug != ''">www.qatarairways.com/Singapore</span>
            <span  ng-show="vm.page.seo.title || vm.page.seo.description || vm.page.slug">www.miid.com/home/{{vm.page.slug}}</span>
          </div>
          <div class="google-seo-description">
            <span translate=".seo.description" ng-hide="vm.page.seo.title != '' || vm.page.seo.description != '' || vm.page.slug != ''">Book your flight to Singapore. Discover the world's best Airline. Gateway to world...</span>
            <span  ng-show="vm.page.seo.title || vm.page.seo.description || vm.page.slug">{{vm.page.seo.description}}</span>
          </div>
        </div>

        <div class="form-group mg-tp-20">
          <label for="pageTitle" translate=".seo.fields.title.label">Page title</label>
          <input type="text" ng-model="vm.page.seo.title" ng-change="vm.setSlug()" placeholder="Sample title" id="pageTitle" class="form-control">
        </div>

        <div class="form-group">
          <label for="pageDescription" translate=".seo.fields.description.label">Meta description</label>
          <textarea type="text" ng-model="vm.page.seo.description" placeholder="Sample description" id="pageDescription" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="pageURL" translate="collectionsCreatePage.seo.fields.url">URL and handle</label>
          <div class="input-group m-b" ng-class="{'has-error': vm.slugExist || vm.page.slug == '' }">
            <span class="input-group-btn">
              <button type="button" class="btn input-group-border btn-outline">
                <small class="navigation-seo-slug">http://www.miid.com/home/</small>
              </button>
            </span>
            <input type="text" ng-change="vm.page.slug = vm.slugify(vm.page.slug)" ng-model="vm.page.slug" id="pageURL" class="form-control">
          </div>
        </div>

        <div class="form-group tag">
          <label for="pageKeywords" translate=".seo.fields.keywords.label">Keywords</label>
          <input type="text" ng-model="vm.page.seo.currentKeyword" enter-keypress="vm.addTag()" placeholder="Some keywords" id="pageKeywords" class="form-control">
        </div>

        <div class="tag-container">
          <div class="label tag" ng-repeat="tag in vm.page.seo.keywords">
            <span>{{tag}}</span>
            <i class="fa fa-times remove-tag" ng-click="vm.removeTag(tag)"></i>
          </div>
          <div class="clear"></div>
        </div>

      </div>
    </div>
  </div>
</div>
  </ng-form>
</form>
