<div translate-namespace="productsCreatePage" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-3 no-pd-rt">
    <h2>
      <span>
        <span translate=".breadcrumbs" ng-if="!va.productID">Create</span>
        <span ng-init="showFullCrumbs = false" ng-if="va.productID">
          <span ng-show="!showFullCrumbs && va.productName.length > 15">
            {{va.productName.substr(0, 10)}}<a href="javascript:;" ng-click="showFullCrumbs = true">...</a>
          </span>
          <span ng-show="!showFullCrumbs && va.productName.length <= 15">
            {{va.productName}}
          </span>
          <span ng-show="showFullCrumbs">
            {{va.productName}}&nbsp;<a href="javascript:;" style="position: relative;z-index:10;" ng-click="showFullCrumbs = false">x</a>
          </span>
        </span>
      </span>
      &nbsp;
      <a href="" class="text-inherit" ng-click="parent.navigate('left')">
        <span class="fa orders-nav fa-angle-left"></span>
      </a>
      &nbsp;
      <a href="" class="text-inherit"  ng-click="parent.navigate('right')">
        <span class="fa orders-nav fa-angle-right"></span>
      </a>
    </h2>
    <ol class="breadcrumb">
      <li>
        <strong>
          <a ui-sref="admin-panel.product.list">
            <span translate=".heading">Products</span>
          </a>
        </strong>
      </li>
      <li>
        <span>
          <strong ng-init="showFullName = false">
            <span ng-show="!showFullName && va.productName.length > 15">
                {{va.productName.substr(0, 14)}}<a href="javascript:;" ng-click="showFullName = true">...</a>
              </span>
              <span ng-show="!showFullName && va.productName.length < 15">
                {{va.productName}}
              </span>
              <span ng-show="showFullName">
                {{va.productName}}<a href="javascript:;" style="position: relative;z-index:10;" ng-click="showFullName = false">&nbsp;x</a>
              </span>
          </strong>
        </span>
      </li>
    </ol>
  </div>
  <div class="col-lg-9 text-center">
    <div class="product-wizard">
      <div class="product-steps clearfix">
        <ul>
          <li data-step="1" ui-sref-active="current">
            <a ui-sref="admin-panel.product.create.basic_info({productID: parent.productID})">
              <span translate=".basicInformation.heading">Basic Information</span>
            </a>
          </li>
          <li data-step="2" ui-sref-active="current">
            <a ui-sref="admin-panel.product.create.customization_desc({productID: parent.productID})"
               ng-class="parent.next?'disabled': ''"
               ng-disabled="parent.next"
               stop-click-if="parent.next">
              <span translate=".customisationDescription.heading">Customisation Menu</span>
            </a>
          </li>
          <li data-step="3" class="current" permission permission-only="'canSee.Products.VisualAssets'">
            <a ui-sref="admin-panel.product.create.va.va_upload({productID: parent.productID})"
               stop-click-if="parent.next"
               ng-class="parent.next?'disabled': ''"
               ng-disabled="parent.next">
              <span translate=".visualAssets.heading">Visual Assets</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="pull-right mg-tp-30">-->
      <!--<button class="btn-discard btn mg-rt-10 btn-outline">Cancel</button>-->
      <!--<button class="btn btn-primary">Save all</button>-->
    <!--</div>-->
  </div>
</div>
<div translate-namespace="productsCreatePage" class="wrapper product wrapper-content animated fadeInRight">

  <div class="row mg-bt-20">
    <div class="col-xs-8">
      <h3 translate=".visualAssets.heading">Visual Assets</h3>
    </div>
    <div class="col-xs-4">
      <div class="text-right">
        <a ng-click="parent.deleteCacheImages()" ng-show="!parent.next">
          <span translate=".cacheMsg">Delete cached images</span>
          &nbsp;<i class="fa fa-refresh"></i></a>
      </div>
    </div>
  </div>


  <div class="va" translate-namespace=".visualAssets">
    <div class="tabs-container mg-tp-20 mg-bt-60">
      <ul class="nav nav-tabs">
        <li ui-sref-active="active">
          <a ui-sref=".va_upload" translate=".vaUpload.heading">Product Visual Assets</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref=".va_layering" translate=".vaLayering.heading">Visual Assets Layering</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref=".va_tuning" translate=".vaTuning.heading">Visual Assets Tuning</a>
        </li>
        <li  ui-sref-active="active">
          <a ui-sref=".va_linkage" translate=".vaLinkage.heading">Visual Assets Linkage</a>
        </li>
      </ul>
      <div class="tab-content">

        <div ui-view></div>

      </div>

    </div>

  </div>


</div>
