<div class="row wrapper border-bottom gray-bg page-heading">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-7">
        <h2 translate="404errorPage.heading">Error</h2>
        <ol class="breadcrumb">
          <li class="active">
            <strong translate="404errorPage.heading">Error</strong>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 wrapper-body col-xs-offset-2">

    <div>
      <span class="big-heading">404</span>
    </div>

    <p translate="404errorPage.msg">Oops something went wrong the page you are looking for can't be found!</p>

  </div>
</div>
