<div class="col-sm-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5 translate="homePageCreatePage.section.imageGridTwo">Image grid (2*2)</h5>
      <h5 class="pull-right">
        <input class="icheckbox_small" type="checkbox" ng-model="vm.secOne" icheck>
        <span class="mg-bt-5" translate="words.visible">
          Visible
        </span>
      </h5>
    </div>
    <div class="ibox-content pd-tp-0" ng-show="vm.secOne">
      <div class="row">
        <div class="col-sm-3 mg-tp-10">
          <h4 translate="navigationCreatePage.section.title">Section title</h4>
          <div class="form-group mg-lt-10 mg-bt-5">
            <label class="font-noraml" translate="homePageCreatePage.section.name">Section name</label>
            <div ng-class="{ 'has-error': pageFormValidation.gridByTwoSectionTitle.$invalid }">
              <input name="gridByTwoSectionTitle" type="text" class="form-control" ng-model="vm.page.sections[0].title.en" required>
            </div>
          </div>
          <div class="form-group mg-lt-10 mg-bt-5">
            <label>
              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[0].has_link" icheck>
              <span class="font-noraml" translate="homePageCreatePage.section.navigationLink">
                      Navigation Link
                    </span>
            </label>
          </div>
          <div class="form-group mg-lt-10">
            <input type="text" class="form-control" ng-model="vm.page.sections[0].link" ng-disabled="vm.page.sections[0].has_link === false">
          </div>
          <div class="form-group">
            <label translate="navigationCreatePage.section.displayOption">Display options</label>
            <br/>
            <label class="mg-lt-15">
              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[0].display_options.title" icheck>
              <span class="font-noraml" translate="navigationCreatePage.section.showSectionTitle">
                Show section title
              </span>
            </label>
            <label class="mg-lt-15">
              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[0].display_options.image" icheck>
              <span class="font-noraml" translate="navigationCreatePage.section.showImageTitle">
                Show image titles
              </span>
            </label>
          </div>
          <div class="form-group">
            <label translate="homePageCreatePage.section.displayPreview">Display preview (mobile)</label>
            <br/>
            <label class="no-margins" ng-repeat="grid in vm.page.sections[0].grid">
              <img class="img-responsive material-img display-preview-grid-two"
                   ng-src="{{grid.thumb  ? vm.baseUrl + grid.thumb : '/img/icons/img-placeholder.png'}}"
                   alt="">
            </label>
          </div>
        </div>
        <div class="col-sm-9 no-padding">
          <div class="row grid-by-two" ng-repeat="gridByTwo in vm.page.sections[0].grid">
            <ng-form name="gridByTwoForm">
              <div class="col-xs-3 page-grid-image" ng-init="imgArr=[vm.baseUrl + gridByTwo.thumb]">
                <div class="mg-tp-20">
                  <file-uploader type="simple" main-class="media-upload-small-panel">
                    <file-pane type="small">
                      <div ng-hide="gridByTwo.thumb !== '' && gridByTwo.thumb !== null">
                        <file-drop-zone
                          main-class="sm"
                          drop-message="JPEG: 150px by 150px"
                          upload-image="vm.saveGridByTwoImage"
                          upload-image-param = "{uploadingId: $index, gridId: gridByTwo._id }"
                          loading="vm.gridByTwo[$index].uploading"
                          upload-progress="vm.gridByTwo[$index].uploadProgress"
                          loading-message="Your image is now uploading. This may take a while."></file-drop-zone>
                      </div>
                      <div ng-show="gridByTwo.thumb !== '' && gridByTwo.thumb !== null">
                        <file-preview
                          image-array="imgArr"
                          remove-image="vm.removeGridByTwoImage"
                          remove-image-param="gridByTwo">
                        </file-preview>
                      </div>
                    </file-pane>
                  </file-uploader>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group mg-tp-40">
                  <label class="font-noraml" translate="words.name">
                    Name
                  </label>
                  <div ng-class="{ 'has-error': gridByTwoForm.gridTitle.$invalid }">
                    <input type="text" name="gridTitle" class="form-control" ng-model="gridByTwo.title.en" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group mg-tp-40">
                  <label class="font-noraml" translate="table.head.link">
                    Link
                  </label>
                  <input type="text" class="form-control" ng-model="gridByTwo.link">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group mg-tp-40">
                  <label>
                    <input class="icheckbox_small" type="checkbox" ng-model="gridByTwo.has_label" icheck>
                    <span class="font-noraml" translate="homePageCreatePage.section.label">
                      Label
                    </span>
                  </label>
                  <input type="text" ng-disabled="!gridByTwo.has_label" ng-model="gridByTwo.label.en" class="form-control">
                </div>
              </div>
            </ng-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
