<div class="col-sm-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5 translate="homePageCreatePage.section.imageGridThree">Image grid (3*3)</h5>
      <h5 class="pull-right">
        <input class="icheckbox_small" type="checkbox" ng-model="vm.secTwo" icheck>
        <span class="mg-bt-5" translate="words.visible">
          Visible
        </span>
      </h5>
    </div>
    <div class="ibox-content pd-tp-0" ng-show="vm.secTwo">
      <div class="row">
        <div class="col-sm-3 mg-tp-10">
          <h4 translate="navigationCreatePage.section.title">Section title</h4>
          <div class="form-group mg-lt-10 mg-bt-5">
            <label class="font-noraml" translate="homePageCreatePage.section.name">Section name</label>
            <div ng-class="{ 'has-error': pageFormValidation.gridByThreeSectionTitle.$invalid }">
              <input type="text" name="gridByThreeSectionTitle" class="form-control" ng-model="vm.page.sections[1].title.en" required>
            </div>
          </div>
          <div class="form-group mg-lt-10 mg-bt-5">
            <label>
              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[1].has_link" icheck>
              <span class="font-noraml" translate="homePageCreatePage.section.navigationLink">
                Navigation Link
              </span>
            </label>
          </div>
          <div class="form-group mg-lt-10">
            <input type="text" class="form-control" ng-model="vm.page.sections[1].link" ng-disabled="!vm.page.sections[1].has_link">
          </div>
          <div class="form-group">
            <label translate="navigationCreatePage.section.displayOption">Display options</label>
            <br/>
            <label class="mg-lt-15">
              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[1].display_options.title" icheck>
              <span class="font-noraml" translate="navigationCreatePage.section.showSectionTitle">
                Show section title
              </span>
            </label>
            <label class="mg-lt-15">
              <input class="icheckbox_small" type="checkbox" ng-model="vm.page.sections[1].display_options.image" icheck>
              <span class="font-noraml" translate="navigationCreatePage.section.showImageTitle">
                Show image title
              </span>
            </label>
          </div>
          <div class="form-group">
            <label translate="homePageCreatePage.section.displayPreview">Display preview (mobile)</label>
            <br/>
            <label class="no-margins" ng-repeat="grid in vm.page.sections[1].grid">
              <img class="img-responsive material-img display-preview-grid-three"
                   ng-src="{{grid.thumb  ? vm.baseUrl + grid.thumb : '/img/icons/img-placeholder.png'}}"
                   alt="">
            </label>
          </div>
        </div>
        <div class="col-sm-9 no-padding">
          <div class="row grid-by-two" ng-repeat="gridByThree in vm.page.sections[1].grid">
            <ng-form name="gridByThreeForm">
              <div class="col-xs-3 page-grid-image" ng-init="arr=[vm.baseUrl + gridByThree.thumb]">
                <div class="mg-tp-20">
                  <file-uploader type="simple" main-class="media-upload-small-panel">
                    <file-pane type="simple">
                      <div ng-hide="gridByThree.thumb !== '' && gridByThree.thumb !== null">
                        <file-drop-zone
                          main-class="sm"
                          drop-message="JPEG: 150px by 150px"
                          upload-image="vm.saveGridByThreeImage"
                          upload-image-param="{uploadingId: $index, gridId: gridByThree._id}"
                          loading="vm.gridByThree[$index].uploading"
                          upload-progress="vm.gridByThree[$index].uploadProgress"
                          loading-message="Your image is now uploading. This may take a while."></file-drop-zone>
                      </div>
                      <div ng-show="gridByThree.thumb !== '' && gridByThree.thumb !== null">
                        <file-preview
                          image-array="arr"
                          remove-image="vm.removeGridByThreeImage"
                          remove-image-param="gridByThree"
                        >
                        </file-preview>
                      </div>
                    </file-pane>
                  </file-uploader>
                </div>
                <div>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group mg-tp-30">
                  <label class="font-noraml" translate="words.name">
                    Name
                  </label>
                  <div ng-class="{ 'has-error': gridByThreeForm.gridTitle.$invalid }">
                    <input type="text" name="gridTitle" class="form-control" ng-model="gridByThree.title.en" required>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group mg-tp-30">
                  <label class="font-noraml" translate="table.head.link">
                    Link
                  </label>
                  <input type="text" class="form-control" ng-model="gridByThree.link">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="form-group mg-tp-30">
                  <label>
                    <input class="icheckbox_small" type="checkbox" ng-model="gridByThree.has_label" icheck>
                    <span class="font-noraml" translate="homePageCreatePage.section.label">
                      Label
                    </span>
                  </label>
                  <input type="text" ng-disabled="!gridByThree.has_label" ng-model="gridByThree.label.en" class="form-control">
                </div>
              </div>
            </ng-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
