<th class="list-box" permission permission-only="'canSee.Orders.ChangeStatus'" ng-class="options.listBox ? 'selected': ''">
  <div class="border">
    <div>
      <input icheck type="checkbox" ng-change="options.toggleCheckbox(options.listBox)" ng-model="options.listBox">
    </div>
    <div ng-show="options.listBox" class="text">
      <small translate="table.bulk.selectedLabel" translate-values="{count: {{options.count}}}">{{options.count}} orders selected</small>
    </div>
    <div class="btn-group action-btn" ng-show="options.listBox" uib-dropdown>
      <button id="single-button" type="button" class="btn btn-xs btn-outline"
              uib-dropdown-toggle>
        <span translate="table.bulk.label">Bulk actions</span>
        <span class="fa fa-sort-down"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
          <a href="javascript:;" ng-click="options.changeStatus()" translate="table.bulk.change_status">Change Status</a>
        </li>
        <li class="divider"></li>
        <li role="menuitem"><a href="javascript:;" ng-click="options.exportOrders()">Export Orders</a></li>
      </ul>
    </div>
  </div>

</th>
<th ng-click="handleClick(column.query)"  ng-repeat="column in columns">
  <span class="adjust-column">{{'table.head.' + column.title.toLowerCase() | translate}}</span>
  <span class="sort">
    <i class="fa fa-sort"
       ng-class="sorting? ((options.category == column.query)? ( count == 0 ? 'fa-sort-up' : 'fa-sort-down'):''): ''"></i>
  </span>
</th>
