<div class="ibox" translate-namespace=".basicInformation.organisation">
  <div class="ibox-title">
    <h5 class="loading-shield" translate=".heading">Organisation</h5>
    <div class="content-loader content-loader-heading"></div>
  </div>
  <div class="ibox-content collections-create">
    <div class="form-group">
      <div class="loading-shield">
        <label for="productCategory" translate=".category">Category</label>
        <select class="form-control m-b" id="productCategory"
                name="productCategory" ng-model="vm.product.organisation.categories.category"
                ng-options="category.title for category in vm.product.categories track by category._id">
        </select>
      </div>
      <div class="content-loader mg-bt-20 content-loader-heading"></div>

      <div class="loading-shield">
        <label for="productSubcategories" translate=".subCategory">Sub Categories (up to 4)</label>
        <span ng-class="{'has-error': vm.product.organisation.categories.sub_categories.length <= 0 || vm.product.organisation.categories.sub_categories.length > 4}">
        <select class="form-control m-b" ng-change="vm.validateSubcategoriesCount()"
                id="productSubcategories" multiple
                ng-model="vm.product.organisation.categories.sub_categories" name="productSubcategories"
                ng-options="subCat._id as subCat.title for subCat in vm.product.organisation.categories.category.sub_categories">
      </select>
      </span>
      </div>
      <div class="content-loader mg-bt-20 content-loader-alternate-width content-loader-heading"></div>

    </div>
    <div class="form-group tag loading-shield">
      <label for="productPageKeywords" translate="words.keywords">Keywords</label>
      <input type="text"
             id="productPageKeywords"
             placeholder="Enter keyword and press enter"
             class="form-control"
             enter-keypress="vm.addTag(vm.product.organisation.tag, 'organisation')" ng-model="vm.product.organisation.tag">
    </div>
    <div class="content-loader mg-bt-20 content-loader-heading"></div>

    <div class="tag-container loading-shield">
      <div class="label tag" ng-repeat="tag in vm.product.organisation.tags">
        <span>{{tag}}</span>
        <i class="fa fa-times remove-tag" ng-click="vm.removeTag(tag, 'organisation')"></i>
      </div>
      <p ng-hide="vm.product.organisation.tags.length > 0" translate="errors.noTags">No tags.. Try adding some.</p>
      <div class="clear"></div>
    </div>
  </div>
</div>
