<div class="ibox">
  <div class="ibox-title">
    <div class="content-loader content-loader-heading"></div>
    <h5 class="loading-shield" translate=".basicInformation.clientProductInformation.promotion.label">Promotions</h5>
    <label class="loading-shield pull-right">
      <input type="checkbox"
             ng-model="vm.product.promotions.enable"
             icheck class="icheckbox_small">
      &nbsp;<span translate=".basicInformation.clientProductInformation.promotion.start">Put this product on promotion</span>
    </label>
  </div>
  <div class="ibox-content">
    <label class="loading-shield" translate="couponsCreatePage.labels.conditions">Conditions</label>
    <div class="content-loader content-loader-heading"></div>

    <div class="row mg-tp-20">
      <div class="col-xs-4">
        <div class="loading-shield">
          <label for="productPromotionDiscountType" translate="couponsCreatePage.type">Discount type</label>
          <select class="form-control"
                  ng-model="vm.product.promotions.conditions.discountType"
                  ng-disabled="!vm.product.promotions.enable"
                  id="productPromotionDiscountType">
            <option value="PERCENT">Percentage %</option>
            <option value="AMOUNT">{{'table.head.amount'| translate}}</option>
          </select>
        </div>
        <div class="content-loader content-loader-input"></div>
      </div>
      <div class="col-xs-4">
        <div class="loading-shield">
          <label for="productPromotionDiscountValue">* <span translate="couponsCreatePage.value">Discount value</span></label>
          <div class="input-group" ng-class="{'has-error': productForm.productPromotionDiscountValue.$invalid && productForm.productPromotionDiscountValue.$touched}">
            <input type="number" ng-model="vm.product.promotions.conditions.discountValue"
                   ng-disabled="!vm.product.promotions.enable" class="form-control"
                   name="productPromotionDiscountValue" ng-min="!vm.product.promotions.enable" min="1"
                   ng-required="vm.product.promotions.enable" id="productPromotionDiscountValue">
            <span class="input-group-btn">
            <button class="btn btn-default btn-outline">
              {{vm.product.promotions.conditions.discountType == 'AMOUNT'? 'rmb': '%'}}
            </button>
          </span>
          </div>
        </div>

        <div class="content-loader content-loader-input"></div>
      </div>
    </div>
  </div>
  <div class="ibox-content coupons-create">
    <label class="loading-shield" translate=".basicInformation.clientProductInformation.promotion.expiry">Expiry</label>
    <div class="content-loader mg-bt-20 content-loader-heading"></div>

    <div class="row mg-tp-10">
      <div class="col-sm-3">
        <div class="form-group loading-shield mg-tp-25">
          <label class="font-noraml">
            <input name="productLimitExpires"
                   icheck type="radio" ng-value="false"
                   ng-disabled="!vm.product.promotions.enable"
                   ng-model="vm.product.promotions.expiry.expires">
            <span translate="couponsCreatePage.noExpiry">No Expiry</span>
          </label>
        </div>
        <div class="content-loader content-loader-input"></div>
      </div>
      <div class="col-sm-9 no-pd-lt">
        <div class="row">
          <div class="col-sm-3">
            <div class="loading-shield form-group mg-tp-25">
              <label class="font-noraml">
                <input name="productLimitExpires"
                       icheck type="radio" ng-value="true"
                       ng-disabled="!vm.product.promotions.enable"
                       ng-model="vm.product.promotions.expiry.expires">
                <span translate="couponsCreatePage.expires">Expires</span>
              </label>
            </div>
            <div class="content-loader content-loader-input"></div>
          </div>
          <div class="col-sm-8">
            <div class="form-group loading-shield input-labels">
              <label>
                <span translate="couponsCreatePage.start">Start</span>
                <span translate="couponsCreatePage.end">End</span>
              </label>
              <div class="input-group date" ng-disabled="!vm.product.promotions.expiry.expires">
                <span>
                  <input
                    ng-required="vm.product.promotions.expiry.expires"
                    type="datetime" auto-close="true"
                    name="productExpiryStart"
                    ng-disabled="!vm.product.promotions.expiry.expires || !vm.product.promotions.enable"
                    class="form-control custom-input" date-time
                    ng-model="vm.product.promotions.expiry.start"
                    format="DD/MM/YYYY" min-view="date" view="date">
                </span>

                <span class="input-group-addon date-addon">to</span>
                <span>
                  <input
                    ng-required="vm.product.promotions.expiry.expires"
                    type="datetime" auto-close="false"
                    name="productExpiryEnd"
                    ng-disabled="!vm.product.promotions.expiry.expires || !vm.product.promotions.enable"
                    class="form-control" date-time
                    ng-model="vm.product.promotions.expiry.end"
                    view="date" format="DD/MM/YYYY" min-view="date">
                </span>
              </div>
            </div>
            <div class="content-loader content-loader-input"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="ibox-content coupons-create">
    <label class="loading-shield" translate="couponsCreatePage.quantity">Quantity available</label>
    <div class="content-loader content-loader-heading"></div>

    <div class="row mg-tp-20">
      <div class="col-sm-3 mg-tp-5">
        <div class="form-group loading-shield">
          <label class="font-noraml">
            <input type="radio" ng-value="'NOT_LIMITED'"
                   name="productLimit" icheck
                   ng-disabled="!vm.product.promotions.enable"
                   ng-model="vm.product.promotions.quantity.type">
            <span translate="couponsCreatePage.unlimited">Unlimited</span>
          </label>
        </div>
        <div class="content-loader content-loader-input"></div>

      </div>
      <div class="col-sm-2 no-pd-rt no-pd-lt mg-tp-5">
        <div class="form-group loading-shield">
          <label class="font-noraml">
            <input icheck type="radio"
                   ng-disabled="!vm.product.promotions.enable"
                   ng-value="'LIMITED'" name="productLimit"
                   ng-model="vm.product.promotions.quantity.type">
            <span translate="couponsCreatePage.limited">Limited to</span>
          </label>
        </div>
        <div class="content-loader content-loader-input"></div>

      </div>

      <div class="col-sm-2">
        <div class="form-group loading-shield"
             ng-class="{'has-error': productForm.limitedTo.$invalid && productForm.limitedTo.$touched}">
          <input type="number" name="limitedTo"
                 ng-required="vm.product.promotions.quantity.type == 'LIMITED'"
                 ng-disabled="vm.product.promotions.quantity.type != 'LIMITED' || !vm.product.promotions.enable"
                 ng-model="vm.product.promotions.quantity.value"
                 class="form-control">
        </div>
      </div>
      <div class="col-sm-3 mg-tp-5">
        <div class="form-group loading-shield">
          <label class="font-noraml">
            <input icheck type="radio"
                   ng-disabled="!vm.product.promotions.enable"
                   ng-value="'FAKE_LIMITED'" name="promotionLimit"
                   ng-model="vm.product.promotions.quantity.type">
            <span translate="couponsCreatePage.fake">Fake limited</span>
          </label>
        </div>
        <div class="content-loader content-loader-input"></div>

      </div>
    </div>
  </div>
  <div class="ibox-content">
    <label class="loading-shield" translate="words.other">Other</label>
    <div class="content-loader content-loader-heading"></div>

    <div class="row mg-tp-20 mg-bt-20">
      <div class="col-xs-12">
        <label class="loading-shield">
          <input type="checkbox" ng-disabled="!vm.product.promotions.enable"
                 class="icheckbox_small" icheck
                 ng-model="vm.product.promotions.activatePromotionBanner">
          &nbsp; <span translate=".basicInformation.clientProductInformation.promotion.promotionBanner">Activate product promotion banner</span>
        </label>
        <div class="content-loader content-loader-alternate-width content-loader-heading"></div>

      </div>
    </div>
  </div>
</div>
