<div class="ibox" translate-namespace=".basicInformation.visibility">
  <div class="ibox-title">
    <h5 class="loading-shield" translate=".heading">Status and visibility</h5>
    <div class="content-loader mg-bt-20 content-loader-heading"></div>
  </div>
  <div class="ibox-content">
    <div class="row collections-create">
      <div class="col-xs-12 text-center mg-bt-20">
        <div class="loading-shield">
          <span class="big-label label title-case label-white" ng-class="vm.product.visibility.status == 'ACTIVE'? 'label-production': 'label-error'">
            {{(vm.product.visibility.status == 'ACTIVE'? 'constants.status.active': 'constants.status.in_active') | translate}}
          </span>
          <div ng-show="vm.productID || productForm.$valid" class="action-btn mg-tp-10 text-center" uib-dropdown>
            <a href="" uib-dropdown-toggle class="no-padding">
              <span translate=".head">change status</span>
            </a>
            <ul class="pd-10" uib-dropdown-menu>
              <li>
                <a href="javascript:;" translate="constants.status.active" ng-click="vm.product['visibility']['status'] = 'ACTIVE'">Active</a>
              </li>
              <li class="divider">
              </li>
              <li>
                <a href="javascript:;" translate="constants.status.in_active" ng-click="vm.product['visibility']['status'] = 'INACTIVE'">Inactive</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="content-loader-fixed-big content-loader"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="loading-shield">
          <label ng-class="!vm.product['visibility']['channels']['WEB_MOBILE']? 'font-noraml': ''">
            <input type="checkbox" icheck class="icheckbox_small"
                   ng-model="vm.product['visibility']['channels']['WEB_MOBILE']">
            &nbsp;<span translate=".option1">Web mobile</span>
          </label>
        </div>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>

      <div class="col-xs-6 no-pd-lt">
        <label class="loading-shield" ng-class="!vm.product['visibility']['channels']['IOS']? 'font-noraml': ''">
          <input type="checkbox" icheck class="icheckbox_small"
                 ng-model="vm.product['visibility']['channels']['IOS']">
          &nbsp;<span translate=".option2">MIID iOS app</span>
        </label>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
      <div class="col-xs-6">
        <label class="loading-shield" ng-class="!vm.product['visibility']['channels']['WEB_DESKTOP']? 'font-noraml': ''">
          <input type="checkbox" icheck class="icheckbox_small"
                 ng-model="vm.product['visibility']['channels']['WEB_DESKTOP']">
          &nbsp;<span translate=".option3">Web desktop</span>
        </label>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
      <div class="col-xs-6 no-pd-lt">
        <label class="loading-shield" ng-class="!vm.product['visibility']['channels']['ANDROID']? 'font-noraml': ''">
          <input type="checkbox" icheck class="icheckbox_small"
                 ng-model="vm.product['visibility']['channels']['ANDROID']">
          &nbsp;<span translate=".option4">MIID Android app</span>
        </label>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
      <div class="col-xs-6">
        <label class="loading-shield" ng-class="!vm.product['visibility']['channels']['VR']? 'font-noraml': ''">
          <input type="checkbox" icheck class="icheckbox_small"
                 ng-model="vm.product['visibility']['channels']['VR']">
          &nbsp;<span translate=".option5">VR</span>
        </label>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
    </div>
  </div>
</div>

<div class="ibox" translate-namespace="collectionsCreatePage.seo">
  <div class="ibox-title">
    <h5 class="loading-shield" translate=".label">SEO</h5>
    <div class="content-loader content-loader-heading"></div>
  </div>
  <div class="ibox-content collections-create">
    <p class="loading-shield" translate=".msg">Search engine preview</p>
    <div class="content-loader mg-bt-20 content-loader-heading"></div>

    <div class="google-seo">
      <span class="google-seo-title loading-shield">
        <span ng-hide="vm.product.seo.title" translate=".title">Flights to Singapore - QatarAirways.com</span>
        <span ng-show="vm.product.seo.title">{{vm.product.seo.title}}</span>
      </span>
      <div class="content-loader content-loader-alternate-width mg-bt-20 content-loader-heading"></div>

      <div class="google-seo-url loading-shield">
        <span ng-hide="true">www.qatarairways.com/Singapore</span>
        <span ng-hide="false">www.miid.com/product/{{vm.product.seo.slug}}</span>
      </div>
      <div class="content-loader mg-bt-20 content-loader-heading"></div>

      <div class="google-seo-description loading-shield">
        <span ng-hide="vm.product.seo.description" translate=".description">Book your flight to Singapore. Discover the world's best Airline. Gateway to world...</span>
        <span ng-show="vm.product.seo.description">{{vm.product.seo.description}}</span>
      </div>
      <div class="content-loader mg-bt-20 content-loader-para"></div>

    </div>

    <div class="form-group mg-tp-20 loading-shield">
      <label for="productPageTitle" translate=".fields.title.label">Page title</label>
      <input type="text" placeholder="{{'collectionsCreatePage.seo.fields.title.placeholder'| translate}}"
             ng-model="vm.product.seo.title"
             id="productPageTitle" class="form-control">
    </div>

    <div class="form-group loading-shield">
      <label for="productPageDescription" translate=".fields.description.label">Meta description</label>
      <textarea rows="6" placeholder="{{'collectionsCreatePage.seo.fields.description.placeholder'| translate}}"
                id="productPageDescription"
                ng-model="vm.product.seo.description"
                class="form-control">
      </textarea>
    </div>

    <div class="form-group loading-shield">
      <label for="productPageURL">URL and handle</label>
      <div class="input-group m-b" ng-class="{'has-error': vm.slugExist || vm.product.seo.slug === ''}">
            <span class="input-group-btn">
              <button type="button" class="btn no-pd-rt input-group-border btn-outline">
                <small class="ng-binding">http://www.miid.com.cn/product/</small>
              </button>
            </span>
        <input type="text" id="productPageURL" ng-model="vm.product.seo.slug"
               class="form-control no-pd-lt no-pd-rt" ng-change="vm.slugify()" required>
      </div>
    </div>

    <div class="form-group tag loading-shield">
      <label for="productPageKeywords" translate=".fields.keywords.label">Keywords</label>
      <input type="text" enter-keypress="vm.addTag(vm.product.seo.tag, 'seo')"
             placeholder="{{'collectionsCreatePage.seo.fields.keywords.placeholder'| translate}}" id="productPageKeywords"
             class="form-control" ng-model="vm.product.seo.tag">
    </div>

    <div class="tag-container loading-shield">
      <div class="label tag" ng-repeat="tag in vm.product.seo.tags">
        <span class="ng-binding">{{tag}}</span>
        <i class="fa fa-times remove-tag" ng-click="vm.removeTag(tag, 'seo')"></i>
      </div>
      <p ng-hide="vm.product.seo.tags.length > 0" translate="errors.noTags">No tags.. Try adding some.</p>
      <div class="clear"></div>
    </div>

  </div>
</div>
