<div class="ibox">
  <div class="ibox-title">
    <h5 class="loading-shield">MIID <span translate="words.information">Information</span></h5>
    <div class="content-loader content-loader-heading"></div>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-5">
        <div class="form-group loading-shield" ng-class="{'has-error': productForm.productMIID.$invalid && productForm.productMIID.$touched}">
          <label for="productMIID">MIID ID</label>
          <input type="text" id="productMIID" ng-change="vm.slugify(vm.product.miidInfo.miid)"
                 name="productMIID" placeholder="* Write MIID ID here"
                 ng-model="vm.product.miidInfo.miid" required
                 ng-disabled="vm.product.id" class="form-control">
          <div class="mg-tp-5">
            <small>
              <span translate=".basicInformation.date">Creation date</span>
              {{vm.product.miidInfo.created | date: 'd/M/yyyy'}}</small>
          </div>
        </div>
        <div class="content-loader content-loader-input"></div>
      </div>
      <div class="col-xs-7">
        <label for="productMerchantType" class="loading-shield" translate="words.merchant">Merchant</label>
        <div class="row">
          <div class="col-xs-4 no-pd-rt">
            <select ng-disabled="true" class="form-control loading-shield"
                    required
                    ng-model="vm.product.miidInfo.merchantType"
                    name="" id="productMerchantType">
              <option value="BRAND">Brand</option>
              <option value="IP">IP</option>
              <option value="ARTIST">Artist</option>
              <option value="MULTI_BRAND">Multi Brand</option>
            </select>
            <div class="content-loader content-loader-input"></div>
          </div>
          <div class="col-xs-8">
            <select class="form-control loading-shield m-b" name="brand"
                    ng-model="vm.product.miidInfo.merchantValue"
                    ng-options="option._id as option.name for option in vm.product.brands"
                    required>
            </select>
            <div class="content-loader content-loader-input"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
