<div class="ibox" translate-namespace=".basicInformation">
  <div class="ibox-title">
    <h5 class="loading-shield" translate=".heading">Basic Information</h5>
    <div class="content-loader content-loader-heading"></div>
  </div>
  <div class="ibox-content" translate-namespace=".clientProductInformation">
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group loading-shield" ng-class="{'has-error': productForm.productName.$invalid && productForm.productName.$touched}">
          <label for="productName" translate=".name.title">Product name</label>
          <input type="text" placeholder="* {{'productsCreatePage.basicInformation.clientProductInformation.name.placeholder'| translate}}"
                 id="productName" ng-model="vm.product.basicInfo.name"
                 class="form-control" name="productName" required>
        </div>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
      <div class="col-xs-4">
        <div class="form-group loading-shield" ng-class="{'has-error': productForm.productSKU.$invalid && productForm.productSKU.$touched}">
          <label for="productSKU" translate=".sku">SKU</label>
          <input type="text" placeholder="* SKU"
                 required name="productSKU"
                 ng-model="vm.product.basicInfo.sku"
                 id="productSKU" class="form-control">
        </div>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 no-pd-rt">
        <div class="form-group loading-shield">
          <label for="productPrice" translate=".price">* Basic price</label>
          <div class="input-group" ng-class="{'has-error': productForm.productPrice.$invalid && productForm.productPrice.$touched}">
            <input type="number"
                   id="productPrice" name="productPrice"
                   min="1" ng-model="vm.product.basicInfo.price"
                   required class="form-control">
            <span class="input-constant-ph">rmb</span>
          </div>
        </div>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
      <div class="col-xs-2">
        <div class="form-group loading-shield">
          <label for="productCost" translate=".cost">* Prod. Cost</label>
          <div class="input-group"  ng-class="{'has-error': productForm.productCost.$invalid && productForm.productCost.$touched}">
            <input type="number" required name="productCost"
                   ng-model="vm.product.basicInfo.cost" min="1"
                   id="productCost" class="form-control">
            <span class="input-constant-ph">rmb</span>
          </div>
        </div>
        <div class="content-loader content-loader-input"></div>
      </div>
      <div class="col-xs-2 no-pd-rt">
        <div class="form-group loading-shield">
          <label for="productTime" translate=".time">* Prod. time</label>
          <div class="input-group" ng-class="{'has-error': productForm.productTime.$invalid && productForm.productTime.$touched}">
            <input type="number" min="1" required
                   name="productTime"
                   ng-model="vm.product.basicInfo.time"
                   id="productTime" class="form-control">
            <span class="input-constant-ph" translate=".days">days</span>
          </div>
        </div>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
      <div class="col-xs-2">
        <div class="form-group loading-shield">
          <label for="productWeight" translate=".weight">Weight</label>
          <div class="input-group" ng-class="{'has-error': productForm.productWeight.$invalid && productForm.productWeight.$touched}">
            <input type="number" id="productWeight" class="form-control"
                   ng-model="vm.product.basicInfo.weight"
                   name="productWeight" min="0">
            <span class="input-constant-ph">gr</span>
          </div>
        </div>
        <div class="content-loader content-loader-input"></div>
      </div>
      <div class="col-xs-4">
        <div class="form-group loading-shield">
          <label for="productManufacturer" translate=".manufacturer">Manufacturer</label>
          <select class="form-control m-b" name="brand"
                  id="productManufacturer"
                  ng-disabled="true"
                  ngs-model="vm.product.miidInfo.merchantValue"
                  ng-osptions="option._id as option.name for option in vm.product.brands"
                  required>
            <option value="" translate=".manufacturer">Manufacturer</option>
          </select>
        </div>
        <div class="content-loader mg-bt-20 content-loader-input"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="loading-shield">
          <label for="productDescription" translate=".description">Description</label>
          <summernote id="productDescription" editable="false"
                      ng-model="vm.product.basicInfo.description" config="vm.editorOptions"
                      height="150">
          </summernote>
        </div>
        <div class="content-loader mg-bt-20 content-loader-para-big"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="loading-shield">
          <label for="productNotes" translate=".notes">Production notes</label>
          <textarea class="form-control"
                    ng-model="vm.product.basicInfo.notes"
                    id="productNotes" rows="3">
          </textarea>
        </div>
        <div class="content-loader content-loader-para"></div>
      </div>
    </div>
  </div>
</div>
