<div class="ibox">
  <div class="ibox-title">
    <div class="content-loader content-loader-heading"></div>
    <h5 class="loading-shield" translate="productsCreatePage.productMedia.heading">Product Media</h5>
  </div>
  <div class="ibox-content no-padding">

    <div class="loading-shield" ng-include="'app/modules/product/create/product_media/wizard_product_media.html'"></div>
    <div class="ibox-content" ng-show="vm.loading">
      <div class="content-loader mg-bt-10 content-loader-heading"></div>
      <div class="content-loader mg-bt-20 content-loader-heading content-loader-alternate-width"></div>
      <div class="content-loader content-loader-heading content-loader-heading-long"></div>
    </div>
  </div>
</div>
