<div class="ibox">
  <div class="ibox-title">
    <h5 class="loading-shield" translate="userReviewsListPage.heading">User Reviews</h5>
    <div class="content-loader content-loader-heading"></div>
    <a ui-sref="admin-panel.cms.user_reviews({productID: vm.product.id, productMIID: vm.product.miidInfo.miid})" ng-show="vm.product.reviews.total" class="pull-right">
      See reviews
    </a>
  </div>
  <div class="ibox-content text-center">
    <div class="content-loader mg-bt-20 content-loader-heading"></div>
    <div class="content-loader content-loader-heading content-loader-alternate-width"></div>
    <div class="loading-shield">{{vm.product.reviews.total}} <span translate="words.reviews">Reviews</span> (<span translate="words.avgRating"></span> {{vm.product.reviews.avg}})</div>
    <div style="padding: 10px 0 0 0" class="loading-shield">
      <div class="acidjs-rating-stars acidjs-rating-disabled">
        <input disabled="disabled" type="radio" ng-checked="vm.product.reviews.avg > 4" name="group-3"
               id="group-3-0" value="5"/>
        <label for="group-3-0"></label>
        <input disabled="disabled" type="radio"
               ng-checked="vm.product.reviews.avg > 3 && vm.product.reviews.avg <=4" name="group-3"
               id="group-3-1" value="4"/>
        <label for="group-3-1"></label>
        <input disabled="disabled" type="radio"
               ng-checked="vm.product.reviews.avg > 2 && vm.product.reviews.avg <=3" name="group-3"
               id="group-3-2" value="3"/>
        <label for="group-3-2"></label>
        <input disabled="disabled" type="radio"
               ng-checked="vm.product.reviews.avg > 1 && vm.product.reviews.avg <=2" name="group-3"
               id="group-3-3" value="2"/>
        <label for="group-3-3"></label>
        <input disabled="disabled" type="radio"
               ng-checked="vm.product.reviews.avg <=1 && vm.product.reviews.avg>0" name="group-3"
               id="group-3-4" value="1"/>
        <label for="group-3-4"></label>
      </div>

    </div>
  </div>
</div>


<div class="ibox">
  <div class="ibox-title">
    <h5 class="loading-shield" translate="modals.product.label1">Related Products</h5>
    <div class="content-loader content-loader-heading"></div>
    <a stop-click-if="!vm.productID"
       ng-hide="!vm.productID"
       ng-disabled="!vm.productID"
       class="pull-right loading-shield"
       ng-click="vm.addRelatedProducts()">
      <span translate="buttons.edit">Edit</span>
    </a>
  </div>
  <div class="ibox-content no-padding">
    <div class="related-products">
      <p class="mg-tp-10 pd-bt-10" ng-hide="vm.loadingProducts || vm.loading" ng-if="vm.relatedProducts.length < 1" translate="errors.noProducts">No products to show</p>
      <div class="products" dnd-list="vm.relatedProducts">

        <div ng-show="vm.loading" class="row mg-tp-20">
          <div class="col-xs-3 mg-bt-20">
            <div class="content-loader content-loader-img"></div>
          </div>
          <div class="col-xs-8 no-pd-lt">
            <div class="content-loader mg-bt-10 content-loader-heading"></div>
            <div class="content-loader content-loader-heading content-loader-alternate-width"></div>
          </div>
        </div>

        <div dnd-draggable="product"
             class="product loading-shield"
             dnd-moved="vm.relatedProducts.splice($index, 1)"
             dnd-effect-allowed="move"
             ng-repeat="product in vm.relatedProducts">

          <dnd-nodrag class="drag">
            <div class="has-pad">
              <div class="row rel-product">
                <div class="handler col-sm-2">
                        <span dnd-handle class="handle">
                          <i class="grip-icon"></i>
                        </span>
                </div>
                <div class="col-sm-3 rel-img">
                  <img ng-src="{{ product.images && product.images.thumb ? vm.baseURL + product.images.thumb : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive" alt="{{product.miid_id}} thumb">
                </div>

                <div class="col-sm-5">
                  <div>
                    <p class="mg-tp-20 text-break-word collection-title">
                    <div>
                      <a target="_blank" ui-sref="admin-panel.product.create.basic_info({productID: product._id})">{{product.miid_id}}</a>
                    </div>
                    {{product.en.desc}}
                    </p>
                  </div>
                </div>

                <div class="col-sm-2 mg-tp-30 text-center">
                  <a href="" ng-click="vm.confirmDelete(product._id, product)">
                    <i ng-hide="product.loading" class="fa fa-times"></i>
                    <i ng-show="product.loading" class="fa fa-cog fa-spin"></i>
                  </a>
                </div>

              </div>
            </div>


          </dnd-nodrag>
        </div>


        <div class="dndPlaceholder">
          <span translate="words.drop">Drop Here</span>
        </div>

      </div>
    </div>
  </div>

</div>
