<div class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-lg-8">
    <h2 translate="ordersListPage.heading.title">Orders Page</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong translate="ordersListPage.breadcrumbs.text">Orders Page</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-4 text-right">
    <button class="btn btn-outline mg-tp-30 btn-lg btn-discard" translate="ordersExport.button" ng-click="vm.exportOrders()">Export</button>
  </div>
</div>

<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<div class="ibox float-e-margins">-->
      <!--<div class="ibox-content ">-->
        <!--<div class="row">-->
          <!--<div class="col-md-9" ng-controller="OrdersChartController as chart">-->
            <!--<div class="mg-bt-20">-->
              <!--<h3 class="font-bold no-margins">Total Orders / Revenue</h3>-->
              <!--<small>Lorem Ipsum</small>-->
            <!--</div>-->
            <!--<div class="mg-bt-20">-->
              <!--<canvas linechart options="chart.lineOptions" data="chart.lineData" height="100" responsive=true ></canvas>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-3 orders-widget">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-12">-->
                <!--<div class="btn-group" ng-init="radio='Monthly'">-->
                  <!--<label class="btn btn-sm btn-default btn-outline" ng-model="radio" uib-btn-radio="'Daily'">Daily</label>-->
                  <!--<label class="btn btn-sm btn-default btn-outline active" ng-model="radio" uib-btn-radio="'Monthly'">Monthly</label>-->
                  <!--<label class="btn btn-sm btn-default btn-outline" ng-model="radio" uib-btn-radio="'Yearly'">Yearly</label>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-12 mg-tp-20">-->
                <!--<h4>November 28</h4>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row mg-tp-20">-->
              <!--<div class="col-lg-12">-->
                <!--<h5>Average Orders Per Day</h5>-->
                <!--<span class="order-detail text-black">328</span>-->
              <!--</div>-->
              <!--<div class="col-lg-12 mg-tp-20">-->
                <!--<h5>Average Revenue Per Day</h5>-->
                <!--<span class="order-detail text-black">$ 2,847</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-5">-->
    <!--<div class="ibox float-e-margins">-->
      <!--<div class="ibox-title">-->
        <!--<h5>Payment Orders</h5>-->
      <!--</div>-->
      <!--<div class="orders-widget ibox-content">-->
        <!--<div class="row mg-bt-20">-->
          <!--<div class="col-sm-5">-->
            <!--<div class="row mg-bt-20">-->
              <!--<div class="col-lg-12">-->
                <!--<h5>Paid Orders</h5>-->
                <!--<span class="order-detail paid">328</span>-->
              <!--</div>-->
            <!--</div><div class="row">-->
              <!--<div class="col-lg-12">-->
                <!--<h5>Payment Errors</h5>-->
                <!--<span class="order-detail errors">534</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-offset-1 col-sm-5">-->
            <!--<div class="row mg-bt-20">-->
              <!--<div class="col-lg-12 mg-tp-30">-->
                <!--<h5>Total</h5>-->
                <!--<span class="order-detail total">837</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-7">-->
    <!--<div class="ibox float-e-margins">-->
      <!--<div class="ibox-title">-->
        <!--<h5>Order Status</h5>-->
      <!--</div>-->
      <!--<div class="ibox-content orders-widget">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-3">-->
            <!--<div class="row mg-bt-20">-->
              <!--<div class="col-lg-12">-->
                <!--<h5>In Production</h5>-->
                <!--<span class="order-detail production">100</span>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row mg-bt-20">-->
              <!--<div class="col-lg-12">-->
                <!--<h5>Product Received</h5>-->
                <!--<span class="order-detail errors">534</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-3">-->
            <!--<div class="row mg-bt-20">-->
              <!--<div class="col-lg-12">-->
                <!--<h5>Product Sent</h5>-->
                <!--<span class="order-detail sent">100</span>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row mg-bt-20">-->
              <!--<div class="col-lg-12">-->
                <!--<h5>Finalized</h5>-->
                <!--<span class="order-detail final">534</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-offset-1 col-sm-5">-->
            <!--<div class="btn-group" ng-init="radio='Monthly'">-->
              <!--<label class="btn btn-sm btn-default btn-outline" ng-model="radio" uib-btn-radio="'Daily'">Daily</label>-->
              <!--<label class="btn btn-sm btn-default btn-outline active" ng-model="radio" uib-btn-radio="'Monthly'">Monthly</label>-->
              <!--<label class="btn btn-sm btn-default btn-outline" ng-model="radio" uib-btn-radio="'Yearly'">Yearly</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="row ">
  <div class="col-lg-12 mg-bt-30">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate="ordersListPage.list.heading">List of Orders</h5>
      </div>
      <div class="ibox-content ibox-default orders-widget">

        <div class="row mg-bt-5" permission permission-only="'canSee.Orders.FilteringOptions'">
          <div class="col-sm-4 col-sm-offset-8">
            <p>
              <label class="font-noraml no-margins">
                <input type="checkbox" ng-change="vm.listOrders()" ng-model="vm.filters.paymentError" icheck>
                <span translate="filters.paymentErrors">Show payment errors in results list</span>
              </label>
            </p>
          </div>
        </div>

        <div class="row mg-bt-20" translate-namespace="filters" permission permission-only="'canSee.Orders.FilteringOptions'">

          <div class="col-sm-3 col-sm-offset-1">
            <div class="input-group date">
              <input class="form-control custom-input" date-time min-view="date" max-date="maxDate" format="DD/MM/YYYY" ng-model="vm.filters.from" view="date" auto-close="true" date-change="dateChanged">
              <span class="input-group-addon" translate=".date.label">to</span>
              <input class="form-control" date-time min-date="minDate" ng-model="vm.filters.to" min-view="date" format="DD/MM/YYYY" view="date" auto-close="true" date-change="dateChanged">
            </div>
          </div>

          <div class="col-sm-2" permission permission-only="'canSee.Orders.FilterByBrand'">
            <select class="form-control custom-input"
                    ng-model="vm.filters.brand"
                    ng-options="option.name for option in vm.brands track by option.id" ng-change="vm.listOrders()">
            </select>
          </div>

          <div class="col-sm-2">
            <select class="form-control custom-input"
                    ng-model="vm.filters.status"
                    ng-options="option.value as ('constants.status.' + option.value.toLowerCase() | translate) for option in vm.status" ng-change="vm.listOrders()">
            </select>
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" id="ordersFilter" ng-model="vm.filters.text" enter-keypress="vm.listOrders(); keyword = vm.filters.text;" placeholder="{{'filters.search.placeholder' | translate}}" class="input-medium custom-input form-control">
              <div class="input-group-btn">
                <button type="button" class="btn btn-md btn-custom-primary" translate=".search.button.go" ng-click="vm.listOrders(); keyword = vm.filters.text;"> Go!</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div ng-show="vm.loading">
              <div class="text-center loading">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
            </div>
            <div class="col-sm-12 mg-tp-10" ng-hide="vm.loading" ng-if="vm.orders.length < 1">
              <p translate="errors.noOrders">No Orders to show.</p>
            </div>
            <table ng-hide="vm.loading" ng-if="vm.orders.length > 0" class="table orders-table table-bordered table-hover dataTables-example">
              <thead>
                <tr class="list-box-container" sort options="vm.sortOptions" loading="vm.loading" columns="vm.head"></tr>
              </thead>
              <tbody>
                <tr ng-class="{'active': order.checked, 'hidden': !order.display}" ng-repeat="order in vm.orders">
                  <td permission permission-only="'canSee.Orders.ChangeStatus'">
                    <input icheck type="checkbox" ng-change="vm.markCheckBox(order.checked)" ng-model="order.checked">
                  </td>
                  <td class="order-id">
                    <a ng-click="vm.navigateToDetails(order._id)" ui-sref="admin-panel.cust_mgmt.orders.details({orderID: order._id})">
                      <span highlight="keyword">
                        {{order.order_id}}
                      </span>
                    </a>
                  </td>
                  <td highlight="keyword">
                    {{order.brand && order.brand.length > 0 ? order.brand[0].name : 'N/A'}}
                  </td>
                  <td highlight="keyword">
                    {{order.qty}}
                  </td>
                  <td highlight="keyword">
                    {{order.created_at}}
                  </td>
                  <td>
                    <span highlight="keyword">
                      {{order.total_amount.toFixed(2) || 0}}
                    </span>
                    RMB
                  </td>
                  <td highlight="keyword">
                    {{order.customer && order.customer.length > 0 && order.customer[0].name ? order.customer[0].name : 'N/A'}}
                  </td>
                  <td highlight="keyword">
                    {{order.customer && order.customer.length > 0 ? order.customer[0].phone : 'N/A'}}
                  </td>
                  <td>
                    <div class="btn-group action-btn" uib-dropdown>
                      <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                        <div class="label status-fix title-case label-white"
                             ng-class="'label-'+vm.statusClass[order.status]">
                          {{'constants.status.'+order.status.toLowerCase() | translate}}
                        </div>
                        <span ng-show="order.changingStatus" class="fa mg-lt-10 fa-cog fa-spin"></span>
                      </button>
                      <ul class="pd-10" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-if="!status.disabled" ng-repeat="status in vm.status">
                          <a href="javascript:;" ng-click="vm.changeSingleStatus(order, status.value)">{{'constants.status.'+status.name.toLowerCase().replace(' ', '_') | translate}}</a>
                          <div ng-if="($index+1) < vm.status.length" class="divider"></div>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <!--<td permission permission-only="'canSee.Orders.DownloadFilesButton'">-->
                    <!--<div class="btn-group">-->
                      <!--<a href="{{vm.assetURL + 'xls/PO-' + order._id + '-' + order.order_id + '.xlsx'}}" target="_blank">-->
                        <!--<img ng-src="img/icons/excel-icon.png" height="30px" draggable="false" alt="excel sheet">-->
                      <!--</a>-->
                      <!--<a href="{{vm.assetURL + 'pdf/CH-' + order._id + '-' + order.order_id + '.pdf'}}" target="_blank">-->
                        <!--<img ng-src="img/icons/ch-pdf.png" height="30px" draggable="false" alt="pdf sheet">-->
                      <!--</a>-->
                      <!--<a href="{{vm.assetURL + 'pdf/EN-' + order._id + '-' + order.order_id + '.pdf'}}" target="_blank">-->
                        <!--<img ng-src="img/icons/en-pdf.png" height="30px" draggable="false" alt="pdf sheet">-->
                      <!--</a>-->
                      <!--<a ng-click="vm.refreshPO(order)" class="refresh-btn">-->
                        <!--<i class="fa fa-refresh" ng-class="order.refreshingPO ? 'fa-spin':''"></i>-->
                      <!--</a>-->
                    <!--</div>-->
                  <!--</td>-->
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.listOrders" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>

      </div>
    </div>
  </div>
</div>
