<form translate-namespace="couponsCreatePage" name="createCoupon">

  <div class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-7">
          <h2 translate="couponsListPage.heading">Coupons</h2>
          <ol class="breadcrumb">
            <li class="active">
              <a translate="couponsListPage.heading" ui-sref="admin-panel.marketing.coupons.list">Coupons</a>
            </li>
            <li class="active">
              <strong translate=".heading">Create</strong>
            </li>
          </ol>
        </div>
        <div class="col-sm-5 coupons-create">
          <div class="mg-tp-30">
            <div class="pull-right">
              <button translate="buttons.discard" class="btn btn-outline mg-rt-10 btn-discard" ui-sref="admin-panel.marketing.coupons.list">
                Discard
              </button>
              <button ng-click="vm.processForm(createCoupon.$valid)" ng-disabled="vm.savingCoupon? vm.savingCoupon : createCoupon.$invalid" class="btn btn-primary save mg-rt-15">
                <span ng-hide="vm.savingCoupon" translate="buttons.save">Save</span>
                <span ng-show="vm.savingCoupon" class="fa fa-cog fa-spin"></span>
              </button>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row coupons-create">
    <div class="col-sm-offset-2 col-sm-8 mg-bt-30">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate=".labels.new">New Coupon</h5>
        </div>
        <div class="ibox-content">
          <!-- Discount codes -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="mg-bt-20" translate=".labels.code">Discount Code</h4>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group"
                       ng-class="{'has-error': createCoupon.couponCode.$invalid && createCoupon.couponCode.$touched}">
                    <label for="couponCode" translate=".code">Coupon code</label>
                    <div class="input-group">
                      <input id="couponCode" name="couponCode" required ng-pattern="/^[0-9a-zA-Z]*$/" type="text" ng-model="vm.coupon.code"
                             class="form-control">
                      <span class="input-group-btn">
                        <button type="button" ng-click="vm.generateCode()"
                                class="btn btn-primary" translate=".generate">Generate Code</button>
                      </span>
                    </div>
                    <p translate=".error" class="mg-tp-5 text-error" ng-show="vm.error">
                      This coupon code has already been used. Try regenerating another.
                    </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group"
                       ng-class="{'has-error': createCoupon.couponName.$invalid && createCoupon.couponName.$touched}">
                    <label translate="words.name" for="couponName">Coupon name</label>
                    <input id="couponName" name="couponName" required type="text" ng-model="vm.coupon.name"
                           class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="line-divider"></div>

          <!--Conditions-->

          <div class="row">
            <div class="col-sm-12">
              <h4 class="mg-bt-20" translate=".labels.conditions">Conditions</h4>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="discountType" translate=".type">Discount Type</label>
                    <select class="form-control" ng-model="vm.coupon.condition.discountType" id="discountType">
                      <option value="PERCENTAGE">Percentage %</option>
                      <option value="AMOUNT">Amount</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group"
                       ng-class="{'has-error': createCoupon.discountValue.$invalid && createCoupon.discountValue.$touched}">
                    <label for="discountValue" translate=".value">Discount Value</label>
                    <div class="input-group">
                      <input
                        id="discountValue"
                        name="discountValue"
                        ng-model="vm.coupon.condition.discountValue"
                        required
                        placeholder="{{vm.coupon.condition.discountType === 'AMOUNT' ? 'amount' : '%'}}"
                        ng-pattern="vm.coupon.condition.discountType === 'PERCENTAGE'? vm.regExpForPercentage : vm.regExpForAmount"
                        type="number"
                        class="form-control">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-outline">{{vm.coupon.condition.discountType === 'AMOUNT' ? 'Rmb' : '%'}}</button>
                      </span>
                    </div>

                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label translate=".application" for="applicationType">Application Type</label>
                    <select ng-options="type.value as type.title for type in vm.applicationTypes"
                            ng-model="vm.coupon.condition.applicationType" class="form-control" id="applicationType">
                    </select>
                  </div>
                </div>
                <div class="col-sm-3">
                  <!--for order over and products over price.-->

                  <div class="form-group mg-tp-25"
                       ng-show="vm.coupon.condition.applicationType === 'ORDER_OVER' || vm.coupon.condition.applicationType === 'PRODUCTS_OVER_PRICE'">
                    <div class="input-group"
                         ng-class="{'has-error': createCoupon.minAmount.$invalid && createCoupon.minAmount.$touched}">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-outline">Rmb</button>
                      </span>
                      <input
                        type="number"
                        name="minAmount"
                        ng-model="vm.coupon.condition.minAmount"
                        ng-required="vm.coupon.condition.applicationType === 'ORDER_OVER' || vm.coupon.condition.applicationType === 'PRODUCTS_OVER_PRICE'"
                        placeholder="min amount"
                        class="form-control">
                    </div>
                  </div>

                  <!-- for brands -->

                  <div class="form-group" ng-show="vm.coupon.condition.applicationType === 'ALL_BRAND_PRODUCTS'">
                    <label for="brands" translate=".labels.brands">Select Brands</label>
                    <select
                      id="brands"
                      name="selectBrands"
                      ng-model="vm.selectedBrands"
                      multiple
                      ng-required="vm.coupon.condition.applicationType === 'ALL_BRAND_PRODUCTS'"
                      class="form-control"
                      ng-options="brand.value as brand.name for brand in vm.brands"
                    ></select>
                  </div>

                  <!-- for product -->

                  <div class="form-group" ng-show="vm.coupon.condition.applicationType === 'SPECIFIC_PRODUCT'">
                    <label for="brands" translate=".labels.product">Select Product</label>
                    <select
                      id="product"
                      name="selectProduct"
                      ng-model="vm.selectedProduct"
                      ng-required="vm.coupon.condition.applicationType === 'SPECIFIC_PRODUCT'"
                      class="form-control"
                      ng-options="product.value as product.name for product in vm.products"
                    ></select>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="line-divider"></div>

          <!--Expiry date-->

          <div class="row">
            <div class="col-sm-12">
              <h4 class="mg-bt-20" translate=".labels.expiry">Expiry Date</h4>
              <div class="row">
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group mg-tp-25">
                        <label class="font-noraml">
                          <input name="couponExpires" ng-change="vm.checkDate()" icheck type="radio" ng-value="true"
                                 ng-model="vm.coupon.expiry.canExpire">
                          <span translate=".expires">Expires</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group input-labels">
                        <label>
                          <span translate=".start">Start</span>
                          <span translate=".end">End</span>
                        </label>
                        <div class="input-group date" ng-disabled="!vm.coupon.expiry.canExpire">
                          <small
                            ng-class="{'has-error': !vm.dateStart}">
                            <input
                              ng-required="vm.coupon.expiry.canExpire"
                              type="datetime"
                              name="couponExpiryStart"
                              ng-blur="vm.checkDate()"
                              ng-disabled="!vm.coupon.expiry.canExpire"
                              class="form-control custom-input"
                              date-time
                              ng-model="vm.coupon.expiry.expiryStart"
                              format="DD/MM/YYYY"
                              min-view="date"
                              view="date"
                              auto-close="true">
                          </small>

                          <span class="input-group-addon date-addon" translate="filters.date.label">to</span>
                          <small
                            ng-class="{'has-error': !vm.dateEnd }">
                            <input
                              ng-required="vm.coupon.expiry.canExpire"
                              type="datetime"
                              name="couponExpiryEnd"
                              ng-blur="vm.checkDate()"
                              ng-disabled="!vm.coupon.expiry.canExpire"
                              class="form-control"
                              date-time
                              ng-model="vm.coupon.expiry.expiryEnd"
                              view="date"
                              format="DD/MM/YYYY"
                              min-view="date"
                              auto-close="false">
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-sm-3">
                  <div class="form-group mg-tp-25">
                    <label class="font-noraml">
                      <input name="couponExpires" icheck type="radio" ng-value="false"
                             ng-model="vm.coupon.expiry.canExpire">
                      <span translate=".noExpiry">No Expiry</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="line-divider"></div>

          <!--Usage limits-->

          <div class="row">
            <div class="col-sm-12">
              <h4 class="mg-bt-20" translate=".labels.limits">Usage Limits</h4>
              <p class="mg-tp-20">
                <label translate=".quantity">Quantity available</label>
              </p>
              <div class="row mg-tp-10">
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-sm-4 mg-tp-5">
                      <div class="form-group">
                        <label class="font-noraml">
                          <input type="radio" ng-value="false" name="couponLimit" icheck
                                 ng-model="vm.coupon.limit.limited">
                          <span translate=".unlimited">Unlimited</span>
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-4 mg-tp-5">
                      <div class="form-group">
                        <label class="font-noraml">
                          <input icheck type="radio" ng-value="true" name="couponLimit"
                                 ng-model="vm.coupon.limit.limited">
                          <span translate=".limited">Limited to</span>
                        </label>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <div class="form-group"
                           ng-class="{'has-error': createCoupon.limitedTo.$invalid && createCoupon.limitedTo.$touched && vm.coupon.limit.limited}">
                        <input type="number" name="limitedTo" ng-required="vm.coupon.limit.limited"
                               ng-model="vm.coupon.limit.limitedTo" ng-disabled="!vm.coupon.limit.limited"
                               class="form-control">
                      </div>
                    </div>
                  </div>


                </div>
              </div>

              <p class="mg-tp-20">
                <label translate=".per">Limit per Customer</label>
              </p>
              <div class="row mg-tp-10">
                <div class="col-sm-5">

                  <div class="form-group">
                    <label class="font-noraml">
                      <input type="checkbox" icheck ng-model="vm.coupon.limitPerCust">
                      <span translate=".use" translate-values="{total: 1}">1 use only</span>
                    </label>
                  </div>
                </div>

              </div>

              <!--<p class="mg-tp-20">-->
                <!--<label>Customer group</label>-->
              <!--</p>-->
              <!--<div class="row mg-tp-10">-->
                <!--<div class="col-sm-3">-->

                  <!--<div class="form-group">-->
                    <!--<select class="form-control" disabled>-->
                      <!--<option value="">-->
                        <!--All customers-->
                      <!--</option>-->
                    <!--</select>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->

            </div>

          </div>

          <div class="line-divider"></div>

          <div class="mg-tp-20">
            <div class="pull-right">
              <button translate="buttons.discard" class="btn btn-outline mg-rt-10 btn-discard" ui-sref="admin-panel.marketing.coupons.list">
                Discard
              </button>
              <button ng-click="vm.processForm(createCoupon.$valid)" ng-disabled="vm.savingCoupon? vm.savingCoupon : createCoupon.$invalid" class="btn btn-primary save mg-rt-15">
                <span ng-hide="vm.savingCoupon" translate="buttons.save">Save</span>
                <span ng-show="vm.savingCoupon" class="fa fa-cog fa-spin"></span>
              </button>
            </div>
            <div class="clear"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
