<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="galleriesListPage.confirmDelete">Confirm Delete</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content orders-modal">

    <div class="panel panel-danger">
      <div class="panel-heading">
        <i class="fa fa-warning fa-white"></i>
        <span class="m-l-xs" translate="words.alert">Alert</span>
      </div>
      <div class="panel-body" translate="artworksListPage.deleteMsg">
        This will delete these artworks from all galleries. <br>
        Are you sure you want to delete selected artworks?
      </div>
    </div>

  </div>

  <div class="ibox-footer text-right">
    <div>
      <button class="btn btn-cancel btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button class="btn btn-primary" type="button" ng-click="modal.confirm()" >
        <span translate="buttons.delete">Delete</span>
      </button>
    </div>
  </div>
</div>

