<div translate-namespace="modals.galleries" class="ibox no-margins">
  <div class="ibox-title">
    <h5 translate=".heading">
      Create New Gallery
    </h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-5">

        <div class="form-group mg-bt-30">
          <label for="galleryName" class="font-noraml" translate="words.name">Name</label>
          <input id="galleryName" ng-disabled="modal.processing" ng-model="modal.name" type="text" class="form-control">
        </div>
        <div class="pers-items-container">
          <h4 class="mg-bt-20">
            <span translate="words.tags">Tags</span>
            <a href="" stop-click-if="modal.loadingTags" class="pull-right" ng-click="modal.createTag()">
              <span translate="modals.tags.button">Create Tag +</span>
            </a>
          </h4>
          <div class="pers-items-body">
            <ul class="no-margins list-group">
              <li ng-if="modal.loadingTags" class="list-group-item text-center">
                <span class="fa fa-spin fa-refresh"></span>
              </li>
              <li ng-class="{'new-item': tag.new}" class="list-group-item" ng-repeat="tag in modal.tags track by $index">
                <label ng-disabled="modal.processing" class="font-noraml" ng-if="!tag.new">
                  <input type="checkbox" ng-disabled="modal.processing" class="icheckbox_small mg-rt-10" icheck ng-model="tag.selected">
                  {{tag.name}}
                </label>
                <div class="row" ng-if="tag.new">
                  <div class="col-xs-12" ng-class="{'has-error': tag.error}">
                    <input type="text" ng-model="tag.name" placeholder="Tag name" class="form-control">
                  </div>
                  <div class="col-xs-12 mg-tp-5 text-right">
                    <button class="btn btn-sm btn-discard btn-outline" ng-click="modal.delTag(tag)" translate="buttons.cancel">Cancel</button>
                    <button class="btn btn-sm btn-primary" ng-click="modal.saveTag(tag)" ng-disabled="tag.name==''">
                      <span translate="buttons.save">Save</span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-xs-offset-1">
        <div class="pers-items-container">
          <div class="pers-items-body">
            <label class="font-noraml mg-bt-10" translate=".msg">Add existing artworks to this gallery</label>
            <div class="pers-controls">
              <div class="pull-left">
                <label class="font-noraml mg-tp-10">
                  <input type="checkbox" ng-disabled="modal.loadingArtworks || modal.artworks.length < 1" ng-change="modal.toggle(modal.toggled)" class="icheckbox_small" icheck ng-model="modal.toggled">
                  <span ng-if="modal.selected < 1" translate="table.bulk.selectAll">Select all</span>
                  <span ng-if="modal.selected > 0">
                    <small>{{modal.selected}} of {{modal.artworks.length}} selected</small>
                  </span>
                </label>
              </div>
              <div class="pull-right">
                <select class="form-control" ng-change="modal.loadArtworks(modal.selectedGallery._id)" ng-model="modal.selectedGallery" ng-options="option.en.name for option in modal.galleries track by option._id" ng-disabled="modal.loadingArtworks"></select>
              </div>
              <div class="clearfix"></div>
            </div>
            <ul lr-infinite-scroll="modal.loadArtworks" scroll-threshold="150" class="no-margins artwork-list list-group">
              <li class="list-group-item" ng-repeat="artwork in modal.artworks track by $index">
                <label class="font-noraml text-break-word inline" style="width: 180px;">
                  <input type="checkbox" ng-change="modal.selectCheckBox(artwork.selected)" class="icheckbox_small mg-rt-10" icheck ng-model="artwork.selected">
                  {{artwork.en.name}}
                </label>
                <img class="pull-right" height="35" draggable="false" ng-src="{{(artwork.image && artwork.image.path) ? modal.baseURL + artwork.image.path : '/img/icons/img-placeholder.png'}}" alt="{{artwork.en.name}}">
              </li>
              <li translate="errors.noArtworks" class="list-group-item" ng-show="modal.artworks.length < 1">No artworks..</li>
            </ul>
            <div class="mg-tp-10"
                 translate="pagination.info.label3"
                 translate-values="{current: {{modal.artworks.length}}, total: {{modal.totalArtworks}}}"
                 ng-hide="modal.artworks.length < 1">
              Showing {{modal.artworks.length}} of {{modal.totalArtworks}}
            </div>
            <div ng-show="modal.loadingArtworks" class="text-center mg-tp-20 mg-bt-10">
              <i class="fa fa-spin fa-refresh"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="ibox-footer text-right">
    <button ng-disabled="modal.processing" class="btn btn-cancel btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
    <button ng-disabled="modal.name == '' || modal.processing || modal.loadingArtworks || modal.loadingTags" class="btn btn-primary" type="button" ng-click="modal.saveGallery()">
      <span ng-hide="modal.processing" translate="buttons.create">Create</span>
      <i ng-show="modal.processing" class="fa fa-cog fa-spin"></i>
    </button>
  </div>

</div>

