<th ng-click="handleClick(column.query)" ng-repeat="column in columns">
  {{column.title}}
  <span class="sort">
    <i class="fa fa-sort" ng-class="sorting? ((options.category == column.query)? ( count == 0 ? 'fa-sort-up' : 'fa-sort-down'):''): ''"></i>
  </span>
</th>
