<!-- Bread Crumb -->
<div translate-namespace="settingsLanguagePage" class="row brand-details mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-6">
        <h2 translate=".heading">Settings</h2>
        <ol class="breadcrumb mg-tp-5">
          <li translate=".heading">
            Settings
          </li>
          <li class="active">
            <strong translate=".breadcrumbs">Language options</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-6 text-right mg-tp-30">
        <button ui-sref="admin-panel.cust_mgmt.orders.list" translate="buttons.cancel" class="btn mg-rt-15 btn-outline btn-discard">Cancel</button>
        <button class="btn btn-primary" ng-disabled="vm.lang == vm.prevLang" ng-click="vm.changeLang(vm.lang)">&nbsp;&nbsp;<span translate="buttons.save">Save</span>&nbsp;&nbsp;</button>
      </div>
    </div>

  </div>

</div>

<div translate-namespace="settingsLanguagePage" class="row brand-details">
  <div class="col-xs-12 mg-bt-30">

    <!-- Account setting start-->

    <div class="row">
      <div class="col-sm-3">
        <h4 translate=".sideHead">Language options</h4>
        <p translate=".sideLabel">Choose which language you prefer</p>
      </div>
      <div class="col-sm-6 no-padding">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5 translate=".head">Languages</h5>
          </div>
          <div class="ibox-content">
            <!-- Account settings form start -->
            <div class="row mg-bt-40">
              <div class="col-lg-12">
                <h4 class="mg-bt-20" translate=".label">What language do you want to use MIID admin in? </h4>
                <div class="form-group mg-bt-5">
                  <label class="font-noraml">
                    <input type="radio" icheck ng-model="vm.lang" value="en_US">
                    <span translate="loginPage.english">English</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="font-noraml">
                    <input type="radio" icheck ng-model="vm.lang" value="ch">
                    <span translate="loginPage.chinese">Chinese</span>
                  </label>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
