<div class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-7">
        <h2>[<span translate="navigationListPage.heading"></span>] {{vm.navigation.title.en}} </h2>
        <ol class="breadcrumb">
          <li>
            <a ui-sref="admin-panel.home">CMS</a>
          </li>
          <li class="active">
            <a ui-sref="admin-panel.cms.navigation.list" translate="navigationListPage.heading">Navigation</a>
          </li>
          <li class="active">
            <strong>{{vm.navigation.title.en}}</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-5 coupons-create">
        <div class="mg-tp-30">
          <div class="pull-right">
            <button class="btn btn-outline mg-rt-10 btn-discard" ui-sref="admin-panel.cms.navigation.list" >
              <span translate="buttons.discard">
                Discard
              </span>
            </button>
            <button  class="btn btn-primary save mg-rt-15" ng-click="vm.saveChangings()" ng-disabled="vm.enableButton()" >
              <small ng-hide="vm.loading">
                <span translate="buttons.saveAll">Save all</span>
              </small>
              <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
            </button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div translate-namespace="navigationCreatePage" class="row mg-bt-10 mg-tp-10">
  <div class="col-sm-12">
    <h3 translate=".navigationSetup">Navigation set-up
      <span>
      </span>
    </h3>
  </div>
</div>
<div translate-namespace="navigationCreatePage" class="row animated collections-create fadeInRight">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5 translate=".pageTitle">Page title</h5>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-3">
                <label class="mg-tp-5" translate=".navigationPageSetup">Navigation page setup</label>
              </div>
              <div class="col-sm-6" ng-class="{ 'has-error': vm.navigation.title.en == ''}">
                <input type="text" ng-blur="vm.fillSlugTitle()" ng-model="vm.navigation.title.en" class="form-control" id="title">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div translate-namespace="navigationListPage" class="ibox-title">
            <h5 translate=".heading">Navigation</h5>
          </div>
          <div class="ibox-content mg-bt-60">
            <div class="text-center loading" ng-show="vm.isEdit && vm.loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="tabs-container" ng-hide="vm.isEdit && vm.loading">
              <ul class="nav nav-tabs" >
                <li ng-if="vm.navigation.sections.length > 0" ng-repeat="section in vm.navigation.sections track by $index" ng-class="{active: vm.currentSection._id == section._id}">
                  <a ng-click="vm.changeSection(section)">
                    {{section.title.en}}
                  </a>
                  <i class="fa fa-times-circle" ng-show="vm.currentSection._id == section._id" ng-click="vm.confirmDeleteSection(section)"></i>

                </li>
                <li ng-if="vm.navigation.sections.length <= 0" class="active">
                  <a translate=".noSection">No Sections</a>
                </li>
                <li class="add-btn">
                  <a href="javascript:;"  ng-disabled="vm.navigation.sections.length <= 0" stop-click-if="vm.navigation.sections.length <= 0" ng-click="vm.addSection()">
                    <i class="fa fa-plus"></i>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active">
                  <div class="panel-body" ng-hide="vm.navigation.sections.length <= 0">
                    <div class="row">
                      <div class="col-sm-12">
                        <div ng-show="vm.loading">
                          <div class="text-center loading">
                            <i class="fa fa-refresh fa-spin"></i>
                          </div>
                        </div>
                        <div class="col-sm-2 mg-bt-20 mg-tp-25">
                          <label translate=".section.title">Section title</label>
                        </div>
                        <div class="col-sm-5 mg-bt-20 mg-tp-20">
                          <input type="text" class="form-control" ng-model="vm.currentSection.title.en" placeholder="default">
                        </div>
                        <div class="col-sm-5">
                          <div class="pull-right">
                            <button  class="btn btn-primary save mg-rt-15 mg-bt-20 mg-tp-20" ng-click="vm.addSubsection()">
                              <small>
                                <span translate=".subSection.add">Add subsection</span>
                                <i class="fa fa-plus mg-lt-5"></i>
                              </small>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mg-bt-20" ng-repeat="subSection in vm.currentSection.sub_sections">
                      <div class="col-sm-12">
                        <div class="col-sm-3 navigation-subsection-border">
                          <div>
                            <div class="form-group mg-lt-5 mg-tp-10">
                              <label class="mg-bt-10 mg-lt-5 font-noraml" translate=".subSection.title">Sub-Section name</label>
                              <input type="text"   placeholder="Popular categories" ng-model="subSection.title.en"  class="form-control">
                            </div>
                            <div class="form-group mg-lt-5">
                              <button class="btn btn-primary full-width" ng-click="vm.addCollections(subSection)">
                                <small>
                                  <span translate=".section.addCollection"> Add collections </span>
                                  <i class="fa fa-plus mg-lt-5"></i>
                                </small>
                              </button>
                            </div>
                            <div class="form-group mg-lt-5">
                              <label class="mg-bt-10" translate=".section.displayOption">Display options</label>
                              <label class="mg-lt-15">
                                <input class="icheckbox_small" type="checkbox" ng-model="subSection.display_options.section_title" icheck>
                                <span class="font-noraml" translate=".section.showSectionTitle">
                                  Show section title
                                </span>
                              </label>
                              <label class="mg-lt-15">
                                <input class="icheckbox_small" type="checkbox" ng-model="subSection.display_options.image_title" icheck>
                                <span class="font-noraml" translate=".section.showImageTitle">
                                  Show image titles
                                </span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-9 no-padding navigation-collection-list-border">
                          <div>
                            <div class="products" dnd-list="subSection.collections">

                              <div dnd-draggable="collection"
                                   class="product"
                                   dnd-moved="subSection.collections.splice($index, 1)"
                                   dnd-effect-allowed="move"
                                   ng-repeat="collection in subSection.collections">

                                <dnd-nodrag class="drag">
                                  <div class="has-pad pd-tp-0-imp">
                                    <div class="row">
                                      <div class="col-sm-1 mg-tp-20">
                                      <span dnd-handle class="handle">
                                      <i class="grip-icon"></i>
                                      </span>
                                      </div>
                                      <div class="col-sm-2">
                                        <img ng-src="{{ collection.images && collection.images.logo && collection.images.logo !== '' ? vm.baseUrl + collection.images.logo : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive mg-tp-10" alt="{{collection.title}} thumb">
                                      </div>

                                      <div class="col-sm-2">
                                        <p class="mg-tp-20 collection-title">
                                          {{ collection.title }}
                                        </p>
                                      </div>

                                      <div class="col-sm-2">
                                        <a class="navigation-collection-link">
                                          www.miid.com/collection/{{collection.slug}}
                                        </a>
                                      </div>

                                      <div class="col-sm-2">
                                        <p class="mg-tp-20 navigation-product-count">
                                          {{ collection | productCount }} <span translate="productsCreatePage.heading"> products</span>
                                        </p>
                                      </div>

                                      <div class="col-sm-2 mg-tp-20">
                                <span>
                                  <span ng-show="collection.status == 'ACTIVE'" translate="constants.status.active" class="label status-fix label-white navigation-collection-active label-production">
                                    Active
                                  </span>
                                  <span ng-show="collection.status == 'INACTIVE'" translate="constants.status.in_active" class="label status-fix label-white navigation-collection-active label-error">
                                    Inactive
                                  </span>
                                </span>
                                      </div>
                                      <div class="col-sm-1 mg-tp-20">
                                        <a class="navigation-collection-cross" href="" ng-click="vm.confirmDeleteCollection(collection._id, subSection._id, subSection, vm.currentSection)">
                                          <i class="fa fa-times"></i>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </dnd-nodrag>
                              </div>


                              <div class="dndPlaceholder">
                                <span translate="words.drop">Drop Here</span>
                              </div>

                            </div>

                            <p class="pd-10 navigation-no-collection" ng-show="subSection.collections.length <= 0" translate="navigationCreatePage.noCollection">No Collections to display</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SEO Widget   -->

  <div class="col-sm-3" translate-namespace="collectionsCreatePage">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate=".seo.label">SEO</h5>
      </div>
      <div class="ibox-content mg-bt-60">
        <p translate=".seo.msg">Search engine preview</p>

        <div class="google-seo">
          <span class="google-seo-title">
            <span translate=".seo.title" ng-hide="vm.navigation.seo.title != '' || vm.navigation.seo.description != '' || vm.navigation.slug != ''">Flights to Singapore - QatarAirways.com</span>
            <span ng-show="vm.navigation.seo.title || vm.navigation.seo.description || vm.navigation.slug">{{vm.navigation.seo.title}}</span>
          </span>
          <div class="google-seo-url">
            <span  ng-hide="vm.navigation.seo.title != '' || vm.navigation.seo.description != '' || vm.navigation.slug != ''">www.qatarairways.com/Singapore</span>
            <span  ng-show="vm.navigation.seo.title || vm.navigation.seo.description || vm.navigation.slug">www.miid.com/navigation/{{vm.navigation.slug}}</span>
          </div>
          <div class="google-seo-description">
            <span translate=".seo.description" ng-hide="vm.navigation.seo.title != '' || vm.navigation.seo.description != '' || vm.navigation.slug != ''">Book your flight to Singapore. Discover the world's best Airline. Gateway to world...</span>
            <span  ng-show="vm.navigation.seo.title || vm.navigation.seo.description || vm.navigation.slug">{{vm.navigation.seo.description}}</span>
          </div>
        </div>

        <div class="form-group mg-tp-20">
          <label for="pageTitle" translate=".seo.fields.title.label">Page title</label>
          <input type="text" ng-model="vm.navigation.seo.title" ng-change="vm.setSlug()" placeholder="Sample title" id="pageTitle" class="form-control">
        </div>

        <div class="form-group">
          <label for="pageDescription" translate=".seo.fields.description.label">Meta description</label>
          <textarea type="text" ng-model="vm.navigation.seo.description" placeholder="Sample description" id="pageDescription" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="pageURL" translate="collectionsCreatePage.seo.fields.url">URL and handle</label>
          <div class="input-group m-b" ng-class="{'has-error': vm.slugExist || vm.navigation.slug == '' }">
            <span class="input-group-btn">
              <button type="button" class="btn input-group-border btn-outline">
                <small class="navigation-seo-slug">http://www.miid.com/navigation/</small>
              </button>
            </span>
            <input type="text" ng-change="vm.navigation.slug == vm.slugify(vm.navigation.slug)" ng-model="vm.navigation.slug" class="form-control">
          </div>
        </div>

        <div class="form-group tag">
          <label for="pageKeywords" translate=".seo.fields.keywords.label">Keywords</label>
          <input type="text" ng-model="vm.navigation.seo.currentKeyword" enter-keypress="vm.addTag()" placeholder="Some keywords" id="pageKeywords" class="form-control">
        </div>

        <div class="tag-container">
          <div class="label tag" ng-repeat="tag in vm.navigation.seo.keywords">
            <span>{{tag}}</span>
            <i class="fa fa-times remove-tag" ng-click="vm.removeTag(tag)"></i>
          </div>
          <div class="clear"></div>
        </div>

      </div>
    </div>
  </div>
</div>


