<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="navigationCreatePage.subSection.create">Create New Sub Section</h5>
    <span ng-click="vm.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="section">
    <div class="ibox-content sub-collections orders-modal">

      <div class="mg-tp-20">
        <div class="panel panel-success" ng-show="vm.subSectionCreated">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-exclamation-triangle"></i>
              <span translate="words.alert">Alert</span>
            </h3>
          </div>
          <div class="panel-body" translate="navigationCreatePage.subSection.success">
            Congratulations! You have created a new sub section
          </div>
        </div>

        <div class="panel panel-danger" ng-show="vm.subSectionExist">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-exclamation-triangle"></i>
              <span translate="words.alert">Alert</span>
            </h3>
          </div>
          <div class="panel-body" translate="navigationCreatePage.subSection.error">
            Ooops! This sub section name is already taken.
          </div>
        </div>

        <div ng-hide="vm.subSectionCreated">
          <p ng-hide="vm.subSectionExist" translate="navigationCreatePage.subSection.validationMsg">Please enter a name for this sub section</p>
          <p ng-show="vm.subSectionExist" translate="navigationCreatePage.subSection.validationMsg2">You may try another name for this sub section</p>
          <div ng-class="{'has-error': section.subSectionName.$invalid && section.subSectionName.$touched}">
            <input type="text" required name="subSectionName" ng-model="vm.subSectionName" class="form-control">
          </div>
        </div>

        <div ng-show="vm.subSectionCreated">

          <p translate="navigationCreatePage.subSection.name">Name of your new sub section</p>
          <label>{{vm.subSectionName}}</label>
        </div>

      </div>

    </div>
    <div class="ibox-footer text-right">
      <div>
        <button ng-hide="vm.subSectionCreated" class="btn btn-primary" type="button" ng-disabled="section.$invalid" ng-click="vm.submit()" >
          <span ng-hide="vm.loading" translate="buttons.save">Save</span>
          <span ng-show="vm.loading" class="fa fa-cog fa-spin"></span>
        </button>

        <button ng-show="vm.subSectionCreated" class="btn btn-outline btn-discard" type="button" ng-click="vm.close()"><span translate="buttons.close">Close</span></button>
      </div>
    </div>
  </form>
</div>


