<div translate-namespace="modals.tags" class="ibox no-margins">
  <div class="ibox-title">
    <h5 translate=".heading">
      Add Tags to Galleries
    </h5>
    <span ng-click="modal.close()" stop-click-if="modal.processing" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content">
    <div class="pers-items-container pd-10">
      <h4 class="mg-bt-20">
        <span translate="words.tags">Tags</span>
        <a href="" class="pull-right" translate=".button" stop-click-if="modal.loadingTags" ng-click="modal.createTag()">Create Tag +</a>
      </h4>
      <div class="pers-items-body">
        <ul class="no-margins list-group">
          <li class="list-group-item text-center" ng-if="modal.loadingTags">
            <i class="fa fa-spin fa-refresh"></i>
          </li>
          <li ng-class="{'new-item': tag.new || tag.disabled}"  class="list-group-item" ng-repeat="tag in modal.tags track by $index">
            <label class="font-noraml" ng-class="{'tag-disabled': tag.disabled}" ng-if="!tag.new">
              <input type="checkbox" class="icheckbox_small mg-rt-10" ng-change="tag.disabled=false" icheck ng-model="tag.selected">
              {{tag.name}}
            </label>
            <div class="row" ng-if="tag.new">
              <div class="col-xs-12" ng-class="{'has-error': tag.error}">
                <input type="text" ng-focus="tag.new" ng-model="tag.name" placeholder="Tag name" class="form-control">
              </div>
              <div class="col-xs-12 mg-tp-5 no-pd-lt text-right">
                <button class="btn-discard btn-sm btn btn-outline" translate="buttons.cancel" ng-click="modal.delTag(tag)">Cancel</button>
                <button translate="buttons.save" class="btn btn-primary btn-sm" ng-click="modal.saveTag(tag)" ng-disabled="tag.name==''">
                  Save
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ibox-footer text-right">
    <button class="btn btn-cancel btn-outline" translate="buttons.cancel" type="button" ng-disabled="modal.processing" ng-click="modal.close()">Cancel</button>
    <button ng-disabled="modal.processing" class="btn btn-primary" type="button" ng-click="modal.saveTags()">
      <span ng-hide="modal.processing" translate="buttons.save">Save</span>
      <i ng-show="modal.processing" class="fa fa-cog fa-spin"></i>
    </button>
  </div>

</div>

