<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center" uib-dropdown>
                    <img alt="image" src="assets/images/logo.png"/>
                </div>
            </li>
            <!--<li ng-class="{active: $state.includes('home')}">-->
                <!--<a href="index.html" ui-sref="admin-panel.home"><i class="fa fa-th-large"></i> <span class="nav-label">DASHBOARD</span></a>-->
            <!--</li>-->
            <li permission permission-only="'canSee.leftMenu.Orders'" ng-class="{active: $state.includes('admin-panel.cust_mgmt.orders')}">
              <a ui-sref="admin-panel.cust_mgmt.orders.list">
                <img src="assets/images/icons/orders.png" class="mg-rt-10">
                <span class="nav-label" translate="navigation.orders">Orders</span>
                <!--<span class="label-fix fa arrow"></span>-->
              </a>
              <!--<ul class="nav nav-second-level collapse">-->
                <!--<li ui-sref-active="active">-->
                  <!--<a ui-sref="admin-panel.cust_mgmt.orders">List</a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li ui-sref-active="active">&ndash;&gt;-->
                  <!--&lt;!&ndash;<a ui-sref="admin-panel.cust_mgmt.users">Users</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--</ul>-->
            </li>

          <li permission permission-only="'canSee.leftMenu.Products'" ng-class="{active: $state.includes('admin-panel.product.create')||$state.includes('admin-panel.product.list')}">
            <a ui-sref="admin-panel.product.list">
              <img src="assets/images/icons/products.png" class="mg-rt-10">
              <span class="nav-label" translate="navigation.products">Products</span>
              <!--<span class="fa arrow"></span>-->
            </a>
            <!--<ul class="nav nav-second-level collapse">-->
              <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="admin-panel.product.create.basic_info">Create</a>-->
              <!--</li>-->
              <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="admin-panel.product.list">List</a>-->
              <!--</li>-->
            <!--</ul>-->
          </li>

          <li ui-sref-active="active" ng-class="{active: $state.includes('admin-panel.personalize.artworks.list')||$state.includes('admin-panel.personalize.galleries.list')}">
            <a permission permission-only="'canSee.Personalize.BrandsListing'" ui-sref="admin-panel.personalize.list({for: 'galleries'})">
              <img src="assets/images/icons/artworks.png" class="mg-rt-10">
              <span class="nav-label" translate="navigation.artworks">Artworks</span>
              <span class="fa arrow"></span>
            </a>
            <a href="" ui-sref="admin-panel.personalize.galleries.list" permission permission-only="'canSee.Personalize.SimpleArtworksNav'">
              <img src="assets/images/icons/artworks.png" class="mg-rt-10">
              <span class="nav-label" translate="navigation.artworks">Artworks</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
              <li ui-sref-active="active">
                <a permission permission-only="'canSee.Personalize.BrandsListing'"  translate="navigation.myGalleries" ui-sref="admin-panel.personalize.list({for: 'galleries'})">My Galleries</a>
                <a permission permission-only="'canSee.Personalize.SimpleArtworksNav'"  translate="navigation.myGalleries" ui-sref="admin-panel.personalize.galleries.list">My Galleries</a>
              </li>
              <li ui-sref-active="active">
                <a permission permission-only="'canSee.Personalize.BrandsListing'"  translate="navigation.myArtworks" ui-sref="admin-panel.personalize.list({for: 'artworks'})">My Artworks</a>
                <a permission permission-only="'canSee.Personalize.SimpleArtworksNav'"  translate="navigation.myArtworks" ui-sref="admin-panel.personalize.artworks.list">My Artworks</a>
              </li>
            </ul>
          </li>

          <li permission permission-only="'canSee.leftMenu.Users'" ng-class="{active: $state.includes('admin-panel.cust_mgmt.users') }" >
            <a ui-sref="admin-panel.cust_mgmt.users">
              <img src="assets/images/icons/users.png"class="mg-rt-10">
              <span class="nav-label" translate="navigation.users">Users</span>
              <!--<span class="fa arrow"></span>-->
            </a>
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="admin-panel.product.create.basic_info">Create</a>-->
            <!--</li>-->
            <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="admin-panel.product.list">List</a>-->
            <!--</li>-->
            <!--</ul>-->
          </li>

          <li permission permission-only="'canSee.leftMenu.Brands'" ng-class="{active: $state.includes('admin-panel.ecommerce')}">
            <a ui-sref="admin-panel.ecommerce.brands.list">
              <img src="assets/images/icons/brands.png" class="mg-rt-10">
              <span class="nav-label" translate="navigation.merchants">Merchants</span>
              <!--<span class="fa arrow"></span>-->
            </a>
            <!--<ul class="nav nav-second-level collapse">-->
              <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="admin-panel.ecommerce.brands">List</a>-->
              <!--</li>-->
            <!--</ul>-->
          </li>

          <li permission permission-only="'canSee.leftMenu.CMS'" ng-class="{active: $state.includes('admin-panel.cms')}">
            <a ui-sref="admin-panel.cms.collections.list">
              <img src="assets/images/icons/cms.png" class="mg-rt-10">
              <span class="nav-label" translate="navigation.cms">CMS</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
              <li ui-sref-active="active">
                <a translate="navigation.cms.collections" ui-sref="admin-panel.cms.collections.list">Collections</a>
              </li>
              <li  ui-sref-active="active">
                <a permission permission-only="'canSee.CMS.Navigations'" translate="navigation.cms.navigation" ui-sref="admin-panel.cms.navigation.list">Navigation</a>
              </li>
              <li ui-sref-active="active">
                <a translate="navigation.cms.userReviews" ui-sref="admin-panel.cms.user_reviews">User Reviews</a>
              </li>
            </ul>
          </li>

          <li permission permission-only="'canSee.leftMenu.Coupons'" ng-class="{active: $state.includes('admin-panel.marketing.coupons')}">
            <a ui-sref="admin-panel.marketing.coupons.list">
              <img src="assets/images/icons/coupons.png" class="mg-rt-10">
              <span translate="navigation.coupons" class="nav-label">Coupons</span>
            </a>
            <!--<ul class="nav nav-second-level collapse">-->
              <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="admin-panel.marketing.coupons">Coupons</a>-->
              <!--</li>-->
              <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="admin-panel.cust_mgmt.users">Measurements</a>-->
              <!--</li>-->
            <!--</ul>-->
          </li>

          <li ng-class="{active: $state.includes('admin-panel.settings')}">
            <a ui-sref="admin-panel.settings.language">
              <img src="assets/images/icons/settings.png" class="mg-rt-10">
              <span class="nav-label" translate="navigation.settings">Settings</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
              <li ui-sref-active="active" permission permission-only="'canSee.leftMenu.Settings.Brand'">
                <a translate="navigation.settings.shipments" ui-sref="admin-panel.settings.brand.shipments">Shipments</a>
              </li>
              <li ui-sref-active="active" permission permission-only="'canSee.leftMenu.Settings.Brand'">
                <a translate="navigation.settings.account" ui-sref="admin-panel.settings.brand.account">Account</a>
              </li>
              <li ui-sref-active="active">
                <a translate="navigation.settings.language" ui-sref="admin-panel.settings.language">Language</a>
              </li>
            </ul>
          </li>

        </ul>

    </div>
</nav>
