<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <!--<form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">-->
                <!--</div>-->
            <!--</form>-->
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <!--<li class="dropdown" uib-dropdown>-->
                <!--<a class="dropdown-toggle count-info" href uib-dropdown-toggle>-->
                    <!--<i class="fa fa-bell"></i> <span class="label label-primary">8</span>-->
                <!--</a>-->
                <!--<ul uib-dropdown-menu class="dropdown-menu dropdown-alerts">-->
                    <!--<li>-->
                        <!--<a ui-sref="inbox">-->
                            <!--<div>-->
                                <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a ui-sref="profile">-->
                            <!--<div>-->
                                <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                                <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<a ui-sref="grid_options">-->
                            <!--<div>-->
                                <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                                <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                        <!--<div class="text-center link-block">-->
                            <!--<a ui-sref="miscellaneous.notify">-->
                                <!--<strong>See All Alerts</strong>-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li class="login">
                <a ng-click="logout()" ui-sref="login">
                  <i class="fa fa-sign-out"></i>
                  <span translate="header.button.logOut"></span>
                </a>
            </li>
        </ul>

    </nav>
</div>
