<div translate-namespace="ordersExport" class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate=".heading">Export Orders</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="trackingOrdersForm">
    <div class="ibox-content orders-modal">

      <h4 translate=".label1">Select orders to download</h4>

      <div class="row mg-lt-5">
        <div class="col-xs-4 mg-tp-10">
          <div ng-style="{opacity: !modal.disableSelected || 0.5}">
            <label ng-class="{'font-noraml': modal.export.selectedOrdersType !== 'SELECTED'}">
              <input type="radio" name="selectOrders" ng-disabled="modal.disableSelected" value="SELECTED"
                     icheck ng-model="modal.export.selectedOrdersType">
              <span translate=".option1">Selected orders</span>
            </label>
          </div>
        </div>
        <div class="col-xs-3 mg-tp-10 no-pd-lt">
          <div>
            <label ng-class="{'font-noraml': modal.export.selectedOrdersType !== 'RANGE'}">
              <input type="radio" name="selectOrders" value="RANGE"
                     icheck ng-model="modal.export.selectedOrdersType">
              <span translate=".option2">Orders by date</span>
            </label>
          </div>
        </div>
        <div class="col-xs-5 no-pd-lt">
          <div class="input-group date" ng-disabled="!vm.coupon.expiry.canExpire">
            <input
              ng-required="modal.export.selectedOrdersType == 'RANGE'"
              type="datetime" name="orderStartDate" date-time
              ng-blur="vm.checkDate()" ng-disabled="modal.export.selectedOrdersType != 'RANGE'"
              class="form-control custom-input" auto-close="true"
              ng-model="modal.export.from"
              format="DD/MM/YYYY" min-view="date" view="date">
            <span class="input-group-addon date-addon" translate="words.to">to</span>
            <input
              ng-required="modal.export.selectedOrdersType == 'RANGE'"
              type="datetime" name="orderEndDate"
              ng-blur="vm.checkDate()" ng-disabled="modal.export.selectedOrdersType != 'RANGE'"
              class="form-control" date-time view="date"
              ng-model="modal.export.to"
              format="DD/MM/YYYY" min-view="date" auto-close="false">
          </div>
        </div>
      </div>
      <div class="row mg-lt-5">
        <div class="col-xs-4">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.selectedOrdersType !== 'ALL'}">
              <input type="radio" name="selectOrders" value="ALL"
                     icheck ng-model="modal.export.selectedOrdersType">
              <span translate=".option3">All orders</span>
            </label>
          </div>
        </div>
        <div class="col-xs-3 no-pd-lt">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.selectedOrdersType !== 'CURRENT_SEARCH'}">
              <input type="radio" name="selectOrders" value="CURRENT_SEARCH"
                     icheck ng-model="modal.export.selectedOrdersType">
              <span translate=".option4">Current search</span>
            </label>
          </div>
        </div>
      </div>

      <h4 translate=".label2">Select language</h4>

      <div class="row mg-lt-5">
        <div class="col-xs-3">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.selectedLanguage !== 'EN'}">
              <input type="radio" name="selectLanguage" value="EN"
                     icheck ng-model="modal.export.selectedLanguage">
              English
            </label>
          </div>
        </div>
        <div class="col-xs-3 no-pd-lt">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.selectedLanguage !== 'CH'}">
              <input type="radio" name="selectLanguage" value="CH" icheck ng-model="modal.export.selectedLanguage">
              Chinese
            </label>
          </div>
        </div>
      </div>

      <h4 translate=".label3">Select format</h4>

      <div class="row mg-lt-5">
        <div class="col-xs-3">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.selectedFormat !== 'EXCEL'}">
              <input type="radio" name="selectFormat" value="EXCEL" icheck ng-model="modal.export.selectedFormat">
              CSV for excel
            </label>
          </div>
        </div>
        <div class="col-xs-4 no-pd-lt">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.selectedFormat !== 'PDF'}">
              <input type="radio" name="selectFormat" value="PDF" icheck ng-model="modal.export.selectedFormat">
              PDF
            </label>
          </div>
        </div>
      </div>

      <h4>
        <span translate=".label4">Select order template</span>
        <a translate=".label5" ng-click="modal.createTemplate()" class="mg-lt-10" href="">Create new template</a>
      </h4>

      <div class="row mg-lt-5">
        <div class="col-xs-12" ng-show="modal.templates.length < 1 && !modal.loadingTemplates">
          <p translate="errors.noTemplates">No templates..</p>
        </div>
        <div class="col-xs-12" ng-show="modal.loadingTemplates">
          <p translate=".label8">loading templates...</p>
        </div>
        <div class="col-xs-4" ng-repeat="template in modal.templates">
          <div class="form-group mg-bt-5">
            <label ng-class="{'font-noraml': modal.export.selectedTemplate !== template._id}">
              <input type="radio" name="selectTemplate" value="{{template._id}}" icheck ng-model="modal.export.selectedTemplate">
              {{template.title}}
              <a href="" ng-click="modal.deleteTemplate(template)">
                <i class="fa" ng-class="template.processing? 'fa-cog fa-spin': 'fa-trash'"></i>
              </a>
            </label>
          </div>
        </div>
      </div>

      <h4>
        <input type="checkbox" icheck ng-model="modal.export.separateOrders.enable" class="icheckbox_small">
        <span translate=".label6">Separate orders in different files</span>
      </h4>

      <div class="row mg-lt-5" ng-style="{opacity: modal.export.separateOrders.enable || 0.5}">
        <div class="col-xs-4 no-pd-rt" permission permission-only="'canSee.Orders.Export.Separate'">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.separateOrders.type !== 'BRAND'}">
              <input type="radio" name="selectSeparationType" value="BRAND"
                     ng-disabled="!modal.export.separateOrders.enable"
                     icheck ng-model="modal.export.separateOrders.type">
              <span translate=".option5">Separate by Brand</span>
            </label>
          </div>
        </div>
        <div class="col-xs-4 no-pd-rt" permission permission-only="'canSee.Orders.Export.Separate'">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.separateOrders.type !== 'MANUFACTURER'}">
              <input type="radio" name="selectSeparationType" value="MANUFACTURER"
                     ng-disabled="!modal.export.separateOrders.enable"
                     icheck ng-model="modal.export.separateOrders.type">
              <span translate=".option6">Separate by Manufacturer</span>
            </label>
          </div>
        </div>
        <div class="col-xs-4 no-pd-rt">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.separateOrders.type !== 'ORDER'}">
              <input type="radio" name="selectSeparationType" value="ORDER"
                     ng-disabled="!modal.export.separateOrders.enable"
                     icheck ng-model="modal.export.separateOrders.type">
              <span translate=".option7">Separate by individual Order</span>
            </label>
          </div>
        </div>
      </div>

      <h4>
        <input type="checkbox" icheck ng-model="modal.export.attachPictures.enable" class="icheckbox_small">
        <span translate=".label7">Attach reference pictures</span>
      </h4>

      <div class="row mg-lt-5" ng-style="{opacity: modal.export.attachPictures.enable || 0.5}">
        <div class="col-xs-3">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.attachPictures.type !== 'PDF'}">
              <input type="radio" name="selectAttachmentType" value="PDF"
                     ng-disabled="!modal.export.attachPictures.enable"
                     icheck ng-model="modal.export.attachPictures.type">
              <span translate=".option8">In PDF</span>
            </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label ng-class="{'font-noraml': modal.export.attachPictures.type !== 'IMAGE'}">
              <input type="radio" name="selectAttachmentType" value="IMAGE"
                     ng-disabled="!modal.export.attachPictures.enable"
                     icheck ng-model="modal.export.attachPictures.type">
              <span translate=".option9">As Independent JPEG files</span>
            </label>
          </div>
        </div>
      </div>

    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-disabled="modal.processing" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button ng-disabled="modal.processing || modal.loadingTemplates || !modal.export.selectedTemplate" class="btn btn-primary" type="button" ng-click="modal.submit()">
        <span ng-hide="modal.processing" translate=".button">Export</span>
        <i ng-show="modal.processing" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </form>
</div>

