<div class="text-center mg-tp-20 preview-txt">Preview</div>
<div class="dropzone" ng-model="file" name="file" ngf-pattern="'image/*'"
     ngf-accept="'image/*'" ngf-max-size="2MB"
     ngf-drag-over-class="'dragover'"
     ngf-drop="media.uploadImage($file)"
     ng-show="!media.bannerPromotionLargeSrc">

  <div ng-show="!media.uploading">
    <span class="fa fa-upload upload-icon"></span>
    <div class="drop-msg">Drop image files here for product promotion banner desktop</div>
    <div class="drop-size-msg">Recommended size is 1970px by 485px</div>
    <div class="drop-format-msg">Recommended formats are png or jpeg</div>
  </div>

</div>

<div ng-show="!media.uploading && media.bannerPromotionLargeSrc">
  <div class="banner-preview">
    <div class="delete-overlay" ng-class="{ 'deleting': media.loadingDelete }">
      <a ng-show="!media.loadingDelete">
          <span class="fa fa-trash-o"
                ng-click="media.removeImage('pr_promo_web', media.bannerPromotionLargeSrc)"></span>
      </a>
      <span class="fa fa-refresh fa-spin" ng-show="media.loadingDelete"></span>
    </div>
    <img ng-src='{{ media.bannerPromotionLargeSrc }}'>
  </div>
</div>

<div class="upload-progress" id="loading-progress" ng-show="media.uploading">
  <div class="text-center uploading-msg">Your image is now uploading. This may take some time.</div>
  <div class="progress progress-bar-default">
    <div style="width: {{media.uploadProgress}}%" role="progressbar" class="progress-bar">
      <span class="sr-only">{{media.uploadProgress}} %</span>
    </div>
  </div>
  <div class="progress-label">{{media.uploadProgress}} %</div>
</div>
