

/* ------------------------ Navigation Page -------------------------   */

.navigation-subsection-border {
  border-top: 11px solid #e7eaec;
}

.width-110 {
  width: 110px;
}
.width-50 {
  width: 50px;
}

.navigation-collection-list-border {
  border-top: 10px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
}

.pd-tp-0-imp {
  padding-top: 0px !important;
}

.navigation-product-count {
  font-size: smaller;
  margin-left: 80px;
  span {
    position: absolute;
    margin-left: 15px;
    top: 0px;
    margin-top: 20px;
  }
}

.navigation-collection-link {
  font-size: smaller;
  position: absolute;
  margin-top: 20px;
  left: 0px;
}

.navigation-collection-active {
  margin-left: 55px;
  width: 50px;
}

.navigation-collection-cross {
  position: absolute;
  right: 0px;
}

.navigation-no-collection {
  margin-top: 100px;
  margin-bottom: 100px;
}

.navigation-seo-slug {
  font-size: 9px !important;
}
