<!-- Bread Crumb -->

<div translate-namespace="ordersDetailsPage" class="row orders-detail mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-7 col-lg-7">
        <h2 translate=".heading.title">Orders</h2>
        <ol class="breadcrumb mg-tp-5">
          <li>
            <a translate="ordersListPage.breadcrumbs.text" ui-sref="admin-panel.cust_mgmt.orders.list" href="#/">Orders</a>
          </li>
          <li class="active">
            <strong>{{vm.order.order_id}}</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-5 col-lg-5">
        <div class="row mg-tp-30">
          <div class="col-xs-2">
            <a href="" ui-sref="admin-panel.cust_mgmt.orders.details({orderID: vm.order.previous||vm.orderID})" ng-click="vm.navigate('left')">
              <span class="fa orders-nav fa-angle-left"></span>
            </a>
          </div>
          <div class="col-xs-2">
            <a href=""  ui-sref="admin-panel.cust_mgmt.orders.details({orderID: vm.order.next||vm.orderID})" ng-click="vm.navigate('right')">
              <span class="fa orders-nav fa-angle-right"></span>
            </a>
          </div>
          <div class="col-xs-4 mg-tp-10">
            <div class="btn-group action-btn" uib-dropdown>
              <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                <div class="label status-fix title-case label-white" ng-class="'label-'+vm.statusConfig[vm.order.status].class">
                  <span ng-hide="vm.changingStatus" translate="constants.status.{{vm.order.status.toLowerCase()}}">{{vm.statusConfig[vm.order.status].name}}</span>
                  <span ng-show="vm.changingStatus" class="fa mg-lt-10 fa-cog fa-spin"></span>
                </div>
              </button>
              <ul class="pd-10" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem" ng-repeat="(status, obj) in vm.statusConfig">
                  <a href="javascript:;" ng-if="status != 'PENDING'" ng-click="vm.changeStatus(status)" translate="constants.status.{{status.toLowerCase()}}">{{obj.name}}</a>
                  <div ng-if="($index+1) < 6" class="divider"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-4" permission permission-only="'canSee.Orders.DownloadFilesButton'">
            <a href="{{vm.assetURL + 'po/xls/PO-' + vm.order._id + '-' + vm.order.order_id + '.xlsx'}}" target="_blank" class="mg-rt-10">
              <img src="/img/icons/excel-icon.png" alt="">
            </a>
            <a href="{{vm.assetURL + 'po/pdf/CH-' + vm.order._id + '-' + vm.order.order_id + '.pdf'}}" target="_blank" class="mg-rt-10">
              <img src="/img/icons/ch-pdf.png" alt="">
            </a>
            <a href="{{vm.assetURL + 'po/pdf/EN-' + vm.order._id + '-' + vm.order.order_id + '.pdf'}}" target="_blank">
              <img src="/img/icons/en-pdf.png" alt="">
            </a>
            <a class="refresh-btn" ng-click="vm.refreshPO()">
              <i class="fa fa-refresh" ng-class="vm.order.refreshingPO? 'fa-spin': ''"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div translate-namespace="ordersDetailsPage" class="row orders-detail">
  <div class="col-lg-8 mg-bt-30 col-sm-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="pull-right">
          <span class="label pull-right label-warning ">
            <span translate="words.from">From</span> {{vm.order.platform}}
          </span>
          <i title="{{vm.order.created_at}}" class="mg-rt-15">{{vm.order.created_at | date: 'd/M/yyyy'}}</i>
          <span class="mg-rt-15">
            <span translate=".orderID">Order ID</span> {{vm.order.multi_order_id || 'N/A'}}
          </span>
        </div>
        <h5 translate=".heading.title">Order Details</h5>
      </div>
      <div class="ibox-content">

        <div>
          <div class="row mg-tp-10 mg-bt-30">
            <div class="col-xs-5">
              <div class="adjust">
                <img draggable="false" class="img-responsive list-logo-height" ng-src="{{vm.assetURL + vm.order.brand.logo}}" alt="">
              </div>
            </div>
          </div>

          <!-- Order detail -->
          <div class="row mg-bt-40" ng-repeat="design in vm.order.designs">
            <div class="col-lg-2 col-sm-2">
              <img class="img-responsive" ng-src="{{ design.design && design.design.thumb ? vm.designURL + design.design.thumb :  '/img/icons/img-placeholder.png'}}" alt="">
            </div>
            <div class="col-lg-4 no-padding  col-sm-5">
              <p class="imp-info mg-bt-5">
                <a ui-sref="admin-panel.product.create.basic_info({ 'productID': design.design.product._id })" target="_blank">
                  {{design.design &&
                  design.design.product &&
                  design.design.product.ch &&
                  design.design.product.ch.name ? design.design.product.ch.name: 'N/A' }}
                </a>
              </p>
              <p class="mg-bt-5">
                SKU {{design.design &&
                design.design.product &&
                design.design.product.sku ? design.design.product.sku: 'N/A' }}
              </p>
              <p class="imp-info no-margins">
                <span class="text-black">
                  <span translate=".designNumber">Design Number</span> {{design.design && design.design.design_id}}</span><br>
                <a target="_blank" ng-href="http://miid.com/products/social-share/{{design.design.design_id}}">link</a>
              </p>
              <div class="tracking-status" ng-if="vm.order.status!='PAYMENT_ERROR' && vm.order.status!='PENDING' && vm.order.status!='PAID'">
                <p class="status title-case" translate="constants.status.{{vm.getTrackingStatusByDesign(design.design._id).toLowerCase()}}"></p>
                <p class="number">{{vm.getTrackingNumberByDesign(design.design._id)}}</p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-3">
              <div class="mg-tp-20">
                <b class="amount">¥{{design.unit_price | number:2}} x {{design.quantity}}</b>
              </div>
            </div>
            <div class="col-lg-3 col-sm-2">
              <div class="mg-tp-20 pull-right">
                <b class="amount">¥{{design.unit_price * design.quantity | number:2}}</b>
              </div>
            </div>
          </div>


          <div class="row mg-tp-30">
            <div class="col-sm-6" translate-namespace=".notes">
              <h4 class="mg-bt-20" translate=".title">Consumer Notes</h4>
              <div class="well">
                {{vm.order.comment || ('ordersDetailsPage.notes.noNotes' | translate)}}
              </div>
              <h4 class="mg-bt-20" translate=".addNotes">Add Notes</h4>
              <form ng-submit="vm.submitNote()" name="noteForm">
                <input type="text" name="note" required ng-model="vm.orderNote.value" placeholder="{{'ordersDetailsPage.notes.placeholder' | translate}}" class="form-control">
                <div class="pull-right mg-tp-20">
                  <button class="btn btn-primary" type="submit" ng-disabled="vm.order.note === vm.orderNote.value">
                    <span ng-hide="vm.orderNote.changing" translate="buttons.save">Save</span>
                    <span ng-show="vm.orderNote.changing" class="fa fa-cog fa-spin"></span>
                  </button>
                </div>
              </form>
            </div>
            <div class="col-sm-5  col-sm-offset-1">

              <div class="row">
                <div class="col-sm-8 text-right col-lg-7">
                  <p class="field no-margins" translate=".subtotal">Subtotal</p>
                </div>
                <div class="col-sm-4 col-lg-offset-1 col-lg-4">
                  <p class="field no-margins response pull-right">
                    ¥{{(vm.order.sub_total | number:2)}}
                  </p>
                </div>
              </div>

              <div class="row mg-bt-20" ng-if="vm.order.coupon.id">
                <div class="col-sm-8 text-right col-lg-7">
                  <p class="field text-break-word">
                    <span translate=".couponUsed">Coupon Used</span>
                    <a href="" stop-click-if="true">
                      {{vm.order.coupon.code}}
                    </a>
                  </p>
                </div>
                <div class="col-sm-4 col-lg-offset-1 col-lg-4">
                  <p class="field response pull-right">
                    -¥{{(vm.order.coupon.total_discount | number:2)}}
                  </p>
                </div>
              </div>

              <div class="row mg-bt-20">

                <div class="col-sm-8 text-right col-lg-7">
                  <p class="field no-margins" translate=".shipping">Shipping</p>
                  <p class="no-margins" translate=".international">Any International</p>
                  <p class="field">0.0 kg</p>
                </div>
                <div class="col-sm-4 col-lg-offset-1 col-lg-4">
                  <p class="field response pull-right">
                    ¥{{vm.order.delivery &&
                    vm.order.delivery.charges ? (vm.order.delivery.charges | number:2) : '0.00'}}
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-8 text-right col-lg-7">
                  <p class="field response total mg-tp-30">
                    <b translate=".total">Total</b>
                  </p>
                </div>
                <div class="col-sm-4 col-lg-offset-1 col-lg-4">
                  <p class="field pull-right total response mg-tp-30">¥{{vm.order.total_amount | number:2}}</p>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="divider mg-tp-30 mg-bt-30"></div>
                </div>
              </div>
              <div class="row mg-bt-30">
                <div class="col-sm-8 col-lg-6 col-lg-offset-2">
                  <!--<p class="field">Paid by customer</p>-->
                  <p class="field" translate=".paymentMethod">Payment method</p>
                </div>
                <div class="col-sm-4 col-lg-4">
                  <!--<p class="field response pull-right">¥{{vm.order.paid_amount | number:2}}</p>-->
                  <div class="clearfix"></div>
                  <p class="field response pull-right">{{vm.order.payment_method}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
          <!-- Divider -->

        <div class="divider mg-tp-30 mg-bt-30"></div>

        <div translate-namespace=".status">
          <!-- Status Progress Steps -->

          <div class="row">
            <div class="col-sm-12">
              <h4 class="mg-bt-30" translate=".label">Status</h4>
              <ol class="progress-bar-step">
                <li
                    class="{{vm.statusConfig[vm.order.status].weight >= 0 ? vm.statusConfig[vm.order.status].class: ''}}"
                    ng-class="{'is-complete': vm.statusConfig[vm.order.status].weight != 0 && vm.statusConfig[vm.order.status].weight > 0, '{{vm.statusConfig[vm.order.status].class}}': vm.statusConfig[vm.order.status].weight >= 0}">
                  <div class="left-line"></div>
                  <span translate="constants.status.paid">Paid</span>
                </li>
                <li
                  class="{{vm.statusConfig[vm.order.status].weight >= 1 ? vm.statusConfig[vm.order.status].class: ''}}"
                  ng-class="{'is-complete': vm.statusConfig[vm.order.status].weight != 1 && vm.statusConfig[vm.order.status].weight > 1 }">
                  <span translate="constants.status.in_production">In Production</span>
                </li>
                <li
                  class="{{vm.statusConfig[vm.order.status].weight >= 2 ? vm.statusConfig[vm.order.status].class: ''}}"
                  ng-class="{'is-complete': vm.statusConfig[vm.order.status].weight != 2 && vm.statusConfig[vm.order.status].weight > 2 }">
                  <span translate="constants.status.sent">Sent</span>
                </li>
                <li
                  class="{{vm.statusConfig[vm.order.status].weight >= 3 ? vm.statusConfig[vm.order.status].class: ''}}"
                  ng-class="{'is-complete': vm.statusConfig[vm.order.status].weight != 3 && vm.statusConfig[vm.order.status].weight > 3 }">
                  <span translate="constants.status.received">Received</span>
                </li>
                <li
                  class="{{vm.statusConfig[vm.order.status].weight >= 4 ? vm.statusConfig[vm.order.status].class: ''}}"
                  ng-class="{'is-complete': vm.statusConfig[vm.order.status].weight != 4 && vm.statusConfig[vm.order.status].weight > 4 }">
                  <span translate="constants.status.finalized">Finalized</span>
                </li>
                <li
                  class="{{vm.statusConfig[vm.order.status].weight >= 5 ? vm.statusConfig[vm.order.status].class: ''}}"
                  ng-class="{'is-complete': vm.statusConfig[vm.order.status].weight != 5 && vm.statusConfig[vm.order.status].weight > 5 }">
                </li>
              </ol>
            </div>
          </div>

          <div class="mg-tp-30"></div>

          <div class="row tracking-detail" ng-repeat="tracking in vm.order.tracking_details">
            <div class="col-xs-2">
              <a class="number" ng-click="vm.showTrackingModal('EDIT', $index)">{{tracking.company}} #{{tracking.tracking_number}}</a>
            </div>
            <div class="col-xs-2">
              <span>Est. time {{tracking.est_days}}days</span>
            </div>
            <div class="col-xs-2">
              <span ng-if="tracking.charges > 0">Cost {{tracking.charges}}rmb</span>
              <span ng-if="tracking.charges == 0">Free</span>
            </div>
            <div class="col-xs-3">
              <span>{{tracking.designs | TrackingDesignNumbers:vm.order.designs}}</span>
            </div>
            <div class="col-xs-2 text-right">
              <span class="date">{{tracking.created_at | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="col-xs-1">
              <button class="btn btn-danger btn-xs" ng-click="vm.deleteTracking($index)"><i class="fa fa-trash-o"></i></button>
            </div>
          </div>

          <!--
          <div class="row mg-bt-30">
            <div class="col-xs-12">
              <p class="mg-tp-30">
                <small ng-if="vm.statusConfig[vm.order.status].weight < 3 || vm.order.status == 'PENDING'" translate=".details">No other details about the status of this order.</small>
                <small ng-if="vm.statusConfig[vm.order.status].weight >= 3">
                  <span translate=".tracking">Tracking Number:</span> <span class="response">{{vm.order.delivery.tracking_number}}</span>
                </small>
              </p>
            </div>
          </div>
          -->

        </div>

        <!-- Divider -->

        <div class="divider"></div>


        <!-- Production Details : ng-repeat here. -->
        <div translate-namespace=".productionDetails" ng-init="showProductionDetails = false">
          <div class="row mg-bt-30">
            <div class="col-xs-12">
              <h4>
                <span translate=".label">Production Details</span>
                <button class="btn btn-outline" ng-click="showProductionDetails = !showProductionDetails" class="mg-lt-10 imp-info">
                  <span class="imp-info" ng-hide="showProductionDetails" translate=".detailsBtn">See details</span>
                  <span class="imp-info" ng-show="showProductionDetails" translate=".detailsBtnClose">Close Details</span>
                </button>
              </h4>
            </div>
          </div>
          <!-- Show when request finishes -->
          <div ng-show="showProductionDetails">
          <div ng-repeat="design in vm.order.designs track by $index">
            <div class="row"> <!-- Product 1 Details -->
              <div class="col-xs-12">
                <div class="adjust">

                  <div class="row">
                    <div class="col-xs-12">

                      <p class="font-bold">
                        {{design.design.product &&
                        design.design.product.ch &&
                        design.design.product.ch.name ? design.design.product.ch.name: 'N/A' }}

                        <span class="mg-lt-30">x{{design.quantity}}</span></p>

                      <div class="row mg-tp-20">
                        <div class="col-xs-3">
                          <img class="img-responsive" ng-src="{{ design.design && design.design.thumb ? vm.designURL + design.design.thumb : '/img/icons/cust-img.png' }}" class="img-responsive" alt="">
                        </div>
                        <div class="col-xs-3">
                          <img class=img-responsive ng-src="{{ design.design && design.design.thumb ? vm.designURL + vm.getBackImage(design.design.thumb) : '/img/icons/cust-img.png' }}" class="img-responsive" alt="">
                        </div>
                      </div>

                      <div class="row mg-bt-30 mg-tp-30">
                        <div class="col-xs-5">
                          <p class="font-bold mg-bt-20" translate=".productInformation">Product Information</p>

                          <div class="adjust" translate-namespace=".product">

                            <p class="field" translate=".name">Product Name</p>
                            <p class="field response mg-bt-20">
                              <a ui-sref="admin-panel.product.create.basic_info({ 'productID': design.design.product._id })" target="_blank">
                                {{design.design &&
                                design.design.product &&
                                design.design.product.en &&
                                design.design.product.en.name ? design.design.product.en.name: 'N/A' }}
                              </a>
                            </p>

                            <p class="field" translate=".sku">SKU</p>
                            <p class="field response mg-bt-20">
                              {{design.design &&
                              design.design.product &&
                              design.design.product.sku ? design.design.product.sku: 'N/A' }}
                            </p>

                            <p class="field" translate=".design">Design link</p>
                            <p class="field response mg-bt-20">
                              <a target="_blank" ng-href="http://miid.com/products/social-share/{{design.design && design.design.design_id}}">{{design.design && design.design.design_id}}</a>
                            </p>

                            <p class="field" translate=".quantity">Quantity</p>
                            <p class="field response mg-bt-20">
                              {{design.quantity}}
                            </p>

                            <p class="field" translate=".size">Size</p>
                            <p class="field response mg-bt-20">
                              {{ design.size.name && design.size.value? design.size.name + ' ' + design.size.value : 'N/A' }}
                            </p>

                            <div class="tracking-status" ng-if="vm.order.status!='PAYMENT_ERROR' && vm.order.status!='PENDING' && vm.order.status!='PAID'">
                              <p class="field" translate="constants.status.status">Status</p>
                              <p class="field title-case response" translate="constants.status.{{vm.getTrackingStatusByDesign(design.design._id).toLowerCase()}}"></p>
                              <p class="number">{{vm.getTrackingNumberByDesign(design.design._id)}}</p>
                            </div>

                          </div>
                        </div>
                        <div class="col-xs-7">
                          <p class="font-bold mg-bt-20" translate=".customisationInformation">Customisation Information</p>

                          <div class="a2">
                            <div class="row mg-bt-40" ng-repeat="step in design.design.customization_3d.steps track by $index">
                              <p class="field">
                                {{step.po.en}}
                              </p>
                              <div class="row" ng-repeat="group in step.groups track by $index">
                                <div class="col-xs-4">
                                  <p class="field">{{group.po.en}}</p>
                                </div>

                                <div class="col-xs-8">
                                  <!--ui-->
                                  <div class="row" ng-repeat="ui in group.ui track by $index">
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{ui.po && ui.po.en ? ui.po.en :'N/A'}}
                                      </p>
                                    </div>
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{ui.po && ui.po.tech ? ui.po.tech :'N/A'}}
                                      </p>
                                    </div>
                                  </div>

                                  <!--inputs-->
                                  <div class="row" ng-repeat="input in group.inputs track by $index">
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{input.po && input.po.tech ? input.po.tech :'N/A'}}
                                      </p>
                                    </div>
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{input.po && input.po.value ? input.po.value :'N/A'}}
                                      </p>
                                    </div>
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        Font
                                      </p>
                                    </div>
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{input.po && input.po.font ? input.po.font :'N/A'}}
                                      </p>
                                    </div>
                                  </div>

                                  <!--selectable-->
                                  <div class="row" ng-repeat="sel in group.selectable track by $index">
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{sel.po && sel.po.tech_name ? sel.po.tech_name :'N/A'}}
                                      </p>
                                    </div>
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{sel.po && sel.po.tech ? sel.po.tech :'N/A'}}
                                      </p>
                                    </div>
                                  </div>

                                  <!--custom_images-->
                                  <div class="row" ng-repeat="ci in group.custom_images track by $index">
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{ci.po && ci.po.en ? ci.po.en :'N/A'}}
                                      </p>
                                    </div>
                                    <div class="col-xs-6">
                                      <p class="field response">
                                        {{ci.po && ci.po.tech ? ci.po.tech :'N/A'}}
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div ng-if="$index < (vm.order.designs.length-1)" class="divider mg-bt-40"></div>
          </div>

          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4" translate-namespace=".customer">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate="words.customer">Customer</h5>
      </div>
      <div class="ibox-content">

        <div class="customer">
          <div class="row">
            <div class="col-sm-6">
              <img class="img-responsive" ng-src="{{ vm.order.customer && vm.order.customer.thumb ? vm.assetURL +  vm.order.customer.thumb : '/img/icons/cust-img.png' }}" alt="">
            </div>
          </div>
          <div class="row mg-tp-15 mg-bt-20">
            <div class="col-sm-12 imp-info">
              <p class="no-margins mg-tp-20 title-case mg-bt-5">
                {{vm.order.customer && vm.order.customer.name ? vm.order.customer.name : 'N/A'}}
              </p>
              <p>
                {{vm.order.customer && vm.order.customer.phone ? vm.order.customer.phone : 'N/A'}}
              </p>
            </div>
          </div>
        </div>

        <div class="divider"></div>

        <div class="customer">
          <div class="row">
            <h4 class="mg-bt-30" translate=".shippingAddress">Shipping Address</h4>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".name">Name</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.name ? vm.order.shipping_address.name : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".mobile">Mobile number</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.phone1 ? vm.order.shipping_address.phone1 : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".region">Region</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.district ? vm.order.shipping_address.district : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".city">City</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.city ? vm.order.shipping_address.city : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".province">Province</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.province ? vm.order.shipping_address.province : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".zip">Postal code</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.zip_code ? vm.order.shipping_address.zip_code : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".address">Address</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.address ? vm.order.shipping_address.address : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".phone">Phone</p>
                </div>
                <div class="col-xs-7">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.phone2 ? vm.order.shipping_address.phone2 : 'N/A'}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-5">
                  <p class="field" translate=".email">Email</p>
                </div>
                <div class="col-xs-7 no-pd-rt text-break-word">
                  <p class="field response">
                    {{vm.order.shipping_address && vm.order.shipping_address.email ? vm.order.shipping_address.email : 'N/A'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

