<div translate-namespace="productsCreatePage.personalize.color" class="ibox float-e-margins no-margins">


    <div class="ibox-title">
      <!--TODO: paste condition header value -->
      <h5 translate=".heading">
        Color Options
      </h5>
      <span ng-click="colorModal.close()" class="pull-right fa fa-times"></span>

    </div>

    <div class="ibox-content personalize-color-modal">

      <div class="row">
        <div class="col-xs-12">
          <label class="font-noraml">
            <input type="radio" ng-value="'FREE_COLOR'" ng-model="colorModal.type" icheck>
            <span class="mg-lt-15" translate=".option1">
              Free color picker
            </span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <label class="font-noraml">
            <input type="radio" ng-value="'FIXED_COLOR'" ng-model="colorModal.type" icheck>
            <span class="mg-lt-15" translate=".option2">
              Fixed color/texture options
            </span>
          </label>
          <div class="row mg-lt-15">
            <div class="col-xs-5 color-picker">
              <spectrum-colorpicker format="'hex'" ng-model="colorModal.chosenColor" options="colorModal.colorPicker.options">
              </spectrum-colorpicker>
            </div>
            <div class="col-xs-7 no-pd-lt mg-tp-15">
              <div class="row mg-bt-20">
                <div class="col-xs-3">
                  <div class="preview-color" ng-style="{backgroundColor: colorModal.chosenColor}"></div>
                </div>
                <div class="col-xs-4 no-pd-lt">
                  <input type="text" class="form-control" ng-disabled="colorModal.type == 'FREE_COLOR'" ng-model="colorModal.chosenColor">
                </div>
                <div class="col-xs-2 no-pd-lt">
                  <button class="btn btn-primary" ng-click="colorModal.defaultColor = colorModal.chosenColor" translate=".make">Make Default</button>
                </div>
              </div>
              <div class="row mg-bt-20">
                <p class="mg-lt-15" translate=".default">Default</p>
                <div class="col-xs-3">
                  <div class="preview-color" ng-style="{backgroundColor: colorModal.defaultColor}"></div>
                </div>
                <div class="col-xs-4 no-pd-lt">
                  <input type="text" class="form-control" ng-model="colorModal.defaultColor">
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <button class="btn btn-primary" ng-disabled="colorModal.type == 'FREE_COLOR'" ng-click="colorModal.addColor(colorModal.chosenColor)" translate=".add">Add color</button>
                  </div>
                  <div>
                    <button class="btn btn-primary" disabled translate=".upload">Upload texture</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mg-lt-20">
        <div class="col-xs-12">
          <div class="color-wrapper" ng-repeat="color in colorModal.colors track by $index">
            <a href="" ng-click="colorModal.removeColor(color)">X</a>
            <div class="color" ng-style="{backgroundColor: color}"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="colorModal.close()" translate="buttons.cancel">Cancel</button>
      <button type="submit" ng-click="colorModal.submit()" class="btn btn-primary" translate="buttons.save">Save</button>
    </div>

</div>



