<div class="ibox no-margins">
  <div class="ibox-title">
    <h5>
      Create New Gallery
    </h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content">
    <div class="pers-items-container pd-10">
      <h4 class="mg-bt-20">
        <span translate="words.galleries">Galleries</span>
        <a href="" class="pull-right" stop-click-if="modal.loadingGalleries" ng-click="modal.createGallery()" translate="modals.galleries.heading">Create Gallery +</a>
      </h4>
      <div class="pers-items-body">
        <ul class="no-margins list-group">
          <li ng-if="modal.loadingGalleries" class="list-group-item text-center">
            <i class="fa fa-spin fa-refresh"></i>
          </li>
          <li ng-class="{'new-item': gallery.new}" class="list-group-item" ng-repeat="gallery in modal.galleries track by $index">
            <label class="font-noraml" ng-class="{'tag-disabled': gallery.disabled}" ng-if="!gallery.new">
              <input type="checkbox" class="icheckbox_small mg-rt-10" ng-change="gallery.disabled = false" icheck ng-model="gallery.selected">
              {{gallery.name}}
            </label>
            <div class="row" ng-if="gallery.new">
              <div class="col-xs-12">
                <input type="text" ng-model="gallery.name" ng-disabled="modal.creatingGallery" placeholder="Gallery name" class="form-control">
              </div>
              <div class="col-xs-12 mg-tp-5 text-right">
                <button translate="buttons.cancel" class="btn btn-sm btn-discard btn-outline" ng-disabled="modal.creatingGallery" ng-click="modal.delGallery(gallery)">
                  Cancel
                </button>
                <button class="btn btn-sm btn-primary" ng-click="modal.saveGallery(gallery)" ng-disabled="gallery.name=='' || modal.creatingGallery">
                  <span ng-hide="modal.creatingGallery" translate="buttons.save">Save</span>
                  <span ng-show="modal.creatingGallery" class="fa fa-spin fa-cog"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ibox-footer text-right">
    <button class="btn btn-cancel btn-outline" ng-disabled="modal.processing" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
    <button ng-disabled="modal.processing" class="btn btn-primary" type="button" ng-click="modal.saveGalleries()">
      <span ng-hide="modal.processing" translate="buttons.save">Save</span>
      <i ng-show="modal.processing" class="fa fa-cog fa-spin"></i>
    </button>
  </div>

</div>

