<div translate-namespace="usersListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-lg-10">
    <h2 translate=".heading">Users</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong translate=".breadcrumbs">Users List</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row users-widget" translate-namespace="usersListPage">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-total pull-right" translate="words.today">Today</span>
        <h5 translate=".metrics.signedUp">Users Signed Up</h5>
      </div>
      <div class="ibox-content">
        <div ng-show="vm.loadingToday">
          <div class="text-center loading mg-tp-20 mg-bt-20">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <h1 ng-show="!vm.loadingToday" class="no-margins count">{{ vm.stats.today }}</h1>
        <small translate=".metrics.total">Total Signed Up</small>
      </div>
    </div>
  </div>
  <!-- col-lg-3 end -->
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-warning pull-right" translate="words.lastWeek">Last Week</span>
        <h5 translate=".metrics.signedUp">Users Signed Up</h5>
      </div>
      <div class="ibox-content">
        <div ng-show="vm.loadingLastWeek">
          <div class="text-center loading mg-tp-20 mg-bt-20">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <h1 ng-show="!vm.loadingLastWeek" class="no-margins count">{{ vm.stats.lastWeek }}</h1>
        <small translate=".metrics.total">Total Signed Up</small>
      </div>
    </div>
  </div>
  <!-- col-lg-3 end -->
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-success pull-right" translate="words.lastMonth">Last Month</span>
        <h5 translate=".metrics.signedUp">Users Signed Up</h5>
      </div>
      <div class="ibox-content">
        <div ng-show="vm.loadingLastMonth">
          <div class="text-center loading mg-tp-20 mg-bt-20">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <h1 ng-show="!vm.loadingLastMonth" class="no-margins count">{{ vm.stats.lastMonth }}</h1>
        <small translate=".metrics.total">Total Signed Up</small>
      </div>
    </div>
  </div>
  <!--col-lg-3 end-->
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate=".metrics.totalSignedUp">Total Users Signed Up</h5>
      </div>
      <div class="ibox-content">
        <div ng-show="vm.loadingTotal">
          <div class="text-center loading mg-tp-20 mg-bt-20">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
        <h1 ng-show="!vm.loadingTotal" class="no-margins count">{{ vm.stats.total }}</h1>
        <small translate=".metrics.total">Total Signed Up</small>
      </div>
    </div>
  </div>
  <!--col-lg-3 end-->
</div>




<div class="row users-widget" translate-namespace="usersListPage">
  <div class="col-lg-12 mg-bt-30">
    <div class="ibox float-e-margins">
      <div class="ibox-content ibox-default orders-widget">
        <div class="row">
          <div class="col-sm-4">
            <div class="input-group date">
              <input class="form-control custom-input" date-time min-view="date" max-date="maxDate" format="DD/MM/YYYY" ng-model="vm.filters.from" view="date" auto-close="true" date-change="dateChanged">
              <span class="input-group-addon" translate="filters.date.label">to</span>
              <input class="form-control" date-time min-date="minDate" ng-model="vm.filters.to" min-view="date" format="DD/MM/YYYY" view="date" auto-close="true" date-change="dateChanged">
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <div class="input-group">
              <input type="text" id="ordersFilter" ng-model="vm.filters.text" enter-keypress="vm.filtersChanged(); keyword = vm.filters.text;" placeholder="{{'filters.search.placeholder'|translate}}" class="input-medium custom-input form-control">
              <div class="input-group-btn">
                <button type="button" class="btn btn-md btn-custom-primary" ng-click="vm.filtersChanged(); keyword = vm.filters.text;" translate="filters.search.button.go"> Go!</button>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="vm.loading">
          <div class="text-center loading-wheel">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>

        <div class="col-sm-12 mg-tp-10" ng-hide="vm.loading" ng-if="vm.users.length < 1">
          <p translate="errors.noUsers">No Users to show.</p>
        </div>

        <table translate-namespace="table" ng-hide="vm.loading" ng-if="vm.users.length > 0" class="table users-table table-striped table-bordered table-hover dataTables-example mg-tp-20">
          <thead translate-namespace=".head">
            <tr>
              <th translate=".register">Register Date</th>
              <th translate=".name">Name</th>
              <th translate=".username">Username</th>
              <th>Miid ID</th>
              <th translate=".contact">Other Contact Info</th>
              <!--<th>Number of Orders &nbsp; <button uib-popover-html="vm.tooltipTemplate" class="btn btn-xs orders-tool-tip"><i class="fa  fa-question-circle"></i></button>-->
              <!--</th>-->
              <!--<th>Returns</th>-->
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in vm.users">
            <td highlight="keyword">
              {{ user.created_at }}
            </td>
            <td highlight="keyword">
              {{ user.name || "N/A" }}
            </td>
            <td>
              <div style="width:150px;" class="text-break-word" highlight="keyword">
                {{ user.username || "N/A" }}
              </div>
            </td>
            <td highlight="keyword">
              {{user.contact.phone || 'N/A'}}
            </td>
            <td >
              <b>QQ:&nbsp;</b>
              <span highlight="keyword">
                {{ user.contact.qq ? user.contact.qq : 'N/A ' }}
              </span>
              <b>Weibo:&nbsp;</b>
              <span highlight="keyword">
                {{ user.contact.weibo ? user.contact.weibo : 'N/A' }}
              </span>
              <b>Wechat:&nbsp;</b>
              <span highlight="keyword">
                {{ user.contact.wechat ? user.contact.wechat : 'N/A' }}
              </span>
            </td>
            <!--<td class="label-group">-->
              <!--<div>-->
                <!--<div class="mg-bt-5">-->
                  <!--<span class="label label-orders label-primary">100 Rmb</span>-->
                <!--</div>-->
                <!--<div>-->
                  <!--<small>1000 Orders</small>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div>-->
                <!--<div class="mg-bt-5">-->
                  <!--<span class="label label-errors label-orders">100 Rmb</span>-->
                <!--</div>-->
                <!--<div>-->
                  <!--<small>1000 Orders</small>-->
                <!--</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td>{{user.returns}}</td>-->
          </tr>
          </tbody>
        </table>

        <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.listUsers" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>

      </div>
    </div>
  </div>
</div>
