<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5>Applying requested operations..... </h5>
    <span ng-if="modal.completedOperations !== modal.totalOperations" class="pull-right fa fa-cog fa-spin"></span>
    <span ng-if="modal.completedOperations === modal.totalOperations" ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content">
    <h4>This will take a while depending upon the number of operations <br>being performed.</h4>
    <label>Number of Operations to Perform: {{modal.totalOperations}}</label>

    <div class="mg-tp-20 mg-bt-30">
      <uib-progressbar class="progress-striped active"
                       title="Applying operations....."
                       max="modal.totalOperations"
                       value="modal.completedOperations" type="ok">
        {{modal.completedOperations}}/{{modal.totalOperations}}
      </uib-progressbar>
    </div>

    <div class="panel" ng-class="modal.errors? 'panel-danger': 'panel-info'" ng-show="modal.completedOperations === modal.totalOperations">
      <div class="panel-heading">
        <i class="fa fa-check"></i> {{modal.operationsSuccessfullyPerformed}}/{{modal.totalOperations}} Operations Completed Successfully
      </div>
      <div class="panel-body">
        <span ng-show="!modal.errors">Completed without errors.</span>
        <span ng-show="modal.errors">There were {{modal.errors}} errors while performing operations..</span>
      </div>
    </div>

  </div>
</div>

