<div class="ibox float-e-margins no-margins tracking-modal">
  <div class="ibox-title">
    <h5>{{ 'modals.'+ modal.title + '.heading' | translate}}</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <form name="trackingOrdersForm">
    <div class="ibox-content orders-modal">
      <div ng-if="!modal.isTrackingView">
        <p  ng-if="!status.disabled" ng-repeat="status in modal.statuses">
          <label for="{{status.value}}">
            <input name="{{status.value}}" type="radio" ng-value="status.value" icheck ng-model="modal.selectedStatus">
            <span class="label status-fix title-case label-white" ng-class="'label-'+modal.statusClass[status.value]">
              {{'constants.status.' + status.name.toLowerCase().replace(' ', '_') | translate}}
            </span>
          </label>
        </p>
      </div>
<
      <div ng-if="modal.isTrackingView">

          <p>Enter tracking number and shipment details for the selected orders</p>
          <div class="row mg-tp-30 input-header">
              <div class="col-sm-2">
                  Order#
              </div>
              <div class="col-sm-3">
                  Company
              </div>
              <div class="col-sm-3">
                  Tracking ID
              </div>
              <div class="col-sm-2">
                  Est.time(Days)
              </div>
              <div class="col-sm-2">
                  Cost(Rmb)
              </div>
          </div>
          <div class="row mg-tp-10 input-body" ng-repeat="trackingOrder in modal.trackingOrders">
              <ng-form name="trackingForm" ng-if="trackingOrder.tracking.designs.length > 0">
                  <div class="col-sm-2">
                      {{trackingOrder.order_id}}
                  </div>
                  <div class="col-sm-3" ng-class="{'has-error': trackingForm.delivery_id.$error.required}">
                      <select class="form-control" name="delivery_id" required
                              ng-model="trackingOrder.tracking.delivery_id"
                              ng-disabled="trackingOrder.disabled"
                              ng-change="modal.setTrackingCompany(trackingOrder)">
                          <option ng-if="option.is_active === true" ng-repeat="option in trackingOrder.shippingOptions" value="{{option._id}}">{{option.company}}</option>
                      </select>
                  </div>
                  <div class="col-sm-3" ng-class="{'has-error': trackingForm.tracking_number.$error.required}">
                      <input type="text" class="form-control" name="tracking_number" required
                             ng-model="trackingOrder.tracking.tracking_number"
                             ng-disabled="trackingOrder.disabled">
                  </div>
                  <div class="col-sm-2" ng-class="{'has-error': trackingForm.est_days.$error.required}">
                      <input type="number" class="form-control" name="est_days" required
                             ng-model="trackingOrder.tracking.est_days"
                             ng-disabled="trackingOrder.disabled">
                  </div>
                  <div class="col-sm-2" ng-class="{'has-error': trackingForm.charges.$error.required}">
                      <input type="number" class="form-control" name="charges" required
                             ng-model="trackingOrder.tracking.charges"
                             ng-disabled="trackingOrder.disabled">
                  </div>
              </ng-form>
              <div ng-if="trackingOrder.tracking.designs.length == 0">
                  <div class="col-sm-2">
                      {{trackingOrder.order_id}}
                  </div>
                  <div class="col-sm-10 text-left">
                      All designs sent already
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button ng-disabled="!modal.isTrackingView? modal.changingStatus: (trackingOrdersForm.$invalid ? true : modal.changingStatus)" class="btn btn-primary" type="button" ng-click="modal.submit()">
        <span ng-hide="modal.changingStatus" translate="buttons.save">Save</span>
        <i ng-show="modal.changingStatus" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </form>
</div>

