<div class="loading-wheel" ng-show="vm.loading">
  <i class="fa fa-spin fa-refresh"></i>
</div>
<div class="row">
  <div class="col-xs-12 text-right mg-bt-20">
    <button class="btn btn-primary" ng-disabled="vm.getAllChanges().length < 1" ng-click="vm.saveAllChanges()">
      <span translate="buttons.saveAll">Save all</span>
    </button>
  </div>
</div>
<div class="row" ng-show="!vm.loading" translate-namespace=".vaLinkage">
  <div class="col-xs-12">
    <form name="sceneUIActionParentForm">
      <table class="table">
        <tbody>
        <tr>
          <td class="no-border">
            <table class="table">
              <tr class="step">
                <td class="cust-group">
                  <table class="table">
                    <tr translate-namespace=".scene">
                      <td class="item-group scene">
                        <h3 translate=".label">Scene</h3>
                        <span translate=".description">This is the 3D scene. Link here those visual assets that are not customisable or directly linked to the menu. You can link as many visual assets as necessary.</span>
                      </td>
                      <td class="material-box">
                        <ng-form name="sceneUIActionChildForm">
                          <table class="table">
                            <tbody>
                            <tr>
                              <td class="item-material">
                                <button class="btn-xs btn-primary btn"
                                        ng-disabled="sceneUIActionChildForm.$invalid || vm.processingScene || vm.checkForSceneChanges()"
                                        ng-click="vm.createUpdateSceneUIActions()">

                                  <span translate="buttons.save" ng-show="sceneUIActionChildForm.$valid && !vm.checkForSceneChanges() && !vm.processingScene">&nbsp;&nbsp;Save&nbsp;&nbsp;</span>
                                  <span ng-show="(sceneUIActionChildForm.$invalid || vm.checkForSceneChanges()) && !vm.processingScene" class="fa fa-check"></span>
                                  <span ng-show="vm.processingScene" class="fa fa-cog fa-spin"></span>

                                </button>
                                <h3 translate=".heading">3D scene Visual Asset Linkage</h3>
                                <div ng-repeat="sceneAction in vm.scenes track by $index" class="linkage-container">
                                  <ng-form name="sceneUIActionChildForm">
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group"
                                           ng-class="{'has-error' : sceneUIActionChildForm.sceneComponentSet.$invalid}">

                                        <select class=" middle form-control" ng-model="sceneAction._set"
                                                name="sceneComponentSet" required
                                                ng-options="option._id as option.path for option in vm.componentsInfo.components"
                                                ng-change="sceneAction['_to'] = null; sceneAction['sceneOption'] = null;">
                                        </select>

                                      </div>
                                    </div>
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group">

                                        <select class=" middle form-control" name="type"
                                                ng-model="sceneAction.type"
                                                ng-change="sceneAction['_to'] = null; sceneAction['sceneOption'] = null;">
                                          <option value="MATERIALS">MATERIALS</option>
                                          <option value="SHAPES">SHAPES</option>
                                          <option value="VISIBILITY">VISIBILITY</option>
                                        </select>

                                      </div>
                                    </div>
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group"
                                           ng-class="{'has-error' : sceneUIActionChildForm.sceneComponentTo.$invalid}">

                                        <select class=" middle form-control"
                                                ng-options="option.label for option in vm.getOptions(sceneAction, sceneAction.type) | unique: 'label' track by option.label"
                                                ng-model="sceneAction.sceneOption" name="sceneComponentTo"
                                                ng-change="vm.setTo(sceneAction, sceneAction.sceneOption)" required>
                                        </select>

                                      </div>
                                    </div>
                                    <div class="mg-tp-15 menu-item">
                                      <a href="javascript:;" class="middle"
                                         ng-click="vm.deleteSceneUIAction(sceneAction)">
                                        <span class="delete-icon fa fa-trash"></span>
                                      </a>
                                    </div>
                                    <div class="mg-tp-15 menu-item" ng-if="$last">
                                      <a href="javascript:;" class="middle" ng-click="vm.addSceneUIaction()">
                                        <span class="fa fa-plus-square add-icon"></span>
                                      </a>
                                    </div>
                                  </ng-form>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </ng-form>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="col-xs-12">
    <form name="uiActionParentForm">
      <table class="table">
        <tbody>
        <tr>
          <td class="no-border">
            <table class="table">
              <tr class="step" ng-repeat="step in vm.steps_info.steps track by $index">
                <td class="cust-group">
                  <table class="table">
                    <tr>
                      <td class="item-step" ng-class="!step.groups.length ? 'no-border' : ''"
                          rowspan="{{step.groups.length + 1}}">
                        <h4 class="title">Step {{$index + 1}}</h4>
                        <h4>{{step.title}}</h4>
                      </td>
                    </tr>
                    <tr ng-init="groupIndex = $index" ng-repeat="group in step.groups track by $index">
                      <td class="item-group">
                        <div class="flag"><span translate="words.type">Type</span>: {{group.type | capitalize}}</div>
                        <h4 class="title">Group {{$index + 1}}</h4>
                        <h4>{{group.title}}</h4>
                      </td>
                      <td class="material-box" ng-class="!group.materials.length ? 'no-border' : ''">
                        <table class="table">
                          <tbody>
                          <tr ng-repeat="material in group.materials track by $index">
                            <td class="item-material" ng-if="group.type == 'SHAPES' || group.type == 'MATERIALS'">
                              <ng-form name="uiActionChildForm">
                                <button class="btn-xs btn-primary btn"
                                        ng-disabled="uiActionChildForm.$invalid || material.loading || vm.checkForChanges(material)"
                                        ng-click="vm.createUpdateUIActions(step,group,material)">

                                  <span ng-show="uiActionChildForm.$valid && !vm.checkForChanges(material) && !material.loading">&nbsp;&nbsp;Save&nbsp;&nbsp;</span>
                                  <span ng-show="uiActionChildForm.$invalid || vm.checkForChanges(material)" class="fa fa-check"></span>
                                  <span ng-show="material.loading" class="fa fa-cog fa-spin"></span>

                                </button>
                                <div class="button-preview" ng-if="material.type == 'IMG'">
                                  <img class="img-responsive al-element-img"
                                       ng-src="{{material.val ? vm.baseURL + material.val : '/img/icons/img-placeholder.png'}}"
                                       alt="{{material.name}}">
                                </div>
                                <div class="button-preview color" ng-if="material.type == 'CLR'"
                                     ng-style="{'background' : material.val}"></div>
                                <div class="button-preview" ng-if="material.type == 'TXT'"><span class="text">{{material.val}}</span>
                                </div>

                                <span class="title">{{material.name}}</span>
                                <span class="title">{{material.tech}}</span>
                                <span class="flag">Assets</span>
                                <div ng-repeat="uiAction in material.uiAction track by $index"
                                     class="linkage-container">
                                  <ng-form name="uiActionForm">
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group"
                                           ng-class="{'has-error' : uiActionForm.componentSet.$invalid}">
                                        <select class=" middle form-control" ng-model="uiAction._set"
                                                name="componentSet"
                                                ng-options="option._id as option.path for option in vm.componentsInfo.components"
                                                ng-change="uiAction['_to'] = null;uiAction['option'] = null" required>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group">
                                        <select class="middle form-control" name="type">
                                          <option value="">{{group.type | capitalize}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group"
                                           ng-class="{'has-error' : uiActionForm.componentTo.$invalid}">
                                        <select class="middle form-control"
                                                ng-options="option.label for option in vm.getOptions(uiAction, group.type) | unique: 'label' track by option.label"
                                                ng-model="uiAction.option" name="componentTo"
                                                ng-change="vm.setTo(uiAction, uiAction.option)" required>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="mg-tp-15 menu-item">
                                      <a href="javascript:;" class="middle"
                                         ng-click="vm.deleteUIAction(step,group,material,uiAction)">
                                        <span class="fa fa-trash delete-icon"></span>
                                      </a>
                                    </div>
                                    <div class="mg-tp-15 menu-item" ng-if="$last">
                                      <a href="javascript:;" class="middle" ng-click="vm.addUIaction(material)">
                                        <span class="fa fa-plus-square add-icon"></span>
                                      </a>
                                    </div>
                                  </ng-form>
                                </div>
                              </ng-form>
                            </td>
                            <td ng-if="group.type == 'PERSONALIZE'" class="item-material">
                              <ng-form name="uiActionChildForm">
                                <button class="btn-xs btn-primary btn"
                                        ng-disabled="uiActionChildForm.$invalid || material.loading || vm.checkForChanges(material, 'PERSONALIZE')"
                                        ng-click="vm.createUpdateUIActions(step, group, material)">

                                  <span ng-show="uiActionChildForm.$valid && !vm.checkForChanges(material, 'PERSONALIZE') && !material.loading">&nbsp;&nbsp;Save&nbsp;&nbsp;</span>
                                  <span ng-show="uiActionChildForm.$invalid || vm.checkForChanges(material, 'PERSONALIZE')" class="fa fa-check"></span>
                                  <span ng-show="material.loading" class="fa fa-cog fa-spin"></span>

                                </button>
                                <div class="button-preview" ng-if="material.type == 'IMG'">
                                  <img class="img-responsive al-element-img"
                                       ng-src="{{material.val ? vm.baseURL + material.val : '/img/icons/img-placeholder.png'}}"
                                       alt="{{material.name}}">
                                </div>
                                <div class="button-preview color" ng-if="material.type == 'CLR'"
                                     ng-style="{'background' : material.val}"></div>
                                <div class="button-preview" ng-if="material.type == 'TXT'"><span class="text">{{material.val}}</span>
                                </div>

                                <span class="title">{{material.name}}</span>
                                <span class="title">{{material.tech}}</span>
                                <span class="flag">Assets</span>
                                <div class="linkage-container">
                                  <ng-form name="uiActionForm">
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group"
                                           ng-class="{'has-error' : uiActionForm.componentSet.$invalid}">
                                        <select class=" middle form-control" ng-model="material.material_id"
                                                name="componentSet" required>
                                          <option value="{{material.material_id}}">{{material.name}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group">
                                        <select disabled class="middle form-control" name="type">
                                          <option value="">{{group.type | capitalize}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="menu-item mg-tp-15">
                                      <div class="form-group"
                                           ng-class="{'has-error' : uiActionForm.componentTo.$invalid}">
                                        <select class="middle form-control"
                                                ng-options="option._id as option.label for option in vm.getOptions(null, group.type)"
                                                ng-model="material.component" name="componentTo" required>
                                        </select>
                                      </div>
                                    </div>
                                    <!--<div class="mg-tp-15 menu-item">-->
                                      <!--<a href="javascript:;" class="middle"-->
                                         <!--ng-click="vm.deleteUIAction(step,group,material,uiAction)">-->
                                        <!--<span class="fa fa-trash delete-icon"></span>-->
                                      <!--</a>-->
                                    <!--</div>-->
                                    <!--<div class="mg-tp-15 menu-item" ng-if="$last">-->
                                      <!--<a href="javascript:;" class="middle" ng-click="vm.addUIaction(material)">-->
                                        <!--<span class="fa fa-plus-square add-icon"></span>-->
                                      <!--</a>-->
                                    <!--</div>-->
                                  </ng-form>
                                </div>
                              </ng-form>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>
