<div class="ibox float-e-margins no-margins">


    <div class="ibox-title">
      <!--TODO: paste condition header value -->
      <h5 translate="words.condition">
        Condition
      </h5>
      <span ng-click="modal.close()" class="pull-right fa fa-times"></span>

    </div>

    <div class="ibox-content">

      <div class="p-m" ng-hide="modal.loading">

          <div class="row">

            <!--IF-->
            <div class="col-sm-1 no-padding">
              <p class="text-right mg-rt-10 mg-tp-5 mg-bt-30" translate="words.if">If</p>
              <select class="form-control custom-input ng-pristine ng-untouched ng-valid"
                      ng-model="modal.condition._if.elements_condition"
                      ng-options="key as value for (key , value) in modal.logicCondition"></select>
            </div>
            <div class="col-sm-2 no-pd-rt">
              <!--if steps-->
              <div class="condition-select-container" ng-repeat="if in modal.condition._if.elements track by $index">
                <select class="form-control custom-input ng-pristine ng-untouched ng-valid"
                        ng-model="if.newCondition"
                        ng-change="modal.removeDuplicate('if')"
                        ng-options="step_title as step_title.title for step_title in if.data"
                        aria-invalid="false">
                </select>

                <!--if steps plus-->
                <div class="condition-delete" ng-if="$index > 0">
                  <i class="fa fa-trash"
                     ng-hide="modal.condition._if.elements.length <= 1"
                     ng-click="modal.deleteIfStep(if)"></i>
                </div>
              </div>
              <div class="condition-plus">
                <button ng-click="modal.addIfStep()" class="btn btn-xs btn-primary">
                  <i class="fa fa-plus" ></i>
                </button>
              </div>
            </div>

            <!--IS-->
            <div class="col-sm-1 no-pd-lt">
              <p class="mg-tp-5 text-center" translate="words.is">Is</p>

            </div>
            <div class="col-sm-2 no-pd-rt">
              <!--if property-->
              <select class="form-control custom-input ng-pristine ng-untouched ng-valid"
                      ng-model="modal.condition._if.property"
                      ng-options="key as value for (key , value) in modal.property"
                      aria-invalid="false">
              </select>

            </div>

            <!--THEN-->
            <div class="col-sm-1 no-pd-lt">
              <p class="mg-tp-5 text-center" translate="words.then">Then</p>
            </div>
            <div class="col-sm-2">
              <!-- then steps-->
              <div class="condition-select-container" ng-repeat="then in modal.condition._then.elements track by $index">
                <select class="form-control custom-input ng-pristine ng-untouched ng-valid"
                        ng-model="then.newCondition"
                        ng-change="modal.removeDuplicate('then')"
                        ng-options="step_title as step_title.title for step_title in then.data"
                        aria-invalid="false">
                </select>
                <div class="condition-delete" ng-if="$index > 0">
                  <i class="fa fa-trash"
                     ng-hide="modal.condition._then.elements.length <= 1"
                     ng-click="modal.deleteThenStep(then)"></i>
                </div>
              </div>
              <div class="condition-plus">
                <button  ng-click="modal.addThenStep()" class="btn btn-xs btn-primary">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>

            <!--IS-->
            <div class="col-sm-1 no-pd-lt ">
              <p class="mg-tp-5 text-center" translate="words.is">Is</p>
            </div>
            <div class="col-sm-2 no-pd-lt">
              <select class="form-control custom-input ng-pristine ng-untouched ng-valid"
                      ng-model="modal.condition._then.property"
                      ng-options="key as value for (key , value) in modal.property"
                      aria-invalid="false">
              </select>
            </div>

          </div>
        </div>
      <div ng-show="modal.loading">
        <div class="text-center loading">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>

    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()" >
        <span translate="buttons.cancel">Cancel</span>
      </button>
      <button type="submit" ng-click="modal.submit()" ng-disabled="modal.loading" class="btn btn-primary">
        <span ng-hide="modal.loading" translate="buttons.save">Save</span>
        <i ng-show="modal.loading" class="fa fa-cog fa-spin"></i>
      </button>
    </div>

</div>



