<div class="text-center mg-tp-20 preview-txt">Preview</div>
<div class="dropzone" ng-model="file" name="file" ngf-pattern="'image/*'"
     ngf-accept="'image/*'" ngf-max-size="2MB"
     ngf-drag-over-class="'dragover'"
     ngf-drop="vm.uploadImage($file)"
     ng-show="!vm.bannerLargeSrc">

  <div ng-show="!vm.uploading">
    <span class="fa fa-upload upload-icon"></span>
    <div class="drop-msg">Drop image files here for product banner desktop</div>
    <div class="drop-size-msg">Recommended size is 1970px by 485px</div>
    <div class="drop-format-msg">Recommended formats are png or jpeg</div>
  </div>

</div>

<div ng-show="!vm.uploading && vm.bannerLargeSrc">
  <div class="banner-preview">
    <div class="delete-overlay" ng-class="{ 'deleting': vm.loadingDelete }">
      <a ng-show="!vm.loadingDelete">
          <span class="fa fa-trash-o"
                ng-click="vm.removeImage('pr_bnr_web', vm.bannerLargeSrc)"></span>
      </a>
      <span class="fa fa-refresh fa-spin" ng-show="vm.loadingDelete"></span>
    </div>
    <img ng-src='{{ vm.bannerLargeSrc }}'>
  </div>
</div>

<div class="upload-progress" id="loading-progress" ng-show="vm.uploading">
  <div class="text-center uploading-msg">Your image is now uploading. This may take some time.</div>
  <div class="progress progress-bar-default">
    <div style="width: {{vm.uploadProgress}}%" role="progressbar" class="progress-bar">
      <span class="sr-only">{{vm.uploadProgress}} %</span>
    </div>
  </div>
  <div class="progress-label">{{vm.uploadProgress}} %</div>
</div>
