<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="modals.status.heading">Change Coupon Status</h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content orders-modal">
    <div>
      <p>
        <label>
          <input name="status" type="radio" value="ACTIVE" icheck ng-model="modal.selectedStatus">
            <span translate="constants.status.active" class="label status-fix title-case label-production label-white">
              Active
            </span>
        </label>
      </p>
      <p>
        <label>
          <input name="status" type="radio" value="INACTIVE" icheck ng-model="modal.selectedStatus">
            <span translate="constants.status.in_active" class="label status-fix title-case label-error label-white">
              Inactive
            </span>
        </label>
      </p>
      <p>
        <label>
          <input name="status" type="radio" value="DELETED" icheck ng-model="modal.selectedStatus">
            <span  translate="constants.status.deleted" class="label status-fix title-case label-finalized label-white">
              Deleted
            </span>
        </label>
      </p>
    </div>

  </div>
  <div class="ibox-footer text-right">
    <div>
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button class="btn btn-primary" type="button" ng-click="modal.submit()" >
        <span translate="buttons.save">Save</span>
      </button>
    </div>
  </div>
</div>

