<!-- Bread Crumb -->

<div class="row mg-bt-20 wrapper collections-create border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <h2 translate="collectionsListPage.heading">Collections</h2>

        <ol class="breadcrumb mg-tp-5">
          <li>CMS</li>
          <li>
            <a translate="collectionsListPage.heading" ui-sref="admin-panel.cms.collections.list">Collections</a>
          </li>
          <li class="active">
            <strong>{{vm.collection.title}}</strong>
          </li>
        </ol>
      </div>
      <div class="col-sm-4 mg-tp-30">
        <div class="pull-right">
          <!--<button class="btn btn-discard mg-rt-10 btn-outline btn-primary">-->
          <!--<small>-->
          <!--View-->
          <!--</small>-->
          </button>
          <button class="btn btn-discard mg-rt-10 btn-outline btn-primary" ui-sref="admin-panel.cms.collections.list">
            <small translate="buttons.discard">
              Discard
            </small>
          </button>

          <button
            class="btn save mg-rt-15 btn-primary"
            ng-click="vm.saveChangings()"
            ng-disabled="vm.enableButton()">
            <small translate="buttons.save" ng-hide="vm.loading">
              Save
            </small>
            <span class="fa fa-cog fa-spin" ng-show="vm.loading"></span>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>


<div translate-namespace="collectionsCreatePage" class="row animated collections-create fadeInRight">
  <div class="col-sm-8">

    <!-- Basic info -->

    <div class="row wysiwyg mg-bt-20">
      <div class="col-sm-12">

        <div class="white-bg">
          <div class="pd-1 row">
            <div class="col-sm-1 no-pd-rt mg-tp-10">
              <label for="title">
                <span translate="words.title">Title</span>:
              </label>
            </div>
            <div class="col-sm-11  mg-bt-30" ng-class="{ 'has-error': vm.collection.title == ''}">
              <input type="text" ng-blur="vm.fillSlugTitle()" ng-model="vm.collection.title"
                     class="form-control" id="title">
            </div>
          </div>

          <!--<div class="row pd">-->
          <!--<div class="col-sm-12">-->
          <!--<label>Description: </label>-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="line-divider"></div>-->
          <!--<div class="row">-->
          <!--<div class="col-sm-12">-->
          <!--&lt;!&ndash;<summernote editable="false" disabled="" ng-model="vm.description" config="vm.editorOptions" height="150"></summernote>&ndash;&gt;-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="line-divider"></div>-->

          <!--<div class="row mg-tp-30 mg-bt-30">-->
          <!--<div class="col-sm-12 mg-tp-20 mg-bt-20"></div>-->
          <!--</div>-->

        </div>

      </div>
    </div>

    <!-- Upload widget -->


    <div class="row">
      <div class="col-sm-12">

        <div class="ibox">
          <div class="ibox-title">
            <h5 translate=".banner">Collection Banner</h5>
          </div>

          <div class="ibox-content no-padding">
            <file-uploader type="library" selected-pane="vm.selectedPane">

              <file-pane title="{{'words.logo'|translate}}">
                <div ng-hide="vm.collectionImages.logo.path">
                  <file-drop-zone
                    size-message="{{'uploader.recSizeMsg'| translate: '{width: 400, height: 400}'}}"
                    drop-head="{{'uploader.dragMsg'|translate}}"
                    drop-message="{{'uploader.recFormats'|translate}}: PNG, JPEG"
                    loading="vm.uploading"
                    upload-image="vm.uploadImage"
                    upload-progress="vm.uploadProgress"
                    loading-message="{{'uploader.uploadingMsg'|translate}}"></file-drop-zone>
                </div>
                <div ng-show="vm.collectionImages.logo.path">
                  <file-preview
                    image-array="vm.collectionImages.logo.images"
                    remove-image="vm.removeImage"
                  ></file-preview>
                </div>
              </file-pane>

              <file-pane title="{{'collectionsCreatePage.web'|translate}}">
                <div ng-hide="vm.collectionImages.desktop.path">
                  <file-drop-zone
                    size-message="{{'uploader.recSizeMsg'| translate: '{width: 400, height: 400}'}}"
                    drop-head="{{'uploader.dragMsg'|translate}}"
                    drop-message="{{'uploader.recFormats'|translate}}: PNG, JPEG"
                    loading="vm.uploading"
                    upload-image="vm.uploadImage"
                    upload-progress="vm.uploadProgress"
                    loading-message="{{'uploader.uploadingMsg'|translate}}"></file-drop-zone>
                </div>
                <div ng-show="vm.collectionImages.desktop.path">
                  <file-preview
                    image-array="vm.collectionImages.desktop.images"
                    remove-image="vm.removeImage"
                  ></file-preview>
                </div>
              </file-pane>

              <file-pane title="{{'collectionsCreatePage.mobile'|translate}}">
                <div ng-hide="vm.collectionImages.mobile.path">
                  <file-drop-zone
                    size-message="{{'uploader.recSizeMsg'| translate: '{width: 400, height: 400}'}}"
                    drop-head="{{'uploader.dragMsg'|translate}}"
                    drop-message="{{'uploader.recFormats'|translate}}: PNG, JPEG"
                    loading="vm.uploading"
                    upload-image="vm.uploadImage"
                    upload-progress="vm.uploadProgress"
                    loading-message="{{'uploader.uploadingMsg'|translate}}"></file-drop-zone>
                </div>
                <div ng-show="vm.collectionImages.mobile.path">
                  <file-preview
                    image-array="vm.collectionImages.mobile.images"
                    remove-image="vm.removeImage"
                  ></file-preview>
                </div>
              </file-pane>

              <div class="media-actions">
                <div class="action-btns">
                  <button class="btn btn-primary"
                          ng-model="file" name="file" ngf-pattern="'image/*'"
                          ngf-accept="'image/*'" ngf-max-size="2MB"
                          ngf-select="vm.uploadImage($file)"
                          ng-disabled="vm.uploading || !vm.collectionID">
                    <span translate="buttons.upload">Upload</span>
                  </button>
                </div>
              </div>
            </file-uploader>
          </div>

        </div>

      </div>
    </div>


    <!-- Products Widget -->

    <div class="row">
      <div class="col-sm-12">

        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5 translate="productsListPage.heading">Products</h5>
          </div>
          <div class="ibox-content mg-bt-60" >

            <div class="text-center loading" ng-show="vm.isEdit && vm.loading">
              <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="tabs-container" ng-hide="vm.isEdit && vm.loading">
              <ul class="nav nav-tabs">
                <li ng-if="vm.collection.sections.length > 0" ng-repeat="section in vm.collection.sections track by $index" ng-class="{active: vm.currentSection._id == section._id}">
                  <a ng-click="vm.changeSection(section)">
                    {{section.title}}
                  </a>
                  <i class="fa fa-times-circle" ng-show="vm.currentSection._id == section._id" ng-click="vm.confirmDeleteSection(section)"></i>

                </li>
                <li ng-if="vm.collection.sections.length <= 0" class="active">
                  <a translate="errors.noSections">No Sections</a>
                </li>
                <li class="add-btn">
                  <a href="javascript:;" ng-disabled="vm.collection.sections.length <= 0" stop-click-if="vm.collection.sections.length <= 0" ng-click="vm.addSubCollection()">
                    <i class="fa fa-plus"></i>
                  </a>
                </li>
              </ul>
              <div class="tab-content mg-bt-30">
                <div class="tab-pane active">
                  <div class="panel-body" ng-hide="vm.collection.sections.length <= 0">

                    <div class="has-pad mg-tp-10">
                      <form name="sectionTitle">
                        <div class="row">
                          <div class="col-sm-2 no-pd-rt mg-tp-10">
                            <label for="collectionTitle" translate=".title">Section Title</label>
                          </div>
                          <div class="col-sm-5" ng-class="{'has-error': vm.sectionExist ? vm.sectionExist : sectionTitle.subCollectionTitle.$invalid && sectionTitle.subCollectionTitle.$touched}">
                            <input name="subCollectionTitle" required ng-model="vm.currentSection.title" id="collectionTitle" type="text" class="form-control">
                          </div>
                          <div class="col-sm-2">
                            <button  translate="buttons.save" class="btn btn-primary" ng-click="vm.saveNewSectionTitle()" ng-disabled="sectionTitle.$pristine || sectionTitle.$invalid || vm.oldCurrentSection.title == vm.currentSection.title">Save</button>
                          </div>
                          <div class="col-sm-3">
                            <button class="btn btn-primary" ng-click="vm.addProducts()">
                              <small>
                                <span translate=".add">Add Products</span>
                                <i class="fa fa-plus mg-lt-5"></i>
                              </small>
                            </button>
                          </div>
                        </div>
                      </form>

                      <div class="row mg-tp-20 mg-bt-20">
                        <div class="col-sm-1 no-pd-rt mg-tp-10">
                          <label translate="words.sort" for="collectionSort">Sort</label>
                        </div>
                        <div class="col-sm-3">
                          <select class="form-control" id="collectionSort">
                            <option value="">Manually</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="products" dnd-list="vm.currentSection.products">

                      <div dnd-draggable="product"
                           class="product"
                           dnd-moved="vm.currentSection.products.splice($index, 1)"
                           dnd-effect-allowed="move"
                           ng-repeat="product in vm.currentSection.products">

                        <dnd-nodrag class="drag">
                          <div class="has-pad">
                            <div class="row">
                              <div class="col-sm-1 mg-tp-20">
                              <span dnd-handle class="handle">
                                <i class="grip-icon"></i>
                              </span>
                              </div>
                              <div class="col-sm-2">
                                <img ng-src="{{ product.images && product.images.thumb ? vm.baseURL + product.images.thumb : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive" alt="{{product.miid_id}} thumb">
                              </div>

                              <div class="col-sm-3">
                                <p class="mg-tp-20 collection-title">
                                  <a target="_blank" ui-sref="admin-panel.product.create.basic_info({productID: product._id})">{{product.miid_id}}</a>
                                </p>
                              </div>

                              <div class="col-sm-2">
                                <img ng-src="{{vm.baseURL + product.brand.logo}}" class="grayscale mg-tp-10 grayscale-light img-responsive" alt="{{product.brand.name}} logo">
                              </div>

                              <div class="col-sm-2 mg-tp-20">
                                <span class="label status-fix label-white" ng-class="product.status == 'ACTIVE' ? 'label-production':'label-error'">
                                  {{'constants.status.'+product.status.toLowerCase()|translate}}
                                </span>
                              </div>
                              <div class="col-sm-2 mg-tp-20 text-center">
                                <a href="" ng-click="vm.confirmDeleteProduct(product._id)">
                                  <i class="fa fa-times"></i>
                                </a>
                              </div>

                            </div>
                          </div>


                        </dnd-nodrag>
                      </div>


                      <div class="dndPlaceholder">
                        <span translate="words.drop">Drop Here</span>
                      </div>

                    </div>

                    <p class="pd-10" translate="errors.noProducts" ng-show="vm.currentSection.products.length <= 0">No Products</p>

                  </div>
                </div>

              </div>


            </div>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="col-sm-4">

    <!-- Status and Visibility widget -->

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 translate="productsCreatePage.basicInformation.visibility.heading">Status and visibility</h5>
      </div>
      <div class="ibox-content mg-bt-30">

        <div class="text-center mg-tp-10">
          <div class="label big-label label-white" ng-class="vm.collection.status === 'ACTIVE' ? 'label-production': 'label-error'">
            {{'constants.status.'+vm.collection.status.toLowerCase().replace('in','in_')|translate}}
          </div>
          <div class="action-btn mg-tp-10 text-center" uib-dropdown>
            <a href="" uib-dropdown-toggle class="no-padding" translate=".status">change status</a>
            <ul class="pd-10" uib-dropdown-menu>
              <li>
                <a href="javascript:;" ng-click="vm.collection.status = 'ACTIVE'" translate="constants.status.active">Active</a>
              </li>
              <li class="divider">
              </li>
              <li>
                <a href="javascript:;" ng-click="vm.collection.status = 'INACTIVE'" translate="constants.status.in_active">Inactive</a>
              </li>
            </ul>
          </div>
          <div class="text-left mg-tp-20">
            <div class="row mg-tp-10">
              <div class="col-md-5 col-md-offset-1">
                <label class="font-noraml">
                  <input type="checkbox" ng-change="" class="icheckbox_small" icheck
                         ng-model="vm.collection.visibility.WEB_MOBILE"
                         ng-disabled="vm.collection.status == 'INACTIVE'">
                  Web mobile
                </label>
              </div>
              <div class="col-md-6">
                <label class="font-noraml">
                  <input type="checkbox" ng-change="" class="icheckbox_small" icheck
                         ng-model="vm.collection.visibility.IOS"
                         ng-disabled="vm.collection.status == 'INACTIVE'">
                  MiiD iOS app
                </label>
              </div>
            </div>
            <div class="row mg-tp-10">
              <div class="col-md-5 col-md-offset-1">
                <label class="font-noraml">
                  <input type="checkbox" ng-change="" class="icheckbox_small" icheck
                         ng-model="vm.collection.visibility.WEB_DESKTOP"
                         ng-disabled="vm.collection.status == 'INACTIVE'">
                  Web desktop
                </label>
              </div>
              <div class="col-md-6">
                <label class="font-noraml">
                  <input type="checkbox" ng-change="" class="icheckbox_small" icheck
                         ng-model="vm.collection.visibility.ANDROID"
                         ng-disabled="vm.collection.status == 'INACTIVE'">
                  Miid Android app
                </label>
              </div>
            </div>
          </div>
          </p>

        </div>
      </div>

      <!-- SEO widget -->

      <div translate-namespace=".seo" class="ibox float-e-margins">
        <div class="ibox-title">
          <h5 translate=".label">SEO</h5>
        </div>
        <div class="ibox-content mg-bt-60">
          <p translate=".msg">Search engine preview</p>

          <div class="google-seo">
          <span class="google-seo-title">
            <span translate=".title" ng-hide="vm.collection.seo.title != '' || vm.collection.seo.description != '' || vm.collection.slug != ''">Flights to Singapore - QatarAirways.com</span>
            <span ng-show="vm.collection.seo.title || vm.collection.seo.description || vm.collection.slug">{{vm.collection.seo.title}}</span>
          </span>
            <div class="google-seo-url">
              <span  ng-hide="vm.collection.seo.title != '' || vm.collection.seo.description != '' || vm.collection.slug != ''">www.qatarairways.com/Singapore</span>
              <span  ng-show="vm.collection.seo.title || vm.collection.seo.description || vm.collection.slug">www.miid.com/{{vm.collection.type == 'BRANDS' ? 'brand' : 'collection'}}/{{vm.collection.slug}}</span>
            </div>
            <div class="google-seo-description">
              <span translate=".description" ng-hide="vm.collection.seo.title != '' || vm.collection.seo.description != '' || vm.collection.slug != ''">Book your flight to Singapore. Discover the world's best Airline. Gateway to world...</span>
              <span  ng-show="vm.collection.seo.title || vm.collection.seo.description || vm.collection.slug">{{vm.collection.seo.description}}</span>
            </div>
          </div>

          <div class="form-group mg-tp-20">
            <label for="pageTitle" translate=".fields.title.label">Page title</label>
            <input type="text" ng-model="vm.collection.seo.title" ng-change="vm.setSlug()" placeholder="{{'collectionsCreatePage.seo.fields.title.placeholder'|translate}}" id="pageTitle" class="form-control">
          </div>

          <div class="form-group">
            <label for="pageDescription" translate=".fields.description.label">Meta description</label>
            <textarea type="text" ng-model="vm.collection.seo.description" placeholder="{{'collectionsCreatePage.seo.fields.description.placeholder'|translate}}"  id="pageDescription" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="pageURL" translate=".fields.url">URL and handle</label>
            <div class="input-group m-b" ng-class="{'has-error': vm.slugExist || vm.collection.slug == ''}">
            <span class="input-group-btn">
              <button type="button" class="btn input-group-border btn-outline">
                <small>http://www.miid.com.cn/{{vm.collection.type == 'BRANDS' ? 'brand' : 'collection'}}/</small>
              </button>
            </span>
              <input type="text" ng-change="vm.collection.slug = vm.slugify(vm.collection.slug)" ng-model="vm.collection.slug" id="pageURL" class="form-control">
            </div>
          </div>

          <div class="form-group tag">
            <label for="pageKeywords" translate=".fields.keywords.label">Keywords</label>
            <input type="text" ng-model="vm.collection.seo.currentKeyword" enter-keypress="vm.addTag()" placeholder="{{'collectionsCreatePage.seo.fields.keywords.placeholder'|translate}}" id="pageKeywords" class="form-control">
          </div>

          <div class="tag-container">
            <div class="label tag" ng-repeat="tag in vm.collection.seo.keywords">
              <span>{{tag}}</span>
              <i class="fa fa-times remove-tag" ng-click="vm.removeTag(tag)"></i>
            </div>
            <div class="clear"></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
