<div class="ibox no-margins">
  <div class="ibox-title">
    <h5 translate="artworksListPage.button">
      Upload Artworks
    </h5>
    <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content pd-bt-5">
    <div class="row">
      <div class="col-xs-7">

        <file-uploader type="simple" main-class="media-upload-panel">

          <file-pane type="simple">

            <div ng-show="!modal.imgSrc">
              <file-drop-zone
                drop-head="{{'uploader.dragMsg'| translate}}"
                size-message="{{'uploader.recSizeMsg'| translate: '{width: 750, height: 500}'}}"
                drop-message="{{'uploader.recFormats'| translate}} PNG or JPEG"
                upload-image="modal.createArtwork"
                loading="modal.uploading"
                upload-progress="modal.uploadProgress"
                loading-message="{{'uploader.uploadingMsg'| translate}}"></file-drop-zone>
            </div>

            <div ng-show="modal.imgSrc">
              <file-preview
                image-array="modal.imgArr"
                remove-image="modal.removeImage">

              </file-preview>
            </div>

          </file-pane>

          <div class="media-actions">
            <div class="action-btns mg-bt-30">
              <button class="btn btn-primary"
                      ng-model="file" name="file" ngf-pattern="'image/*'"
                      ngf-accept="'image/*'" ngf-max-size="2MB"
                      multiple="false"
                      ngf-select="modal.createArtwork($file)"
                      ng-disabled="modal.uploading || modal.creatingArtwork" translate="buttons.upload">Upload</button>
            </div>
          </div>
        </file-uploader>

      </div>
      <div class="col-xs-4 col-xs-offset-1">
        <div class="mg-bt-5">
          <label for="artworkName" class="font-noraml" translate="words.name">Name</label>
          <input id="artworkName" ng-model="modal.artwork.name" ng-disabled="!modal.enabled" type="text" class="form-control">
        </div>

        <div class="mg-bt-5">
          <label for="artworkAltImg" class="font-noraml" translate="words.imgAlt">Alt Img</label>
          <input id="artworkAltImg" ng-model="modal.artwork.altImage" ng-disabled="!modal.enabled" type="text" class="form-control">
        </div>
        <div class="mg-bt-5">
          <label for="artworkPrice" class="font-noraml" translate="words.price">Price</label>
          <div class="input-group">
            <input id="artworkPrice" ng-model="modal.artwork.price" ng-disabled="!modal.enabled" type="number" class="form-control">
            <span class="input-group-addon">RMB</span>
          </div>
        </div>

        <div class="pers-items-container">
          <h4>
            <span translate="words.galleries">Galleries</span>
            <a href="" class="pull-right" stop-click-if="!modal.enabled" ng-click="modal.createGallery()" translate="modals.galleries.heading">Create Gallery +</a>
          </h4>
          <div class="pers-items-body">
            <ul class="no-margins galleries-list-upload list-group">
              <li class="list-group-item text-center" ng-if="modal.loadingGalleries">
                <span class="fa fa-spin fa-refresh"></span>
              </li>
              <li ng-class="{'new-item': gallery.new}" class="list-group-item" ng-repeat="gallery in modal.galleries track by $index">
                <label class="font-noraml" ng-if="!gallery.new">
                  <input type="checkbox" ng-disabled="!modal.enabled" class="icheckbox_small mg-rt-10" icheck ng-model="gallery.selected">
                  {{gallery.en.name}}
                </label>
                <div class="row" ng-if="gallery.new">
                  <div class="col-xs-12 mg-bt-10">
                    <input type="text" ng-model="gallery.name" placeholder="Gallery name" class="form-control">
                  </div>
                  <div class="col-xs-12 text-right">
                    <button translate="buttons.cancel" class="btn btn-outline btn-discard" ng-disabled="modal.creatingGallery" ng-click="modal.delGallery(gallery)">
                      Cancel
                    </button>
                    <button class="btn btn-primary" ng-click="modal.saveGallery(gallery)" ng-disabled="gallery.name=='' || modal.creatingGallery">
                      <span ng-hide="modal.creatingGallery" translate="buttons.save">Save</span>
                      <span ng-show="modal.creatingGallery" class="fa fa-spin fa-cog"></span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="mg-bt-5 mg-tp-5">
            <label class="font-noraml" translate="words.tags">Tags</label>
            <input type="text" class="form-control" ng-disabled="!modal.enabled" placeholder="Type and press enter to add tag"
                   enter-keypress="modal.addTag()" ng-model="modal.tag">
            <div class="tag-container">
              <div class="label pull-left mg-bt-5" ng-repeat="tag in modal.tags">
                <i class="fa fa-tag"></i>
                {{tag}}
                <i class="fa fa-times remove-tag" ng-click="modal.removeTag(tag)"></i>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

        </div>



      </div>
    </div>

  </div>
  <div class="ibox-footer text-right">
    <button translate="buttons.cancel" class="btn btn-cancel btn-outline" ng-disabled="modal.creatingArtwork || modal.uploading" type="button" ng-click="modal.close()">Cancel</button>
    <button ng-disabled="modal.creatingArtwork || modal.uploading" class="btn btn-primary" type="button" ng-click="modal.createArtwork(null, 'update')">
      <span ng-hide="modal.creatingArtwork" translate="buttons.save">Save</span>
      <i ng-show="modal.creatingArtwork" class="fa fa-cog fa-spin"></i>
    </button>
  </div>

</div>

