<!-- Wrapper-->
<div id="wrapper">

  <!-- Navigation -->
  <div ng-include="'app/views/common/navigation.html'"></div>

  <!-- Page wraper -->
  <!-- ng-class with current state name give you the ability to extended customization your view -->
  <div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-class="{'not-found': $state.includes('admin-panel.not-found')}">

    <!-- Page wrapper -->
    <div ng-include="'app/views/common/topnavbar.html'"></div>

    <!-- Main view  -->
    <div ui-view></div>

    <!-- Footer -->
    <div ng-include="'app/views/common/footer.html'"></div>

  </div>
  <!-- End page wrapper-->

  <!-- Right Sidebar -->
  <div ng-include="'app/views/common/right_sidebar.html'"></div>

</div>
