<div translate-namespace="artworksListPage" class="row mg-bt-20 wrapper border-bottom white-bg page-heading ng-scope">
  <div class="col-sm-12 no-padding">
    <div class="col-sm-10">
      <h2 translate="words.artworks">Artworks</h2>

      <ol class="breadcrumb mg-tp-5">
        <li>
          <a ui-sref="admin-panel.personalize.list({for: 'artworks'})" translate="words.brandList">Brand List</a>
        </li>
        <li class="active">
          <strong>
            <span ng-if="vm.brandID"><span translate="table.head.brand">Brand</span> {{vm.brandName}} </span>
            <span ng-if="vm.public">MIID Public </span>
            <span translate="words.artworks">Artworks</span>
          </strong>
        </li>
      </ol>
    </div>
    <div class="col-sm-2 mg-tp-30">
      <button class="btn btn-primary" ng-click="vm.uploadArtworks()">
          <span translate=".button">Upload Artworks</span>
          <i class="fa mg-lt-5 fa-upload"></i>
      </button>
    </div>
  </div>
</div>

<div translate-namespace="artworksListPage" class="row coupons-list users-widget">
  <div class="col-lg-12 mg-bt-30">
    <div class="ibox">
      <div class="ibox-title">
        <h5 translate=".heading">Artworks List</h5>
        <span ng-show="vm.galleryID || vm.brandID" class="pull-right">
          <!--<span ng-if="vm.totalArtworks && vm.galleryID && !vm.loading">-->
            <!--<small>{{vm.totalArtworks - vm.artworks.length}} <strong>PRIVATE</strong> artworks are hidden! &nbsp;</small>-->
          <!--</span>-->
          <small translate=".msg">You are seeing artworks from </small>
          <span ng-show="vm.galleryID">
            Gallery: <strong>{{vm.galleryName}}</strong>
          </span>
          <span ng-show="vm.galleryID && vm.brandID">&nbsp;&&nbsp;</span>
          <span ng-show="vm.brandID">
            <span translate="table.head.brand">Brand</span>: <strong>{{vm.brandName}}</strong>
          </span>
        </span>
      </div>
      <div class="ibox-content orders-widget">
        <div class="row mg-bt-20 mg-tp-10">
          <div class="col-sm-4">
            <div class="input-group date">
              <input type="datetime" class="form-control custom-input" date-time min-view="date" format="DD/MM/YYYY" ng-model="vm.filters.from" view="date" auto-close="true" date-change="dateChanged">
              <span class="input-group-addon date-addon" translate="words.to">to</span>
              <input type="datetime" class="form-control" date-time ng-model="vm.filters.to" min-view="date" format="DD/MM/YYYY" view="date" auto-close="true" date-change="dateChanged">
            </div>
          </div>

          <div class="col-sm-2">
            <select name="status" ng-model="vm.filters.gallery" ng-change="vm.galleryFilter()" id="gallery" class="form-control custom-input">
              <option value="{{gallery._id}}" ng-repeat="gallery in vm.galleries">{{gallery.en.name}}</option>
            </select>
          </div>

          <div class="col-sm-2">
            <select name="status" ng-change="vm.loadList()" ng-model="vm.filters.status" id="status" class="form-control custom-input">
              <option value="0" translate="constants.status.status">Status</option>
              <option value="ENABLE" translate="constants.status.available">Available</option>
              <option value="DISABLE" translate="constants.status.offline">Offline</option>
            </select>
          </div>

          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" enter-keypress="vm.loadList()" ng-model="vm.filters.search" placeholder="{{'filters.search.placeholder'| translate}}" class="input-medium custom-input form-control">
              <div class="input-group-btn">
                <button ng-click="vm.loadList()" translate="filters.search.button.go" type="button" class="btn btn-md btn-primary">Go!</button>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="vm.loading">
          <div class="text-center loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>

        <div class="col-sm-12 mg-tp-10" ng-hide="vm.loading" ng-if="vm.artworks.length < 1">
          <p translate="errors.noArtworks">No Artworks to show.</p>
        </div>

        <table ng-hide="vm.loading || vm.artworks.length < 1" class="table orders-table list-box-container table-bordered table-hover">
          <thead>
          <tr>
            <th>
              <div list-selector actions="vm.bulkActions" list-options="vm.listSelectorOptions" name="artwork" items="vm.artworks"></div>
            </th>
            <th class="adjust-column" translate="words.thumbnail">Thumbnail</th>
            <th class="adjust-column" translate="words.name">Name</th>
            <th class="adjust-column" translate="words.galleries">Galleries</th>
            <th class="adjust-column" translate="table.head.size">Size</th>
            <th class="adjust-column" translate="table.head.date">Date</th>
            <th class="adjust-column" translate="table.head.status">Status</th>
            <th class="adjust-column"></th>
          </tr>
          </thead>
          <tbody>

          <tr class="auto-height-artwork" ng-class="{'selected': item.checked}" ng-repeat="item in vm.artworks">
            <td>
              <input icheck type="checkbox" ng-change="vm.listSelectorOptions.markCheckBox(item.checked)"
                     ng-model="item.checked">
            </td>
            <td class="text-center no-height-fix">
              <div>
                <a ng-href="{{vm.assetURL + item.image.path}}" target="_blank">
                  <img class="list-logo-height" ng-src="{{ (item.image && item.image.path) ? vm.baseURL + item.image.path : '/img/icons/img-placeholder.png' }}" width="40" height="40" alt="img">
                </a>
              </div>
            </td>
            <td>
              <span ng-if="!item.editing">
                <a class="pers-edit" ng-click="item.editing = true; item.newName = item.en.name">
                  <i class="fa fa-pencil-square-o"></i>
                </a>
                {{item.en.name}}
              </span>
              <div class="row" ng-if="item.editing">
                <div class="col-xs-12">
                  <input type="text" ng-model="item.newName" class="form-control">
                </div>
                <div class="col-xs-12 mg-tp-5">
                  <div class="pull-right">
                    <button class="btn btn-primary" translate="buttons.save" ng-disabled="item.newName == item.en.name" ng-click="vm.editArtworkName(item)">Save</button>
                    <button class="btn btn-discard btn-outline" translate="buttons.cancel" ng-click="item.editing = false;">Cancel</button>
                  </div>
                </div>
              </div>
            </td>
            <td width="250px" style="width: 250px;">
              <a class="pers-edit" ng-click="vm.addGalleries(item, 'single')">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <span ng-hide="item.galleries.length < 1">
                <span ng-class="{'font-bold': gallery.en.name == vm.selectedGalleryName}" ng-repeat="gallery in item.galleries">
                  {{gallery.en.name}} <i ng-hide="$last">,</i>
                </span>
              </span>
              <span ng-show="item.galleries.length < 1" translate="errors.noGalleries">
                No Galleries
              </span>
            </td>
            <td>{{(item.image && item.image.size) ? (item.image.size | size) : '0 kB'}}</td>
            <td>{{item.created_at | date: 'M / d / yyyy'}}</td>
            <td>
              <div class="btn-group action-btn" uib-dropdown>
                <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                  <span ng-if="item.status.toLowerCase() == 'enable'"
                        translate="constants.status.available"
                        class="label status-fix title-case label-white label-production">
                    Available
                  </span>
                  <span ng-if="item.status.toLowerCase() == 'disable'"
                        translate="constants.status.offline"
                        class="label status-fix title-case label-white label-error">
                    Offline
                  </span>
                </button>
                <ul class="pd-10" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem">
                    <a href="javascript:;" ng-click="vm.changeStatus(item, 'ENABLE')" translate="constants.status.available">Available</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="javascript:;" ng-click="vm.changeStatus(item, 'DISABLE')" translate="constants.status.offline">Offline</a>
                  </li>
                </ul>
              </div>
            </td>
            <td class="no-height-fix no-pd-lt">
              <button class="btn btn-outline" ng-click="vm.confirmDelete('single', item)">
                <i class="fa fa-trash-o fa-2x"></i>
              </button>
              <span ng-show="item.processing" class="fa mg-lt-10 fa-cog fa-spin"></span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-4">
            <div class="pagination-info" ng-hide="vm.loading || vm.artworks.length < 1">Showing {{vm.previousPage*vm.itemsLimit + 1}} to
              {{(vm.previousPage*vm.itemsLimit) + vm.itemsGot}} of {{vm.totalItems}}
            </div>
          </div>
          <div class="col-sm-8">
            <uib-pagination ng-disabled="vm.loading" ng-if="vm.totalItems > 10" total-items="vm.totalItems"
                            items-per-page="vm.itemsLimit" ng-model="vm.currentPage" ng-change="vm.changePage()"
                            max-size="vm.itemsLimit" class="pull-right pagination-sm" boundary-link-numbers="true"
                            rotate="false"></uib-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
