<div class="login-screen">
  <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div class="login-form">
      <div class="login-logo">
        <img src="/img/icons/miid-logo.png">
        <h3 translate="loginPage.heading.welcome">Welcome</h3>
      </div>

      <form name="loginForm" class="m-t" role="form" ng-submit="login.doLogin()">
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="{{'loginPage.form.placeholder.email' | translate}}" required=""
                 ng-model="email" ng-model-options="{ 'updateOn': 'blur'}">
        <span translate="loginPage.form.invalidEmail" class="error" ng-show="loginForm.email.$error.email">
          Invalid email
        </span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="{{'loginPage.form.placeholder.password' | translate}}" required="" ng-model="password">
        </div>
        <button translate="loginPage.button.submit" type="submit" class="btn btn-primary block full-width m-b">Login</button>
        <div class="loader text-center hidden">
          <i class="fa fa-cog fa-spin"></i>
        </div>
        <div class="login-error alert alert-danger hidden">
          <div class="error-msg">{{login.errorMessage}}</div>
        </div>
        <!--<a ui-sref="forgot_password">-->
          <!--<small>Forgot password?</small>-->
        <!--</a>-->
        <p class="text-center mg-tp-20" translate="loginPage.select">Select your language</p>
        <p class="text-center">
          <a href="" translate="loginPage.english" ng-click="login.changeLang('en_US')">English</a> | <a translate="loginPage.chinese" ng-click="login.changeLang('ch')" href="">Chinese</a>
        </p>
      </form>
    </div>
  </div>

</div>
