<form name="productForm" translate-namespace="productsCreatePage" ng-class="{'loading-content': vm.loading && vm.firstLoad}" id="product-basic-info" novalidate
      ng-submit="vm.processBasicInfo(productForm.$valid)">

  <div translate-namespace="productsCreatePage" class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-3 no-pd-rt">
      <h2>
        <div ng-style="{ display: vm.loading && vm.firstLoad?'inline-block': 'none'}" style="width: 100px;top: -3px" class="content-loader content-loader-input"></div>

        <span ng-init="showFullCrumbs" class="loading-shield">
          <span translate=".breadcrumbs" ng-if="!va.productID">Create</span>
          <span ng-if="va.productID">
            <span ng-show="!showFullCrumbs && vm.product.basicInfo.name.length > 15">
                {{vm.product.basicInfo.name.substr(0, 10)}}<a href="javascript:;" ng-click="showFullCrumbs = true">...</a>
              </span>
              <span ng-show="!showFullCrumbs && vm.product.basicInfo.name.length <= 15">
                {{vm.product.basicInfo.name}}
              </span>
              <span ng-show="showFullCrumbs">
                {{vm.product.basicInfo.name}}&nbsp;<a href="javascript:;" style="position: relative;z-index:10;" ng-click="showFullCrumbs = false">x</a>
              </span>
          </span>
        </span>

        &nbsp;
        <a href="" class="text-inherit" ng-click="parent.navigate('left')">
          <span class="fa orders-nav fa-angle-left"></span>
        </a>
        &nbsp;
        <a href="" class="text-inherit"  ng-click="parent.navigate('right')">
          <span class="fa orders-nav fa-angle-right"></span>
        </a>
      </h2>
      <ol class="breadcrumb">
        <li>
          <strong>
            <a ui-sref="admin-panel.product.list">
              <span translate=".heading">Products</span>
            </a>
          </strong>
        </li>
        <li ng-init="showFullName = false">
          <div ng-style="{ display: vm.loading && vm.firstLoad?'inline-block': 'none'}" style="width: 70px; display: inline-block;" class="content-loader content-loader-input"></div>
          <span class="loading-shield">
            <strong translate=".breadcrumbs" ng-if="!vm.productID">Create</strong>
            <strong ng-if="vm.productID">
              <span ng-hide="!showFullName && vm.product.basicInfo.name.length > 15">
                {{vm.product.basicInfo.name.substr(0, 14)}}<a href="javascript:;" ng-click="showFullName = true">...</a>
              </span>
              <span ng-hide="!showFullName && vm.product.basicInfo.name.length < 15">
                {{vm.product.basicInfo.name}}
              </span>
              <span ng-show="showFullName">
                {{vm.product.basicInfo.name}}<a href="javascript:;" style="position: relative;z-index:10;" ng-click="showFullName = false">&nbsp;x</a>
              </span>
            </strong>
          </span>
        </li>
      </ol>
    </div>
    <div class="col-lg-9 text-center">
      <div class="product-wizard">
        <div class="product-steps clearfix">
          <ul>
            <li data-step="1" class="current">
              <a ui-sref="admin-panel.product.create.basic_info({productID: parent.productID})">
                <span translate=".basicInformation.heading">Basic Information</span>
              </a>
            </li>
            <li data-step="2">
              <a ui-sref="admin-panel.product.create.customization_desc({productID: parent.productID})"
                 ng-class="parent.next?'disabled': ''"
                 ng-disabled="parent.next"
                 stop-click-if="parent.next">
                <span translate=".customisationDescription.heading">Customisation Menu</span>
              </a>
            </li>
            <li data-step="3" permission permission-only="'canSee.Products.VisualAssets'" ui-sref-active="current">
              <a ui-sref="admin-panel.product.create.va.va_upload({productID: parent.productID})"
                 stop-click-if="parent.next"
                 ng-class="parent.next?'disabled': ''"
                 ng-disabled="parent.next">
                <span translate=".visualAssets.heading">Visual Assets</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="pull-right mg-tp-30">
        <button ng-show="vm.productID? !vm.checkForChanges(): true" ui-sref="admin-panel.product.list" class="btn-discard btn mg-rt-10 btn-outline">
          <span translate="buttons.cancel">Cancel</span>
        </button>
        <button ng-disabled="productForm.$invalid || vm.checkForChanges() || vm.loading || vm.loadingProducts" class="btn btn-primary">
          <span ng-hide="vm.loading || vm.loadingProducts" translate="buttons.saveAll">Save all</span>
          <span ng-show="vm.loading || vm.loadingProducts" class="fa fa-cog fa-spin"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="wrapper product wrapper-content animated fadeInRight">
    <div class="row mg-bt-20">
      <div class="col-xs-8">
        <h3 translate=".basicInformation.subheading">Product basic information</h3>
      </div>
      <div class="col-xs-4">
        <div class="text-right">
          <a ng-click="parent.deleteCacheImages()" ng-show="!parent.next">
            <span translate=".cacheMsg">Delete cached images</span>
            &nbsp;<i class="fa fa-refresh"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div ng-include="'app/modules/product/create/basic_info/templates/product-miid-info.html'"></div>
        <div ng-include="'app/modules/product/create/basic_info/templates/product-basic-info.html'"></div>
        <div ng-include="'app/modules/product/create/basic_info/templates/product-media.html'"></div>
        <div ng-include="'app/modules/product/create/basic_info/templates/product-promotion.html'"></div>
      </div>
      <div class="col-xs-4">
        <div ng-include="'app/modules/product/create/basic_info/templates/product-visibility-seo.html'"></div>
        <div ng-include="'app/modules/product/create/basic_info/templates/product-organisation.html'"></div>
        <div ng-include="'app/modules/product/create/basic_info/templates/related-product-reviews.html'"></div>
      </div>
    </div>
  </div>
</form>
