<div class="ibox float-e-margins no-margins">
  <form class="form-horizontal" name="addBrand" id="add-brand" ng-submit="modal.submit(addBrand.$valid)" role="form">
    <div class="ibox-title">
      <h5 translate="modals.brand.heading">
        Add New Merchant
      </h5>
      <span ng-click="modal.close()" class="pull-right fa fa-times"></span>
    </div>
    <div class="ibox-content">
      <div class="panel" ng-class="{' panel-primary':modal.success, ' panel-danger':modal.error }" ng-if="modal.error || modal.success">
        <div class="panel-heading">
          <i class="fa fa-warning fa-white"></i>
          <span class="m-l-xs" translate="words.alert">Alert</span>
        </div>
        <div class="panel-body" >
          {{modal.message}}
        </div>
      </div>
      <div class="p-m">
        <div class="m-b-lg" translate="modals.brand.description">To add new merchant please fill out the following below</div>
        <div class="form-group" ng-class="{ 'has-error' : (addBrand.name.$error.required && submitted)}">
          <label class="col-md-3 control-label" translate="words.name">Name</label>
          <div class="col-md-9">
            <input class="form-control" type="text"  ng-model="modal.brand.name" name="name" ng-change="modal.setSlug()" required>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (addBrand.id.$error.required && submitted)}">
          <label class="col-md-3 control-label" translate="table.head.merchantID">Merchant ID</label>
          <div class="col-md-9">
            <input class="form-control" type="text" ng-model="modal.brand.brand_id" name="id" required>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (addBrand.slug.$error.required && submitted)}">
          <label class="col-md-3 control-label" translate="modals.brand.url">Merchant URL</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon">http://miid.com/brands/</span>
              <input class="form-control" type="text" ng-model="modal.brand.slug" name="slug" ng-change="modal.brand.slug = modal.Slugify(modal.brand.slug)" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error' : (addBrand.merchant_type.$error.required && submitted)}">
              <label class="col-md-6 control-label">Merchant type</label>
              <div class="col-md-6">
                <select class="form-control" ng-model="modal.brand.merchant_type" name="merchant_type" required
                        ng-options="type as type for type in modal.merchantTypeList">
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error' : (addBrand.commission.$invalid && submitted)}">
              <label class="col-md-7 control-label">MIID commission</label>
              <div class="col-md-5">
                <div class="input-group">
                  <input class="form-control" type="number" step="0.01" ng-model="modal.brand.commission" name="commission" min="0" max="100"> <span class="input-group-addon">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (addBrand.email.$error.required && submitted)}">
          <label class="col-md-3 control-label" translate="modals.brand.email">Admin Email</label>
          <div class="col-md-9">
            <input class="form-control" type="email" ng-model="modal.brand.email" name="email" required>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (addBrand.password.$invalid && submitted)}">
          <label class="col-md-3 control-label" translate="modals.brand.pass">Password</label>
          <div class="col-md-9">
            <input class="form-control" minlength="6" type="password"  ng-model="modal.brand.password" name="password" required>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="modal.close()" translate="buttons.cancel">Cancel</button>
      <button type="submit" ng-click="submitted=true;" ng-disabled="modal.addingBrand" class="btn btn-primary">
        <span ng-hide="modal.addingBrand" translate="buttons.save">Save</span>
        <i ng-show="modal.addingBrand" class="fa fa-cog fa-spin"></i>
      </button>
    </div>
  </form>
</div>



