<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="navigationCreatePage.section.addCollection">Add collections</h5>
    <span ng-click="vm.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content products-listing-modal">

    <div class="row mg-tp-10">
      <div class="list-container">
        <div class="list-body">
          <div class="text-center loading" ng-show="vm.loading">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
          <p ng-if="vm.collections.length < 1" ng-hide="vm.loading" translate="navigationCreatePage.section.noCollection">No Collections to show</p>
          <table ng-if="vm.collections.length > 0" ng-hide="vm.loading" class="table table-condensed no-margins list-box-container table-bordered table-hover">
            <thead>
            <tr>
              <th>
                <div list-selector actions="vm.leftListBulk" items="vm.collections" list-options="vm.selectorForCollections" name="collection"></div>
              </th>
              <th>Banner</th>
              <th translate="table.head.collectionName">Collection name</th>
              <th translate="table.head.collectionLink">Collection link</th>
              <th translate="table.head.productNumber">Product number</th>
              <th translate="table.head.status">Status</th>
            </tr>
            </thead>
            <tbody class="white-bg">
            <tr ng-repeat="collection in vm.collections" ng-class="{selected: collection.checked, changed: collection.changed}">
              <td>
                <input type="checkbox" ng-change="vm.selectorForCollections.markCheckBox(collection.checked)" icheck ng-model="collection.checked">
              </td>
              <td class="collection-logo">
                <img ng-src="{{ collection.coll.images && collection.coll.images.logo && collection.coll.images.logo !== '' ? vm.baseUrl  + collection.coll.images.logo : '/img/icons/img-placeholder.png'}}" width="40" height="40" alt="{{collection.coll.title}}">
              </td>
              <td>{{collection.coll.title}}</td>
              <td>
                <a>
                  www.miid.com/collection/{{collection.coll.slug}}
                </a>
              </td>
              <td>
                {{ collection.coll | productCount }} <span translate="productsCreatePage.heading">Products</span>
              </td>
              <td>
              <span>
                <span ng-show="collection.coll.status == 'ACTIVE'" translate="constants.status.active" class="label prod-status label-white label-production">
                  Active
                </span>
                <span ng-show="collection.coll.status == 'INACTIVE'" translate="constants.status.in_active" class="label prod-status label-white label-error">
                  Inactive
                </span>
              </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-footer text-right">
    <div>
      <button class="btn btn-primary"  type="button" ng-click="vm.submit()">
        <span ng-hide="vm.loading">
          <span translate="buttons.addCollection">
            Add collections
          </span>
        </span>
        <span class="fa fa-spin fa-cog" ng-show="vm.loading"></span>
      </button>
    </div>
  </div>
</div>




