<div translate-namespace="productsListPage" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2 translate=".heading">Products List</h2>
    <ol class="breadcrumb">
      <li>
        <strong translate=".breadcrumbs">Products List</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2 mg-tp-30">
    <a class="btn btn-w-m btn-primary" ui-sref="admin-panel.product.create.basic_info">
      <span translate=".newProductBtn">Add New Product</span>
      <span class="add-sign">+</span>
    </a>
  </div>
</div>
<div translate-namespace="productsListPage" class="wrapper product wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5 translate=".heading">Products</h5>
        </div>
        <div class="ibox-content ibox-default product-list">

          <div class="row mg-bt-5">
            <div class="col-sm-4 col-lg-offset-8">
              <p>
                <label class="font-noraml no-margins">
                  <input type="checkbox" ng-model="vm.filters.archived" icheck ng-change="vm.loadProducts(true)">
                  <span translate="filters.archived">Show archived products in results list</span>
                </label>
              </p>
            </div>
          </div>

          <div class="row" translate-namespace="filters">
            <div class="col-sm-3 col-sm-offset-1">
              <div class="input-group date">
                <input type="datetime" class="form-control custom-input" date-time min-view="date" format="DD/MM/YYYY" ng-model="vm.filters.from" view="date" auto-close="true" date-change="dateChanged">
                <span class="input-group-addon date-addon" translate=".date.label">to</span>
                <input type="datetime" class="form-control" date-time ng-model="vm.filters.to" min-view="date" format="DD/MM/YYYY" view="date" auto-close="true" date-change="dateChanged">
              </div>
            </div>
            <div class="col-sm-2" permission permission-only="'canSee.Products.FilterByBrand'">
              <select class="form-control custom-input"
                      ng-model="vm.filters.brand"
                      ng-options="option.name for option in vm.brands track by option.id" ng-change="vm.loadProducts(true)">
                <!--<option >Brand</option>-->
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-control custom-input"
                      ng-model="vm.filters.status"
                      ng-options="option.value as ('constants.status.' + option.value.toLowerCase() | translate) for option in vm.statuses" ng-change="vm.loadProducts(true)">
                <!--<option>Status</option>-->
              </select>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" id="ordersFilter" ng-model="vm.filters.text" placeholder="{{'filters.search.placeholder'|translate}}" class="input-medium custom-input form-control" enter-keypress="vm.loadProducts(true); keyword = vm.filters.text;">
                <div class="input-group-btn">
                  <button type="button" class="btn btn-md btn-custom-primary" ng-click="vm.loadProducts(true); keyword = vm.filters.text;" translate=".search.button.go"> Go!</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="list" ng-show="!vm.loading">
                <div class="col-sm-12 mg-tp-10" ng-if="vm.products.length < 1">
                  <p translate="errors.noProducts">No Products to show.</p>
                </div>
                <table translate-namespace="table" ng-hide="vm.loading"  ng-if="vm.products.length > 0" class="table table-bordered table-hover">
                  <thead>
                  <tr translate-namespace=".head" class="list-box-container">
                    <th class="list-box" ng-class="vm.listBox ? 'selected': ''">
                      <div class="border">
                        <div>
                          <input icheck type="checkbox" ng-change="vm.toggleCheckbox(vm.listBox)" ng-model="vm.listBox">
                        </div>
                        <div ng-show="vm.listBox" class="text">
                          <small translate="table.bulk.selectedLabel" translate-values="{count: {{vm.selectedProductsCount}}}">{{vm.selectedProductsCount}} products selected</small>
                        </div>
                        <div class="btn-group action-btn" ng-show="vm.listBox" uib-dropdown>
                          <button id="single-button" type="button" class="btn btn-xs btn-outline"
                                  uib-dropdown-toggle>
                            <span translate="table.bulk.label">Bulk actions</span>
                            <span class="fa fa-sort-down"></span>
                          </button>
                          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem">
                              <a href="javascript:;" ng-click="vm.changeStatus()" translate="table.bulk.change_status">Change Status</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </th>
                    <th>
                      <span class="adjust-column">MIID ID</span>
                    </th>
                    <th>
                      <span class="adjust-column" translate=".brand">Brand</span>
                    </th>
                    <th>
                      <span class="adjust-column" translate=".name">Name</span>
                    </th>
                    <th>
                      <span class="adjust-column" translate=".sku">SKU</span>
                    </th>
                    <th>
                      <span class="adjust-column" translate=".price">Price</span>
                    </th>
                    <th>
                      <span class="adjust-column" translate=".status">Status</span>
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-class="{'active': product.checked}" ng-repeat="product in vm.products">
                    <td>
                      <input icheck type="checkbox" ng-change="vm.markCheckBox(product.checked)" ng-model="product.checked">
                    </td>
                    <td highlight="keyword">
                      {{product.miid_id}}
                    </td>
                    <td class="img-fix">
                      <img class="grayscale grayscale-light list-logo-height" width="100px" ng-src="{{vm.assetUrl + product['brand']['logo']}}"/>
                    </td>
                    <td highlight="keyword">
                      {{product.en && product.en.name ? product.en.name : 'N/A'}}
                    </td>
                    <td highlight="keyword">
                      {{product.sku}}
                    </td>
                    <td>
                      <b class="m-r-xs">&yen;</b>
                      <span highlight="keyword">
                        {{product.base_price}}
                      </span>
                    </td>
                    <td >
                      <div class="btn-group action-btn" uib-dropdown>
                        <button type="button" uib-dropdown-toggle class="btn no-padding btn-outline">
                          <span translate="constants.status.{{product.status.toLowerCase()}}" class="title-case label status-fix label-white " ng-class="'label-'+vm.statusLabelClasses[product.status]">
                            {{product.status.replace('_','').toLowerCase()}}
                          </span>
                          <span ng-show="product.changingStatus" class="fa mg-lt-10 fa-cog fa-spin"></span>
                        </button>

                        <ul class="pd-10" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                          <li role="menuitem">
                            <a href="javascript:;" ng-click="vm.changeSingleStatus(product, 'ACTIVE')" translate="constants.status.active">Active</a>
                          </li>
                          <li class="divider"></li>
                          <li>
                            <a href="javascript:;" ng-click="vm.changeSingleStatus(product, 'IN_ACTIVE')" translate="constants.status.in_active">Inactive</a>
                          </li>
                          <li class="divider"></li>
                          <li>
                            <a href="javascript:;" ng-click="vm.changeSingleStatus(product, 'ARCHIVED')" translate="constants.status.archived">Archived</a>
                          </li>
                        </ul>
                      </div>

                    </td>
                    <td>
                      <div class="btn-group">
                        <a ui-sref="admin-panel.product.create.basic_info({productID: product._id})" class="btn btn-sm btn-default btn-outline" ng-click="vm.edit(product)">
                          <span translate="productsListPage.editBtn">Edit</span>
                        </a>
                        <!--<label permission permission-only="'canSee.Products.DeleteButton'" class="btn btn-sm btn-default btn-outline" ng-click="vm.delete(product)"><span class="delete-icon"></span></label>-->
                        <label class="btn btn-sm btn-default btn-outline" ng-click="vm.duplicate(product)"><span class="copy-icon"></span></label>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <paginator current-page="vm.currentPage" loading="vm.loading" on-page-change="vm.loadProducts" items-limit="vm.itemsLimit" items="vm.itemsGot" total="vm.totalItems"></paginator>

              </div>
              <div class="loading-wheel" ng-show="vm.loading">
                <i class="fa fa-spin fa-refresh"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
