<div translate-namespace=".vaLayering" class="row va-layering">

  <div class="col-lg-12">

    <div class="col-xs-8">
      <div class="visual-assets-header">
        <h4 class="pull-left" translate=".label">Assets Layer</h4>
        <h4 class="pull-right">
          <span translate="words.view">View </span> {{vm.selectedLayer.view}}</h4>
      </div>

      <div class="layer-container">
        <div class="loading-overlay" ng-class="{'hidden': !vm.loading}">
          <div class="loading-wheel">
            <i class="fa fa-spin fa-refresh"></i>
          </div>
        </div>
        <div class="layering-list">
          <ul dnd-list="vm.selectedLayer.components">
            <li ng-repeat="comp in vm.selectedLayer.components"
                dnd-draggable="comp"
                dnd-moved="vm.selectedLayer.components.splice($index, 1)"
                dnd-effect-allowed="move"
            >
              <dnd-nodrag>
                <span dnd-handle class="handle layer-item">
                  <i class="grip-icon"></i>
                </span>
                <span class="layer-item">
                  <i class="eye-icon" ng-class="comp.visible?'black':''" ng-click="comp.visible = !comp.visible"></i>
                </span>
                <span class="text-item">{{comp.title}}</span>
              </dnd-nodrag>
            </li>

            <li class="dndPlaceholder" translate="words.drop">
              Drop Here
            </li>

          </ul>
        </div>
      </div>

      <div class="layer-actions">
        <a class="btn btn-primary pull-right" ng-disabled="!vm.hasNext() || vm.loading" ng-click="vm.next()">
          <span translate="buttons.next">Next</span>
        </a>
        <a class="btn btn-white pull-right m-r" ng-disabled="!vm.hasPrevious() || vm.loading" ng-click="vm.previous()">
          <span translate="buttons.prev">Prev</span>
        </a>
        <a class="btn btn-w-m btn-white pull-left m-r " ng-click="vm.setDefaultOrder()">
          <span translate=".setDefaultBtn">Set as Default Order</span>
        </a>
        <div class="dropdown pull-left dropup" uib-dropdown>
          <a class="btn btn-w-m dropdown-toggle btn-dropdown" uib-dropdown-toggle href="" aria-haspopup="true" aria-expanded="false">
            <span>
              <span translate=".defaultBtn">Apply Default Order</span>
              <b class="caret"></b>
            </span>
          </a>
          <ul uib-dropdown-menu class="dropdown-menu m-t-xs">
            <li><a ng-click="vm.applyAll()">
              <span translate=".applyAll">Apply to all views</span>
            </a></li>
            <li class="divider"></li>
            <li><a ng-click="vm.apply()">
              <span translate=".applyThis">Apply to this view</span>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-4 product-preview">
      <h4 class="text-center" translate=".preview">Product Preview</h4>
      <div class="preview-container">
        <div class="preview" ng-class="vm.isPreview?'':'no-preview'" translate="errors.noPreview">
          No preview available
        </div>
      </div>
      <h4 class="text-center">
        <span class="fa fa-search m-r"></span>
        <span translate=".preview">Product Preview</span>
      </h4>
    </div>
  </div>
</div>
