<div class="ibox float-e-margins no-margins">
  <div class="ibox-title">
    <h5 translate="modals.product.label2">Choose Products for this listing</h5>
    <span ng-click="prod.close()" class="pull-right fa fa-times"></span>
  </div>
  <div class="ibox-content products-listing-modal">

    <div class="row mg-tp-10">
      <div class="col-sm-6">
        <h5 class="mg-bt-10 title" translate="modals.product.head">All Products</h5>

        <div class="list-container">
          <div class="list-header">
            <div class="row">
              <div class="col-sm-4">
                <select
                  class="form-control"
                  ng-model="prod.selectedBrandForProducts"
                  ng-change="prod.triggerLoad('products')"
                  ng-options="option.name for option in prod.brands track by option._id">
                </select>

              </div>
              <div class="col-sm-3 no-padding">
                <select
                  class="form-control"
                  ng-model="prod.selectedStatusForProducts"
                  ng-change="prod.triggerLoad('products')"
                  ng-options="key as ('constants.status.' + key.toLowerCase() | translate) for (key , value) in prod.status">
                </select>
              </div>
              <div class="col-sm-5">
                <div class="input-group m-b">
                  <input type="text" ng-model="prod.searchedTextForProducts" enter-keypress="prod.triggerLoad('products')" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" ng-click="prod.triggerLoad('products')" class="btn btn-primary input-group-border">
                      <small translate="filters.search.button.go">Go!</small>
                    </button>
                  </span>
                </div>
              </div>

            </div>
          </div>

          <div class="list-body">
            <div class="text-center loading" ng-show="prod.loadingProducts">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <p ng-if="prod.products.length < 1" ng-hide="prod.loadingProducts" translate="errors.noProducts">No Products to show</p>
            <table translate-namespace="table" ng-if="prod.products.length > 0" ng-hide="prod.loadingProducts" class="table table-condensed no-margins list-box-container table-bordered table-hover">
              <thead translate-namespace=".head">
                <tr>
                  <th>
                    <div list-selector actions="prod.leftListBulk" items="prod.products" list-options="prod.selectorForProducts" name="product"></div>
                  </th>
                  <th translate="words.thumbnail">Thumbnail</th>
                  <th>MIID ID</th>
                  <th translate=".brand">Brand</th>
                  <th translate=".status">Status</th>
                  <th translate=".name">Name</th>
                </tr>
              </thead>
              <tbody class="white-bg">
                <tr ng-repeat="product in prod.products" ng-class="{selected: product.checked, changed: product.changed}">
                  <td>
                    <input type="checkbox" ng-change="prod.selectorForProducts.markCheckBox(product.checked)" icheck ng-model="product.checked">
                  </td>
                  <td class="has-img">
                    <img ng-src="{{ product.images && product.images.thumb ? prod.baseURL + product.images.thumb : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive" alt="{{product.miid_id}} thumb">
                  </td>
                  <td>{{product.miid_id}}</td>
                  <td>{{product.brand.length>0 ? product.brand[0].name : product.brand.name }}</td>
                  <td>
                      <span class="label prod-status label-white" ng-class="product.status == 'ACTIVE' ? 'label-production':'label-error'">
                        {{'constants.status.'+product.status.toLowerCase()| translate}}
                      </span>
                  </td>
                  <td>{{product.en.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        <p class="mg-tp-10" translate="modals.product.selected" translate-values="{selectedProductsCount: '{{prod.selectorForProducts.selectedItemsCount}}', total: {{prod.products.length}}}">
          {{prod.selectorForProducts.selectedItemsCount}} products selected of {{prod.products.length}}
        </p>

        <div>
          <div class="pull-right">
            <button ng-disabled="prod.products.length == 0" ng-click="prod.addToList()" class="btn listing-btn btn-primary">
              <span translate="modals.product.add">Add to listing</span>
              <i class="fa fa-angle-double-right"></i>
            </button>
          </div>
        </div>

        <div class="clearfix"></div>

      </div>
      <div class="col-sm-6">

        <h5 class="mg-bt-10 title" translate="modals.product.label1">Related Products</h5>

        <div class="list-container">
          <div class="list-header">
            <div class="row">
              <div class="col-sm-4">
                <select class="form-control"
                        ng-model="prod.selectedBrandForRelatedProducts"
                        ng-change="prod.triggerLoad('relatedProducts')"
                        ng-options="option.name for option in prod.brands track by option._id">
                </select>

              </div>
              <div class="col-sm-3 no-padding">
                <select class="form-control"
                        ng-model="prod.selectedStatusForRelatedProducts"
                        ng-change="prod.triggerLoad('relatedProducts')"
                        ng-options="key as ('constants.status.' + key.toLowerCase() | translate) for (key , value) in prod.status">
                </select>
              </div>
              <div class="col-sm-5">
                <div class="input-group m-b">
                  <input type="text" ng-model="prod.searchedTextForRelatedProducts" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary input-group-border">
                      <small translate="filters.search.button.go">Go!</small>
                    </button>
                  </span>
                </div>
              </div>

            </div>
          </div>

          <div class="list-body">
            <div class="text-center loading" ng-show="prod.loadingProducts">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <p ng-if="prod.relatedProducts.length < 1" ng-hide="prod.loadingProducts" translate="errors.noProducts">No Products to show</p>
            <table translate-namespace="table" ng-hide="prod.loadingProducts || prod.relatedProducts.length < 1" class="table table-condensed no-margins list-box-container table-bordered table-hover">
              <thead translate-namespace=".head">
                <tr>
                  <th>
                    <div list-selector actions="prod.rightListBulk" items="prod.relatedProducts" list-options="prod.selectorForRelatedProducts" name="product"></div>
                  </th>
                  <th translate="words.thumbnail">Thumbnail</th>
                  <th>MIID ID</th>
                  <th translate=".brand">Brand</th>
                  <th translate=".status">Status</th>
                  <th translate=".name">Name</th>
                </tr>
              </thead>
              <tbody class="white-bg">
              <tr ng-repeat="product in prod.relatedProducts | filter: prod.searchedTextForRelatedProducts" ng-class="{selected: product.checked, changed: product.changed}">
                <td>
                  <input type="checkbox" ng-change="prod.selectorForRelatedProducts.markCheckBox(product.checked)" icheck ng-model="product.checked">
                </td>
                <td class="has-img">
                  <img ng-src="{{ product.images && product.images.thumb ? prod.baseURL + product.images.thumb : '/img/icons/img-placeholder.png'}}" class="grayscale grayscale-light img-responsive" alt="{{product.miid_id}} thumb">
                </td>
                <td>{{product.miid_id}}</td>
                <td>{{product.brand.length > 0 ? product.brand[0].name : product.brand.name }}</td>
                <td>
                    <span class="label prod-status label-white" ng-class="product.status == 'ACTIVE' ? 'label-production':'label-error'">
                      {{'constants.status.' + product.status.toLowerCase() | translate}}
                    </span>
                </td>
                <td>{{product.en.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div> <!--List container ends -->

        <p class="text-right mg-tp-10"  translate="modals.product.selected" translate-values="{selectedProductsCount: '{{prod.selectorForRelatedProducts.selectedItemsCount}}', total: {{prod.products.length}}}">
          {{prod.selectorForRelatedProducts.selectedItemsCount}} products selected of {{prod.relatedProducts.length}}
        </p>

        <div>
          <div class="pull-left">
            <button ng-disabled="prod.relatedProducts.length == 0" ng-click="prod.removeFromList()" class="btn listing-btn btn-discard btn-outline">
              <i class="fa fa-angle-double-left"></i> <span translate="modals.product.remove">Remove from listing</span>
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="ibox-footer text-right">
    <div>
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="prod.close()" translate="buttons.discard">Discard</button>
      <button class="btn btn-primary" ng-disabled="prod.checkStatus()" type="button" ng-click="prod.submit()">
        <span ng-hide="prod.loadingProducts" translate="buttons.save">Save</span>
        <span class="fa fa-spin fa-cog" ng-show="prod.loadingProducts"></span>
      </button>
    </div>
  </div>
</div>

