<div translate-namespace="productsCreatePage" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-2 no-pd-rt">
    <h2 translate=".heading">Products</h2>
    <ol class="breadcrumb">
      <li>
        <strong><a translate=".heading" ui-sref="admin-panel.product.list">Products</a></strong>
      </li>
      <li>
        <strong translate=".breadcrumbs">Create</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-10 text-center">
    <div class="product-wizard">
      <div class="product-steps clearfix">
        <ul>
          <li data-step="1" ui-sref-active="current">
            <a ui-sref=".basic_info" translate=".basicInformation.heading">Basic Information</a>
          </li>
          <li data-step="2" ui-sref-active="current">
            <a ui-sref=".customization_desc" ng-class="parent.next?'disabled': ''" ng-disabled="parent.next" stop-click-if="parent.next">Customisation Description</a>
          </li>
          <li data-step="3" permission permission-only="'canSee.Products.VisualAssets'" ui-sref-active="current">
            <a ui-sref=".va.va_upload" stop-click-if="parent.next" ng-class="parent.next?'disabled': ''" ng-disabled="parent.next">Visual Assets</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pull-right mg-tp-30">
      <button class="btn-discard btn mg-rt-10 btn-outline">Cancel</button>
      <button class="btn btn-primary">Save all</button>
    </div>
  </div>
</div>
<div translate-namespace="productsCreatePage" class="wrapper product wrapper-content animated fadeInRight">
  <div class="row mg-bt-20">
    <div class="col-xs-8">
      <h3 ng-if="$state.includes('admin-panel.product.create.basic_info')">Product basic information</h3>
      <h3 ng-if="$state.includes('admin-panel.product.create.customization_desc')">Product Customisation Menu</h3>
      <h3 ng-if="$state.includes('admin-panel.product.create.va')">Visual Assets</h3>
    </div>
    <div class="col-xs-4">
      <div class="text-right">
        <a ng-click="parent.deleteCacheImages()" ng-show="!parent.next">Delete cached images &nbsp;<i class="fa fa-refresh"></i></a>
      </div>
    </div>
  </div>

  <ui-view id="forms-views"></ui-view>

</div>
