.product-wizard {
  display: inline-block;
  .product-steps {
    position: relative;
    top: 15px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 20px 5px;
      color: #bababa;

      a {
        font-size: 14px;
        color: inherit;
        margin-left: 5px;
      }

      &:before {
        content: attr(data-step);
        width: 22px;
        font-size: 13px;
        line-height: 21px;
        height: 22px;
        text-align: center;
        display: inline-block;
        border: 1px solid;
        border-radius: 50%;
      }

      &:not(:last-child):after {
        content: '. . . .';
        color: #bababa;
        display: inline-block;
        margin-left: 5px;
        font-size: 18px;
        position: relative;
        top: -3px;
      }

      &.current {
        color: #676a6c;
        font-weight: bold;

        &:before {
          border-width: 2px;
          line-height: 19px;
        }
      }
    }
  }
}

.icheckbox_small {
  top: -1.5px;
}


@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.content-loader {
  display: none;
  o-animation: placeHolderShimmer 1.4s linear infinite forwards;
  -webkit-animation: placeHolderShimmer 1.4s linear infinite forwards;
  -moz-animation: placeHolderShimmer 1.4s linear infinite forwards;
  animation: placeHolderShimmer 1.4s linear infinite forwards;
  background-image: -webkit-linear-gradient(left,#efefef,#e5e5e5 25%,#efefef);
  background-image: -o-linear-gradient(left,#efefef,#e5e5e5 25%,#efefef);
  background-image: linear-gradient(to right,#efefef,#e5e5e5 25%,#efefef);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefefef',endColorstr='#ffefefef',GradientType=1);
  background-repeat: repeat;
  background-size: 550px 55px;
  height: 55px;
  position: relative;
  width: 100%;
}
.content-loader-input {
  height: 10px;
}
.content-loader-heading {
  height: 8px;
  width: 100px;
}
.content-loader-heading-long {
  width: 240px;
}
.content-loader-para {
  height: 15px;
}
.content-loader-para-big {
  height: 20px;
}
.content-loader-img {
  width: 40px;
  height: 40px;
}
.content-loader-fixed-big {
  width: 100px;
  margin: 0 auto;
  height: 20px;
}
.content-loader-alternate-width {
  width: 180px !important;
}
.loading-content {
  .loading-shield {
    display: none !important;
  }
  .content-loader {
    display: block;
  }
}
