<div class="{{mainClass}} media-upload-simple-panel">

  <div class="form-content" ng-if="type === 'library'">

    <!-- If we have library to show like we have in products media-->
    <div class="media-upload-panel library" ng-class="{loading:loading}" ng-show=" type === 'library'">
        <div>
          <ul class="media-types no-padding">
            <li ng-repeat="pane in panes track by $index"
              class="media-type" ng-class="{active: pane.selected}" ng-click="select(pane)">
              <a ng-if="pane.state" ui-sref="{{pane.state}}" class="type-label">{{pane.title}}</a>
              <a ng-if="!pane.state" class="type-label">{{pane.title}}</a>
            </li>
          </ul>
          <div class="media-content" ng-transclude>
          </div>
        </div>
    </div>

  </div>


  <!--If we want to show simple 1 file uploader -->
  <div class="media-upload-simple-panel" ng-class="{loading: loading}" ng-if="type === 'simple'">
    <div class="simple-media-content" ng-transclude></div>
  </div>

</div>



