<div ng-show="(!loading) && (imageArray.length > 0)" class="img-box">
  <div class="{{mainClass}} row" ng-repeat="imageSrc in imageArray track by $index">

    <div class="col-xs-12 image-preview">
      <div class="delete-overlay" ng-class="{'deleting': deleting}">

        <div class="overlay-inner" ng-class="{'no-move': imageArray.length < 2}">
          <a ng-if="imageArray.length > 1" ng-show="!loading && !deleting">
          <span class="fa fa-chevron-up"
                ng-click="moveUp($index)"></span>
          </a>

          <a class="delete-btn" ng-show="!loading && !deleting">
          <span class="fa fa-trash-o"
                ng-click="removeImage($index,removeImageParam)"></span>
          </a>

          <a ng-if="imageArray.length > 1" ng-show="!loading && !deleting">
          <span class="fa fa-chevron-down"
                ng-click="moveDown($index)"></span>
          </a>
        </div>

        <span class="fa fa-refresh fa-spin" ng-show="loading || deleting"></span>
      </div>
      <img class="img-responsive" ng-src='{{ imageSrc }}'>
    </div>
  </div>
</div>
