<div>
  <div class="dropzone {{mainClass}}" ng-model="file" name="image" ngf-pattern="'image/*'"
       ngf-accept="'image/*'" ngf-max-size="2MB"
       ngf-drag-over-class="'dragover'"
       multiple="false"
       ng-show="!loading"
       ngf-drop="uploadImage($file, uploadImageParam)">
    <div class="drag-none" ng-hide="file && src">
      <span class="fa fa-upload upload-icon"></span>
      <div class="drop-head">{{dropHead}}</div>
      <div class="drop-size-msg">{{sizeMessage}}</div>
      <div class="drop-mesg">{{dropMessage}}</div>
    </div>
    <div class="drag-msg">
      Drop Here
    </div>
    <div class="thumb-preview" ng-if="file && src" class="text-center">
      <img class="img-responsive" ng-src="{{src[0]}}" alt="thumbnail">
    </div>
  </div>



  <div class="upload-progress" id="loading-progress" ng-show="loading">
    <div class="text-center uploading-msg">{{loadingMessage}}</div>
    <div class="progress progress-bar-default">
      <div style="width: {{uploadProgress}}%" role="progressbar" class="progress-bar">
        <span class="sr-only">{{uploadProgress}} %</span>
      </div>
    </div>
    <div class="progress-label">{{uploadProgress}} %</div>
  </div>

  <div class="buttons-upload-button hidden">
    <button class="btn btn-discard btn-outline"
            ng-model="file" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="2MB"
            multiple="false"
            ngf-select="uploadImage($file, uploadImageParam)"
            ng-disabled="loading">Upload</button>
  </div>

</div>
