<div class="text-center mg-tp-20 preview-txt" translate="uploader.preview">Preview</div>
<div class="dropzone" ng-model="file" name="file" ngf-pattern="'image/*'"
     ngf-accept="'image/*'" ngf-max-size="2MB"
     ngf-drag-over-class="'dragover'"
     ngf-drop="media.uploadImage($file)"
     ng-show="!media.thumbnailSrc">

  <div ng-show="!media.uploading">
    <span class="fa fa-upload upload-icon"></span>
    <div class="drop-msg">
      <span translate="uploader.dragMsg">Drop image files here for </span>
      product thumbnail
    </div>
    <div class="drop-size-msg" translate="uploader.recSizeMsg" translate-values="{width: 400, height: 400}">Recommended size is 400px by 400px</div>
    <div class="drop-format-msg">
      <span translate="uploader.recFormats">Recommended formats are </span>png or jpeg
    </div>
  </div>

</div>

<div ng-show="!media.uploading && media.thumbnailSrc">
  <div class="thumb-preview">
    <div class="delete-overlay" ng-class="{ 'deleting': media.loadingDelete }">
      <a ng-show="!media.loadingDelete">
          <span class="fa fa-trash-o"
                ng-click="media.removeImage('pr_thumb', media.thumbnailSrc)"></span>
      </a>
      <span class="fa fa-refresh fa-spin" ng-show="media.loadingDelete"></span>
    </div>
    <img ng-src='{{ media.thumbnailSrc }}'>
  </div>
</div>

<div class="upload-progress" id="loading-progress" ng-show="media.uploading">
  <div class="text-center uploading-msg" translate="uploader.uploadingMsg">Your image is now uploading. This may take some time.</div>
  <div class="progress progress-bar-default">
    <div style="width: {{media.uploadProgress}}%" role="progressbar" class="progress-bar">
      <span class="sr-only">{{media.uploadProgress}} %</span>
    </div>
  </div>
  <div class="progress-label">{{media.uploadProgress}} %</div>
</div>
