<div class="ibox g">
  <div class="ibox-title cust-box-header">
    <h5>Group {{$index +1}}</h5>
    <span uib-dropdown>
      <a class="menu" ng-disabled="group.loading" stop-click-if="group.loading"
         uib-dropdown-toggle>
        <span class="fa fa-caret-down" ng-hide="group.loading"></span>
        <span class="fa fa-cog fa-spin" ng-show="group.loading"></span>
      </a>
      <ul uib-dropdown-menu class="dropdown-menu m-t-xs">
        <li>
          <button ng-if="group.type === 'MATERIALS'" class="btn btn-outline btn-sm"
                  translate=".labels.addMaterial"
                  ng-click="vm.addMaterial(group)">Add Material
          </button>
          <button ng-if="group.type === 'SHAPES'" class="btn btn-outline btn-sm"
                  translate=".labels.addShape"
                  ng-click="vm.addMaterial(group)">Add Shape
          </button>
          <button ng-if="group.type === 'INPUT'" class="btn btn-outline btn-sm"
                  translate=".labels.addText"
                  ng-click="vm.addTextMaterial(group)">Add Text Input
          </button>
          <button ng-if="group.type === 'SELECTABLE'" class="btn btn-outline btn-sm"
                  translate=".labels.addSelectable"
                  ng-click="vm.addSelectable(group)">Add Selectable
          </button>
          <button ng-if="group.type === 'CUSTOM_IMG'" class="btn btn-outline btn-sm"
                  translate=".labels.addCustom"
                  ng-click="vm.addCustomImg(group)">Add Custom Image
          </button>
          <button ng-disabled="!group.groupFinalized" ng-if="group.type === 'PERSONALIZE'" class="btn btn-outline btn-sm"
                  translate=".labels.addPersonalize"
                  ng-click="vm.addPersonalize(group)">Add Personalize
          </button>
        </li>

        <li class="divider"></li>
        <li>
          <button
            class="btn btn-outline btn-sm"
            ng-click="group.groupFinalized = false"
            translate=".labels.editGroup"
            ng-disabled="!group.group_id">Edit Group
          </button>
        </li>
        <li class="divider"></li>
        <li>
          <button class="btn btn-outline btn-sm"
                  translate=".labels.deleteGroup"
                  ng-click="vm.deleteGroupConfirm(step, group, $parent.$index, $index)">Delete Group</button>
        </li>
      </ul>
    </span>
  </div>
  <div class="ibox-content">
    <ng-form name="groupForm">
      <div class="group-label">
        <span class="label group-input" ng-if="group.type == 'INPUT'">Input Text</span>
        <span class="label group-ui" ng-if="group.type == 'SHAPES' || group.type == 'MATERIALS'">{{group.type}}</span>
        <span class="label group-input" ng-if="group.type === 'SELECTABLE'">Selectable</span>
        <span class="label group-custom-img" ng-if="group.type === 'CUSTOM_IMG'">Custom Images</span>
        <span class="label label-primary" ng-if="group.type === 'PERSONALIZE'">Personalize</span>
      </div>

      <div class="form-group" ng-if="group.type === 'CUSTOM_IMG'">
        <p class="text-center">
          <small translate=".multiselection">Allow multiselection</small>
        </p>
        <label>
          <input type="radio" ng-disabled="group.groupFinalized || group.loading" name="groupMultiple{{stepIndex}}{{groupIndex}}" ng-value="true" icheck ng-model="group.multipleSelection">
          <span translate="words.on">On</span>
        </label>
        <label>
          <input type="radio" ng-disabled="group.groupFinalized || group.loading" name="groupMultiple{{stepIndex}}{{groupIndex}}" ng-value="false" icheck ng-model="group.multipleSelection">
          <span translate="words.off">Off</span>
        </label>
      </div>

      <div class="form-group"
           ng-class="{'has-error': groupForm.groupName.$invalid && !groupForm.groupName.$pristine}">
        <label for="groupName{{stepIndex}}{{groupIndex}}" translate=".words.name">Name</label>
        <input
          ng-hide="group.groupFinalized"
          type="text"
          required
          name="groupName"
          ng-disabled="group.loading"
          id="groupName{{stepIndex}}{{groupIndex}}"
          placeholder="Title"
          ng-model="group.title"
          class="form-control">

        <p class="field-text" ng-show="group.groupFinalized">{{group.title}}</p>
      </div>

      <div class="form-group"
           ng-class="{'has-error': groupForm.groupTech.$invalid && !groupForm.groupTech.$pristine}">
        <label for="groupTech{{stepIndex}}{{groupIndex}}">Tech #</label>
        <input
          ng-hide="group.groupFinalized"
          type="text"
          required
          name="groupTech"
          ng-disabled="group.loading"
          id="groupTech{{stepIndex}}{{groupIndex}}"
          placeholder="Tech #"
          ng-model="group.tech"
          class="form-control">

        <p class="field-text" ng-show="group.groupFinalized">{{group.tech}}</p>
      </div>

      <div class="form-group">
        <label translate="words.default">Default</label>
        <div class="box-options">
          <label class="block">
            <input type="checkbox" ng-change="vm.updateVisibilityControlsStepsGroups('GROUP', 'visible', step, group, stepIndex, groupIndex)" ng-disabled="group.loading" class="icheckbox_small"
                   ng-model="group.visible" icheck>
            <span translate=".buttons.visible">Visible</span>
          </label>
          <label class="block">
            <input type="checkbox" ng-change="vm.updateVisibilityControlsStepsGroups('GROUP', 'enable', step, group, stepIndex, groupIndex)" ng-disabled="group.loading" class="icheckbox_small"
                   ng-model="group.enable" icheck>
            <span translate=".buttons.enable">Enabled</span>
          </label>
        </div>
      </div>

      <div class="cust-actions" ng-hide="group.groupFinalized">
        <button class="btn btn-cancel btn-discard btn-outline"
                ng-click="vm.discardGroupChanges(step, group, stepIndex, $index)"
                ng-disabled="group.loading || !group.group_id">
          <span translate="buttons.cancel">Cancel</span>
        </button>
        <button class="btn btn-primary" ng-click="vm.addOrUpdateGroup(step, group, stepIndex, $index)"
                ng-disabled="groupForm.$invalid || group.loading">
          <span ng-hide="group.loading" translate="buttons.done">Done</span>
          <span ng-show="group.loading" class="fa fa-cog fa-spin"></span>
        </button>
      </div>
    </ng-form>
  </div>
</div>
