  <div class="ibox">
    <div class="ibox-title cust-box-header">
      <h5>
        Text Input {{$index + 1}}
      </h5>

      <span uib-dropdown>
        <a class="menu" uib-dropdown-toggle>
          <span class="fa fa-caret-down"></span>
        </a>
        <ul uib-dropdown-menu class="dropdown-menu m-t-xs">
          <li>
            <button class="btn btn-outline btn-sm"
                    ng-click="material.materialFinalized = false;vm.currMaterial = material"
                    translate=".labels.editMaterial"
                    ng-disabled="!material.material_id">Edit Material
            </button>
          </li>
          <li class="divider"></li>
          <li>
            <button class="btn btn-outline btn-sm"
                    translate=".labels.deleteMaterial"
                    ng-click="vm.deleteMaterialConfirm(step,group,material, stepIndex, groupIndex, $index, 'INPUT')">Delete Material
            </button>
          </li>
        </ul>
      </span>
      <span class="visibility-control">
        <label>
          <input type="checkbox" ng-change="vm.updateVisibilityControlsMaterials('INPUT', 'visible', step, group, material, stepIndex, groupIndex, $index)" ng-disabled="material.loading"
                 class="icheckbox_small" icheck ng-model="material.visible">
          <span translate=".buttons.visible">Visible</span>
        </label>
        <label>
          <input type="checkbox" ng-change="vm.updateVisibilityControlsMaterials('INPUT', 'enable', step, group, material, stepIndex, groupIndex, $index)" ng-disabled="material.loading"
                 class="icheckbox_small" icheck ng-model="material.enable">
          <span translate=".buttons.enable">Enabled</span>
        </label>
      </span>
    </div>
    <div class="ibox-content input">

      <!-- INPUT TEXT GROUP COMPONENTS HERE -->
      <ng-form name="customTextMaterial">
        <div class="mg-bt-5" ng-if="group.type == 'INPUT'">

          <div class="container-fluid">

            <div class="top-header" ng-show="material.materialFinalized">
              <div class="row">
                <div class="col-xs-3">
                  <div class="mg-bt-10 text-center">
                    <div ng-if="material.element.type == 'IMG'">
                      <img class="img-responsive material-img"
                           ng-src="{{material.imgArr[0] ? material.imgArr[0] : '/img/icons/img-placeholder.png'}}"
                           alt="{{material.en.name || material.ch.name}}">
                    </div>
                    <div class="text-box" ng-if="material.element.type == 'TXT'"></div>
                  </div>
                  <div class="type-material">
                    <span translate=".words.text" ng-show="material.element.type == 'TXT'">Text</span>
                    <span translate=".words.image" ng-show="material.element.type == 'IMG'">Image</span>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="form-group">
                        <label translate=".words.name">Name</label>
                        <p class="field-text">{{material.en.name}}</p>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label>Tech#</label>
                        <p class="field-text">+{{material.tech}}</p>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label translate=".words.price">Price</label>
                        <p class="field-text">+{{material.price}}<small>rmb</small></p>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <label translate=".words.prodCost">Prod. Cost</label>
                        <p class="field-text">{{material.prod_cost}}<small>rmb</small></p>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label translate=".words.ipCost">IP Cost</label>
                        <p class="field-text">{{material.ip_cost}}<small>rmb</small></p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label translate=".words.description">Description</label>
                        <p>{{material.en.desc}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-hide="material.materialFinalized">
              <div class="col-xs-3 no-pd-rt">

                <div class="mg-bt-20">
                  <div ng-if="material.element.type == 'IMG'">
                    <div ng-hide=material.materialFinalized>
                      <file-uploader type="simple" main-class="media-upload-panel">

                        <file-pane type="simple">

                          <div ng-show="!material.imgSrc">
                            <file-drop-zone
                              main-class="sm"
                              drop-message="JPEG: 400px by 100px"
                              upload-image="vm.saveImage"
                              loading="material.uploading"
                              upload-progress="material.uploadProgress"
                              loading-message="{{'uploader.uploadingMsg'| translate}}">
                            </file-drop-zone>
                          </div>

                          <div ng-show="material.imgSrc">
                            <file-preview
                              image-array="material.imgArr"
                              remove-image="material.removeImage">

                            </file-preview>
                          </div>

                        </file-pane>

                      </file-uploader>
                    </div>
                  </div>
                  <div class="text-box" ng-if="material.element.type == 'TXT'"></div>
                </div>
                <div>
                  <div>
                    <label>
                      <input type="radio" ng-disabled="material.materialFinalized" icheck
                             name="materialType{{stepIndex + '' + groupIndex + '' + $index}}" ng-model="material.element.type"
                             value="IMG">
                      <span translate=".words.image">Image</span>
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" ng-disabled="material.materialFinalized" icheck
                             name="materialType{{stepIndex + '' + groupIndex + '' + $index}}" ng-model="material.element.type"
                             value="TXT">
                      <span translate=".words.text">Text</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-xs-9">

                <div class="row">
                  <div class="col-xs-4 no-pd-rt">
                    <div class="form-group"
                         ng-class="{'has-error': customTextMaterial.materialName.$invalid && shapesMaterial.materialName.$touched}">
                      <label class="font-noraml small" for="materialName{{stepIndex}}{{groupIndex}}{{$index}}" translate=".words.name">Name</label>
                      <input name="materialName" required type="text"
                             ng-model="material.en.name" id="materialName{{stepIndex}}{{groupIndex}}{{$index}}"
                             class="form-control"
                             placeholder="Write Name">
                    </div>
                  </div>
                  <div class="col-xs-2 no-pd-rt">
                    <div class="form-group"
                         ng-class="{'has-error': customTextMaterial.materialTech.$invalid && customTextMaterial.materialTech.$touched}">
                      <label class="font-noraml" for="materialTech">Tech #</label>
                      <input ng-hide="material.materialFinalized" name="materialTech"
                             required
                             ng-model="material.tech" id="materialTech" class="form-control"
                             type="text"
                             placeholder="Write tech #">
                    </div>
                  </div>
                  <div class="col-xs-2 no-pd-rt">
                    <div class="form-group"
                         ng-class="{'has-error': customTextMaterial.materialPrice.$invalid && customTextMaterial.materialPrice.$touched}">
                      <label class="font-noraml small" for="materialPrice" translate=".words.price">Price</label>
                      <input name="materialPrice" required type="number" min="0"
                             ng-model="material.price" id="materialPrice" class="no-pd-rt form-control"
                             placeholder="rmb">
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group"
                         ng-class="{'has-error': customTextMaterial.prodCost.$invalid && customTextMaterial.prodCost.$touched}">
                      <label class="font-noraml small" for="prodCost" translate=".words.prodCost">Prod. Cost</label>
                      <input name="prodCost" required type="number" min="0"
                             value="" id="prodCost" class="form-control"
                             placeholder="rmb" ng-model="material.prod_cost">
                    </div>
                  </div>
                  <div class="col-xs-2 no-pd-lt">
                    <div class="form-group"
                         ng-class="{'has-error': customTextMaterial.ipCost.$invalid && customTextMaterial.ipCost.$touched}">
                      <label class="font-noraml small" for="prodCost" translate=".words.ipCost">IP Cost</label>
                      <input name="ipCost" required type="number" min="0"
                             value id="ipCost" class="form-control no-pd-rt"
                             placeholder="rmb" ng-model="material.ip_cost">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 ">
                    <div class="form-group"
                         ng-class="{'has-error': customTextMaterial.materialDescription.$invalid && customTextMaterial.materialDescription.$touched}">
                      <label class="font-noraml" for="materialDescription" translate=".words.description">Description</label>
                      <textarea ng-hide="material.materialFinalized"
                                name="materialDescription" required
                                ng-model="material.en.desc" id="materialDescription"
                                placeholder="Write description here" class="form-control"
                                rows="3"></textarea>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row mg-tp-30" ng-show="material.materialFinalized">
              <div class="col-xs-3">
                <label>Default Text</label>
              </div>
              <div class="col-xs-4 no-padding">
                <p class="font-bold text-black">
                  {{material.en.placeholder}}
                </p>
              </div>
              <div class="col-xs-3 no-pd-rt">
                <label>
                  <span translate="words.character">Character</span> #
                </label>
              </div>
              <div class="col-xs-2 no-padding">
                <p class="font-bold text-black">{{material.min_char}} to {{material.max_char}}</p>
              </div>
            </div>

            <div class="row mg-tp-20 mg-bt-40" ng-show="material.materialFinalized">
              <div class="col-xs-3  no-pd-rt pd-lt-5">
                <label translate=".fonts">Available fonts</label>
              </div>
              <div class="col-xs-4 no-padding">
                <p class="font-bold text-black mg-bt-5" ng-repeat="font in material.fonts">{{font.name}}</p>
                <p class="font-bold text-black mg-bt-5" translate=".noFonts" ng-if="material.fonts.length < 1">No fonts</p>
              </div>
              <div class="col-xs-3 no-pd-rt">
                <label translate="words.language">Language</label>
              </div>
              <div class="col-xs-2 no-padding">
                <p class="font-bold text-black mg-bt-5" ng-repeat="lang in material.lang">{{lang}}</p>
              </div>
            </div>

            <div class="row mg-tp-20" ng-hide="material.materialFinalized">
              <div class="col-xs-6 ">
                <div class="form-group">
                  <label class="font-noraml" for="materialDefaultText" translate=".default">Default text</label>
                  <input ng-hide="material.materialFinalized"
                         ng-model="material.en.placeholder"
                         id="materialDefaultText" class="form-control"
                         type="text" placeholder="Default Text">
                </div>
              </div>
              <div class="col-xs-6 ">
                <div class="form-group">
                  <label class="font-noraml" style="display:block" for="materialCh">
                    <span translate="words.character">Character</span> #
                  </label>
                  <div class="ch-limit mg-rt-10"
                       ng-class="{'has-error': (customTextMaterial.materialMinCh.$invalid && customTextMaterial.materialMinCh.$touched) || material.min_char >= material.max_char}">
                    <input ng-hide="material.materialFinalized" name="materialMinCh"
                           ng-model="material.min_char" required id="materialCh"
                           class="form-control"
                           type="number" min="1" placeholder="min">
                  </div>
                  to
                  <div class="ch-limit mg-lt-10"
                       ng-class="{'has-error': (customTextMaterial.materialMaxCh.$invalid && customTextMaterial.materialMaxCh.$touched) || material.min_char >= material.max_char}">
                    <input ng-hide="material.materialFinalized" name="materialMaxCh"
                           ng-model="material.max_char" required class="form-control"
                           type="number" max="30" min="2"
                           placeholder="max">
                  </div>

                </div>
              </div>
            </div>

            <div class="row" ng-hide="material.materialFinalized">
              <div class="col-xs-6 ">
                <div class="form-group"
                     ng-class="{'has-error': customTextMaterial.materialFont.$invalid }">
                  <label class="font-noraml" for="materialFont" translate=".fonts">Available fonts</label>
                  <select name="materialFont"
                          ng-required="!material.noFonts"
                          ng-model="material.fonts"
                          ng-disabled="material.noFonts"
                          ng-options="font.name for font in vm.fonts"
                          multiple
                          id="materialFont" class="form-control">
                  </select>
                </div>
              </div>
              <div class="col-xs-6 ">
                <div class="form-group"
                     ng-class="{'has-error': customTextMaterial.materialLan.$invalid && customTextMaterial.materialLan.$touched}">
                  <label class="font-noraml" for="materialLan">Languages</label>
                  <select name="materialLan" required
                          ng-model="material.lang" ng-options="font for font in vm.langs"
                          multiple
                          id="materialLan" class="form-control">
                  </select>
                </div>
              </div>
            </div>

            <div class="row" ng-hide="material.materialFinalized">
              <div class="col-xs-6 ">
                <div class="form-group">
                  <label>
                    <input type="checkbox" class="icheckbox_small" ng-change="material.fonts = material.noFonts ? [] : material.fonts" icheck ng-model="material.noFonts">
                    <span translate=".noFonts">No fonts</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="mg-rt-15 mg-tp-30 pull-right" ng-hide="material.materialFinalized">
              <button class="btn btn-cancel mg-rt-10 btn-discard btn-outline"
                      ng-click="vm.discardTextMaterialChanges('INPUT', step, group, material, stepIndex, groupIndex, $index)"
                      ng-disabled="material.loading || !material.material_id">
                <span translate="buttons.cancel">Cancel</span>
              </button>
              <button class="btn btn-primary"
                      ng-disabled="customTextMaterial.$invalid || material.min_char >= material.max_char"
                      ng-click="vm.addUpdateCustomMaterial('TEXT',step, group, material, stepIndex, groupIndex, $index)">
                <span ng-hide="material.loading" translate="buttons.done">&nbsp;&nbsp;Done&nbsp;&nbsp;</span>
                <span ng-show="material.loading" class="fa fa-cog fa-spin"></span>
              </button>
            </div>
          </div>


        </div>


      </ng-form>
    </div>
  </div>

