<div class="ibox">
  <div class="ibox-title cust-box-header">
    <h5>
      Button {{$index + 1}}
    </h5>

    <span uib-dropdown>
      <a class="menu" uib-dropdown-toggle>
        <span class="fa" ng-class="material.loading ? 'fa-cog fa-spin': 'fa-caret-down'"></span>
      </a>
      <ul uib-dropdown-menu class="dropdown-menu m-t-xs">
        <li>
          <button class="btn btn-outline btn-sm"
                  translate=".labels.editMaterial"
                  ng-click="material.materialFinalized = false;vm.currMaterial = material"
                  ng-disabled="!material.material_id">Edit Material
          </button>
        </li>
        <li class="divider"></li>
        <li>
          <button class="btn btn-outline btn-sm"
                  translate=".labels.deleteMaterial"
                  ng-click="vm.deleteMaterialConfirm(step, group, material, stepIndex, groupIndex, $index, 'PERSONALIZE')">Delete Material
          </button>
        </li>
      </ul>
    </span>
    <span class="visibility-control">
      <button class="btn btn-primary btn-xs mg-rt-15" ng-disabled="!material.material_id || material.loading" ng-click="vm.setUpPersonalize(step, group, material)">
        <span translate=".words.setup">Set-up</span>
      </button>
      <label>
        <input type="checkbox"
               class="icheckbox_small" ng-disabled="material.loading"
               ng-change="vm.addUpdateCustomMaterial('PERSONALIZE', step, group, material, stepIndex, groupIndex, $index, {visible: material.visible})"
               icheck ng-model="material.visible">
        <span translate=".buttons.visible">Visible</span>
      </label>
      <label>
        <input type="checkbox"
               class="icheckbox_small" ng-disabled="material.loading"
               ng-change="vm.addUpdateCustomMaterial('PERSONALIZE', step, group, material, stepIndex, groupIndex, $index, {enable: material.enable})"
               icheck ng-model="material.enable">
        <span translate=".buttons.enable">Enabled</span>
      </label>
    </span>
  </div>
  <div class="ibox-content input">

    <!-- PERSONALIZE GROUP COMPONENTS HERE -->
    <ng-form name="personalizeMaterial">
      <div class="mg-bt-5">

        <div class="container-fluid">

          <div class="top-header" ng-show="material.materialFinalized">
            <div class="row">
              <div class="col-xs-3">
                <div class="mg-bt-10 text-center">
                  <div ng-if="material.element.type == 'IMG'">
                    <img class="img-responsive material-img"
                         ng-src="{{material.imgArr[0] ? material.imgArr[0] : '/img/icons/img-placeholder.png'}}"
                         alt="{{material.en.name || material.ch.name}}">
                  </div>
                  <div class="text-box" ng-if="material.element.type == 'TXT'"></div>
                </div>
                <div class="type-material">
                  <span translate=".words.text" ng-show="material.element.type == 'TXT'">Text</span>
                  <span translate=".words.image" ng-show="material.element.type == 'IMG'">Image</span>
                </div>
              </div>
              <div class="col-xs-9">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label translate=".words.name">Name</label>
                      <p class="field-text">{{material.en.name}}</p>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <label>Tech#</label>
                      <p class="field-text">{{material.tech}}</p>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <label translate=".words.price">Price</label>
                      <p class="field-text">+{{material.price}}<small>rmb</small></p>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label translate=".words.prodCost">Prod. Cost</label>
                      <p class="field-text">{{material.prod_cost}}<small>rmb</small></p>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <label translate=".words.ipCost">IP Cost</label>
                      <p class="field-text">{{material.ip_cost}}<small>rmb</small></p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label translate=".words.description">Description</label>
                      <p>{{material.en.desc}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-hide="material.materialFinalized">
            <div class="col-xs-3 no-pd-rt">

              <div class="mg-bt-20">
                <div ng-if="material.element.type == 'IMG'">
                  <div ng-hide=material.materialFinalized>
                    <file-uploader type="simple" main-class="media-upload-panel">

                      <file-pane type="simple">

                        <div ng-show="!material.imgSrc">
                          <file-drop-zone
                            main-class="sm"
                            drop-message="JPEG: 150px by 150px"
                            upload-image="vm.saveImage"
                            loading="material.uploading"
                            upload-progress="material.uploadProgress"
                            loading-message="{{'uploader.uploadingMsg'| translate}}"></file-drop-zone>
                        </div>

                        <div ng-show="material.imgSrc">
                          <file-preview
                            image-array="material.imgArr"
                            remove-image="material.removeImage">

                          </file-preview>
                        </div>

                      </file-pane>
                    </file-uploader>
                  </div>
                </div>
                <div class="text-box" ng-if="material.element.type == 'TXT'"></div>
              </div>

              <div>
                <div>
                  <label>
                    <input type="radio" ng-disabled="material.materialFinalized" icheck
                           name="materialType{{stepIndex + '' + groupIndex + '' + $index}}"
                           ng-model="material.element.type"
                           value="IMG">
                    <span translate=".words.image">Image</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input type="radio" ng-disabled="material.materialFinalized" icheck
                           name="materialType{{stepIndex + '' + groupIndex + '' + $index}}"
                           ng-model="material.element.type"
                           value="TXT">
                    <span translate=".words.text">Text</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-9">

              <div class="row">
                <div class="col-xs-3 no-pd-rt">
                  <div class="form-group"
                       ng-class="{'has-error': personalizeMaterial.materialName.$invalid && personalizeMaterial.materialName.$touched}">
                    <label class="font-noraml small" for="materialName{{stepIndex}}{{groupIndex}}{{$index}}" translate=".words.name">Name</label>
                    <input name="materialName" required type="text"
                           ng-model="material.en.name" id="materialName{{stepIndex}}{{groupIndex}}{{$index}}"
                           class="form-control"
                           placeholder="Write Name">
                  </div>
                </div>
                <div class="col-xs-2 no-pd-rt">
                  <div class="form-group"
                       ng-class="{'has-error': personalizeMaterial.materialTech.$invalid && personalizeMaterial.materialTech.$touched}">
                    <label class="font-noraml" for="materialTech">Tech #</label>
                    <input ng-hide="material.materialFinalized" name="materialTech"
                           required
                           ng-model="material.tech" id="materialTech" class="form-control"
                           type="text"
                           placeholder="Write tech #">
                  </div>
                </div>
                <div class="col-xs-2 no-pd-rt">
                  <div class="form-group"
                       ng-class="{'has-error': personalizeMaterial.materialPrice.$invalid && personalizeMaterial.materialPrice.$touched}">
                    <label class="font-noraml small" for="materialPrice" translate=".words.price">Price</label>
                    <input name="materialPrice" required type="number" min="0"
                           ng-model="material.price" id="materialPrice" class="no-pd-rt form-control"
                           placeholder="rmb">
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group"
                       ng-class="{'has-error': personalizeMaterial.prodCost.$invalid && personalizeMaterial.prodCost.$touched}">
                    <label class="font-noraml small" for="prodCost" translate=".words.prodCost">Prod. Cost</label>
                    <input name="prodCost" required type="number" min="0"
                           value="" id="prodCost" class="form-control"
                           placeholder="rmb" ng-model="material.prod_cost">
                  </div>
                </div>
                <div class="col-xs-2 no-pd-lt">
                  <div class="form-group"
                       ng-class="{'has-error': personalizeMaterial.ipCost.$invalid && personalizeMaterial.ipCost.$touched}">
                    <label class="font-noraml small" for="prodCost" translate=".words.ipCost">IP Cost</label>
                    <input name="ipCost" required type="number" min="0"
                           value id="ipCost" class="form-control no-pd-rt"
                           placeholder="rmb" ng-model="material.ip_cost">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-xs-12 ">
                  <div class="form-group"
                       ng-class="{'has-error': personalizeMaterial.materialDescription.$invalid && personalizeMaterial.materialDescription.$touched}">
                    <label class="font-noraml" for="materialDescription" translate=".words.description">Description</label>
                    <textarea ng-hide="material.materialFinalized"
                              name="materialDescription" required
                              ng-model="material.en.desc" id="materialDescription"
                              placeholder="Write description here" class="form-control"
                              rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="mg-tp-30 pull-right" ng-hide="material.materialFinalized">
            <button class="btn btn-cancel mg-rt-10 btn-discard btn-outline"
                    ng-click="vm.discardTextMaterialChanges('PERSONALIZE', step, group, material, stepIndex, groupIndex, $index)"
                    ng-disabled="material.loading || !material.material_id">
              <span translate="buttons.cancel">Cancel</span>
            </button>
            <button class="btn btn-primary"
                    ng-disabled="personalizeMaterial.$invalid"
                    ng-click="vm.addUpdateCustomMaterial('PERSONALIZE',step, group, material, stepIndex, groupIndex, $index)">
              <span ng-hide="material.loading" translate="buttons.done">&nbsp;&nbsp;Done&nbsp;&nbsp;</span>
              <span ng-show="material.loading" class="fa fa-cog fa-spin"></span>
            </button>
          </div>
        </div>


      </div>


    </ng-form>
  </div>
</div>

