  <div class="ibox">
    <div class="ibox-title cust-box-header">
      <h5>
        Data Selector {{$index + 1}}
      </h5>

      <span uib-dropdown>
        <a stop-click-if="material.loading" ng-disabled="material.loading" class="menu" uib-dropdown-toggle>
          <span class="fa fa-caret-down" ng-hide="material.loading"></span>
          <span class="fa fa-cog fa-spin" ng-show="material.loading"></span>
        </a>
        <ul uib-dropdown-menu class="dropdown-menu m-t-xs">
          <li>
            <button class="btn btn-outline btn-sm"
                    ng-click="material.materialFinalized = false;vm.currMaterial = material"
                    translate=".labels.editMaterial"
                    ng-disabled="!material.material_id">Edit Material
            </button>
          </li>
          <li class="divider"></li>
          <li>
            <button class="btn btn-outline btn-sm"
                    translate=".labels.deleteMaterial"
                    ng-click="vm.deleteMaterialConfirm(step,group,material, stepIndex, groupIndex, $index, 'SELECTABLE')">Delete Material
            </button>
          </li>
        </ul>
      </span>
      <span class="visibility-control">
        <label>
          <input type="checkbox" ng-change="vm.updateVisibilityControlsMaterials('SELECTABLE', 'visible', step, group, material, stepIndex, groupIndex, $index)" ng-disabled="material.loading"
                 class="icheckbox_small" icheck ng-model="material.visible">
          <span translate=".buttons.visible">Visible</span>
        </label>
        <label>
          <input type="checkbox" ng-change="vm.updateVisibilityControlsMaterials('SELECTABLE', 'enable', step, group, material, stepIndex, groupIndex, $index)" ng-disabled="material.loading"
                 class="icheckbox_small" icheck ng-model="material.enable">
          <span translate=".buttons.enable">Enabled</span>
        </label>
      </span>
    </div>
    <div class="ibox-content selectable">

      <!-- SELECTABLE GROUP COMPONENTS HERE -->
      <ng-form name="customSelectable">
        <div class="mg-bt-5">

          <div class="container-fluid">

            <div class="top-header" ng-show="material.materialFinalized">
              <div class="row">
                <div class="col-xs-3">
                  <div class="mg-bt-10 text-center">
                    <div ng-if="material.element.type == 'IMG'">
                      <img class="img-responsive material-img"
                           ng-src="{{material.imgArr[0] ? material.imgArr[0] : '/img/icons/img-placeholder.png'}}"
                           alt="{{material.en.name || material.ch.name}}">
                    </div>
                    <div class="text-box" ng-if="material.element.type == 'TXT'"></div>
                  </div>
                  <div class="type-material">
                    <span translate=".words.text" ng-show="material.element.type == 'TXT'">Text</span>
                    <span translate=".words.image" ng-show="material.element.type == 'IMG'">Image</span>
                  </div>
                </div>
                <div class="col-xs-9">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label translate=".words.name">Name</label>
                        <p class="field-text">{{material.en.name}}</p>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label>Tech #</label>
                        <p class="field-text">{{material.tech}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">
                      <div class="form-group">
                        <label translate=".words.description">Description</label>
                        <p>{{material.en.desc}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="row mg-tp-20 mg-bt-10">
                    <div class="col-xs-2 text-center no-pd-lt">
                      <label translate="words.default">Default</label>
                    </div>
                    <div class="col-xs-2 text-center no-pd-lt">
                      <label translate=".words.value">Value Title</label>
                    </div>
                    <div class="col-xs-2 text-center no-pd-lt">
                      <label>Tech #</label>
                    </div>
                    <div class="col-xs-2 text-center no-pd-lt">
                      <label translate=".words.price">Price</label>
                    </div>
                    <div class="col-xs-2 text-center no-pd-lt">
                      <label translate=".words.prodPrice">Prod. Price</label>
                    </div>
                    <div class="col-xs-2 text-center no-pd-lt">
                      <label translate=".words.ipCost">IP Cost</label>
                    </div>
                  </div>

                  <div class="row options" ng-class="{'mg-bt-10': !material.materialFinalized}" ng-repeat="option in material.options track by $index">
                    <div class="col-xs-2 text-center no-pd-lt">
                      <i class="fa fa-circle-o" ng-if="option.is_default"></i>
                    </div>
                    <div class="col-xs-2 no-pd-lt">
                      <p class="field-text text-center no-margins">{{option.val}}</p>
                    </div>
                    <div class="col-xs-2 no-pd-lt">
                      <p class="field-text  text-center no-margins">{{option.tech}}</p>
                    </div>
                    <div class="col-xs-2 option-price no-pd-rt no-pd-lt">
                      <p class="field-text  text-center no-margins">{{option.price}}</p>
                    </div>
                    <div class="col-xs-2 option-price no-pd-rt no-pd-lt">
                      <p class="field-text  text-center no-margins">{{option.prod_cost}}</p>
                    </div>
                    <div class="col-xs-2 option-price no-pd-rt no-pd-lt">
                      <p class="field-text text-center no-margins">{{option.ip_cost}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row" ng-hide="material.materialFinalized">
              <div class="col-xs-3 no-pd-rt">

                <div class="mg-bt-20">
                  <div ng-if="material.element.type == 'IMG'">
                    <div ng-hide=material.materialFinalized>
                      <file-uploader type="simple" main-class="media-upload-panel">

                        <file-pane type="simple">

                          <div ng-show="!material.imgSrc">
                            <file-drop-zone
                              main-class="sm"
                              drop-message="JPEG: 150px by 150px"
                              upload-image="vm.saveImage"
                              loading="material.uploading"
                              upload-progress="material.uploadProgress"
                              loading-message="{{'uploader.uploadingMsg'| translate}}"></file-drop-zone>
                          </div>

                          <div ng-show="material.imgSrc">
                            <file-preview
                              image-array="material.imgArr"
                              remove-image="material.removeImage">
                            </file-preview>
                          </div>

                        </file-pane>
                      </file-uploader>
                    </div>
                  </div>
                  <div class="text-box" ng-if="material.element.type == 'TXT'"></div>
                </div>

                <div>
                  <div>
                    <label>
                      <input type="radio" ng-disabled="material.materialFinalized" icheck
                             name="materialType{{stepIndex + '' + groupIndex + '' + $index}}" ng-model="material.element.type"
                             value="IMG">
                      <span translate=".words.image">Image</span>
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" ng-disabled="material.materialFinalized" icheck
                             name="materialType{{stepIndex + '' + groupIndex + '' + $index}}" ng-model="material.element.type"
                             value="TXT">
                      <span translate=".words.text">Text</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-xs-9">

                <div class="row">
                  <div class="col-xs-7">
                    <div class="form-group"
                         ng-class="{'has-error': customSelectable.selectableName.$invalid && customSelectable.selectableName.$touched}">
                      <label class="font-noraml" for="selectableName" translate=".words.name">Name</label>
                      <input name="selectableName" required
                             ng-model="material.en.name" id="selectableName"
                             class="form-control" type="text"
                             placeholder="Write Name">
                    </div>
                  </div>

                  <div class="col-xs-5">
                    <div class="form-group"
                         ng-class="{'has-error': customSelectable.selectableTech.$invalid && customSelectable.selectableTech.$touched}">
                      <label class="font-noraml" for="selectableTech">Tech #</label>
                      <input name="selectableTech" required class="form-control"
                             ng-model="material.tech" id="selectableTech"
                             type="text" placeholder="Write tech #">
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 ">
                    <div class="form-group"
                         ng-class="{'has-error': customSelectable.selectableDescription.$invalid && customSelectable.selectableDescription.$touched}">
                      <label class="font-noraml" for="selectableDescription" translate=".words.description">Description</label>
                      <textarea name="selectableDescription" required
                                ng-model="material.en.desc" id="selectableDescription"
                                placeholder="Write description here" class="form-control"
                                rows="3"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row mg-tp-20 mg-bt-10">
                  <div class="col-xs-1 no-pd-lt">
                    <small translate="words.default">Default</small>
                  </div>
                  <div class="col-xs-2 no-pd-rt">
                    <small translate=".words.value">Value Title</small>
                  </div>
                  <div class="col-xs-2 no-pd-rt">
                    <small>Tech #</small>
                  </div>
                  <div class="col-xs-2 no-pd-rt">
                    <small translate=".words.price">Price</small>
                  </div>
                  <div class="col-xs-2 no-pd-rt">
                    <small translate=".words.prodPrice">Prod. Price</small>
                  </div>
                  <div class="col-xs-2 no-pd-rt">
                    <small translate=".words.ipCost">IP Cost</small>
                  </div>
                </div>

                <div class="row options" ng-class="{'mg-bt-10': !material.materialFinalized}" ng-repeat="option in material.options track by $index">
                  <ng-form name="selectablesOptionForm">
                    <div class="col-xs-1 no-pd-lt">
                      <div class="form-group no-margins text-center mg-tp-5">
                        <input type="radio" ng-change="vm.changeSelectableOptionDefault(material, $index)" icheck name="selectableDefault{{stepIndex + '' + groupIndex + '' + $index}}" ng-value="true" ng-model="option.is_default">
                      </div>
                    </div>
                    <div class="col-xs-2 no-pd-rt">
                      <div class="form-group" ng-class="{'has-error': selectablesOptionForm.optionValue.$invalid && selectablesOptionForm.optionValue.$touched}">
                        <input
                          type="text" class="form-control no-pd-rt"
                          required name="optionValue"
                          placeholder="Value" ng-model="option.val">
                      </div>
                    </div>
                    <div class="col-xs-2 no-pd-rt">
                      <div class="form-group" ng-class="{'has-error': selectablesOptionForm.optionTech.$invalid && selectablesOptionForm.optionTech.$touched}">
                        <input
                          type="text" ng-model="option.tech"
                          class="form-control no-pd-rt" required
                          placeholder="Tech #" name="optionTech">
                      </div>
                    </div>
                    <div class="col-xs-2 option-price no-pd-rt">
                      <div class="form-group" ng-class="{'has-error': selectablesOptionForm.optionPrice.$invalid && selectablesOptionForm.optionPrice.$touched}">
                        <input
                          type="number" class="form-control"
                          placeholder="rmb" required min="0"
                          name="optionPrice" ng-model="option.price">
                        <span class="font-bold text-black">
                          <small>rmb</small>
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-2 option-price no-pd-rt">
                      <div class="form-group">
                        <input
                          type="number" class="form-control"
                          placeholder="rmb" min="0"
                          name="optionProdCost" ng-model="option.prod_cost">
                        <span class="font-bold text-black">
                          <small>rmb</small>
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-2 option-price no-pd-rt">
                      <div class="form-group" ng-class="{'has-error': selectablesOptionForm.optionPrice.$invalid && selectablesOptionForm.optionPrice.$touched}">
                        <input
                          type="number" class="form-control"
                          placeholder="rmb" min="0"
                          name="optionIpCost" ng-model="option.ip_cost">
                        <span class="font-bold text-black">
                          <small>rmb</small>
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-1 no-pd-lt">
                      <div class="form-group">
                        <label class="option-delete btn-sm btn-outline" ng-click="vm.deleteSelectableOption(material, option)">
                          <span class="delete-icon"></span>
                        </label>
                      </div>
                    </div>
                  </ng-form>
                </div>

                <div class="row" ng-hide="material.materialFinalized">
                  <div class="col-xs-12">
                    <div class="pull-left">
                      <button ng-click="vm.addSelectableOption(material)" class="btn btn-sm btn-primary">
                        <small>
                          <span translate=".more">Add more</span>
                          <i class="fa fa-plus"></i>
                        </small>
                      </button>
                    </div>
                  </div>
                </div>

              </div>

            </div>



            <div class="mg-rt-15 mg-tp-30 pull-right" ng-hide="material.materialFinalized">
              <button class="btn btn-cancel mg-rt-10 btn-discard btn-outline"
                      ng-click="vm.discardTextMaterialChanges('SELECTABLE',step, group, material, stepIndex, groupIndex, $index)"
                      ng-disabled="material.loading || !material.material_id">
                <span translate="buttons.cancel">Cancel</span>
              </button>
              <button class="btn btn-primary"
                      ng-disabled="customSelectable.$invalid || material.loading"
                      ng-click="vm.addUpdateCustomMaterial('SELECTABLE',step, group, material, stepIndex, groupIndex, $index)">
                <span ng-hide="material.loading" translate="buttons.done">&nbsp;&nbsp;Done&nbsp;&nbsp;</span>
                <span ng-show="material.loading" class="fa fa-cog fa-spin"></span>
              </button>
            </div>
          </div>


        </div>


      </ng-form>
    </div>
  </div>

