<div class="ibox">
  <div class="ibox-title cust-box-header">
    <h5>
      UI {{$index + 1}}
    </h5>

    <span uib-dropdown>
      <a class="menu" stop-click-if="material.loading" uib-dropdown-toggle>
        <span class="fa" ng-class="material.loading? 'fa-cog fa-spin': 'fa-caret-down'"></span>
      </a>
      <ul uib-dropdown-menu class="dropdown-menu m-t-xs">
        <li>
          <button class="btn btn-outline btn-sm"
                  ng-click="vm.updateMaterialAvailability(step, group, material)"
                  ng-disabled="!material.material_id">{{(material.status=='ACTIVE')?'Make Unavailable':'Make Available'}}
          </button>
        </li>
        <li>
          <button class="btn btn-outline btn-sm"
                  ng-click="material['materialFinalized'] = false; vm['currMaterial'] = material"
                  translate=".labels.editMaterial"
                  ng-disabled="!material.material_id || material.status != 'ACTIVE'">Edit Material
          </button>
        </li>
        <li class="divider"></li>
        <li>
          <button class="btn btn-outline btn-sm"
                  translate=".labels.deleteMaterial"
                  ng-click="vm.deleteMaterialConfirm(step, group, material)">
            Delete Material
          </button>
        </li>
      </ul>
    </span>
    <span class="visibility-control">
      <label>
        <input type="checkbox" ng-change="vm.setDefaultMaterial('visible', step, group, material)" class="icheckbox_small" icheck
               ng-model="material.visible" ng-disabled="material.status!='ACTIVE'">
        <span translate=".buttons.visible">Visible</span>
      </label>
      <label>
        <input type="checkbox" ng-change="vm.setDefaultMaterial('enable', step, group, material)" class="icheckbox_small" icheck
               ng-model="material.enable" ng-disabled="material.status!='ACTIVE'">
        <span translate=".buttons.enable">Enabled</span>
      </label>
      <label>
        <input type="checkbox" class="icheckbox_small"
               ng-change="vm.setDefaultMaterial('default', step, group, material)" icheck
               ng-model="material.default" ng-disabled="!material.material_id || material.status != 'ACTIVE'">
        <span translate=".buttons.selected">Selected</span>
      </label>
    </span>
  </div>
  <div class="ibox-content input">

    <!-- SHAPES MATERIALS GROUP COMPONENTS HERE -->
    <ng-form name="shapesMaterial">
      <div class="mg-bt-5" ng-if="group.type == 'SHAPES' || group.type == 'MATERIALS'">

        <div class="container-fluid">

          <div class="top-header" ng-show="material.materialFinalized">
            <div class="row">
              <div class="col-xs-3">
                <div class="mg-bt-10 text-center">
                  <div ng-if="material.element.type == 'IMG'">
                    <img class="img-responsive material-img"
                         ng-src="{{material.imgArr[0] ? material.imgArr[0] : '/img/icons/img-placeholder.png'}}"
                         alt="{{material.name}}">
                  </div>
                  <div ng-if="material.element.type == 'TXT'" class="text-box"></div>
                  <div ng-if="material.element.type == 'CLR'" style="background: {{material.val}}" class="color-box"></div>
                </div>
                <div class="type-material">
                  <span ng-show="material.element.type == 'TXT'" translate=".words.text">Text</span>
                  <span ng-show="material.element.type == 'IMG'" translate=".words.image">Image</span>
                  <span ng-show="material.element.type == 'CLR'" translate=".words.color">Color</span>
                </div>
              </div>
              <div class="col-xs-9">
                <div class="row">
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label translate=".words.name">Name</label>
                      <p class="field-text">{{material.name}}</p>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <label translate=".words.price">Price</label>
                      <p class="field-text">+{{material.price}}<small>rmb</small></p>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label translate=".words.prodCost">Prod. Cost</label>
                      <p class="field-text">{{material.prodCost}}<small>rmb</small></p>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <label translate=".words.ipCost">IP Cost</label>
                      <p class="field-text">{{material.ipCost}}<small>rmb</small></p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label translate=".words.description">Description</label>
                      <p>{{material.description}}</p>
                    </div>
                  </div>
                </div>
                <div class="row tech-row">
                  <div class="col-xs-4">
                    <label>Tech#1</label>
                    <p class="field-text">{{material.tech}}</p>
                  </div>
                  <div class="col-xs-4">
                    <label>Tech#2</label>
                    <p class="field-text">{{material.tech2 || '-'}}</p>
                  </div>
                  <div class="col-xs-4">
                    <label>Tech#3</label>
                    <p class="field-text">{{material.tech3 || '-'}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" ng-hide="material.materialFinalized">
            <div class="col-xs-3 no-pd-rt">
              <div class="mg-bt-20">
                <div ng-if="material.element.type == 'IMG'">
                  <div >
                    <file-uploader type="simple" main-class="media-upload-panel">

                      <file-pane type="simple">

                        <div ng-show="!material.imgSrc">
                          <file-drop-zone
                            main-class="sm"
                            drop-message="JPEG: 150px by 150px"
                            upload-image="vm.saveImage"
                            loading="material.uploading"
                            upload-progress="material.uploadProgress"
                            loading-message="{{'uploader.uploadingMsg'| translate}}"></file-drop-zone>
                        </div>

                        <div ng-show="material.imgSrc">
                          <file-preview
                            image-array="material.imgArr"
                            remove-image="material.removeImage">
                          </file-preview>
                        </div>

                      </file-pane>
                    </file-uploader>
                  </div>
                </div>
                <div ng-if="material.element.type == 'CLR'" class="colorpicker">
                  <spectrum-colorpicker format="'hex'" ng-model="material.element.val" options="vm.colorPicker.options">
                  </spectrum-colorpicker>
                  <div class="form-inline">
                    <label for="hexMaterial">Hex</label>
                    <input type="text" id="hexMaterial" ng-model="material.element.val" class="form-control no-pd-rt">
                  </div>
                </div>
                <div ng-if="material.element.type == 'TXT'" class="text-box"></div>
              </div>
              <div>
                <div>
                  <label>
                    <input type="radio" ng-disabled="material.materialFinalized" icheck
                           name="materialType{{stepIndex + '' + groupIndex + '' + $index}}"
                           ng-model="material.element.type"
                           value="IMG">
                    <span translate=".words.image">Image</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input type="radio" ng-disabled="material.materialFinalized" icheck
                           name="materialType{{stepIndex + '' + groupIndex + '' + $index}}"
                           ng-model="material.element.type"
                           value="TXT">
                    <span translate=".words.text">Text</span>
                  </label>
                </div>
                <div>
                  <label>
                    <input type="radio" ng-disabled="material.materialFinalized" icheck
                           ng-change="material.element['val'] = material['element']['val'].substr(0, 1) == '#'? material['element']['val']: '#ffffff'"
                           name="materialType{{stepIndex + '' + groupIndex + '' + $index}}"
                           ng-model="material.element.type"
                           value="CLR">
                    <span translate=".words.color">Color</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-9">

              <div class="row">
                <div class="col-xs-5 no-pd-rt">
                  <div class="form-group"
                       ng-class="{'has-error': shapesMaterial.materialName.$invalid && shapesMaterial.materialName.$touched}">
                    <label class="font-noraml small"
                           for="materialName{{stepIndex}}{{groupIndex}}{{$index}}"
                           translate=".words.name">Name</label>
                    <input name="materialName" required type="text"
                           ng-model="material.name" id="materialName{{stepIndex}}{{groupIndex}}{{$index}}"
                           class="form-control"
                           placeholder="Write Name">
                  </div>
                </div>
                <div class="col-xs-2 no-pd-rt">
                  <div class="form-group"
                       ng-class="{'has-error': shapesMaterial.materialPrice.$invalid && shapesMaterial.materialPrice.$touched}">
                    <label class="font-noraml small" for="materialPrice" translate=".words.price">Price</label>
                    <input name="materialPrice" required type="number" min="0"
                           ng-model="material.price" id="materialPrice" class="no-pd-rt form-control"
                           placeholder="rmb">
                  </div>
                </div>
                <div class="col-xs-3">
                  <div class="form-group"
                       ng-class="{'has-error': shapesMaterial.prodCost.$invalid && shapesMaterial.prodCost.$touched}">
                    <label class="font-noraml small" for="prodCost" translate=".words.prodCost">Prod. Cost</label>
                    <input name="prodCost" required type="number" min="0"
                           value="" id="prodCost" class="form-control"
                           placeholder="rmb" ng-model="material.prodCost">
                  </div>
                </div>
                <div class="col-xs-2 no-pd-lt">
                  <div class="form-group"
                       ng-class="{'has-error': shapesMaterial.ipCost.$invalid && shapesMaterial.ipCost.$touched}">
                    <label class="font-noraml small" for="prodCost" translate=".words.ipCost">IP Cost</label>
                    <input name="ipCost" required type="number" min="0"
                           value id="ipCost" class="form-control no-pd-rt"
                           placeholder="rmb" ng-model="material.ipCost">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-xs-12 ">
                  <div class="form-group"
                       ng-class="{'has-error': shapesMaterial.materialDescription.$invalid && shapesMaterial.materialDescription.$touched}">
                    <label class="font-noraml small" for="materialDescription" translate=".words.description">Description</label>
                    <textarea name="materialDescription" required
                              ng-model="material.description" id="materialDescription"
                              placeholder="Write description here" class="form-control"
                              rows="3"></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <div class="row tech-row">
                    <div class="col-xs-4 no-pd-rt">
                      <div class="form-group"
                           ng-class="{'has-error': shapesMaterial.tech1.$invalid && shapesMaterial.tech1.$touched}">
                        <label class="font-noraml small" for="tech1">Tech #1</label>
                        <input name="tech1" required type="text"
                               ng-model="material.tech" id="tech1" class="form-control"
                               placeholder="Tech #1" ng-model="material.tech">
                      </div>
                    </div>
                    <div class="col-xs-4 no-pd-rt">
                      <div class="form-group"
                           ng-class="{'has-error': shapesMaterial.tech2.$invalid && shapesMaterial.tech2.$touched}">
                        <label class="font-noraml small" for="tech2">Tech #2</label>
                        <input name="tech2" type="text" ng-model="material.tech2"
                               id="tech2" class="form-control" required
                               placeholder="Tech #2">
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="form-group"
                           ng-class="{'has-error': shapesMaterial.tech3.$invalid && shapesMaterial.tech3.$touched}">
                        <label class="font-noraml small" for="tech3">Tech #3</label>
                        <input name="tech3" type="text" ng-model="material.tech3"
                               id="tech3" class="form-control" required
                               placeholder="Tech #3">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mg-tp-30 pull-right" ng-hide="material.materialFinalized">
            <button class="btn btn-cancel mg-rt-10 btn-discard btn-outline"
                    ng-click="vm.discardTextMaterialChanges(group.type, step, group, material, stepIndex, groupIndex, $index)"
                    ng-disabled="material.loading || !material.material_id">
              <span translate="buttons.cancel">Cancel</span>
            </button>
            <button class="btn btn-primary"
                    ng-disabled="shapesMaterial.$invalid || material.loading"
                    ng-click="vm.saveMaterial(step, group, material)">
              <span ng-hide="material.loading" translate="buttons.done">&nbsp;&nbsp;Done&nbsp;&nbsp;</span>
              <span ng-show="material.loading" class="fa fa-cog fa-spin"></span>
            </button>
          </div>
        </div>
      </div>
    </ng-form>
  </div>
</div>
