<div class="ibox">
  <div class="ibox-title cust-box-header">
    <h5>Step {{$index + 1}}</h5>
    <span uib-dropdown>
      <a class="menu" ng-disabled="step.loading" stop-click-if="step.loading" uib-dropdown-toggle>
        <span class="fa fa-caret-down" ng-hide="step.loading"></span>
        <span class="fa fa-cog fa-spin" ng-show="step.loading"></span>
      </a>
      <ul uib-dropdown-menu class="dropdown-menu m-t-xs">
        <li>
          <button class="btn btn-outline has-sub btn-sm"
                  translate=".labels.materialGroup"
                  ng-click="vm.createGroup('MATERIALS',step)">
            Add Material Group
          </button>
        </li>
        <li>
          <button class="btn btn-outline has-sub btn-sm"
                  translate=".labels.shapeGroup"
                  ng-click="vm.createGroup('SHAPES',step)">
            Add Shape Group
          </button>
        </li>
        <li>
          <button class="btn btn-outline has-sub btn-sm"
                  translate=".labels.personalizeGroup"
                  ng-click="vm.createGroup('PERSONALIZE',step)">
            Add Personalize Group
          </button>
        </li>
        <li class="divider"></li>
        <li>
          <button class="btn btn-outline has-sub btn-sm"
                  translate=".labels.customInputGroup"
                  ng-click="vm.createGroup('INPUT', step)">
            Add Custom Input Group
          </button>
        </li>
        <li>
          <button class="btn btn-outline has-sub btn-sm"
                  translate=".labels.customSelectable"
                  ng-click="vm.createGroup('SELECTABLE', step)">
            Add Custom Selectable Group
          </button>
        </li>
        <li>
          <button class="btn btn-outline has-sub btn-sm"
                  translate=".labels.customImages"
                  ng-click="vm.createGroup('CUSTOM_IMG', step)">
            Add Custom Images Group
          </button>
        </li>
        <li class="divider"></li>
        <li>
          <button class="btn btn-outline btn-sm" ng-disabled="!step.step_id"
                  translate=".labels.editStep"
                  ng-click="step.stepFinalized = false">Edit Step</button>
        </li>
        <li class="divider"></li>
        <li>
          <button class="btn btn-outline btn-sm"
                  translate=".labels.deleteStep"
                  ng-click="vm.deleteStepConfirm(step, $index)">
            Delete Step
          </button>
        </li>
      </ul>
    </span>
  </div>
  <div class="ibox-content">
    <ng-form name="stepForm">
      <div class="form-group"
           ng-class="{'has-error': stepForm.stepID.$invalid && !stepForm.stepID.$pristine}">
        <label for="stepID">Step ID</label>
        <input
          type="text"
          id="stepID"
          name="stepID"
          ng-disabled="step.loading"
          class="form-control"
          required
          placeholder="Step ID"
          ng-hide="step.stepFinalized"
          ng-model="step.id">

        <p class="field-text" ng-show="step.stepFinalized">{{step.id}}</p>
      </div>

      <div class="form-group"
           ng-class="{'has-error': stepForm.stepName.$invalid && !stepForm.stepName.$pristine}">
        <label for="stepName" translate=".words.name">Name</label>
        <input
          ng-hide="step.stepFinalized"
          placeholder="Title"
          name="stepName"
          id="stepName"
          ng-disabled="step.loading"
          required
          ng-model="step.title"
          type="text"
          class="form-control">

        <p class="field-text" ng-show="step.stepFinalized">{{step.title}}</p>
      </div>

      <div class="form-group"
           ng-class="{'has-error': stepForm.stepTech.$invalid && !stepForm.stepTech.$pristine}">
        <label for="stepTech{{stepIndex}}{{groupIndex}}">Tech #</label>
        <input
          ng-hide="step.stepFinalized"
          placeholder="Tech #"
          name="stepTech"
          id="stepTech{{stepIndex}}{{groupIndex}}"
          ng-disabled="step.loading"
          required
          ng-model="step.tech"
          type="text"
          class="form-control">

        <p class="field-text" ng-show="step.stepFinalized">{{step.tech}}</p>
      </div>

      <div class="form-group">
        <label for="stepAngle" translate=".words.angle">Angle</label>
        <select
          class="form-control"
          id="stepAngle"
          ng-disabled="step.loading"
          ng-hide="step.stepFinalized"
          ng-options="option for option in vm.steps_info.angles track by option"
          ng-model="step.angle">
        </select>

        <p class="field-text" ng-show="step.stepFinalized">{{step.angle}}</p>
      </div>
      <div class="form-group">
        <label translate="words.default">Default</label>
        <div class="box-options">
          <label class="block">
            <input type="checkbox" class="icheckbox_small" ng-change="vm.updateVisibilityControlsStepsGroups('STEP', 'visible', step, null, stepIndex, null)" ng-disabled="step.loading"
                   ng-model="step.visible" icheck>
            <span translate=".buttons.visible">Visible</span>
          </label>
          <label class="block">
            <input type="checkbox" ng-change="updateVisibilityControlsStepsGroups('STEP', 'enable', step, null, stepIndex, null)" class="icheckbox_small" ng-disabled="step.loading"
                   ng-model="step.enable" icheck>
            <span translate=".buttons.enable">Enabled</span>
          </label>
        </div>
      </div>

      <div class="cust-actions" ng-hide="step.stepFinalized">
        <button class="btn btn-cancel btn-discard btn-outline"
                ng-disabled="step.loading || !step.step_id"
                ng-click="vm.discardStepChanges(step, $index)">
          <span translate="buttons.cancel">Cancel</span>
        </button>
        <button class="btn btn-primary" ng-click="vm.addOrUpdateStep(step)"
                ng-disabled="stepForm.$invalid || step.loading">
          <span ng-hide="step.loading" translate="buttons.done">Done</span>
          <span ng-show="step.loading" class="fa fa-cog fa-spin"></span>
        </button>
      </div>
    </ng-form>
  </div>
</div>
