<div translate-namespace="productsCreatePage.personalize.fonts" class="ibox float-e-margins no-margins">


    <div class="ibox-title">
      <!--TODO: paste condition header value -->
      <h5 translate=".heading">
        Text fonts
      </h5>
      <span ng-click="fonts.close()" class="pull-right fa fa-times"></span>

    </div>

    <div class="ibox-content">
      <a href="" class="pull-right inline mg-bt-10" stop-click-if="true" ng-disabled="true">
        <span translate=".button">+ Upload fonts</span>
      </a>
      <div class="clearfix">
        <ul class="list-group personalize-galleries">
          <li class="list-group-item" ng-repeat="font in fonts.defaultFonts">
            <label class="no-margins">
              <input type="checkbox" ng-model="font.checked" icheck class="icheckbox_small">
              <span class="mg-lt-10" ng-style="{fontFamily: font.name}">{{font.name}}</span>
            </label>
          </li>
        </ul>
      </div>
    </div>

    <div class="ibox-footer text-right">
      <button class="btn btn-cancel btn-warning btn-outline" type="button" ng-click="fonts.close()" translate="buttons.cancel">Cancel</button>
      <button type="submit" ng-click="fonts.submit()" class="btn btn-primary" translate="buttons.save">Save</button>
    </div>

</div>



